{% if reg.status == "submitted"  and not processing %}
    <p class="govuk-body"><strong class="govuk-tag govuk-tag--blue">Not yet processed</strong></p>
    <a type="submit" class="govuk-button" data-module="govuk-button" href="registration-decision">
        Make onboarding decision
    </a>
{% endif %}
{% if reg.status == "processed"%}
    {% if reg.decision.outcome != "notOnboard" %}
        {% if reg.decision.outcome == "onboard" %}
            <p class="govuk-body"><strong class="govuk-tag govuk-tag--green">Onboarded</strong></p>
        {% else %}
            <p class="govuk-body"><strong class="govuk-tag govuk-tag--orange">Onboarded at risk</strong></p>
        {% endif %}
        <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">
            View organisation
        </a>
        <p class="govuk-body">Onboarded {% if reg.decision.outcome == "onboardrisk" %}at risk {% endif %}on {{ reg.decision.decisionDate | govukDateTime }} by test.user@nhsbsa.co.uk</p>
    {% else %}
        <p class="govuk-body"><strong class="govuk-tag govuk-tag--red">Declined</strong></p>
        <p class="govuk-body">Request declined on {{ reg.decision.decisionDate | govukDateTime }} by test.user@nhsbsa.co.uk</p>
    {% endif %}
{% endif %}
<p class="govuk-body">Request recieved on {{ reg.requestSubmitted | govukDateTime }}</p>