{% extends "../_layouts/main.html" %}


{% block content %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
    <div>
        <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">You’re about to be signed out</h1>
        <p class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true">To protect your information, we will sign you out in <span id="hmrc-timeout-countdown" class="hmrc-timeout-dialog__countdown">41 seconds</span>.</p>
        <p class="govuk-body hmrc-timeout-dialog__message" aria-hidden="true">Any uncompleted tasks will not be saved.</p>
        <p id="hmrc-timeout-message" class="govuk-visually-hidden screenreader-content" aria-live="assertive">For your security, we will sign you out in 1 minute.</p>
        <div class="govuk-button-group">
            <button id="hmrc-timeout-keep-signin-btn" class="govuk-button">Stay signed in</button> 
            <a class="govuk-link" href="time-out-sign-out">Sign out</a>
          </div>
    </div>
</div>

<div id="hmrc-timeout-overlay" class="hmrc-timeout-overlay">

</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Lorem ipsum dolor sit amet. Ut nihil modi eos recusandae repudiandae sit soluta natus ut sequi illo a dignissimos numquam. A nisi quia et modi itaque sit molestias ratione aut voluptates reiciendis vel nulla voluptas et beatae praesentium et vero voluptatibus! Vel temporibus debitis aut animi nihil At fuga enim vel debitis error est fuga maiores in labore dolorem eum expedita ipsam.</p>
        <p class="govuk-body">Lorem ipsum dolor sit amet. Ut nihil modi eos recusandae repudiandae sit soluta natus ut sequi illo a dignissimos numquam. A nisi quia et modi itaque sit molestias ratione aut voluptates reiciendis vel nulla voluptas et beatae praesentium et vero voluptatibus! Vel temporibus debitis aut animi nihil At fuga enim vel debitis error est fuga maiores in labore dolorem eum expedita ipsam.</p>
        <p class="govuk-body">Lorem ipsum dolor sit amet. Ut nihil modi eos recusandae repudiandae sit soluta natus ut sequi illo a dignissimos numquam. A nisi quia et modi itaque sit molestias ratione aut voluptates reiciendis vel nulla voluptas et beatae praesentium et vero voluptatibus! Vel temporibus debitis aut animi nihil At fuga enim vel debitis error est fuga maiores in labore dolorem eum expedita ipsam.</p>
    </div>
</div>

{% endblock %}