{% extends "./_layouts/main.html" %}

{% block pageTitle %}
{{ ["Do you have an account? - ", serviceName] | join }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="./account-handler" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you have an account to claim for adult social care training and development?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="account" name="account" type="radio"
                                value="yes">
                            <label class="govuk-label govuk-radios__label" for="account">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="account-2" name="account" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="account-2">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="account-3" name="account" type="radio"
                                value="dont-know">
                            <label class="govuk-label govuk-radios__label" for="account-3">
                                I don't know
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}