{% extends "./_layouts/main.html" %}

{% block pageTitle %}
{{ ["GOV.UK prototype - ", serviceName] | join }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">v8</span>
        <h1 class="govuk-heading-l">This is a GOV.UK prototype</h1>
        <p class="govuk-body">This prototype contains fictional data which has been created to simulate the data that
            might appear in the real service.</p>
        <p class="govuk-body">The data should not be considered real for the purposes of understanding what training is
            available in the adult social care sector or training that is eligible for this service.</p>
        <article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Full Prototype</h2>
                <p class="govuk-body">This will take to the full version of the prototype.</p>
                <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button" href="./load-data">
                    Start full prototype
                </a>
            </section>
        </article>
        <article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">User Research - Manage Claims</h2>
                <p class="govuk-body">This will take directly to the specific test screens for manage claims.</p>
                <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button" href="./load-data-list-test">
                    Start manage claims
                </a>
            </section>
        </article>
        <article class="moj-ticket-panel" aria-label="Sub navigation 1">
            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">User Research - Account Creation</h2>
                <p class="govuk-body">This will take directly to the specific test screens for account creation.</p>
                <a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button"
                    href="./load-data-account-test">
                    Start account creation
                </a>
            </section>
        </article>

    </div>
</div>


</div>
{% endblock %}