<{% if claim.claimType == '60' %}h3{% else %}h2{% endif %} class="govuk-heading-m">What happens next</{% if claim.claimType == '60' %}h3{% else %}h2{% endif %}>

{% if claim.claimType == "100" and claim.status == "not-yet-submitted" %}
    <p class="govuk-body">When you have added all the necessary information to the claim you can confirm the details and submit this 100 claim for processing.</p>
    <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
{% elif claim.claimType == "60" and claim.status == "not-yet-submitted" %}
    <p class="govuk-body">When you have added all the necessary information, you can confirm the details and submit this 60 part of the claim for processing.</p>
    <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
    <p class="govuk-body">Once the 60 part is approved and the learner has completed the training, you'll need to submit the 40 part for the rest of the reimbursement amount.</p>
{% elif claim.claimType == "60" and claim.status == "approved" and pairClaim.status == "not-yet-submitted" %}
    <p class="govuk-body">When you have added all the necessary information, you can confirm the details and submit this 40 part of the claim for processing.</p>
    <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
{% elif claim.claimType == "100" and claim.status == "queried" %}
    <p class="govuk-body">Once you submit the edited claim we will process it. This usually takes at least 2 weeks.</p>
{% elif claim.claimType == "60" and claim.status == "queried" %}
    <p class="govuk-body">Once you submit the edited 60 part of your claim we will process it. This usually takes at least 2 weeks.</p>
{% elif claim.claimType == "60" and claim.status == "approved" and pairClaim.status == "queried" %}
    <p class="govuk-body">Once you submit the edited 40 part of your claim we will process it. This usually takes at least 2 weeks.</p> 
{% endif %}

<div class="govuk-button-group" style="align-items: center;">
    <a class="govuk-button" href="../ready-to-declare?id={{claim.claimID}}">
        {% if (claim.status == "not-yet-submitted" or (pairClaim and pairClaim.status == "not-yet-submitted")) %}
            Confirm details
        {% elif (claim.status == "queried" or (pairClaim and pairClaim.status == "queried")) %}
            Confirm edits
        {% endif %}
    </a>

    <a class="govuk-button govuk-button--secondary" href="../save-claim">
        {% if (claim.status == "queried") or (pairClaim and pairClaim.status == "queried") %}
            Save edits and finish later
        {% else %}
            Save and finish later
        {% endif  %}
    </a>
    
    {% if (claim.claimType == "100" and claim.status == "not-yet-submitted") %}
        <a class="govuk-link govuk-link--no-visited-state" href="delete-claim-confirmation">Delete claim</a>
    {% endif %}
</div>