{% if (not submission.costDate and claim.claimType == "100") or (is40Part != true and claim.claimType == "60" and not submission.costDate) or (is40Part == true and pairClaim != null and not pairSubmission.costDate) %}
  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =="missing" %}
    <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
      <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="payment-date-error">
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>Add a{% if is40Part %} 40%{% endif %} payment date</p>
      </div>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =='missing' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =='missing' %} govuk-summary-key--error {% endif %}">
      {% if is40Part %}40% {% endif %}Payment date
    </dt>
    <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =='missing' %} govuk-summary-value--error {% endif %}">
      <a class="govuk-link govuk-link--no-visited-state" href="cost-date">Add payment date</a>
    </dd>
  </div>
{% else %}
  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate == "inFuture" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="payment-date-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>  Payment date must be in the past </p>
    </div>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row {% if (is40Part != true and claim.claimType == "60" and (claim.status == "approved" or claim.status == "rejected" or claim.status == "submitted"))%}govuk-summary-list__row--no-actions{% endif %}
 {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =='inFuture' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =='inFuture' %} govuk-summary-key--error {% endif %}">
      {% if claim.claimType == "100" or is40Part != true%}
        {% if claim.isPaymentPlan == true %}60% {% endif %}Payment date {% if ( claim | checkIfUpdated("costDate")) %}<strong class="govuk-tag">Edited</strong>{% endif %}
      {% else %}
        Payment date {% if ( pairClaim | checkIfUpdated("costDate")) %}<strong class="govuk-tag">Edited</strong>{% endif %}
      {% endif %}
    </dt>
    
    <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.paymentDate =='inFuture' %} govuk-summary-value--error {% endif %}">
      {% if claim.claimType == "100" or is40Part != true %}
        {{ submission.costDate | govukDate }}
      {% else %}
        {{ pairSubmission.costDate | govukDate }}
      {% endif %}

    </dd>
    {% if ((is40Part != true and (claim.status == "queried" or claim.status == "not-yet-submitted")) or (is40Part == true and (pairClaim.status == "queried" or pairClaim.status == "not-yet-submitted"))) %}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="cost-date">Change<span class="govuk-visually-hidden">
          payment date</span></a>
    </dd>
    {% endif %}
  </div>
{% endif %}

{% if ( submission.evidenceOfPayment | getCount == 0 and claim.claimType == "100") or (is40Part != true and claim.claimType == "60" and submission.evidenceOfPayment | getCount == 0) or (is40Part == true and pairClaim != null and ( pairSubmission.evidenceOfPayment | getCount == 0 ))  %}
  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfPayment =="missing" %}
    <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
      <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="payment-evidence-error">
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add evidence of payment</p>
      </div>
    </div>
  {% endif %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfPayment =='missing' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfPayment =='missing' %} govuk-summary-key--error {% endif %}">
      Evidence of payment
    </dt>
    <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfPayment =='missing' %} govuk-summary-value--error {% endif %}">
      <a class="govuk-link govuk-link--no-visited-state" href="add-evidence?type=payment">Add evidence</a>
    </dd>
  </div>
{% else %}
  <div class="govuk-summary-list__row {% if (is40Part != true and claim.claimType == "60" and (claim.status == "approved" or claim.status == "rejected" or claim.status == "submitted"))%}govuk-summary-list__row--no-actions{% endif %}
">
    <dt class="govuk-summary-list__key">
      {% if claim.claimType == "100" or is40Part != true %}
        Evidence of payment </br>{% if ( claim | checkIfUpdated("evidencePayment")) %}<strong class="govuk-tag">Edited</strong>{% endif %}
      {% else %}
        Evidence of payment </br>{% if ( pairClaim | checkIfUpdated("evidencePayment")) %}<strong class="govuk-tag">Edited</strong>{% endif %}
      {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">

      {% if claim.claimType == "100" or is40Part != true %}
        {% for payment in submission.evidenceOfPayment %}
          <p><a class="govuk-link" href="/public/images/{{payment}}" target="_blank">{{payment}} (opens in new tab)</a></p>
        {% endfor %}
      {% else %}
        {% for payment in pairSubmission.evidenceOfPayment %}
          <p><a class="govuk-link" href="/public/images/{{payment}}" target="_blank">{{payment}} (opens in new tab)</a></p>
        {% endfor %}
      {% endif %}

    </dd>
    {% if ((is40Part != true and (claim.status == "queried" or claim.status == "not-yet-submitted")) or (is40Part == true and (pairClaim.status == "queried" or pairClaim.status == "not-yet-submitted"))) %}
      <dd class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
              href="add-evidence-edit?type=payment">Change<span class="govuk-visually-hidden"> evidence of payment</span></a>
          </li>
        </ul>
      </dd>
    {% endif %}
  </div>
{% endif %}