{% extends "./layouts/processing-main.html" %}

{% set foundOrganisation = data.organisations | findOrg(data.orgID) %}

{% block pageTitle %}
What do you want to do? — {{data.processingServiceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.confirmation == "register" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Invite sent
                </h3>
                <p class="govuk-body">{% if data.confirmation == "register" %}An email has been sent to {{ data.givenName | default(foundOrganisation.signatory.givenName) }} {{
                    data.familyName | default(foundOrganisation.signatory.familyName) }} inviting Fake care home to the service.{% endif %}</p>
            </div>
        </div>
        {% endif %}
        <h1 class="govuk-heading-l">What do you want to do?</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <ul class="homepage-services-and-info__list">
            {% if (data.userType == "processor") %}
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="eligibility-checker"
                            href="process-claim/start-process">Find a claim</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Go straight to a claim using a claim reference number.</p>
                </div>
            </li>
            {% endif %}
            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="manage-tu-claims"
                            href="organisation/find-organisation">Find an organisation</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Look up an organisation using a workplace ID or email address.</p>
                </div>
            </li>

            {% if (data.userType == "processor") %}
                <li class="chevron-card">
                    <div class="chevron-card__wrapper">
                        <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" data-track-label="manage-tu-claims"
                                href="register-organisation/organisation-details">Register an organisation</a>
                        </h3>
                        <p class="govuk-body chevron-card__description">Register an organisation to use the service or resend an invite.</p>
                    </div>
                </li>
            {% endif %}

        </ul>
    </div>
</div>

{% endblock %}