{% extends "../layouts/processing-main.html" %}

{% set foundOrganisation = data.organisations | findOrg_V5(data.orgID) %}


{% block pageTitle %}
Check Senior Responsible Officer details are correct — Register an organisation — {{data.processingServiceName}}
{% endblock %}

{% block beforeContent %}
    {% if data.newOrg %}
        <div >
            <a class="govuk-back-link" href="signatory-details">Back</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Register an organisation</span>
        <h1 class="govuk-heading-l">Check Senior Responsible Officer details are correct</h1>
        <p class="govuk-body">Check this information is correct before sending the invite.</p>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Organisation details
              </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Workplace ID
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data.orgID}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Fake care home
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            72 Guild Street<br>London<br>SE23 6FH
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Senior Responsible Officer details
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="signatory-details?edited=true">Edit<span class="govuk-visually-hidden"> signatory details</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last (family) name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.familyName }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            First (given) name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.givenName }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.email }}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <form action="../home?confirmation=register&newOrg=" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm and send invite
                </button>
                <a class="govuk-link" href="organisation-details?newOrg=&orgID=&edited=">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}