{% extends "../layouts/processing-main.html" %}

{% block pageTitle %}
{{ ["Workplace not found — Register an organisation — ", data.processingServiceName] | join }}
{% endblock %}

{% block beforeContent %}
<a href="../home" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Register an organisation</span>
        <h1 class="govuk-heading-l">Workplace not found</h1>
        <p class="govuk-body">The workplace ID you entered did not return any results.</p>
        <p class="govuk-body">Check whether you entered it correctly. You might need to confirm the workplace ID with the person from the organisation you're registering.</p>

        <form action="../register-organisation/organisation-details" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Back
            </button>
        </form>
    </div>
</div>
{% endblock %}