{% extends "./layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Get reimbursed for adult social care CPD or training</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Use this service if you're a provider of adult social care in England to claim for the costs of:
            <ul class="govuk-list govuk-list--bullet">
                <li>continuing professional development (CPD) relating to professional registration requirements for nurses and allied health professionals</li>
                <li>targeted upskilling (TU) - training and qualifications for non-registered staff and agency staff</li>
              </ul>
        </p>
        <p class="govuk-body">Eligible providers are Care Quality Commission (CQC) registered employers and Local Authorities.</p>
        <p class="govuk-body">Use this service to:
            <ul class="govuk-list govuk-list--bullet">
                <li>claim the costs of CPD and targeted upskilling</li>
                <li>check the status of claims and whether payments have been made</li>
                <li>review your use of the adult social care training fund and how much money you can still claim for</li>
              </ul>
        </p>
        <a href="sign-in.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You'll need to have an account to use this service. You can <a href="#" class="govuk-link">register for one</a> if you need to.</p>
        <p class="govuk-body">To claim for CPD or training costs you'll need to check that the <a href="./guidance/activities-scope" class="govuk-link">activity</a> and <a href="./guidance/staff-scope" class="govuk-link">members of staff</a> are within scope of the training reimbursement fund.</p>
        <p class="govuk-body">You'll need to be able to enter:
            <ul class="govuk-list govuk-list--bullet">
                <li>the details of the people who completed the activity</li>
                <li>what the activity was</li>
                <li>evidence relating to the activity</li>
            </ul>
        </p>
        <p class="govuk-body">Evidence will be required of payment for the activity, for example an invoice. For training courses and qualifications, evidence of starting and completing the course will also be required.</p>
        <p class="govuk-body">You will not need to enter all the information in one go. You can start a claim and then return to complete missing information later.</p>
        <h2 class="govuk-heading-m">If you need help using this service</h2>
        <p class="govuk-body">Contact the NHS Business Services Authority contact centre:</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">xxxx@bsa.nhs.uk</a> <br>Phone: 01234 567890
          </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body"><a href="./guidance/find-out-more" class="govuk-link">Find out more about the adult social care training fund reimbursement service</a></p>
        <p class="govuk-body"><a href="./guidance/help" class="govuk-link">Help with using the adult social care training fund reimbursement service</a>
    </div>
</div> 
{% endblock %}