<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Martine Jones <span class="govuk-caption-m">Care worker<br> #000001 </span> </h2>
        <span><ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="../claim-items/learner.html">
                View learner<span class="govuk-visually-hidden"> of Martine Jones</span>
            </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
                Add L&D activity<span class="govuk-visually-hidden"> for Martine Jones</span>
            </a>
            </li>
        </ul></span>
    </div>
    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">L&D Activity</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="../claim-items/l&dactivity.html">
                        Dementia Training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        23 September 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--pink">
                        Submitted
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Recall<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="../claim-items/l&dactivity.html">
                        Digital Training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        16 September 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                        In-processing
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            View details<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="../claim-items/l&dactivity.html">
                        Neurodivergence & complex needs training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        13 Septmeber 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red">
                        Queried
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            View query<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Zhang Wei<span class="govuk-caption-m">Care worker<br> #000054 </span> </h2>
        <span><ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="../claim-items/learner.html">
                View learner<span class="govuk-visually-hidden"> of Zhang Wei
                </span>
            </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
                Add L&D activity<span class="govuk-visually-hidden"> for Zhang Wei
                </span>
            </a>
            </li>
        </ul></span>
    </div>
    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">L&D Activity</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="../claim-items/l&dactivity.html">
                        Dementia Training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        23 September 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--pink">
                        Submitted
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Recall<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="../claim-items/l&dactivity.html">
                        Digital Training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        16 September 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                        In-processing
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            View details<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="../claim-items/l&dactivity.html">
                        Neurodivergence & complex needs training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        13 Septmeber 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red">
                        Queried
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            View query<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Kevin Underhill<span class="govuk-caption-m">Care worker<br> #000200 </span> </h2>
        <span><ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="claim-items/learner.html">
                View learner<span class="govuk-visually-hidden"> of Kevin Underhill
                </span>
            </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
                Add L&D activity<span class="govuk-visually-hidden"> for Kevin Underhill
                </span>
            </a>
            </li>
        </ul></span>
    </div>
    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">L&D Activity</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="claim-items/l&dactivity.html">
                        Dementia Training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        23 September 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--pink">
                        Submitted
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Recall<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="claim-items/l&dactivity.html">
                        Digital Training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        16 September 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                        In-processing
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            View details<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="claim-items/l&dactivity.html">
                        Neurodivergence & complex needs training
                    </a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        13 Septmeber 2023
                    </td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red">
                        Queried
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            View query<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </td>
                
                </tr>

            </tbody>
        </table>
    </div>
</div>
