{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Claim: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
    {% if claim.status != "submitted" %}
        <a href="start-process?processSuccess" class="govuk-back-link">Back</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.processSuccess == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Claim outcome recorded and returned to organisation
                </h3>
            </div>
        </div>
        {% endif %}

        {% if data.incompletePayment or data.incompleteCompletion %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if data.incompletePayment %}
                <li>
                  <a href="#company-details-1-status"> Complete check on evidence of payment</a>
                </li>
                {% endif %}
                {% if data.incompleteCompletion %}
                <li>
                  <a href="#company-details-2-status"> Complete check on evidence of completion</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}


        {% if claim.status == "submitted" or claim.status == "partlyProcessed" %}
        <span class="govuk-caption-l">Process a claim</span>
        {% endif %}
        <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}<br>{{ claim.status | processorstatusTag }}</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% include "../_components/claim-details.html" %}
    </div>

    <div class="govuk-grid-column-one-half">

        {% if claim.status == "submitted" or claim.status == "partlyProcessed" %}
        <h2 class="govuk-heading-m">Perform checks on evidence</h2>
        {% else %}
        <h2 class="govuk-heading-m">Completed checks on evidence</h2>
        {% endif %}
        
        <ul class="govuk-task-list">
            <div class=" {% if data.incompletePayment %} govuk-form-group--error {% endif %}">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    {% if data.incompletePayment%}
                    <p id="answer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Complete check on evidence of completion
                    </p>
                {% endif %} 
                    <a class="govuk-link govuk-task-list__link" href="review-evidence?type=payment&processSuccess"
                        aria-describedby="company-details-1-status">
                        Evidence of payment
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-1-status">
                    {{ claim.evidenceOfPaymentreview.pass | sectionCheck }}
                </div>
            </li>
        </div>
        <div class=" {% if data.incompleteCompletion %} govuk-form-group--error {% endif %}">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                {% if data.incompleteCompletion%}
                    <p id="answer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Complete check on evidence of completion
                    </p>
                {% endif %} 
                    <a class="govuk-link govuk-task-list__link" href="review-evidence?type=completion&processSuccess"
                        aria-describedby="company-details-2-status">
                        Evidence of completion
                    </a>
                </div>
                <div class="govuk-task-list__status" id="company-details-2-status">
                    {{ claim.evidenceOfCompletionreview.pass | sectionCheck }}
                </div>
            </li>
        </div>
        </ul>
        

        {% if claim.status == "submitted" or claim.status == "partlyProcessed" %}
        <div class="govuk-button-group">
            <form action="../claim-process-handler?processSuccess" method="post" novalidate>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Complete claim
                </button>
            </form>
            <form action="../saveAndExit" method="post" novalidate>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Save and exit
                </button>
            </form>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        {% endif %}

        <div class="moj-page-header-actions" style="margin-bottom: 20px;">
            <div class="moj-page-header-actions__title">
                <h2 class="govuk-heading-m">Claim notes</h2>
            </div>
            <div class="moj-page-header-actions__actions">
                <div class="moj-button-menu">
                    <div class="moj-button-menu__wrapper">
                        <a href="add-note?id={{claim.claimID}}&processSuccess" role="button" draggable="false"
                            class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action"
                            data-module="govuk-button">
                            Add note
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if claim.notes.length > 0 %}
        {% for note in claim.notes| dateSort %}
        {% include "../_components/note.html" %}
        {% endfor %}
        {% else %}
        <p>There are currently no notes for this claim.</p>
        {% endif %}

    </div>
</div>

{% endblock %}