{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim_V8(data.claims) %}

{% block pageTitle %}
{{ ["Edit rejection notes: ", claim.claimID, "- process a claim"] | join }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data.paymentEmptyInput or data.completionEmptyInput %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if data.paymentEmptyInput %}
                <li>
                  <a href="#paymentRejectionNote">
                    Enter a rejection note for evidence of payment.
                  </a>
                </li>
                {% endif %}
                {% if data.completionEmptyInput %}
                <li>
                  <a href="#completionRejectionNote">
                    Enter a completion note for evidence of completion.
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        
        <form action="../update-rejection-notes" method="post" novalidate>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="more-detail">
                    Edit rejection note?
                </label>
                </h1>
                <div class="{% if (data.paymentEmptyInput) %} govuk-form-group--error {% endif %}">
                    {% if (claim.evidenceOfPaymentreview.note != null or data.paymentEmptyInput == true) %}
                        <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Evidence of payment</h2>
                        <p class="govuk-body" style="margin-top: 5px;">The evidence of payment did not meet the required criteria.</p>
                        {% if (data.paymentEmptyInput) %}
                            <p id="passport-issued-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Enter a rejection note for evidence of payment.
                            </p>
                        {% endif %}
                        <label class="govuk-label" for="paymentRejectionNote">
                            Rejection note
                        </label>
                        <textarea class="govuk-textarea" id="paymentRejectionNote" name="paymentRejectionNote" rows="5" aria-describedby="payment-rejection-note-hint">{{claim.evidenceOfPaymentreview.note}}</textarea>
                    {% endif %}
                </div>
                <div class="{% if (data.completionEmptyInput) %} govuk-form-group--error {% endif %}">
                    {% if (claim.evidenceOfCompletionreview.note != null or data.completionEmptyInput == true) %}
                        <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Evidence of completion</h2>
                        <p class="govuk-body" style="margin-top: 5px;">The evidence of completion did not meet the required criteria.</p>
                        {% if (data.completionEmptyInput) %}
                                <p id="passport-issued-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>Enter a rejection note for evidence of completion.
                                </p>
                            {% endif %}
                        <label class="govuk-label" for="completionRejectionNote">
                            Rejection note
                        </label>
                        <textarea class="govuk-textarea" id="completionRejectionNote" name="completionRejectionNote" rows="5" aria-describedby="completion-rejection-note-hint">{{claim.evidenceOfCompletionreview.note}}</textarea>
                    {% endif %}
                </div>
            </div>

          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Update note
            </button>
            <a class="govuk-link govuk-link--no-visited-state" href="./outcome">Cancel</a>
        </div>

        </form>

    </div>
</div>


{% endblock %}