
<div class="govuk-summary-list__row  {% if claim.status != 'queried' and claim.status != 'not-yet-submitted' %} govuk-summary-list__row--no-actions {% endif%}">
  <dt class="govuk-summary-list__key">
    Training {% if ( claim | checkIfUpdated("training")) %}<strong class="govuk-tag" aria-label="Edited">Edited</strong>{% endif %}
  </dt>
  <dd class="govuk-summary-list__value">
    {% set training = submission.trainingCode | findTraining %}
    {% if training.code | trainingTypeCheck("Courses") %}
      <p class="govuk-body">{{ training.code }}</p>
      <p class="govuk-body">{{training.title}}</p>
    {% elif training.code | trainingTypeCheck("Qualifications") %}
      <p class="govuk-body">{{ training.code }}</p>
      <p class="govuk-body">{{training.title}}</p>
      <p class="govuk-body">{{training.type}}</p>
      <p class="govuk-body">{{training.awardingOrganisation}}</p>
    {% endif %}
  </dd>
  {% if (claim.status == "queried" or claim.status == "not-yet-submitted") %}
    <dd class="govuk-summary-list__actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.startDate =='inFuture' %} govuk-summary-value--error {% endif %}">
      <a class="govuk-link govuk-link--no-visited-state" href="select-training">Change<span class="govuk-visually-hidden">training</span></a>
    </dd>
  {% endif %}
</div>
