{% extends "./_layouts/processing-main-new-nav.html" %}


{% block content %}
{% set paymentCompleted = claim.evidenceOfPaymentreview.pass != null %}
{% set paymentRejectte = claim.evidenceOfPaymentreview.note %}
{% set completionCompleted = claim.evidenceOfCompletionreview.pass != null%}
{% set completionNote = claim.evidenceOfCompletionreview.note %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <a href="../back-all-claims" class="govuk-back-link">Back to all claims</a>

        <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Claim: WK4-92DN-8SJD-A</h2>
        <p class="govuk-body govuk-!-margin-bottom-6">{{ "submitted" | processorstatusTag }}</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
<h3 class="govuk-heading-m">Claim information</h3>
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          <span class="govuk-heading-s">Previous submissions</span>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <p class="govuk-body">This claim has been submitted <strong>3</strong> times.</p>
    <a href="../view-previous-submissions-handler?view=100" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">View previous submissions</a>
    </div>
  </div>
   <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          <span class="govuk-heading-s">Submitter</span>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <dl class="forced-summary-list">
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                <span class="govuk-visually-hidden">Submitter</span>Name
            </dt>
            <dd class="forced-summary-list__value">
                Jasper Holloway
            </dd>
        </div>
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                <span class="forced-visually-hidden">Submitter</span>Email
            </dt>
            <dd class="forced-summary-list__value">
                <a class="govuk-link" href="mailto:example@example.com">jasper.holloway@evergreencare.com</a>
            </dd>
        </div>
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                Submitted on
            </dt>
            <dd class="forced-summary-list__value">
                    12 April 2025
            </dd>
        </div>

    </dl>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          <span class="govuk-heading-s">Training</span>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <dl class="forced-summary-list">
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
            Qualification number
            </dt>
            <dd class="forced-summary-list__value">
                603/1935/5
            </dd>
        </div>
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                Title
            </dt>
            <dd class="forced-summary-list__value">
                Understanding Autism
            </dd>
        </div>
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                Level and type
            </dt>
            <dd class="forced-summary-list__value">
                Level 3 Certificate
            </dd>
        </div>
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                Awarding organisation
            </dt>
            <dd class="forced-summary-list__value">
                TQUK
            </dd>
        </div>
    </dl>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          <span class="govuk-heading-s">Dates</span>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <dl class="forced-summary-list">
            <div class="forced-summary-list__row">
                <dt class="forced-summary-list__key">
                    Payment date
                </dt>
                <dd class="forced-summary-list__value">
                    23 September 2024
                </dd>
            </div>

        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                Start date
            </dt>
            <dd class="forced-summary-list__value">
                21 October 2024
            </dd>
        </div>
        <div class="forced-summary-list__row">
            <dt class="forced-summary-list__key">
                Completion dates
            </dt>
            <dd class="forced-summary-list__value">
                30 October 2024 - 21 November 2025
            </dd>
        </div>
    </dl>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          <span class="govuk-heading-s">Learners</span>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
        <ul class="govuk-list govuk-list--bullet">
  <li>Mark Portnell</li>
  <li>John Smith</li>
  <li>Hannnah Williams</li>
  <li>Martine Gallie</li>
  <li>Kelly Faux</li>
  <li>Jane Doe</li>
</ul>
    </div>
  </div>
</div>


    </div>
    <div class="govuk-grid-column-two-thirds">
        
        <form action="../claim-process-handler" method="post" novalidate>
            <span class="govuk-caption-m">Step 1 of 7</span>
                <h3 class="govuk-heading-m">Evidence of payment</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row ">
                        <dt class="govuk-summary-list__key">
                            Evidence of payment <br>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p><a class="govuk-link" href="/public/images/bankStatement1.pdf" target="_blank">bankStatement1.pdf (opens in new tab)</a></p>
                            <p><a class="govuk-link" href="/public/images/invoice1.pdf" target="_blank">invoice1.pdf (opens in new tab)</a></p>
                            <p><a class="govuk-link" href="/public/images/receipt1.pdf" target="_blank">receipt1.pdf (opens in new tab)</a></p>
                        </dd>
                    </div>
                            <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Max reimbursement amount
                            </dt>
                            <dd class="govuk-summary-list__value">
                                £420
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Payment date
                </dt>
                <dd class="govuk-summary-list__value">
                    23 September 2024
                </dd>
            </div>
                </dl>
                <div class="govuk-form-group" id="payment-review">
                    <fieldset class="govuk-fieldset" aria-describedby="payment-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Does the evidence of payment meet the required criteria?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
            
                                <input class="govuk-radios__input" id="paymentYes" name="payment" type="radio" value="approve" {% if claim.claimType != '40' %} data-aria-controls="processing__conditional" {% endif %} {% if data.payment=='approve' %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="paymentYes">
                                    Yes
                                </label>
            
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="paymentQueried" name="payment" type="radio" value="queried" data-aria-controls="conditional-payment-queried" {% if data.payment=='queried' %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="paymentQueried">
                                    No – action required
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-queried" data-maxlength="1000">
                                <div class="govuk-form-group govuk-character-count {% if data.paymentQueriedNoteIncomplete %}govuk-form-group--error{% endif %}" data-module="govuk-character-count">
                                    <label class="govuk-label" for="payment-queried">
                                        What action does the organisation need to take?
                                    </label>
                                    <div id="payment-queried-note-hint" class="govuk-hint">
                                        This note tells the organisation what edits they need to make before they resubmit this claim
                                    </div>
                                    {% if data.paymentQueriedNoteIncomplete %}
                                    <p id="payment-queried-note-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>Enter action required for evidence of payment 
                                    </p>
                                    {% endif %}
                                    <textarea class="govuk-textarea govuk-js-character-count {% if data.paymentQueriedNoteIncomplete %}govuk-textarea--error{% endif %}" id="paymentQueriedNote" name="paymentQueriedNote" rows="21" aria-describedby="payment-queried-note-info note-hint">{{ data.paymentQueriedNote | default ('') }}</textarea>
                                    <div id="payment-queried-note-info" class="govuk-hint govuk-character-count__message">
                                        You can enter up to 1000 characters
                                    </div>
                                </div>
                            </div>
            
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="paymentReject" name="payment" type="radio" value="reject"
                                    data-aria-controls="conditional-payment-reject" {% if data.payment=='reject' %}checked{% endif
                                    %}>
                                <label class="govuk-label govuk-radios__label" for="paymentReject">
                                    No – reject
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                                id="conditional-payment-reject" data-maxlength="1000">
                                <div class="govuk-form-group govuk-character-count {% if data.paymentRejectNoteIncomplete %}govuk-form-group--error{% endif %}"
                                    data-module="govuk-character-count">
                                    <label class="govuk-label" for="payment-reject">
                                        Why has this claim been rejected?
                                    </label>
                                    <div id="payment-reject-note-hint" class="govuk-hint">
                                        This note tells the organisation why their claim has been rejected and therefore cannot be edited and resubmitted
                                    </div>
                                    {% if data.paymentRejectNoteIncomplete %}
                                    <p id="payment-reject-note-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>Enter rejection reasons for evidence of payment 
                                    </p>
                                    {% endif %}
                                    <textarea
                                        class="govuk-textarea govuk-js-character-count {% if data.paymentRejectNoteIncomplete %}govuk-textarea--error{% endif %}"
                                        id="paymentRejectNote" name="paymentRejectNote" rows="21"
                                        aria-describedby="payment-no-note-info note-hint">{{ data.paymentRejectNote | default ('') }}</textarea>
                                    <div id="payment-no-note-info" class="govuk-hint govuk-character-count__message">
                                        You can enter up to 1000 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            
                
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>

    </div>
    </div>

<nav class="side-nav" id="sideNav">
<div class="side-nav-header">
Claim progress<br>
WK4-92DN-8SJD-A
<button class="minimise-btn" id="minimiseBtn">&#x276E;</button>
</div>
<nav class="moj-side-navigation" aria-label="Side navigation">   
<h4 class="moj-side-navigation__title">Review payment</h4>
<ul class="moj-side-navigation__list govuk-!-margin-bottom-1">
<li class="moj-side-navigation__item moj-side-navigation__item--active moj-side-navigation__item-with-icon">
<a href="#1" aria-current="location" class="moj-side-navigation__link">Evidence of payment</a>
<span class="moj-badge moj-badge--blue">In progress</sp
</li>
</ul>
<h4 class="moj-side-navigation__title">Review completion</h4>
<ul class="moj-side-navigation__list">
<li class="moj-side-navigation__item">
<a href="#3" class="moj-side-navigation__link"><span class="govuk-task-list__status--cannot-start-yet">Mark Portnell</span></a>
</li>
<li class="moj-side-navigation__item">
<a href="#2" class="moj-side-navigation__link"><span class="govuk-task-list__status--cannot-start-yet">John Smith</span></a>
</li>
<li class="moj-side-navigation__item">
<a href="#3"><span class="govuk-task-list__status--cannot-start-yet">Hannah Williams</span></a>
</li>
<li class="moj-side-navigation__item">
<a href="#3"><span class="govuk-task-list__status--cannot-start-yet">Martine Gallie</span></a>
</li>
<li class="moj-side-navigation__item">
<a href="#3"><span class="govuk-task-list__status--cannot-start-yet">Kelly Faux</span></a>
</li>
<li class="moj-side-navigation__item">
<a href="#3"><span class="govuk-task-list__status--cannot-start-yet">Jane Doe</span></a>
</li>
</ul>
</nav>
</nav>

{% endblock %}

{% block pageScripts %}
<script>
const nav = document.getElementById('sideNav');
const minimiseBtn = document.getElementById('minimiseBtn');
const minimisedTab = document.getElementById('minimisedTab');


minimiseBtn.addEventListener('click', () => {
nav.classList.add('minimised');
});


minimisedTab.addEventListener('click', () => {
nav.classList.remove('minimised');
});
</script>
{% endblock %}