{% set matchedClaims = data.claims | claimsMatchSearch_V12(data.search) %}
{% set formattedStartDates = matchedClaims | uniqueDates_V12("startDate") %}
{% set availableStatus = matchedClaims | availableStatus_V12(data.search) %}

<div class="moj-filter">
    <div class="moj-filter__header">
        <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
        </div>
    </div>

    <div class="moj-filter__content">
        <div class="moj-filter__selected">

            <div class="moj-filter__selected-heading">
      
              <div class="moj-filter__heading-title">
                <h2 class="govuk-heading-m">Selected filters</h2>
              </div>
      
              <div class="moj-filter__heading-action">
                <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
              </div>
      
            </div>
      
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
      
            <ul class="moj-filter-tags">
      
              <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Submitted</a></li>
      
              <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Not yet submitted</a></li>
      
            </ul>
      
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Start date</h3>
      
            <ul class="moj-filter-tags">
      
              <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> August 2023 x</a></li>
      
            </ul>
      
          </div>

        <div class="moj-filter__options">

            <form id="filterForm" action="../apply-filters_V12" method="post">
                <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
                    Apply filters
                </button>

                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                            Status

                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            {% for status in availableStatus %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="{{ status }}" name="filterStatus"
                                    type="checkbox" value="{{ status }}">
                                <label class="govuk-label govuk-checkboxes__label" for="{{ status }}">
                                    {{ status | formatStatus_V12 }}
                                </label>

                            </div>
                            {% endfor %}
                        </div>

                    </fieldset>

                </div>

                <div class="govuk-form-group">

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                            Start date

                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                            {% set loopIndex = 0 %}
                            {% for monthYear in formattedStartDates %}
                            {% set checkboxId = 'startdate-' + loopIndex %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="{{ checkboxId }}" name="filterStartDate"
                                    type="checkbox" value="{{ monthYear }}">
                                <label class="govuk-label govuk-checkboxes__label" for="{{ checkboxId }}">
                                    {{ monthYear }}
                                </label>

                            </div>
                            {% set loopIndex = loopIndex + 1 %}
                            {% endfor %}
                        </div>

                    </fieldset>

                </div>

            </form>
        </div>
    </div>
</div>