{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V8(data.claims) %}

{% block pageTitle %}
{{ ["Duplicate learner - Claim: ", data.id] | join }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">A learner already exists</h1>
        <p class="govuk-body">You have tried to add a learner with a national insurance number that
            already exists in the system. Below are the details of the existing learner and details of the learner you
            are trying
            to add. The differences between the two are <mark
                class="hods-highlight"><strong>highlighted</strong></mark>.</p>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">New learner details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Family name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.familyName | learnerMatch_V8(data.learnerMatch.familyName, "new") }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Given name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.givenName | learnerMatch_V8(data.learnerMatch.givenName, "new") }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    National insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.nationalInsuranceNumber | learnerMatch_V8(data.learnerMatch.id, "new") }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Job title
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.jobTitle | learnerMatch_V8(data.learnerMatch.jobTitle, "new") }}
                </dd>
            </div>
        </dl>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Existing learner details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Family name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.familyName | learnerMatch_V8(data.learnerMatch.familyName, "match") }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Given name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.givenName | learnerMatch_V8(data.learnerMatch.givenName, "match") }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    National insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.nationalInsuranceNumber | learnerMatch_V8(data.learnerMatch.id, "match") }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Job title
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.jobTitle | learnerMatch_V8(data.learnerMatch.jobTitle, "match") }}
                </dd>
            </div>
        </dl>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <form action="../add-learner?learnerSelection={{ data.learnerMatch.id }}" method="post" novalidate>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Add existing learner to claim
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="add-learner">Cancel</a>
            </div>
        </form>

        <p class="govuk-body">It is currently not possible to update learner records. If this is an issue get in touch
            with the NHS Business Services Authority contact centre:</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">xxxx@bsa.nhs.uk</a> <br>Phone: 01234 567890
        </div>
    </div>
</div>

{% endblock %}