<h2 class="govuk-heading-m" id="learners">Learner{% if data.claimType == "TU" %}s{% endif %}</h2>
<dl class="govuk-summary-list">
  {% if claim.learners.length === 0 %}
  <div class="govuk-summary-list__row">
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="select-learner">Add learner</a>
    </dd>
  </div>
  {% else %}
  {% set counter = 1 %}
  {% for l in claim.learners %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__value">
      {{ l.fullName }}<br> {{ l.id }}
    </dt>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="../learner/learner-profile?learnerID={{ l.id }}">View<span class="govuk-visually-hidden"> {{ l.fullName }}</span></a></li>
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="#">Remove<span class="govuk-visually-hidden"> {{ l.fullName }}</span></a></li>
      </ul>
    </dd>
    {% endif %}
  </div>
  {% set counter = counter + 1 %}
  {% endfor %}
  {% endif %}
</dl>

{% if (claim.status == "new" or claim.status == "not-yet-submitted") and claim.learners.length !== 0 and data.claimType == "TU" %}
<p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="select-learner">Add another learner</a></p>
{% endif %}