<h2 class="govuk-heading-m" id="training">Training</h2>
<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      {% if not claim.training %}
      <dd class="govuk-summary-list__value">
        <a class="govuk-link govuk-link--no-visited-state" href="select-training">Select course</a>
      </dd>
      {% else %}
      <dd class="govuk-summary-list__value">
        {{ claim.training.code }}<br> {{ claim.training.title }}
      </dd>
      {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
      <dd class="govuk-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="activity-profile?viewOnly=true&trainingSelection={{ claim.training.code }}">View<span class="govuk-visually-hidden"> training</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state" href="select-training">Change<span class="govuk-visually-hidden"> training</span></a></li>
        </ul>
      </dd>
      {% endif %}
      {% endif %}
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Start date
      </dt>
      {% if not claim.startDate %}
      <dd class="govuk-summary-list__value">
        <a class="govuk-link govuk-link--no-visited-state" href="start-date">Add start date</a>
      </dd>
      {% else %}
      <dd class="govuk-summary-list__value">
        {{ claim.startDate | govukDate }}
      </dd>
      {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="start-date">Change<span class="govuk-visually-hidden"> activity start date</span></a>
      </dd>
      {% endif %}
      {% endif %}
    </div>
</dl>