{% extends "../_layouts/main.html" %}

{% block pageTitle %}
    {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div >
    <a href="../eligibility/register-org" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.missingOption %}
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#error">
                            Select whether you already have a user account
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <form action="../accountResponse" method="post" novalidate>
            <div class="govuk-form-group {% if data.missingOption %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Have you already got a user account?
                    </h1>
                    </legend>
                    <div id="signIn-hint" class="govuk-hint">
                    Select 'Yes' to sign in if you already have an account or 'No' to create an  account.
                    </div>
                    {% if data.missingOption %}
                        <p id="error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            Select whether you already have a user account
                        </p>
                    {% endif %}
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="accountResponse" name="accountResponse" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="accountResponse">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="accountResponse-2" name="accountResponse" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="accountResponse-2">
                            No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <p class="govuk-body">If you experience any problems with your account, email us at <a href="#" class="govuk-link">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a>, phone 0300 330 0522 or use our online contact form.</p>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
    

{% endblock %}