//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.course-search {
  border: 1px solid;
  border-color: $govuk-border-colour;
}

.course-search-header {
  background-color: govuk-colour("light-grey");
  padding-top: govuk-spacing(4);
  padding-right: govuk-spacing(5);
  padding-left: govuk-spacing(5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $govuk-border-colour;
}

.course-search-body {
  padding: govuk-spacing(5);
}

.unstyle-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 18px;
  color: #1d70b8;
  text-decoration: underline;
  cursor: pointer;
}

.unstyle-button-table {
  font-size: 19px;
}

.unstyle-button:hover {
  color: #003078;
}

.unstyle-card-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #1d70b8;
  text-decoration: underline;
  text-underline-offset: 2.9982px;
  cursor: pointer;
}

.unstyle-card-button:hover {
  color: #003078;
}

.homepage-services-and-info__list {
  list-style: none;
  margin: 0 -15px;
  padding: 0
}

.chevron-card {
  border-top: 1px solid #b1b4b6;
  margin: 0 15px;
  padding: 5px 0 20px 0
}

.chevron-card:first-child {
  border-top: none;
  padding-top: 0
}

.chevron-card:first-child .chevron-card__wrapper {
  padding-top: 0
}

@media print {
  .chevron-card:first-child .chevron-card__wrapper {
    padding-top: 19px
  }
}

.chevron-card__wrapper {
  padding: 19px 0 4px;
  position: relative
}

@media (max-width: 40.0525em) {

  .chevron-card__wrapper .govuk-heading-s,
  .chevron-card__wrapper .chevron-card__description {
    font-size: 19px;
    font-size: 1.1875rem
  }
}

.chevron-card__description {
  margin: 0 30px 0 0
}

.chevron-card__link::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.chevron-card__link::before {
  border-right: 3px solid #1d70b8;
  border-top: 3px solid #1d70b8;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: 5px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
  width: 7px
}

.chevron-card__link:hover::before {
  border-color: #003078
}

.chevron-card__link:focus::before {
  border-color: #0b0c0c
}

.dashboard-container {
  background-color: govuk-colour("light-grey");
  margin-bottom: 19px;
  padding: 19px;
}

.dashboard-card-container {
  padding: 19px;
}

.dashboard-card {
  background-color: govuk-colour("blue");
  padding: 19px;
  color: govuk-colour("white");
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  height: 100%;
}

.dashboard-card__middle {
  margin-left: -2px;
  margin-right: -2px;
}

.dashboard-card__left {
  margin-right: -4px;
}

.dashboard-card__right {
  margin-left: -4px;
}

.govuk-summary-list-row--error {
  border-left: 5px solid #d4351c;
  position: relative;
}

.govuk-summary-key--error--inline {
  position: relative;
  top: 0.5em;
  display: inline-block;
  width: 625px;
}

.govuk-summary-key--error {
  padding-left: 15px;
}

.govuk-summary-list-row--error--message {
  border-bottom: none;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

.hods-highlight {
  background-color: #FFE5CC;
  border-bottom: 2px solid #FFB266;

  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &::before {
    content: " [highlight start] ";
  }

  &::after {
    content: " [highlight end] ";
  }
}
