//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.course-search {
    border: 1px solid;
    border-color:  $govuk-border-colour;
}

.course-search-header {
    background-color: govuk-colour("light-grey");
    padding-top: govuk-spacing(4);
    padding-right: govuk-spacing(5);
    padding-left: govuk-spacing(5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:  $govuk-border-colour;
}

.course-search-body{
    padding: govuk-spacing(5);
}
