//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import 'narrow-summary-list.scss';

.course-search {
  border: 1px solid;
  border-color: $govuk-border-colour;
}

.course-search-header {
  background-color: govuk-colour("light-grey");
  padding-top: govuk-spacing(4);
  padding-right: govuk-spacing(5);
  padding-left: govuk-spacing(5);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $govuk-border-colour;
}

.course-search-body {
  padding: govuk-spacing(5);
}

.unstyle-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 18px;
  color: #1d70b8;
  text-decoration: underline;
  cursor: pointer;
}

.unstyle-button-table {
  font-size: 19px;
}

.unstyle-button:hover {
  color: #003078;
}

.unstyle-card-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "GDS Transport", Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #1d70b8;
  text-decoration: underline;
  text-underline-offset: 2.9982px;
  cursor: pointer;
}

.unstyle-card-button:hover {
  color: #003078;
}

.homepage-services-and-info__list {
  list-style: none;
  margin: 0 -15px;
  padding: 0
}

.chevron-card {
  border-top: 1px solid #b1b4b6;
  margin: 0 15px;
  padding: 5px 0 20px 0
}

.chevron-card:first-child {
  border-top: none;
  padding-top: 0
}

.chevron-card:first-child .chevron-card__wrapper {
  padding-top: 0
}

@media print {
  .chevron-card:first-child .chevron-card__wrapper {
    padding-top: 19px
  }
}

.chevron-card__wrapper {
  padding: 19px 0 4px;
  position: relative
}

@media (max-width: 40.0525em) {

  .chevron-card__wrapper .govuk-heading-s,
  .chevron-card__wrapper .chevron-card__description {
    font-size: 19px;
    font-size: 1.1875rem
  }
}

.chevron-card__description {
  margin: 0 30px 0 0
}

.chevron-card__link::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.chevron-card__link::before {
  border-right: 3px solid #1d70b8;
  border-top: 3px solid #1d70b8;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: 5px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
  width: 7px
}

.chevron-card__link:hover::before {
  border-color: #003078
}

.chevron-card__link:focus::before {
  border-color: #0b0c0c
}

.dashboard-container {
  background-color: govuk-colour("light-grey");
  margin-bottom: 19px;
  padding: 19px;
}

.dashboard-card-container {
  padding: 19px;
}

.dashboard-card {
  background-color: govuk-colour("blue");
  padding: 19px;
  color: govuk-colour("white");
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  height: 100%;
}

.dashboard-card__middle {
  margin-left: -2px;
  margin-right: -2px;
}

.dashboard-card__left {
  margin-right: -4px;
}

.dashboard-card__right {
  margin-left: -4px;
}

.govuk-summary-list-row--error {
  box-shadow: inset 5px 0 0 0 #d4351c;
  position: relative;
}

.govuk-summary-key--error--inline {
  position: relative;
  top: 0.5em;
  display: inline-block;
  @include govuk-media-query($from: tablet) {
    min-width: 370px;
    }
  @include govuk-media-query($from: desktop) {
    min-width: 615px;
  }
}

.govuk-summary-key--error.govuk-summary-key--error--inline {
  padding-top: 5px;
  padding-left: 15px;
}

.govuk-summary-key--error {
  padding-left: 15px;
}

.govuk-summary-value--error {
  @include govuk-media-query($until: tablet) {
    padding-left: 15px;
  }
}

.govuk-summary-list-row--error--message {
  border-bottom: none;
  margin-bottom: 0em;
  padding-bottom: 0em;
  position: relative;
}

.govuk-summary-list-row--error--message:before {
  content: "";
  position: absolute;
  top: 5px; /* This offsets the border 5px from the top */
  @include govuk-media-query($from: tablet) {
    left: 0px;
  }
  left: 0px;
  width: 5px; /* Matches the border width */
  height: calc(100% - 5px); /* Ensures the border stretches to the bottom */
  background-color: #d4351c; /* Border color */
}



.hods-highlight {
  background-color: #FFE5CC;
  border-bottom: 2px solid #FFB266;

  &::before,
  &::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &::before {
    content: " [highlight start] ";
  }

  &::after {
    content: " [highlight end] ";
  }
}

.content-container {
  display: flex;
  position: relative; /* Ensure the container's height is considered for child positioning */
}

.vertical-line-container {
  position: relative;
  width: 50px; /* Adjust the width of the padding area as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-line {
  position: absolute;
  top: 37px; /* Adjust the distance below the tag */
  width: 1px;
  height: calc(100% - 37px); /* Ensure the line spans the full height minus the tag */
  background-color:  $govuk-border-colour; /* Adjust the line color */
}

.content {
  padding-left: 5%; /* Should match the width of the padding area */
  padding-bottom: govuk-spacing(6);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid $govuk-border-colour; /* Single pixel border */
  border-radius: 50%;
  background-color: white;
}

.section-number {
  margin: 0;
}

.horizontal-line {
  width: 50%; /* Two-thirds of the container width */
  height: 1px;
  background-color: $govuk-border-colour; /* Adjust the line color */
  position: absolute;
  bottom: 0;
}

.search__container {
  padding-bottom: govuk-spacing(7);
}

.search__button-group {
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.advanced-search {
  align-items: center;
  padding-left: govuk-spacing(2);
  margin-bottom: 0;
}

.note {
  padding-left:govuk-spacing(3);
  padding-right:govuk-spacing(3);
  padding-bottom:govuk-spacing(2);
  border-bottom: 1px solid #b1b4b6;
  margin-bottom:govuk-spacing(4);
}

.history-filters {
  margin-bottom: govuk-spacing(6);
}

.history-filters ul {
  padding-left: 0;
  margin-left: 0;
}

.history-filters ul li {
  display: inline-block;
  list-style-type: none;
}

.history-filters ul li .filter-button {
  margin-bottom: 5px;
  background: govuk-colour("light-grey");
  color: govuk-colour("black");
  box-shadow: 0 2px 0 govuk-shade(govuk-colour("light-grey"), 40%);
  width: unset;
}

.history-filters ul li .filter-button:hover {
  color: govuk-colour("black");
  background-color: govuk-shade(govuk-colour("light-grey"), 10%);
  box-shadow: 0 2px 0 govuk-shade(govuk-colour("light-grey"), 40%);
}
.history-filters ul li .filter-button.selected {
  background: govuk-colour("purple");
  color: #fff;
  box-shadow: 0 2px 0 govuk-shade(govuk-colour("purple"), 60%);
}

.history-filters ul li .filter-button:focus {
  color:  $govuk-focus-text-colour;
  background-color: $govuk-focus-colour;
}

.claim-tab-hidden {
  display: none;
}

.moj-timeline__item-hidden {
  display: none;
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__actions-no-key {
      width: 40%;
      text-align: right;
  }
}

.pagination__results {
  justify-content: center;
  

  @include govuk-media-query($from: tablet) {
  margin: 0;
  justify-content: left;
  }

  @include govuk-media-query($from: desktop) {
    padding-left: govuk-spacing(3);
    text-align: right;
  }

}

.govuk-pagination__results {
  flex-direction: column; /* Stack items vertically */
  text-align: center;    /* Center text */


  @include govuk-media-query($from: tablet) {
    text-align: left;    /* Center text */
  }


  @include govuk-media-query($from: desktop) {
    display: flex;
    justify-content: space-between; /* Ensures left and right alignment */
    align-items: center; /* Centers items vertically */
    flex-direction: row; /* Stack items vertically */
    text-align: center;    /* Center text */
  }
}

.govuk-pagination__list__results {
  @include govuk-media-query($from: desktop) {
    margin: 0;
  }
}

.govuk-pagination__item__hidden {
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.tab-content {
  margin-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);
}
