{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V8(data.claims) %}

{% block pageTitle %}
{{ ["Duplicate claim - Claim: ", data.id] | join }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">A claim already exists for this training and learner</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">You have already submitted a claim for this training and learner. The reference for that claim is: <a class="govuk-link"
            href="claim-details?id={{ data.dupeID }}">{{ data.dupeID }}</a></p>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Metus aliquam
            eleifend mi in nulla posuere sollicitudin aliquam.</p>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Metus aliquam
            eleifend mi in nulla posuere sollicitudin aliquam.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a type="submit" class="govuk-button" href="claim-details?id={{data.id}}">
            Go back to claim
        </a>
    </div>
</div>

{% endblock %}