{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V8(data.claims) %}

{% block pageTitle %}
{{ ["Select learner - Claim: ", claim.claimID] | join }}
{% endblock %}

{% block beforeContent %}
<a href="claim-details?id={{ claim.claimID }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">Course or qualification learner</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">If you have previously claimed for this learner their details should be saved so you can reuse them.</p>
        <p class="govuk-body">Check using the search below.</p>
        <div class="moj-search govuk-!-padding-bottom-2">

            <form action="select-learner" method="post">

                <div class="govuk-form-group">
                    <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                        Search for a learner
                    </label>

                    <div id="search-hint" class="govuk-hint moj-search__hint ">
                        You can search by name or national insurance number
                    </div>

                    <input class="govuk-input moj-search__input " id="search" name="learnerInput" type="search"
                        aria-describedby="search-hint" value="{{ data['learnerInput'] }}">

                </div>

                <button class="govuk-button moj-search__button govuk-button--secondary" data-module="govuk-button">
                    Search
                </button>

            </form>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data['learnerInput'] %}
        <h2 class="govuk-heading-m">Search results</h2>
        {% set hasResults = false %}
        {% set addHeader = true %}
        {% for learner in data['learners'] %}
        {% set lowercasedsearch = data['learnerInput'] | lower %}
        {% set lowercasedname = learner.fullName | lower %}
        {% set formattedSearch = data['learnerInput'] | removeSpacesAndLowerCase_V8 %}
        {% set formattedID = learner.id | removeSpacesAndLowerCase_V8 %}
        {% set eligibleCheck = learner | checkEligible_V8(data.claimType, data.roleTypes) %}
        {% if (lowercasedname == lowercasedsearch or learner.id == data['learnerInput'] or lowercasedsearch in
        lowercasedname or formattedSearch in formattedID) and eligibleCheck %}
        {% set hasResults = true %}
        {% if addHeader %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">National Insurance number</th>
                    <th scope="col" class="govuk-table__header">Full name</th>
                    <th scope="col" class="govuk-table__header">Job title</th>
                    <th scope="col" class="govuk-table__header">Role</th>
                    {% if data.claimType == "CPD" %}
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Budget remaining</th>
                    {% endif %}
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% set addHeader = false %}
                {% endif %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{ learner.id }}</th>
                    <td class="govuk-table__cell">{{ claim.learner.givenName }} {{ claim.learner.familyName }}</td>
                    <td class="govuk-table__cell">{{ learner.jobTitle }}</td>
                    <td class="govuk-table__cell">{{ learner.roleType }}</td>
                    {% if data.claimType == "CPD" %}
                    <th scope="col" class="govuk-table__cell govuk-table__cell--numeric">£400</th>
                    {% endif %}
                    <td class="govuk-table__cell">
                        {% if eligibleCheck %}
                        <form method="post" action="../add-learner" class="govuk-!-margin-0">
                            <input type="hidden" name="learnerSelection" value="{{ learner.id }}">
                            <button type="submit" class="govuk-button">Add to claim</button>
                        </form>
                        {% elif not eligibleCheck %}
                        <p class="govuk-body">Not eligible for {{ data.claimType | potName_V8 }}<br><a href="#"
                                class="govuk-link">What does this mean?</a></p>
                        {% else %}
                        <p class="govuk-body">Error checking eligibility</p>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}


                {% if hasResults %}
            </tbody>
        </table>
        <form action="../learner/add-learner?inClaim=true" method="post">
            <p class="govuk-body">If you can't find the member of staff this may mean they do not exist in the service
                or they are not eligible for this funding pot.</p>
            <button class="govuk-button govuk-button--secondary">Add new learner</button>
        </form>
        {% else %}
        <form action="../learner/add-learner?inClaim=true" method="post">
            <p class="govuk-body">
                No matches returned for your search: <q>{{ data['learnerInput'] }}"</q>.
            </p>
            <p class="govuk-body">This may mean they do not exist in the service or they are not eligible for this
                funding pot.</p>
            <button class="govuk-button govuk-button--secondary">Add new learner</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}