{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V11(data.claims) %}

{% if claim.claimType == "60" %}
{% set pairClaim = claim.claimID | findPair_V11(data.claims) %}
{% elif claim.claimType == "40" %}
{% set pairClaim = claim %}
{% set claim = pairClaim.claimID | findPair_V11(data.claims) %}
{% endif %}

{% block pageTitle %}
{{ ["Claim: ", claim.claimID, " - ", (claim.fundingType | potName_V11)] | join }}
{% endblock %}

{% block beforeContent %}
{% if not (claim.status == "new") %}
<a href="../manage-claims?statusID={{ data.statusID }}" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}
    {% include "../_components/claim-sections/errorCatch.html" %}
    {% endif %}
    <span class="govuk-caption-xl">{{ claim.fundingType | potName_V11 }}</span>
    <h1 class="govuk-heading-xl">
      {% if (claim.fundingType == "TU" and claim.claimType == "100") or (claim.fundingType == "CPD") %}
        Claim: {{ claim.claimID }}
      {% else %}
        Combined claim: {{ claim.claimID | removeClaimSuffix_V11 }}
      {% endif %}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if claim.fundingType == "TU" and claim.claimType != "100" %}
    <p class="govuk-body">This is a combined claim using the 60/40 funding model. 60% of reimbursement is upfront after payment and 40% is on training completion.</p>
    {% elif claim.fundingType == "TU" and claim.claimType == "100"  %}
    <p class="govuk-body">100 claims have a single reimbursement on training completion.</p>
    {% endif %}

    {% if (claim.fundingType == "TU" and claim.claimType == "100") or claim.fundingType == "CPD" %}

    <p class="govuk-body">This {{ claim.claimType | typeTag_V11 }} claim is {{ claim.status | statusTag_V11(data.statuses) }}</p>

    {% if claim.fundingType == "CPD" and (claim.status == "not-yet-submitted" or claim.status == "new") %}
    <p class="govuk-body">Claims must each be for a single revalidation activity. Claims for multiple activities will be rejected. Start a separate claim for each activity.</p>
    {% elif claim.status == "rejected" %}
    <h2 class="govuk-heading-s">Rejection note</h2>
    <p class="govuk-body">{{claim.rejectedNote}}</p>
    {% endif %}

    {% elif claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}

    <p class="govuk-body">The {{ "60" | typeTag_V11 }} part of this claim is {{ claim.status | statusTag_V11(data.statuses) }}</p>

    <p class="govuk-body">The {{ "40" | typeTag_V11 }} part of this claim {% if pairClaim != null %}is {{ pairClaim.status | statusTag_V11(data.statuses) }} {% elif claim.status =="rejected" %}therefore cannot be started.{% else %}cannot be started until the 60 part is approved.{% endif %}</p>

    {% if claim.status == "rejected" %}
    <h2 class="govuk-heading-s">Rejection note</h2>
    <p class="govuk-body">{{claim.rejectedNote}}</p>
    {% endif %}

    {% if pairClaim.status == "rejected" %}
    <h2 class="govuk-heading-s">Rejection note</h2>
    <p class="govuk-body">{{pairClaim.rejectedNote}}</p>
    {% endif %}

    {% endif %}

    {% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
    <div class="content-container">
      <div class="vertical-line-container">
        <div class="circle">
          <span class="govuk-heading-s section-number">1</span>
        </div>
        <div class="vertical-line"></div>
      </div>
      <div class="content"> 
        <h2 class="govuk-heading-l">Complete the 60 part</h2>
        <p class="govuk-body">Claim reference for the 60 part: {{ claim.claimID }}</p>
        {% endif %}

  {% if claim.fundingType == "TU" %}
    {% include "../_components/claim-sections/training.html" %}
  {% elif claim.fundingType == "CPD" %}
    {% include "../_components/claim-sections/activity.html" %}
  {% endif %}

    {% include "../_components/claim-sections/learner.html" %}

    {% include "../_components/claim-sections/evidencePayment.html" %}

    {% if (claim.status == "new" or claim.status == "not-yet-submitted") and claim.claimType == "60" %}
    {% include "../_components/claim-sections/cta-section.html" %}
    {% endif %}
    
    {% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
  </div>
</div>
{% endif %}

{% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
    <div class="content-container govuk-!-padding-bottom-6">
      <div class="vertical-line-container">
        <div class="circle">
          <span class="govuk-heading-s section-number">2</span>
        </div>
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
      </div>
      <div class="content">
        <h2 class="govuk-heading-l">Complete the 40 part</h2>

        {% if ((claim.claimType == "60" and ((pairClaim.status != null))))  %}
          <p class="govuk-body">Claim reference for the 40 part: {{ claim.claimID.slice(0, -1) + "C" }}</p>
        {% endif %}

        {% if pairClaim == null and claim.claimType == "60" %}
        {% if claim.status != "rejected" %}
        <p class="govuk-body"><span class="govuk-caption-m">This part cannot be started until the 60 part is approved.</span></p>
        {% elif claim.status == "rejected" %}
        <p class="govuk-body"><span class="govuk-caption-m">The 60 part was rejected therefore the 40 part cannot be started.</span></p>
        {% endif %}
        {% endif %}
        {% endif %}


    {% if claim.fundingType == "TU" %}
    {% include "../_components/claim-sections/evidenceCompletion.html" %}
    {% endif %}

    {% if ((claim.status == "new" or claim.status == "not-yet-submitted" or pairClaim.status == "new" or pairClaim.status == "not-yet-submitted") and (claim.claimType == "100" or claim.fundingType == "CPD" or pairClaim.claimType == "40"))  %}
    {% include "../_components/claim-sections/cta-section.html" %}
    {% endif %}

    {% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
  </div>
</div>
{% endif %}

  </div>
  <div class="govuk-grid-column-one-third">
    {% if (data.fundingPot == "TU") %}
      {% include "../_components/claim-sections/claimAmount.html" %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% else %}
      {% include "../_components/claim-sections/cpdClaimAmount.html" %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}
    <h2 class="govuk-heading-m">Related content</h2>
    {% if data.fundingPot == "TU" %}
      <p class="govuk-body"><a href="../guidance/help-start-tu-claim" class="govuk-link">Help with starting a new care skills
          claim</a></p>
      <p class="govuk-body"><a href="../guidance/tu-evidence-requirements" class="govuk-link">Help with care skills evidence
          requirements</a></p>
      {% elif data.fundingPot == "CPD" %}
        <p class="govuk-body"><a href="../guidance/help-start-cpd-claim" class="govuk-link">Help with starting a new revalidation claim</a></p>
        <p class="govuk-body"><a href="../guidance/cpd-evidence-requirements" class="govuk-link">Help with revalidation evidence requirements</a></p>
      {% endif %}
  </div>
</div>
{% endblock %}