{% extends "../layouts/claims-main.html" %}
{% set claim = null %}
{% for c in data.claims %}
{% if c.claimID == data.id %}
{% set claim = c %}
{% endif %}
{% endfor %}

{% block pageTitle %}
{{ ["Add new learner - ", serviceName] | join }}
{% endblock %}


{% block beforeContent %}
<a href="../claim/select-learner?submitErrorOne" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.submitErrorOne != null and data.submitErrorOne %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#check-error">Select whether the learner is registered with the NMC or HCPC</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <form action="../cpd-eligibility?question=one" method="post" novalidate>
      <div
        class="govuk-form-group {% if data.submitErrorOne != null and data.submitErrorOne %} govuk-form-group--error {% endif %}">
        <fieldset class=" govuk-fieldset" aria-describedby="isACourse-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Claim: {{ claim.claimID }}</span>
          <h1 class="govuk-fieldset__heading">
            Is the learner registered with a professional body?
          </h1>
        </legend>
        <p class="govuk-body">Select whether the learner is registered with the:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Nursing and Midwifery Council (NMC) or</li>
          <li>Health & Care Professions Council (HCPC)</li>
        </ul>
        {% if data.submitErrorOne != null and data.submitErrorOne %}
        <p id="check-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Select whether the learner is registered with the NMC or HCPC
        </p>
        {% endif %}
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-one" name="eligibilityCheckOne" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="question-one">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-one-2" name="eligibilityCheckOne" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="question-one-2">
              No
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-one-3" name="eligibilityCheckOne" type="radio" value="unsure">
            <label class="govuk-label govuk-radios__label" for="question-one-3">
              Not sure
            </label>
          </div>
        </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}