{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V11(data.claims) %}

{% block pageTitle %}
{{ ["Learner ineligible - Claim: ", data.id] | join }}
{% endblock %}

{% block beforeContent %}
    {% if data.question != null and data.question == "one" %}
        <a href="../claim/cpd-eligibility-check-one" class="govuk-back-link">Back</a>
    {% elif data.question != null and data.question == "two" %}
        <a href="../claim/cpd-eligibility-check-two" class="govuk-back-link">Back</a>
    {% elif data.question != null and data.question == "three" %}
        <a href="../claim/cpd-eligibility-check-three" class="govuk-back-link">Back</a>                
    {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID | removeClaimSuffix_V11 }}</span>
        <h1 class="govuk-heading-l">Unsure if learner is eligible for this funding</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                {% if data.question != null and data.question == "one" %}
                    Unsure if this learner is registered with the NMC or HCPC?
                {% elif data.question != null and data.question == "two" %}
                    Unsure if the learner has one of the required registered roles?
                {% elif data.question != null and data.question == "three" %}
                    Unsure if the learner employed in their capacity as a registered professional
                {% endif %}
            </strong>
        </div>

        <p class="govuk-body">You cannot claim revalidation funding for an activity for a ineligible learner. You will need to go and find out this answer then come back to claim if learner is eligible.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a type="submit" class="govuk-button" href="../clear-learner">
            Go back to claim
        </a>
    </div>
</div>

{% endblock %}