{% extends "../layouts/claims-main.html" %}
{% set claim = null %}
{% for c in data.claims %}
{% if c.claimID == data.id %}
{% set claim = c %}
{% endif %}
{% endfor %}

{% block pageTitle %}
{{ ["Add new learner - ", serviceName] | join }}
{% endblock %}


{% block beforeContent %}
<a href="../claim/cpd-eligibility-check-two?submitErrorThree" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.submitErrorThree != null and data.submitErrorThree %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#check-error">Select whether the learner is employed in their capacity as a registered professional</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <form action="../cpd-eligibility?question=three" method="post" novalidate>
      <div
        class="govuk-form-group {% if data.submitErrorThree != null and data.submitErrorThree %} govuk-form-group--error {% endif %}">
        <fieldset class=" govuk-fieldset" aria-describedby="isACourse-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Claim: {{ claim.claimID }}</span>
          <h1 class="govuk-fieldset__heading">
            Is the learner employed in their capacity as a registered professional?
          </h1>
        </legend>
        <p class="govuk-body">This means that they that can only do their role because they are a registered professional and would not otherwise have been employed.</p>
        {% if data.submitErrorThree != null and data.submitErrorThree %}
        <p id="check-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Select whether the learner is employed in their capacity as a registered professional
        </p>
        {% endif %}
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-three" name="eligibilityCheckThree" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="question-three">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-three-2" name="eligibilityCheckThree" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="question-three-2">
              No
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question-three-3" name="eligibilityCheckThree" type="radio" value="unsure">
            <label class="govuk-label govuk-radios__label" for="question-three-3">
              Not sure
            </label>
          </div>
        </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}