{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V11(data.claims) %}

{% block pageTitle %}
{{ ["Duplicate claim - Claim: ", data.id] | join }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID | removeClaimSuffix_V11 }}</span>
        <h1 class="govuk-heading-l">The learner has no budget left to make this claim</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The budget for this learner has already been spent.
            </strong>
        </div>
        <p class="govuk-body">You are unable to make this claim as the learner has no budget left for revalidation funding.</p>
        <br/>
        <p class="govuk-body">This assumes that any claims currently being processed will be approved. If any such claims are rejected, you will then be able to make further claims for this learner.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a type="submit" class="govuk-button" href="claim-details?id={{data.id}}">
            Go back to claim
        </a>
    </div>
</div>

{% endblock %}