{% extends "../_layouts/processing-main.html" %}

{% set foundOrganisation = data.organisations | findOrg(data.orgId) %}

{% if data.SROChange == 'edit' %}
    {% set givenName = foundOrganisation.signatory.active.givenName %}
    {% set familyName = foundOrganisation.signatory.active.familyName  %}
    {% set email = foundOrganisation.signatory.active.email %}
{% endif %}

{% block pageTitle %}
{% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid %}Error: {% endif %}{% if data.SROChange == 'edit' %}Edit {% else %}New {% endif %} SRO — {{data.processingServiceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {{ data.submitError | signatoryErrorMessage }}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}

        {% if data.SROChange == 'edit' %}
        <h1 class="govuk-heading-l">Edit SRO</h1>
        <p class="govuk-body">Use this page to edit the existing SRO.</p>
        {% else %}
        <h1 class="govuk-heading-l">Add new SRO</h1>
        <p class="govuk-body">Use this page to add the new SRO's details.</p>
        {% endif %}
        <form action="../signatory-change-handler" method="post" novalidate>
            <div
                class="govuk-form-group {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.familyName == 'missing' %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="familyName" aria-describedby="full-name-hint">
                    Last (family) name
                </label>
                <div id="role-type-hint" class="govuk-hint">
                    The last (family) name of the SRO
                </div>
                {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid and
                data.submitError.familyName == 'missing' %}
                <p id="familyName-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter a last (family) name
                </p>
                {% endif %}
                <input
                    class="govuk-input {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.familyName == 'missing' %} govuk-input--error {% endif %}"
                    id="familyName" name="familyName" type="text" spellcheck="false" autocomplete="name"
                    value="{{data.familyName | default(familyName)}}">
            </div>
            <div
                class="govuk-form-group {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.givenName == 'missing' %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="givenName" aria-describedby="full-name-hint">
                    First (given) name
                </label>
                <div id="role-type-hint" class="govuk-hint">
                    The first (given) name of the SRO
                </div>
                {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid and
                data.submitError.givenName
                == 'missing' %}
                <p id="givenName-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter a first (given) name
                </p>
                {% endif %}
                <input
                    class="govuk-input {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.givenName == 'missing' %} govuk-input--error {% endif %}"
                    id="givenName" name="givenName" type="text" spellcheck="false" autocomplete="name"
                    value="{{data.givenName | default(givenName)}}">
            </div>
            <div
                class="govuk-form-group {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <div id="email-hint" class="govuk-hint">
                    We’ll send the invite to this address
                </div>
                {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid and
                (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %}
                <p id="email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> 
                    {% if data.submitError.email == 'missing' %}
                        Enter an email address
                    {% elif data.submitError.email == 'invalid' %}
                        Enter an email address in the correct format, like name@example.com
                    {% endif %}
                </p>
                {% endif %}
                <input
                    class="govuk-input {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-input--error  {% endif %}"
                    id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint"
                    autocomplete="email" value="{{data.email | default(email)}}">
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a class="govuk-link" href="../organisation/org-view-main?orgTab=users">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}