{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V13(data.claims) %}

{% if claim.claimType == "60" %}
  {% set pairClaim = claim.claimID | findPair_V13(data.claims) %}
{% elif claim.claimType == "40" %}
  {% set pairClaim = claim %}
  {% set claim = pairClaim.claimID | findPair_V13(data.claims) %}
{% endif %}

{% block pageTitle %}
{% if (claim.fundingType == "TU" and claim.claimType == "100") %}
{{ ["Claim: ", claim.claimID, " — ", serviceName, " — GOV.UK"] | join }}
{% else %}
{{ ["Combined claim: ", claim.claimID | removeClaimSuffix_V13, " — ", serviceName, " — GOV.UK"] | join }}
{% endif %}
{% endblock %}

{% block beforeContent %}

  {% if (data.fromSearchResults) %}
    <a href="search-version-{{data.searchType}}" class="govuk-back-link">Back</a>
  {% elif (data.fromSearchId) %}
    <a href="../manage-claims-home?searchId=" class="govuk-back-link">Back</a>
  {% elif not (claim.status == "new") %}
    <a href="../manage-claims?statusID={{ data.statusID }}" class="govuk-back-link">Back</a>
  {% endif %} 
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}
    {% include "../_components/claim-sections/errorCatch.html" %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      {% if (claim.fundingType == "TU" and claim.claimType == "100") %}
        Claim: {{ claim.claimID }}
      {% else %}
        Combined claim: {{ claim.claimID | removeClaimSuffix_V13 }}
      {% endif %}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if claim.fundingType == "TU" and claim.claimType != "100" %}
    <p class="govuk-body">This is a combined claim using the 60/40 funding model. 60% of reimbursement is upfront after payment and 40% is on training completion.</p>
    {% elif claim.fundingType == "TU" and claim.claimType == "100"  %}
    <p class="govuk-body">100 claims have a single reimbursement on training completion.</p>
    {% endif %}

    {% if (claim.fundingType == "TU" and claim.claimType == "100") %}

      <p class="govuk-body">This {{ claim.claimType | typeTag_V13 }} claim is {{ claim.status | statusTag_V13(data.statuses) }}</p>

      {% if claim.status == "rejected" %}
      <h2 class="govuk-heading-s">Rejection note</h2>
      <p class="govuk-body">{{claim.rejectedNote}}</p>
      {% endif %}

    {% elif claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}

      <p class="govuk-body">The {{ "60" | typeTag_V13 }} part of this claim is {{ claim.status | statusTag_V13(data.statuses) }}</p>

      <p class="govuk-body">The {{ "40" | typeTag_V13 }} part of this claim {% if pairClaim != null %}is {{ pairClaim.status | statusTag_V13(data.statuses) }} {% elif claim.status =="rejected" %}therefore cannot be started.{% else %}cannot be started until the 60 part is approved.{% endif %}</p>

      {% if claim.status == "rejected" %}
      <h2 class="govuk-heading-s">Rejection note</h2>
      <p class="govuk-body">{{claim.rejectedNote}}</p>
      {% endif %}

      {% if pairClaim.status == "rejected" %}
      <h2 class="govuk-heading-s">Rejection note</h2>
      <p class="govuk-body">{{pairClaim.rejectedNote}}</p>
      {% endif %}

    {% endif %}

    {% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
    <div class="content-container">
      <div class="vertical-line-container">
        <div class="circle">
          <span class="govuk-heading-s section-number">1</span>
        </div>
        <div class="vertical-line"></div>
      </div>
      <div class="content"> 
        <h2 class="govuk-heading-l">Complete the 60 part</h2>
        <p class="govuk-body">Claim reference for the 60 part: {{ claim.claimID }}</p>
    {% endif %}


    {% include "../_components/claim-sections/training.html" %}

    {% include "../_components/claim-sections/learner.html" %}

    {% include "../_components/claim-sections/evidencePayment.html" %}

    {% if (claim.status == "new" or claim.status == "not-yet-submitted") and claim.claimType == "60" %}
      {% include "../_components/claim-sections/cta-section.html" %}
    {% endif %}
    
    {% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
  </div>
</div>
{% endif %}

{% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
    <div class="content-container govuk-!-padding-bottom-6">
      <div class="vertical-line-container">
        <div class="circle">
          <span class="govuk-heading-s section-number">2</span>
        </div>
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
      </div>
      <div class="content">
        <h2 class="govuk-heading-l">Complete the 40 part</h2>

        {% if ((claim.claimType == "60" and ((pairClaim.status != null))))  %}
          <p class="govuk-body">Claim reference for the 40 part: {{ claim.claimID.slice(0, -1) + "C" }}</p>
        {% endif %}

        {% if pairClaim == null and claim.claimType == "60" %}
        {% if claim.status != "rejected" %}
        <p class="govuk-body"><span class="govuk-caption-m">This part cannot be started until the 60 part is approved.</span></p>
        {% elif claim.status == "rejected" %}
        <p class="govuk-body"><span class="govuk-caption-m">The 60 part was rejected therefore the 40 part cannot be started.</span></p>
        {% endif %}
        {% endif %}
        {% endif %}

    {% include "../_components/claim-sections/evidenceCompletion.html" %}

    {% if ((claim.status == "new" or claim.status == "not-yet-submitted" or pairClaim.status == "new" or pairClaim.status == "not-yet-submitted") and (claim.claimType == "100" or pairClaim.claimType == "40"))  %}
    {% include "../_components/claim-sections/cta-section.html" %}
    {% endif %}

    {% if claim.fundingType == "TU" and (claim.claimType == "60" or claim.claimType == "40") %}
  </div>
</div>
{% endif %}

  </div>
  <div class="govuk-grid-column-one-third">

    {% include "../_components/claim-sections/claimAmount.html" %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Related content</h2>

      <p class="govuk-body"><a href="../guidance/help-start-tu-claim" class="govuk-link">Help with starting a new claim</a></p>
      <p class="govuk-body"><a href="../guidance/tu-evidence-requirements" class="govuk-link">Help with evidence requirements</a></p>

  </div>
</div>
{% endblock %}