{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V13(data.claims) %}

{% block pageTitle %}
Duplicate claim - Claim: {{data.id}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">You cannot claim for this learner and training</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                If you think this is a mistake, you might have entered the wrong training or learner on the claim.
            </strong>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a type="submit" class="govuk-button" href="claim-details?id={{data.id}}">
            Go back to claim
        </a>
    </div>
</div>

{% endblock %}