{% extends "../layouts/claims-main.html" %}

{% set matchedClaims = data.claims | claimsMatchAdvancedSearchA_V13(data.trainingName, data.learner) %}
{% set resultCount = matchedClaims.length %}

{% block pageTitle %}
{{ ["Search results - ", (data.fundingPot | potName_V13)] | join }}
{% endblock %}

{% block beforeContent %}
<a href="../manage-claims-home?fundingPot=TU&noInputsA&trainingName&learner" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

{% if data.noInputsA %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#input-error">
                You need to enter something to search on
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="{% if data.noInputsA %}govuk-form-group--error{% endif %} govuk-!-padding-bottom-4">
      <span class="govuk-caption-l">{{ data.fundingPot | potName_V13 }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Advanced search</h2>
        <p class="govuk-body">You can search by either learner, or course or qualification name, or a combination of
          both</p>
        {% if data.noInputsA %}
        <p id="input-error" class="govuk-error-message govuk-!-margin-bottom-6">
          <span class="govuk-visually-hidden">Error:</span> You need to enter something to search on
        </p>
        {% endif %}
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search_result_a_V13" method="post" class="form">
      <div class="{% if data.noInputsA %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-6">

        <div class="govuk-form-group ">
          <label class="govuk-label" for="learner">
            <strong>Learner</strong>
          </label>
          <div id="learner-name-hint" class="govuk-hint">
            Enter all or part of the name, or the whole National Insurance number
          </div>
          <input class="govuk-input govuk-input--width-20" id="learner" name="learner" type="text"
            value="{{ data.learner | default ('') }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="trainingName">
            <strong>Course or qualification name</strong>
          </label>
          <div id="course-name-hint" class="govuk-hint">
            Enter all or part of the name
          </div>
          <input class="govuk-input govuk-input--width-20" id="trainingName" name="trainingName" type="text"
            value="{{ data.trainingName | default ('') }}">
        </div>

      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Search
      </button>
    </form>
  </div>
</div>

{% if (data['trainingName'] or data['learner']) and (resultCount != 0) %}
<div class="govuk-grid-row" id="searchResults">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Search results</h2>
    <p class="govuk-heading-m">{{ resultCount }} {% if resultCount == 1 %}result{% else %}results{% endif %}</p>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col" width="20%" aria-sort="none">Claim reference</th>
          <th class="govuk-table__header" scope="col" width="3%" aria-sort="none">Type</th>
          <th class="govuk-table__header" scope="col" width="26%" aria-sort="none">Training</th>
          <th class="govuk-table__header" scope="col" width="22%" aria-sort="none">Learner</th>
          <th class="govuk-table__header" scope="col" width="18%" aria-sort="descending">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for claim in matchedClaims %}
        <tr class="govuk-table__row claim-row" id="{{ claim.claimID }}">
          <td class="govuk-table__header" scope="row"><a class="govuk-link"
              href="claim-details?id={{ claim.claimID }}">{{ claim.claimID }}</a> </td>
          <td class="govuk-table__cell">{{ claim.claimType | typeTag_V13 }}</td>
          <td class="govuk-table__cell">{{ claim.training.title }}</td>
          <td class="govuk-table__cell">{{ claim.learner.givenName }} {{ claim.learner.familyName }}</td>
          <td class="govuk-table__cell" data-sort-value="{{ claim.status }}">{{ claim.status |
            statusTag_V13(data.statuses) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if (resultCount > 10) %}
      <nav class="govuk-pagination" aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">
              Previous<span class="govuk-visually-hidden"> page</span>
            </span>
          </a>
        </div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
              1
            </a>
          </li>
          {% if (resultCount > 10) %}
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
              2
            </a>
          </li>
          {% endif %}
          {% if (resultCount > 20) %}
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
              3
            </a>
          </li>
          {% endif %}
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next">
            <span class="govuk-pagination__link-title">
              Next<span class="govuk-visually-hidden"> page</span>
            </span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        </div>
      </nav>
    {% endif %}
  </div>
</div>
{% elif (data['trainingName'] or data['learner']) and (resultCount == 0) %}
<div class="govuk-grid-row" id="searchResults">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      No matches returned for your search.
    </p>
    <p class="govuk-body">
      Improve your search results by:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>double-checking your spelling</li>
      <li>searching for something less specific</li>
    </ul>
  </div>
</div>
{% endif %}



{% endblock %}