{% extends "../layouts/claims-main.html" %}

{% set matchedClaimsWithoutFilter = data.claims | claimsMatchSearchWithoutFilter_V13(data.search) %}

{% set selectedStatusFilters = (data.status | statusArray_V13) %}
{% set selectedDateFilters = (data.startDate | startDateArray_V13) %}
{% set selectedTypeFilters = (data.type | typeArray_V13) %}


{% set filteredClaims = matchedClaimsWithoutFilter | filteredClaims_V13(selectedStatusFilters, selectedDateFilters, selectedTypeFilters) %}

{% set resultCount = filteredClaims.length %}


{% block pageTitle %}
{{ ["Search results - ", (data.fundingPot | potName_V13)] | join }}
{% endblock %}

{% block beforeContent %}
<a href="../manage-claims-home?fundingPot=TU" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div>
  <div>
    {% if data.noInputs %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#jobTitle">
                Need some value to search against? or will give a list of everything?
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ data.fundingPot | potName_V13 }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Advanced search for claim</h2>
      <p class="govuk-body">Each search is optional, add values for the categories you wish to search by</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="../advanced-search" method="post" class="form">
    <div class="govuk-form-group">
      <label class="govuk-label" for="training">
        <strong>Course or qualification name</strong>
      </label>
      <div id="course-name-hint" class="govuk-hint">
        Enter keyword
      </div>
      <input class="govuk-input govuk-input--width-20" id="training" name="training" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="learner">
        <strong>Learner</strong>
      </label>
      <div id="learner-name-hint" class="govuk-hint">
        Enter first or last name, or both, or national insurance?
      </div>
      <input class="govuk-input govuk-input--width-20" id="learner" name="learner" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="learner">
        <strong>Submitter name</strong>
      </label>
      <div id="learner-name-hint" class="govuk-hint">
        Enter first or last name, or both
      </div>
      <input class="govuk-input govuk-input--width-20" id="learner" name="learner" type="text">
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="status-hint">
        <label class="govuk-label" for="status">
          <strong>Status</strong>
        </label>
        <div id="wastatusste-hint" class="govuk-hint">
          Select all that apply.
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="not-yet-submitted" name="status-options" type="checkbox" value="not-yet-submitted">
            <label class="govuk-label govuk-checkboxes__label" for="not-yet-submitted">
             Not yet submitted
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="submitted" name="status-options" type="checkbox" value="submitted">
            <label class="govuk-label govuk-checkboxes__label" for="submitted">
              Submitted
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="approved" name="status-options" type="checkbox" value="approved">
            <label class="govuk-label govuk-checkboxes__label" for="approved">
              Approved
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="rejected" name="status-options" type="checkbox" value="rejected">
            <label class="govuk-label govuk-checkboxes__label" for="rejected">
              Rejected
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="type-hint">
        <label class="govuk-label" for="type">
          <strong>Type</strong>
        </label>
        <div id="type-hint" class="govuk-hint">
          Select all that apply.
        </div>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="100" name="type-options" type="checkbox" value="100">
            <label class="govuk-label govuk-checkboxes__label" for="100">
             100
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="60" name="type-options" type="checkbox" value="60">
            <label class="govuk-label govuk-checkboxes__label" for="60">
              60
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="40" name="type-options" type="checkbox" value="40">
            <label class="govuk-label govuk-checkboxes__label" for="40">
              40
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="type">
        <strong>Date range</strong>
      </label>
        <div id="learner-name-hint" class="govuk-hint">
          Select what type of dates you want to search and the dates you wish to search between
        </div>

        <div style="display: flex;">
          <div class="govuk-form-group govuk-!-margin-right-2">
            <label class="govuk-label" for="sort">
              Type of date
            </label>
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">Created on</option>
              <option value="updated" selected>Submitted on</option>
              <option value="views">Approved on</option>
              <option value="comments">Rejected on</option>
            </select>
          </div>

          <div>
            <div id="learner-name-hint" class="govuk-hint govuk-!-margin-bottom-1">
              Month
            </div>
            <input class="govuk-input govuk-input--width-5 govuk-!-margin-right-3" id="type" name="type" type="text">
          </div>
          <div>
            <div id="learner-name-hint" class="govuk-hint govuk-!-margin-bottom-1">
              Year
            </div>
            <input class="govuk-input govuk-input--width-5" id="type" name="type" type="text">
          
          </div>

          <p class="govuk-body govuk-!-margin-right-2 govuk-!-margin-left-2 govuk-!-padding-top-7">to</p>

          <div>
            <div id="learner-name-hint" class="govuk-hint govuk-!-margin-bottom-1">
              Month
            </div>
            <input class="govuk-input govuk-input--width-5 govuk-!-margin-right-3" id="type" name="type" type="text">
          </div>
          <div>
            <div id="learner-name-hint" class="govuk-hint govuk-!-margin-bottom-1">
              Year
            </div>
            <input class="govuk-input govuk-input--width-5" id="type" name="type" type="text">
          </div>

        </div>

    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Apply search
    </button>

  </form>
    
  </div>
</div>

{% endblock %}