{% extends "../layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Help with starting a new claim</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">
            Completing a claim effectively will help to ensure you get reimbursement from the NHS Business Services Authority (NHSBSA) as quickly as possible. This guidance will help you to do that.
        </p>

        <h2 class="govuk-heading-m">Quick overview</h2>
        <p class="govuk-body">
            Watch this short video to see how to quickly fill in a new claim.
        </p>

        <style>.embed-container {
            position: relative;
            padding-bottom: 56.25%;
            margin: 28px 0;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }
        
        .embed-container iframe, .embed-container object, .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        </style>
        
        <div class='embed-container'>
          <iframe allowfullscreen frameborder='0' src='https://www.youtube-nocookie.com/embed/aQ2lo6Oxpz0'></iframe>
        </div>
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Video transcript: Starting a new claim
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">It’s easy to start a new claim for a course or qualification. Just click on the ‘start a new claim’ button in the top right of the ‘manage claims’ screen.</p>
            

            <p class="govuk-body">A claim has to be for a single instance of a course or qualification but it can include multiple people. The people who completed the activity are called learners.</p>

            <p class="govuk-body">You can add information to the claim in whatever order is best for you - you don’t need to start at the top of the screen. For this example, though, that’s what we’ll do.</p>

            <p class="govuk-body">Select the course. You can search by course name or code. If you search by just part of the name you might get lots of results. Click ‘add to claim’ to select the appropriate one.</p>

            <p class="govuk-body">If you’ve made a mistake you can always click on ‘change’ to select something else.</p>

            <p class="govuk-body">Add the start date, which is the date that the course took place on or started on.</p>

            <p class="govuk-body">Click ‘add learner’ to add the first person. Search by name or national insurance number to see if they’re already on the system. If they are, it’s easy to add them to the claim by clicking ‘add to claim’.</p>

            <p class="govuk-body">You can then add as many additional learners as you need to by clicking ‘add another learner’ at the bottom of the list.</p>

            <p class="govuk-body">If a learner isn’t already in the system, you can add them. Fill in the new learner details and click ‘save and add to claim’.</p>

            <p class="govuk-body">In order to work out how much money you’ll get back for the claim you need to enter the cost per learner. You might need to work this out by dividing the total cost by the number of learners.</p>

            <p class="govuk-body">At any point you can click ‘save and finish later’ to save your progress so far. You can find your saved claims in the ‘incomplete’ tab on the ‘manage claims’ screen.</p>

            <p class="govuk-body">If you have the evidence of payment you can add that now. This would be the invoice showing your payment to the training provider. If you don’t have this digitally you will need to scan it or take a photo of it.</p>

            <p class="govuk-body">A claim can only include one evidence of payment so if you have several invoices relating to the same activity, you’ll need to submit one claim for each invoice.</p>

            <p class="govuk-body">Once you are happy with all the information on the claim, you can click ‘submit claim’ to send it on to the NHS Business Services Authority processing team.</p>

            <p class="govuk-body">When you do this the claim will move from the ‘incomplete’ to the ‘submitted’ tab on the ‘manage claims’ screen so you can still find it easily.</p>

          </div>
        </details>


        <h2 class="govuk-heading-m">What is a claim?</h2>
        <p class="govuk-body">
            A claim is made up of:
            <ul class="govuk-list govuk-list--bullet">
                <li>an activity - the course or qualification</li>
                <li>one or more learners - the people associated with the activity, for example who completed the course</li>
                <li>the date the activity took place or started</li>
                <li>the cost of the activity</li>
                <li>evidence that you paid for the activity and that the learners completed it</li>
            </ul>
        </p>
        <p class="govuk-body">
            A claim cannot consist of more than one activity. So if one person completed several courses, for example, you would need to submit a separate claim for each course.
        </p>
        <p class="govuk-body">
            You can only provide one piece of evidence of payment for a claim. So, for example, if you paid for a course in 2 separate invoices you would need to submit 2 claims, one for each invoice. 
        </p>

        <h2 class="govuk-heading-m">Filling in claim information</h2>
        <p class="govuk-body">
            You can fill in the information in any order you want. You do not need to complete it all in one go. 
        </p>
        <h2 class="govuk-heading-s">Name</h2>
        <p class="govuk-body">
            This is the name of the course or qualification from the approved list. You can search the list by course name or code. Browse the list of <a href="./guidance/eligibility-a" class="govuk-link">eligible courses and qualifications</a>.
        </p>
        <h2 class="govuk-heading-s">Start date</h2>
        <p class="govuk-body">
            This is the date that the course took place. For longer courses and qualifications it's the date it started.
        </p>
        <h2 class="govuk-heading-s">Learners</h2>
        <p class="govuk-body">
            You'll need to add at least one learner to the claim. You can search for learners who have already been added to the system. If the learner does not already exist you can enter their details.
        </p>
        <p class="govuk-body">
            Once you've added a learner you can add evidence that they completed the course or qualification. This should be their certificate from the training provider. If you don't have this electronically you'll need to scan or photograph the physical copy.
        </p>
        <h2 class="govuk-heading-s">Cost</h2>
        <p class="govuk-body">
            Entering the cost per learner allows the system to calculate how much money will be reimbursed to you.
        </p>
        <p class="govuk-body">
            You'll also need to add evidence that you've paid for the course or qualification. This would usually be the invoice from the training provider.
        </p>
        <h2 class="govuk-heading-s">Supporting notes</h2>
        <p class="govuk-body">
            These are notes to the NHSBSA processing team. Adding notes can be helpful to explain anything unusual about the claim. This can help to prevent delays in getting payment to you.
        </p>
        <h2 class="govuk-heading-s">Saving or submitting</h2>
        <p class="govuk-body">
            If there's still information to add another time, press 'save and finish later'. The claim will be saved to the 'Incomplete' tab on the 'Manage claims' screen.
        </p>
        <p class="govuk-body">
            If you've finished adding everything to you need to the claim you can press 'Submit claim' to send it to the NHSBSA processing team. You'll get an error message if anything is missing. Otherwise the claim will move to the 'Submitted' tab on the 'Manage claims' screen and you will no longer be able to edit it.
        </p>


        <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">  
            <form method="post" action="/v6/new-claim-reset" class="govuk-!-margin-0">
                <button class="govuk-button moj-button-menu__item govuk-button--primary moj-page-header-actions__action" data-module="govuk-button" type="submit">Start a new claim</button>
            </form>
            </div>
          </div>

    </div>
</div>
</div>

{% endblock %}