{% extends "./layouts/claims-main.html" %}

{% block pageTitle %}
{{ ["Manage claims - ", (data.fundingPot | potName_V13)] | join }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="choose-a-claim-type">Home
      </a>
  </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-claims-home?fundingPot=TU&deleteSuccess">Manage claims ({{ data.fundingPot | potName_V13
          }})</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      {% if data.deleteSuccess %}
          <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
          </svg>
          <div class="moj-banner__message">Claim reference {{data.deletedID}} has been successfully deleted</div>
          </div>
      {% endif %}
  </div>
</div>

{% if data.emptyError or data.invalidIDError or data.notFound %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% if (data.emptyError) %}
              <li>
                <a href="#searchClaimId">
                  Enter a claim reference number
                </a>
              </li>
              {% elif (data.invalidIDError) %}
              <li>
                <a href="#searchClaimId">
                  Enter a claim reference number in the correct format
                </a>
              </li>
              {% elif (data.notFound) %}
              <li>
                <a href="#searchClaimId">
                  No match returned for your search: "{{data.searchId}}"
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
          data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              You can only claim for training that started and was paid for on or after 1 April 2024.
            </p>
          </div>
        </div>

    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <span class="govuk-caption-l">{{ data.fundingPot | potName_V13 }}</span>
        <h1 class="govuk-heading-l">Manage claims</h1>
      </div>
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <form method="post" action="/new-claim-v13" class="govuk-!-margin-0">
              <button class="govuk-button moj-button-menu__item govuk-button--primary moj-page-header-actions__action"
                data-module="govuk-button" type="submit">Start a new claim</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="moj-search search__container">
      <form action="/search_id_result_V13" method="post">
        <div class="govuk-form-group {% if data.invalidIDError or data.emptyError or data.notFound %}govuk-form-group--error{% endif %}">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a claim
          </label>
          <div id="search-hint" class="govuk-hint moj-search__hint ">
            Enter a claim reference. This could be with or without the -A, -B or -C suffix.  Examples: H2T-C813-3XF7-C or WR5-R2P4-DSL4
          </div>
          {% if data.invalidIDError %}
                <p id="sortCode-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Enter a claim reference number in the correct format
                </p>
          {% endif %}
          {% if data.emptyError %}
                <p id="sortCode-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>Enter a claim reference number
                </p>
          {% endif %}
          {% if data.notFound%}
                <p id="sortCode-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>No match returned for your search: "{{data.searchId}}" 
                </p>
          {% endif %}
          <input class="govuk-input moj-search__input {% if data.invalidIDError or data.emptyError or data.notFound %} govuk-input--error {% endif %}" id="searchClaimId" name="searchClaimId" type="search"
            aria-describedby="search-hint" value={{data.searchId}}>
        </div>
        <div class="govuk-button-group  search__button-group">
        <button type="submit" class="govuk-button govuk-button--secondary search__button"
          data-module="govuk-button">
          Search
        </button>
        <a class="govuk-link govuk-link--no-visited-state search__button" href="claim/search-version-{{data.searchType}}?emptyError&invalidIDError&notFound&deleteSuccess">Advanced search</a>
        </div>
      </form>
    </div>

    <ul class="homepage-services-and-info__list">
        {% for status in data.statuses %}
        {% set noClaims = status.id | claimCount_V13(data.claims, data.fundingPot) %}
        <li class="chevron-card">
          <div class="chevron-card__wrapper">
              <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                  <a class="govuk-link chevron-card__link" data-track-label="{{ status.id }}" href="manage-claims?statusID={{ status.id }}&emptyError&invalidIDError&notFound&fromSearchId&fromSearchResults&deleteSuccess">{{ status.name }} claims ({{ noClaims }})</a>
              </h3>
              <p class="govuk-body chevron-card__description">{{ status.description }}</p>
          </div>
      </li>
        {% endfor %}
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-m">Related content</h2>
    <p class="govuk-body"><a href="./guidance/help-start-tu-claim" class="govuk-link">Help with starting a new care skills claim</a></p>
    <p class="govuk-body"><a href="./guidance/tu-evidence-requirements" class="govuk-link">Help with care skills evidence requirements</a></p>
  </div>
</div>

{% endblock %}