{% extends "./layouts/main.html" %}

{% block pageTitle %}
Terms of use — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Terms of use</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">
            This end user agreement (EUA) is a legal agreement between you (either an individual or a single entity) and the NHS Business Services Authority (NHSBSA).
        </p>
        <p class="govuk-body">
            NHSBSA grants you the right to access the online service – <strong>Claim for adult social care learning and development (CASCLD)</strong> – if you comply with all terms and conditions of this EUA. The service includes the online website, the data supplied with it, and any associated media, printed materials and electronic documentation.
        </p>

        <h2 class="govuk-heading-m">Definitions</h2>
        <p class="govuk-body">
            <strong>Confidential information</strong> is personal data, financial information and any other information clearly designated as being confidential (whether it is marked as 'confidential' or not) or which ought reasonably to be considered confidential.
        </p>
        <p class="govuk-body">
            <strong>Data breach</strong> means a breach of security which leads to the accidental, wrongful or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to data or information contained within or obtained via the CASCLD service. 
        </p>
        <p class="govuk-body">
            <strong>Personal data</strong> means information relating to people who can be identified (directly or indirectly) from this service. 
        </p>

        <h2 class="govuk-heading-m">User obligations</h2>
        <p class="govuk-body">
            The CASCLD service allows adult social care providers to claim back the costs of learning and development for their staff. You must only use the service for the purposes set out in the scheme guidance.
        </p>
        <p class="govuk-body">
            You are responsible for ensuring the accurate and appropriate use of the service and any reports or data you generate from it. NHSBSA shall not be liable for any losses or damage incurred by inappropriate or inaccurate use of any data provided through the service or reliance upon any inaccurate reports produced by users.
        </p>
        <p class="govuk-body">
            You agree not to make public any information obtained via the service without the prior written consent of the NHSBSA. 
        </p>
        <p class="govuk-body">
            Access to the service is restricted to registered users. You must not share access, passwords, usernames or log on details with anyone else. Keep passwords secure and do not write them down.
        </p>
        <p class="govuk-body">
            Contact NHSBSA if:
            <ul class="govuk-list govuk-list--bullet">
                <li>you no longer need to use the system</li>
                <li>your personal details change</li>
                <li>you no longer meet the terms of this agreement</li>
            </ul>
        </p>
        <p class="govuk-body">
            Your account can then be updated or removed.
        </p>
        <p class="govuk-body">
            You must not access the CASCLD service using an email address which you no longer use, or which has become inactive. Where your email address changes or becomes inactive you must notify NHSBSA as soon as possible.
        </p>
        <p class="govuk-body">
            You are not allowed to access the CASCLD service from outside the UK. NHSBSA reserves the right to restrict access from any non-UK IP addresses.
        </p>
        <p class="govuk-body">
            You agree that NHSBSA has the right to audit your and your employer’s use of the CASCLD service and that you and your employer will provide information and cooperation to NHSBSA upon request.
        </p>
        <p class="govuk-body">
            You agree that NHSBSA has the right to investigate and, if necessary, withdraw access to the CASCLD service where:
            <ul class="govuk-list govuk-list--bullet">
                <li>you have breached or no longer satisfy the terms of this EUA</li>
                <li>any other abuse of the CASCLD service is understood to have occurred</li>
                <li>there has been a data breach</li>
            </ul>
        </p>
        <p class="govuk-body">
            You are responsible for informing NHSBSA if you:
            <ul class="govuk-list govuk-list--bullet">
                <li>have access through the CASCLD service to information you do not consider to be appropriate to your role and ability to use the service</li>
                <li>become aware of a data breach</li>
                <li>consider your organisation's data and security standards and policies are not of the standard of security required by NHS security policies</li>
            </ul>
        </p>
        <p class="govuk-body">
            Make any reports to NHSBSA via email at <a href="mailto:ASClearninganddevelopmentsupport@nhsbsa.nhs.uk">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a> within 24 hours of becoming aware of a problem. You can also request information on the data and security standards that are required by NHSBSA to be in place at your organisation.
        </p>

        <h2 class="govuk-heading-m">Personal data</h2>
        <p class="govuk-body">
            You agree that you will comply with all data and security standards, policies and procedures applicable to you as a user of the CASCLD service. You will only use data accessed via the service as required for the purposes of your role.
        </p>
        <p class="govuk-body">
            You agree that you and your employer have in place appropriate technical and organisational measures to prevent:
            <ul class="govuk-list govuk-list--bullet">
                <li>unauthorised or unlawful processing of personal data</li>
                <li>accidental loss or destruction of, or damage to personal data</li>
            </ul>
        </p>
        <p class="govuk-body">
            You will be liable for any breach of confidence, breach of data protection legislation and/or data breach which involves any personal data. On becoming aware of such an incident you must <a href="https://ico.org.uk/for-organisations/report-a-breach/">report this to the Information Commissioner's Office (ICO)</a> as soon as possible.
        </p>
        <p class="govuk-body">
            You must also advise NHSBSA of any data breach or suspected data breach concerning personal data within 24 hours, via email at  <a href="mailto:ASClearninganddevelopmentsupport@nhsbsa.nhs.uk">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a>. 
        </p>

        <h2 class="govuk-heading-m">Confidentiality</h2>
        <p class="govuk-body">
            You acknowledge that in using the CASCLD service you may have access to confidential information on learning and development activity.
        </p>
        <p class="govuk-body">
            You agree that you will hold any all information in confidence and, unless required by law, will not:
            <ul class="govuk-list govuk-list--bullet">
                <li>make any confidential information available to any third party (unless you are satisfied you may legally disclose such information to them)</li>
                <li>use the confidential information for any purpose other than in your duties as an adult social care provider</li>
                <li>permit or cause any unauthorised disclosure of confidential information through a failure to exercise due care and diligence</li>
                <li>release any data in public that could allow information about an individual that is not already public to become identifiable, or able to be deduced from any other data</li>
            </ul>
        </p>

        <h2 class="govuk-heading-m">Cookies</h2>
        <p class="govuk-body">
            You agree to allow cookies on your web browser when using the CASCLD service. These allow the service to work effectively, for example so you do not need to constantly re-enter your log in details.
        </p>
        <p class="govuk-body">
            Read our <a href="#">cookie policy</a>.
        </p>

        <h2 class="govuk-heading-m">Log in details</h2>
        <p class="govuk-body">
            The information you provide when you register will be used to manage your access to the CASCLD service.
        </p>
        <p class="govuk-body">
            For additional security, registration will require two-factor authentication (2FA) using Microsoft Authenticator.
        </p>
        <p class="govuk-body">
            If required, we may use the email address provided to:
            <ul class="govuk-list govuk-list--bullet">
                <li>contact you to complete surveys relating to NHSBSA services and systems</li>
                <li>invite you to take part in research to help improve our services</li>
                <li>to inform you of a change in policy or guidance</li>
            </ul>
        </p>
        <p class="govuk-body">
            We will keep your information for up to 2 years after your account is closed. This allows us to audit the use of the service.
        </p>
        <p class="govuk-body">
            We do not disclose this information to any third party organisation unless required by law.
        </p>

    </div>
</div>
</div>

{% endblock %}