{% extends "./layouts/claims-main.html" %}

{% block pageTitle %}
{{ ["Home - ", serviceName] | join }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">Options</h2>

        <ul class="homepage-services-and-info__list">

            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="eligibility-checker"
                            href="#">Eligibility Checker</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Check the activities and types of staff that are
                        eligible for funding.</p>
                </div>
            </li>

            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="manage-tu-claims"
                            href="manage-claims-home?claimType=TU">{{ "TU" | potName_V8 }}</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Manage claims, or start a new claim, for {{ "TU" |
                        potName_V8 }}.</p>
                </div>
            </li>

            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="manage-cpd-claims"
                            href="manage-claims-home?claimType=CPD">{{ "CPD" | potName_V8 }}</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Manage claims, or start a new claim, for {{ "CPD" |
                        potName_V8 }}.</p>
                </div>
            </li>

        </ul>
    </div>
</div>

{% endblock %}