{% extends "./layouts/main.html" %}

{% block pageTitle %}
{{ ["GOV.UK prototype - ", serviceName] | join }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div style="display: flex; flex-direction: column;">

            <p class="govuk-body">Please select a design to view not yet submitted claims</p>
            <a href="manage-claims?statusID=not-yet-submitted" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Design A
             </a>

             <a href="manage-claims-list?statusID=not-yet-submitted" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Design B
             </a>
        </div>
    </div>
</div>
{% endblock %}