{% if trainingGroup.groupTitle == "Courses" %}
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{{ training.code }}</th>
    <td class="govuk-table__cell">{{ training.groupCategory }}</td>
    <td class="govuk-table__cell">{{ training.title }}</td>
    <td class="govuk-table__cell  govuk-table__cell--numeric">
        {% if claim != null and claim.status == "queried" and claim.claimType == "60" and training.fundingModel != "split" %}
        <span class="govuk-caption-m">This training is not eligible for the 60/40 funding model.</span>
        {% elif submission.trainingCode == training.code %}
            <span class="govuk-caption-m">Currently selected</span>
        {% else %}
        <form method="post" action="../add-training" class="govuk-!-margin-0">
            <input type="hidden" name="trainingSelection" value="{{ training.code }}">
            <input type="hidden" name="viewOnly" value='false'>
            <button type="submit" class="govuk-button">Add <span class="govuk-visually-hidden">&nbsp; course {{ training.code }}</span> to claim</button>
        </form>
        {% endif %}
    </td>
</tr>
{% elif trainingGroup.groupTitle == "Qualifications" %}
<tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">{{ training.code }}</th>
    <td class="govuk-table__cell">{{ training.type }}</td>
    <td class="govuk-table__cell">{{ training.title }}</td>
    <td class="govuk-table__cell">{{ training.awardingOrganisation }}</td>
    <td class="govuk-table__cell  govuk-table__cell--numeric">
        {% if claim != null and claim.status == "queried" and claim.claimType == "60" and training.fundingModel != "split" %}
            <span class="govuk-caption-m">This training is not eligible for the 60/40 funding model.</span>
        {% elif submission.trainingCode == training.code %}
            <span class="govuk-caption-m">Currently selected</span>
        {% else %}
        <form method="post" action="../add-training" class="govuk-!-margin-0">
            <input type="hidden" name="trainingSelection" value="{{ training.code }}">
            <input type="hidden" name="viewOnly" value='false'>
            <button type="submit" class="govuk-button">Add<span class="govuk-visually-hidden">&nbsp; qualification {{ training.code }}</span> to claim</button>
        </form>
        {% endif %}
    </td>
</tr>
{% endif %}