{% extends "../_layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Calculate Reimbursement amount: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
<a href="./claim?id={{data.id}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Reimbursement amount 
    </h1>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Enim sit amet venenatis urna    
    </p>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Enim sit amet venenatis urna
    </p>
    <p class="govuk-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Enim sit amet venenatis urna
    </p>
    <form action="../calculate-reimbursement-amount" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            What is the reimbursement amount for training?
          </legend>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="reimbursementAmount" name="reimbursementAmount" type="text" spellcheck="false">
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>


{% endblock %}