{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}
{% if data.type == "payment" %}
{% set completed = claim.evidenceOfPaymentreview.pass %}
{% set note = claim.evidenceOfPaymentreview.note %}
{% elif data.type == "completion" %}
{% set completed = claim.evidenceOfCompletionreview.pass %}
{% set note = claim.evidenceOfCompletionreview.note %}
{% endif %}


{% block pageTitle %}
{{ ["Review evidence claim: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
<a href="claim?submitError&criteriaCheck" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.submitError =='missing' or data.submitError =='notemissing' %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% if data.submitError == 'missing' %}
                        <li>
                            <a href="#answer-error">Select whether the evidence of {{data.type}} meets the required
                                criteria</a>
                        </li>
                        {% elif data.submitError =='notemissing' %}
                        <li>
                            <a href="#note-error">Enter why the evidence didn't meet the required criteria</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">Review evidence of {{data.type}}</h1>
        <p class="govuk-body">Review the evidence of {{data.type}} provided against the information provided</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        {% include "../_components/claim-details.html" %}

    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">
            Evidence of {{data.type}}
        </h2>

        <dl class="govuk-summary-list">
            {% if data.type == "payment" %}
            {% for evidence in claim.evidenceOfPayment %}
            {% include "../_components/file-section.html" %}
            {% endfor %}
            {% elif data.type == "completion" %}
            {% set evidence = claim.evidenceOfCompletion %}
            {% include "../_components/file-section.html" %}
            {% endif %}
        </dl>
        {% if (claim.status == "submitted") or (data.type == "payment" and claim.evidenceOfPaymentreview.pass == null) or (data.type == "completion" and claim.evidenceOfCompletionreview.pass == null) %}
        <form action="../evidence-check-handler" method="post" novalidate>
            <div class="govuk-form-group {% if data.submitError =='missing' %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Does the evidence of {{data.type}} meet the required criteria?
                    </legend>
                    {% if data.submitError =='missing' %}
                    <p id="answer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select whether the evidence of {{data.type}}
                        meets the required criteria
                    </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="criteriaCheck" name="criteriaCheck" type="radio"
                                value="yes" {% if completed !=null and completed  or data.criteriaCheck=='yes'%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="criteriaCheck">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="criteriaCheck-2" name="criteriaCheck" type="radio"
                                value="no" data-aria-controls="conditional-notes" {% if completed !=null and not
                                completed or data.criteriaCheck=='no' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="criteriaCheck-2">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-notes">
                            <div class="govuk-form-group govuk-character-count {% if data.submitError =='notemissing' %}govuk-form-group--error{% endif %}" data-module="govuk-character-count"
                                data-maxlength="1000">
                                <label class="govuk-label" for="note">
                                    Why did the evidence not meet the required criteria?
                                </label>
                                <div id="note-hint" class="govuk-hint">
                                    This will be seen by the submitter when the claim is processed.
                                </div>
                                {% if data.submitError =='notemissing' %}
                                <p id="note-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Enter why the evidence didn't meet
                                    the required criteria
                                </p>
                                {% endif %}
                                <textarea class="govuk-textarea govuk-js-character-count {% if data.submitError =='missing' %}govuk-textarea--error{% endif %}" id="note" name="note"
                                    rows="21"
                                    aria-describedby="note-info note-hint">{{ note | default ('') }}</textarea>
                                <div id="note-info" class="govuk-hint govuk-character-count__message">
                                    You can enter up to 1000 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>

        {% else %}


            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Does the evidence of {{data.type}} meet the required criteria?
            </legend>
            <dl class="govuk-summary-list">
            {% if (data.type == "payment" and claim.evidenceOfPaymentreview.note == null) or (data.type == "completion" and claim.evidenceOfCompletionreview.note == null)  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Verdict
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Yes
                    </dd>
                </div>
                {% else %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Verdict
                    </dt>
                    <dd class="govuk-summary-list__value">
                        No
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Note
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.type == "payment" %}
                            {{claim.evidenceOfPaymentreview.note}}
                        {% else %}
                            {{claim.evidenceOfCompletionreview.note}}
                        {% endif %}
                    </dd>
                </div>
                
            {% endif %}
            </dl>



        {% endif %}

    </div>
</div>

{% endblock %}