{% set pairClaim = data.id | matchPairClaim_V5(data.claims) %}
{% if (claim.fundingType == "TU") and (claim.claimType == "60") %}
    <h3 class="govuk-heading-s">Care skills 60 part claim</h3>
    <p class="govuk-body">This is the 60 part of a claim which uses the 60/40 funding model.</p>
    <p class="govuk-body">It covers evidence of payment.</p>
    {% if pairClaim != null %}
    <p class="govuk-body">View the <a href="./claim?id={{pairClaim.claimID}}" class="govuk-link">40 part of the claim</a>, which covers evidence of training completion.</p>
    {% else %}
    <p class="govuk-body">The 40 part of the claim which covers the evidence of training completion has not been submitted yet.</p>
    {% endif %}

{% elif (claim.fundingType == "TU") and (claim.claimType == "40") %}
    <h3 class="govuk-heading-s">Care skills 40 part claim</h3>
    <p class="govuk-body">This is the 40 part of a claim which uses the 60/40 funding model.</p>
    <p class="govuk-body">It covers evidence of training completion.</p>
    <p class="govuk-body">View the <a href="./claim?id={{pairClaim.claimID}}" class="govuk-link">60 part of the claim</a>, which covers evidence of payment.</p>

{% elif (claim.fundingType == "TU") and (claim.claimType == "100") %}
    <h3 class="govuk-heading-s">Care skills 100 claim</h3>
    <p class="govuk-body">This is a care skills 100 claim. It covers both evidence of payment and evidence of training completion.</p>
{% endif %}

<h3 class="govuk-heading-m" id="payment">Organisation</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Organisation</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            Oaktree Care Home Ltd
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Workplace ID
        </dt>
        <dd class="govuk-summary-list__value">
            G03944234
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Organisation address
        </dt>
        <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
        </dd>
    </div>
</dl>
<h3 class="govuk-heading-m" id="payment">Submitter</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            Casey Simonis
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Email
        </dt>
        <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="mailto:example@example.com">casey.simonis@oaktree.com</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Submitted on
        </dt>
        <dd class="govuk-summary-list__value">
                {{claim.submittedDate | govukDate}}
        </dd>
    </div>

</dl>

<h3 class="govuk-heading-m" id="payment">Training</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Title
        </dt>
        <dd class="govuk-summary-list__value">
            {{claim.training.title}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Level and type
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim | qualificationCheck_V5(data.training, claim.training.type) }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim | qualificationCheck_V5(data.training, claim.training.awardingOrganisation) }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Payment date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim.costDate | govukDate }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Start date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim.startDate | govukDate }}
        </dd>
    </div>
    {% if (claim.fundingType == "TU") and (claim.claimType != "60")%}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Completion date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim.completionDate | govukDate }}
        </dd>
    </div>
    {% endif %}
</dl>
<h3 class="govuk-heading-m" id="payment">Learner</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Learner</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{claim.learner.givenName}} {{claim.learner.familyName}}
        </dd>
    </div>
</dl>