{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/claims/claims-index">Claims</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">{{ serviceName }}</span>
    <h1 class="govuk-heading-l">
      Claims
    </h1>
    <p class="govuk-body"> 
      The part of the digital service that allows employers to make and manage training reimbursment claims.
    </p>
    <p class="govuk-body-s">Current version:
      <strong class="govuk-tag govuk-tag--purple">
        v0.1
      </strong>
    </p>
    <button class="govuk-button" data-module="govuk-button" href="prototypes/v1/overview.html">
      View current prototype
    </button>
  </div>  
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-padding-top-7">
      Prototype History
    </h2>
    <hr class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <h2 class="govuk-heading-m">
      Version 0.1
    </h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Version Information
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">
          What we created
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>apples</li>
          <li>oranges</li>          
        </ul>
        <h3 class="govuk-heading-s">
          What we plan to test
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>apples</li>
          <li>oranges</li>          
        </ul>
        <h3 class="govuk-heading-s">
          What we learnt
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>apples</li>
          <li>oranges</li>      
        </ul>
      </div>
    </details>
    <p class="govuk-body"> 
      <a href="prototypes/v1/overview.html">View v0.1 prototype</a>
    </p>
    <hr class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
  </div>  
</div>

{% endblock %}
