{% extends "../_layouts/main.html" %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Help with starting a new care skills claim</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">
            Completing a claim effectively will help to ensure you get reimbursement for your claim as quickly as possible. This guidance will help you to do that.
        </p>

        <p class="govuk-body">
            Watch this short video or read the transcript below to see how to quickly fill in a new care skills claim.
        </p>

        <style>
            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                margin: 28px 0;
                height: 0;
                overflow: hidden;
                max-width: 100%;
            }

            .embed-container iframe,
            .embed-container object,
            .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>

        <div class='embed-container'>
            <iframe allowfullscreen frameborder='0' src='https://www.youtube-nocookie.com/embed/y4dQQAzUR2A'></iframe>
        </div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Video transcript: Starting a new care skills claim
                </span>
            </summary>
            <div class="govuk-details__text">

                <h2 class="govuk-heading-m">Care skills claims</h2>
                <p class="govuk-body">
                    A care skills claim is made up of:
                <ul class="govuk-list govuk-list--bullet">
                    <li>the name of the training course or qualification</li>
                    <li>the date it took place or started</li>
                    <li>the learner who did the training</li>
                    <li>the evidence that you paid for the training and that the learners completed it</li>
                </ul>
                </p>
                <p class="govuk-body">
                    A claim cannot consist of more than one training activity or learner.
                </p>
                <p class="govuk-body">
                    So if one learner completed several courses you would need to submit a separate claim for each one. Similarly, if several learners completed the same course, you would need to claim separately for each.
                </p>

                <h2 class="govuk-heading-m">Reimbursement amounts</h2>
                <p class="govuk-body">
                    Every course or qualification has a maximum reimbursement amount. This is the most you could get back. It’s usually less than the training actually cost, meaning that you’ll cover the difference.
                </p>
                <p class="govuk-body">
                    If you paid less than the maximum reimbursement amount, you’ll get back what you paid.
                </p>
                <p class="govuk-body">
                    You can find the maximum reimbursement amounts in the scheme guidance.
                </p>

                <h2 class="govuk-heading-m">Completing a claim</h2>
                <p class="govuk-body">
                    To start a new claim, click on the ‘Start a new care skills claim’ button in the top right of the ‘Manage
                    claims’ screen.
                </p>

                <h2 class="govuk-heading-s">Course or qualification</h2>
                <p class="govuk-body">
                    You’ll first need to select the course or qualification that you’re claiming for. You can search by title, course name or qualification number. If you search by just part of the name you might get lots of results. Click ‘Select’ to pick the right one.
                </p>
                <p class="govuk-body">
                    Claims for courses are known as ‘100 claims’ as you’ll get 100% of the reimbursement amount in one payment after course completion.
                </p>
                <p class="govuk-body">
                    If you select a qualification, you’ll be asked to choose whether you want a split payment. If you select the 60/40 funding model, you’ll get 60% of the reimbursement amount up front when you submit the ‘60 claim’. You’ll get the remaining 40% on training completion when you submit the related ‘40 claim’.
                </p>
                <p class="govuk-body">
                    You may choose not to use this, however, in which case you’ll get 100% of the reimbursement amount on training completion.
                </p>
                <p class="govuk-body">
                    You’ll now be taken to the claim screen where you can complete the remaining information for the claim. You can do this in whatever order is best for you – you do not need to start at the top of the screen.
                </p>

                <h2 class="govuk-heading-s">Start date</h2>
                <p class="govuk-body">
                    This is the date that the training took place or started.
                </p>

                <h2 class="govuk-heading-s">Learner</h2>
                <p class="govuk-body">
                    Click ‘add learner’ and search by name or National Insurance number to see if they’re already on the system. If they are,
                    just click ‘Add to claim’. Otherwise click ‘Add new learner’, enter their name, National Insurance number and job title. Then click ‘Save and add to claim’.
                </p>

                <h2 class="govuk-heading-s">Evidence of payment</h2>
                <p class="govuk-body">
                    The payment date is the date you paid the training provider.
                </p>
                <p class="govuk-body">
                    The evidence of payment needs to show:
                    <ul class="govuk-list govuk-list--bullet">
                        <li>what the payment was for</li>
                        <li>how much you paid</li>
                        <li>the date of payment</li>
                    </ul>
                </p>
                <p class="govuk-body">
                    This would normally be the receipt from the training provider. If the receipt does not include all this information you will also need to include another document such as the payment invoice. You can upload up to 3 files.
                </p>
                <p class="govuk-body">
                    If you don’t have the documents digitally you’ll need to scan or take a photo of them.
                </p>

                <h2 class="govuk-heading-s">Evidence of completion</h2>
                <p class="govuk-body">
                    Evidence of completion is not required for 60 claims, as these are submitted prior to the training being completed.
                </p>
                <p class="govuk-body">
                    Enter the date that the learner completed the training. The claim needs to be submitted within 3 months of this completion date.
                </p>
                <p class="govuk-body">
                    The evidence of this should be their certificate from the training provider.
                </p>

                <h2 class="govuk-heading-s">Saving or submitting</h2>
                <p class="govuk-body">
                    If there's still information to add another time, press 'Save and finish later'. The claim will be saved to the 'Not yet completed' list on the 'Manage claims' screen.
                </p>
                <p class="govuk-body">
                    If you've finished adding everything to the claim you can press 'Confirm details' and then ‘Submit claim’ to confirm you’ve understood the declaration. This will send the claim for processing. The claim will move to the 'Submitted' status on the 'Manage claims' screen and you will no longer be able to edit it.
                </p>
                <p class="govuk-body">
                    The aim is to process your claim as quickly as possible, in accordance with scheme rules. It usually takes around 2 weeks for the claim to be paid. In busy periods it can take up to 6 weeks.
                </p>
            </div>
        </details>
    </div>
</div>
</div>

{% endblock %}