{% extends "../_layouts/main.html" %}

{% block pageTitle %}
Accessibility statement — {{serviceName}} — GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Accessibility statement for the Claim for adult social care learning and development service</h1>
        <p class="govuk-body-l">
            This accessibility statement applies to the Claim for adult social care learning and development service.  
        </p>

        <p class="govuk-body">
            This website is run by the NHS Business Services Authority (NHSBSA). We want as many people as possible to be able to use this website. For example, that means you should be able to:   
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts using browser or device settings</li>
            <li>zoom in up to 400% without the text spilling off the screen</li>
            <li>navigate most of the website using just a keyboard or speech recognition software (Voice Control and Dragon)</li>
            <li>listen to most of the website using a screen reader (including the most recent version of NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">
        We’ve also made the website text as simple as possible to understand.   
        </p>
        <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet has advice on making your device easier to use (opens in new tab)</a> if you have a disability.</p>
        </p>

        <h2 class="govuk-heading-m">How accessible this website is</h2>
        <p class="govuk-body">
            We know some parts of this website are not fully accessible, as:  
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Voice Control fails to recognise the 'claim reference' link on the ‘Claims’ page </li>
            <li>whilst users are alerted to the timeout modal that appears after a period of inactivity, VoiceOver does not read the full content of the modal and only announces the heading</li>
            <li>on the ‘View previous submissions’ page, the modal does not open if the user clicks the ‘see more’ link when JavaScript is disabled</li>
            <li>VoiceOver does not read the subheading on the ‘View previous submission’ page when using the Safari browser</li>
        </ul>

        <h2 class="govuk-heading-m">Feedback and contact information</h2>
        <p class="govuk-body">
            Contact us if you need information about this website in a different format, such as accessible PDF, large print, easy read, audio recording or braille. We’ll consider your request and get back to you within 5 working days.   
        </p>
        <p class="govuk-body">
            We’re always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, you can email us at <a href="mailto:accessibility@nhsbsa.nhs.uk">accessibility@nhsbsa.nhs.uk</a></p>
        <p class="govuk-body">
            This email address is only for accessibility queries.  It is not for technical queries or IT problems. If you have a query that is not about accessibility, you can email <a href="mailto:ASClearninganddevelopmentsupport@nhsbsa.nhs.uk">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a>, phone 0300 330 0522 or use our online contact form.</p>
        </p>

        <h2 class="govuk-heading-m">Enforcement procedure</h2>
        <p class="govuk-body">
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).  
        </p>
        <p class="govuk-body">
            If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>.</p> 
        </p>

        <h2 class="govuk-heading-m">Technical information about this website’s accessibility  </h2>
        <p class="govuk-body">The NHSBSA is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. </p>

        <h3 class="govuk-heading-s">
            Compliance status  
        </h3>
        <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/" target="_blank">Web Content Accessibility Guidelines version 2.2 (opens in new tab)</a> AA standard, due to the non-compliances listed below. </p>

        <h2 class="govuk-heading-m">Non-accessible content </h2>
        <p class="govuk-body">
            The content listed below is non-accessible for the following reasons. 
        </p>

        <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations 
        </h3>
        <p class="govuk-body">
            Voice Control fails to recognise the 'claim reference' link on the ‘Claims’ page. Users can use the ‘show numbers’ or ‘show grid’ command to access them. This fails WCAG 2.2 success criterion 4.1 (Compatible). 
        </p>
        <p class="govuk-body">
            Whilst users are alerted to the timeout modal that appears after a period of inactivity, VoiceOver does not read the full content of the modal and only announces the heading. This fails WCAG 2.2 success criterion 4.1 (Compatible). 
        </p>
        <p class="govuk-body">
            On the ‘View previous submissions’ page, the modal does not open if the user clicks the ‘see more’ link when JavaScript is disabled. This fails WCAG 2.2 success criterion 4.1.2 (Name, Role, Value). 
        </p>
        <p class="govuk-body">
            VoiceOver does not read the subheading on the ‘View previous submission’ page when using the Safari browser. This fails WCAG 2.2 success criterion 4.1 (Compatible). 
        </p>
        <p class="govuk-body">
            We plan to fix these issues. When we publish new content, we’ll make sure it meets accessibility standards. 
        </p>

        <h3 class="govuk-heading-s">Third-party account registration</h3>
        <p class="govuk-body">
            To use this service, users must create an account through an external website provided by a third-party organisation.
        </p>
        <p class="govuk-body">
            This website is not managed by the NHSBSA, and we do not control its accessibility.
        </p>
        <p class="govuk-body">
            We’ve identified accessibility issues in parts of the third-party registration journey that we have been able to assess. These issues may make it more difficult for some users to create an account and access the service. We have not been able to assess all areas of the third-party website and cannot confirm the accessibility of pages that are not available to us. 
        </p>
        <p class="govuk-body">
            If you experience difficulty creating an account or completing the registration process, contact us using the details provided in the "Feedback and contact information" section of this statement.
        </p>

        <h2 class="govuk-heading-m">What we’re doing to improve accessibility </h2>
        <p class="govuk-body">
            We’re committed to making sure this website is compliant to WCAG 2.2 ‘AA’ standard. 
        </p>
        <p class="govuk-body">
            Our accessibility compliance statement will be reviewed regularly. Every newly released website will be designed, built, and tested to meet ‘AA’ standards by default. 
        </p>

        <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
        <p class="govuk-body">
            This statement was originally prepared on 20 August 2024. It was last reviewed on 8 July 2026. 
        </p>
        <p class="govuk-body">
            This website was last tested on 11 February 2026 against the WCAG 2.2 AA standard.  
        </p>
        <p class="govuk-body">
            The test was carried out by the NHSBSA test and development teams. The most viewed pages were tested using automated testing tools by our website team. A further audit of the website was carried out to the WCAG 2.2 AA standard. 
        </p>
        <p class="govuk-body">
            We tested all the website screens to meet ‘AA’ WCAG 2.2 standards, using manual and automated tests. 
        </p>
        <p class="govuk-body">
            We run each webpage through automated Wave, Lighthouse and Axe accessibility tools then manually test with screen readers (NVDA or VoiceOver) and standards checklists. 
        </p>
        <p class="govuk-body">
            We run representative user journey tests through speech recognition software (Dragon or Voice Control). 
        </p>
        <p class="govuk-body">
            These checklists contain standards that have been compiled using WCAG, the NHS service manual and the Government Digital Service (GDS) guidance.  
        </p>
    </div>
</div>

{% endblock %}