{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% if claim.claimType == "60" %}
  {% set pairClaim = claim.claimID | findPair(data.claims) %}
{% elif claim.claimType == "40" %}
  {% set pairClaim = claim %}
  {% set claim = pairClaim.claimID | findPair(data.claims) %}
{% endif %}

{% if claim.claimType == "60" %}  

  {% if (claim.status == "queried") %}
    {% set submission = claim | getDraftSubmission %}
  {% else %}
    {% set submission = claim | getMostRelevantSubmission %}
  {% endif %}
  {% if (pairClaim and pairClaim.status == "queried") %}
    {% set pairSubmission = pairClaim | getDraftSubmission %}
  {% else %}
    {% set pairSubmission = pairClaim | getMostRelevantSubmission %}
  {% endif %}

{% else %}

  {% if (claim.status == "queried") %}
    {% set submission = claim | getDraftSubmission %}
  {% else %}
    {% set submission = claim | getMostRelevantSubmission %}
  {% endif %}

{% endif %}



{% set learner = submission.learnerID | findLearner(data.learners) %}


{% block pageTitle %}
  {% if (claim.claimType == "100") %}
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}Error: {% endif %}Claim: {{claim.claimID}} — {{serviceName}} — GOV.UK
  {% else %}
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}Error: {% endif %}Combined claim: {{claim.claimID | removeClaimSuffix}} — {{serviceName}} — GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% if (data.fromSearchResults) %}
    <a href="advanced-search" class="govuk-back-link">Back</a>
  {% elif (data.fromSearchId) %}
    <a href="../manage-claims-home?fromSearchId" class="govuk-back-link">Back</a>
  {% elif (claim.status != "not-yet-submitted") and (claim.status != "queried") and (pairClaim.status != "queried") and (pairClaim.status != "not-yet-submitted")%}
    <a href="../manage-claims?statusID={{ data.statusID }}" class="govuk-back-link">Back</a>
  {% endif %} 
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}
      {% include "../_components/claim-sections/errorCatch.html" %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      {% if (claim.claimType == "100") %}
        {{ claim.claimID }}
      {% else %}
        Combined claim: {{ claim.claimID | removeClaimSuffix }}
      {% endif %}
    </h1>

    {% if (claim.claimType == "100") %}

      <p class="govuk-body">This {{ claim.claimType | typeTag }} claim 
        {% if (claim.status == "not-yet-submitted") %}
          is {{ claim.status | statusTag(data.statuses) }}.
        {% elif (claim.status == "queried") %}
          {{ claim.status | statusTag(data.statuses) }}.
        {% else %}
          was {{ claim.status | statusTag(data.statuses) }} on {{ (claim | statusDate) | govukDate }}.
        {% endif %}</p>

    {% elif (claim.claimType == "60") %}

      <p class="govuk-body">The {{ "60" | typeTag }} part of this claim 
        {% if (claim.status == "not-yet-submitted") %}
          is {{ claim.status | statusTag(data.statuses) }}
        {% elif (claim.status == "queried") %}
          {{ claim.status | statusTag(data.statuses) }}.
        {% else %}
          was {{ claim.status | statusTag(data.statuses) }} on {{ (claim | statusDate) | govukDate }}.
        {% endif %}</p>

      <p class="govuk-body">The {{ "40" | typeTag }} part of this claim 
        {% if pairClaim != null %}

          {% if (pairClaim.status == "not-yet-submitted") %}
            is {{ pairClaim.status | statusTag(data.statuses) }}
          {% elif (pairClaim.status == "queried") %}
            {{ pairClaim.status | statusTag(data.statuses) }}.
          {% else %}
            was {{ pairClaim.status | statusTag(data.statuses) }} on {{ (pairClaim | statusDate) | govukDate }}.
          {% endif %} 
        
        {% elif claim.status =="rejected" %}cannot therefore be submitted.{% else %}cannot be started until the 60 part is approved.{% endif %}</p>

    {% endif %}

    <p class="govuk-body">The most you could get back is <strong>£250</strong>, which is £50 for each learner &#8211 <a href="../guidance/reimburse-amounts.html" class="govuk-link">see how we calculate this</a>.</p> 

    {% if not ((claim.claimType == "100" or claim.claimType == "60") and  claim.status == "not-yet-submitted") %}
      {% include "../_components/claim-sections/alertSection.html" %}
    {% endif %}

  </div>
</div>


<div class="govuk-grid-row" style="margin-top: 20px;">

  <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m" id="training">Claim details</h2>


    <dl class="govuk-summary-list">
      {% include "../_components/claim-sections/training.html" %}
      {% include "../_components/claim-sections/evidencePayment.html" %}
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Learners
      </dt>
      <dd class="govuk-summary-list__value">
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              5 learners
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list">
              <li>
                Roy Kub
              </li>
              <li>
                Mark Portnell
              </li>
              <li>
                Hannah Williams
              </li>
              <li>
                Sara Gulliver
              </li>
              <li>
                Martine Gallie
              </li>
            </ul>
          </div>
        </details>
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="select-training">Change<span class="govuk-visually-hidden">
          training</span></a>
    </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Completion date
      </dt>
      <dd class="govuk-summary-list__value">
          Completion dates added for all 5 learners
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="select-training">Change<span class="govuk-visually-hidden">
          training</span></a>
    </dd>
    </div>

    <div class="govuk-summary-list__row ">
    <dt class="govuk-summary-list__key">
      Evidence of completion
    </dt>
    <dd class="govuk-summary-list__value ">
          2 out of 5 learners completed
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="select-training">Change<span class="govuk-visually-hidden">
          training</span></a>
    </dd>
  </div>

    </dl>

    {% if (((claim.status == "not-yet-submitted" or pairClaim.status == "not-yet-submitted") or (claim.status == "queried" or pairClaim.status == "queried")) and (claim.claimType == "100" or pairClaim.claimType == "40"))  %}
      {% include "../_components/claim-sections/cta-section.html" %}
    {% endif %}

    {% if (claim.claimType == "60") %}
  </div>
</div>
  {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">
    <p class="govuk-body"><a class="govuk-link" href="#">View claim history</a></p>
  </div>

</div> 

{% endblock %}




















