{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% block pageTitle %}
Missing bank details — {{serviceName}} — GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">
            {% if data.userType == "signatory" %}
            Add your organisation's bank details
            {% elif data.userType == "submitter" %}
            We need your organisation's bank details
            {% endif %}
        </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
        {% if data.userType == "signatory" %}
            As the Senior Responsible Officer, you need to add your organisation's bank details before you can submit a claim.
        {% elif data.userType == "submitter" %}
        Your Senior Responsible Officer needs to log in and add your organisation's bank details before you can submit a claim.
        {% endif %}
        </p>
        <h2 class="govuk-heading-m">If you need support</h2>
        <p class="govuk-body">You can get in touch with the NHS Business Services Authority:</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a><br>Phone: 0300 xxx xxxx
        </div>
        {% if data.userType == "signatory" %}
        <div class="govuk-button-group">
            <a type="submit" class="govuk-button"  href="../org-admin/change-bank-details">
                Add bank details
            </a>
            <a class="govuk-link"  href="claim-details?id={{data.id}}">Go back to claim</a>
        </div>
        {% elif data.userType == "submitter" %}
        <a type="submit" class="govuk-button" href="claim-details?id={{data.id}}">
            Go back to claim
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}