{% extends "../_layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Review evidence claim: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Review evidence of payment</span>
        <h1 class="govuk-heading-l">{{ data.criteria | criteriaQuestions(data.type, claim, "true") }}</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if claim.status == "submitted" %}
        <p class="govuk-body">Review the following pieces of evidence:</p>
        <dl class="govuk-summary-list">
            {% if data.type == "payment" %}
            {% for evidence in claim.evidenceOfPayment %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Evidence {{ loop.index }}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ evidence }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/public/images/fake-evidence.pdf" rel="noreferrer noopener" target="_blank">View<span class="govuk-visually-hidden"> {{evidence}}</span> (opens in new tab)</a>
                </dd>
            </div>
            {% endfor %}
            {% elif data.type == "completion" %}
            {% endif %}
        </dl>
        <form action="../evidence-check-handler" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        {{ data.criteria | criteriaQuestions(data.type, claim, "false") }}
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="evidenceCheck" name="evidenceCheck" type="radio"
                                value="yes">
                            <label class="govuk-label govuk-radios__label" for="evidenceCheck">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="evidenceCheck-2" name="evidenceCheck" type="radio"
                                value="no" data-aria-controls="conditional-evidenceCheck">
                            <label class="govuk-label govuk-radios__label" for="evidenceCheck-2">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-evidenceCheck">
                            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count"
                                data-maxlength="200">
                                <label class="govuk-label" for="note">
                                    Explanation
                                </label>
                                <div id="note-hint" class="govuk-hint">
                                    Add explanation as to why the evidence has not met this criteria.
                                </div>
                                <textarea class="govuk-textarea govuk-js-character-count" id="note" name="note" rows="5"
                                    aria-describedby="note-info note"></textarea>
                                <div id="note-info" class="govuk-hint govuk-character-count__message">
                                    You can enter up to 200 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}