{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% if claim.claimType == "60" %}
  {% set pairClaim = claim.claimID | findPair(data.claims) %}
{% elif claim.claimType == "40" %}
  {% set pairClaim = claim %}
  {% set claim = pairClaim.claimID | findPair(data.claims) %}
{% endif %}

{% if claim.claimType == "60" %}  

  {% if (claim.status == "queried") %}
    {% set submission = claim | getDraftSubmission %}
  {% else %}
    {% set submission = claim | getMostRelevantSubmission %}
  {% endif %}

  {% if (pairClaim and pairClaim.status == "queried") %}
    {% set pairSubmission = pairClaim | getDraftSubmission %}
  {% else %}
    {% set pairSubmission = pairClaim | getMostRelevantSubmission %}
  {% endif %}

  {% set sharedCompletionDate = pairSubmission.sharedCompletionDate %}

{% else %}

  {% if (claim.status == "queried") %}
    {% set submission = claim | getDraftSubmission %}
  {% else %}
    {% set submission = claim | getMostRelevantSubmission %}
  {% endif %}

  {% set sharedCompletionDate = submission.sharedCompletionDate %}

{% endif %}

{% set filteredLearners = claim | filterLearners(pairClaim) %}

{% block beforeContent %}
<p class="govuk-body"><a href="claim-details" class="govuk-back-link">Back to claim details</a></p>
{% endblock %}

{% block content %}
{% if data.learnerConfirmation != null %}
  {% set learnerInfo = data.learnerConfirmation.learner | findLearner(data.learners) %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <div class="moj-banner moj-banner--success" role="region" aria-label="Success">

            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
              <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
            </svg>

            <div class="moj-banner__message">
              {% if data.learnerConfirmation.type == "learner" %}
                {{learnerInfo.givenName}} {{learnerInfo.familyName}} added to claim
              {% elif data.learnerConfirmation.type == "date" %}
                {% if data.learnerConfirmation.allLearners %}
                  Completion date added for all learners
                {% else %}
                  Completion date added for {{learnerInfo.givenName}} {{learnerInfo.familyName}}
                {% endif %}
              {% elif data.learnerConfirmation.type == "evidence" %}
                Evidence of completion added for {{learnerInfo.givenName}} {{learnerInfo.familyName}}
              {% elif data.learnerConfirmation.type == "removal" %}
                {{learnerInfo.givenName}} {{learnerInfo.familyName}} removed from the {% if claim.claimType == "100" or (claim.claimType == "60" and claim.status != "approved") %}claim {% else %}40 part of the claim{% endif %}
              {% elif data.learnerConfirmation.type == "readd" %}
                {{learnerInfo.givenName}} {{learnerInfo.familyName}} added back to the {% if claim.claimType == "100" or (claim.claimType == "60" and claim.status != "approved") %}claim {% else %}40 part of the claim{% endif %}
              {% endif %}
            </div>

          </div>
      </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">
          {% if (claim.claimType == "100") %}
            {{ claim.claimID }}
          {% else %}
            Combined claim: {{ claim.claimID | removeClaimSuffix }}
          {% endif %}
        </span>
        <h1 class="govuk-heading-l">Learners ({{submission.learners | length}})</h1>

        {% if (sharedCompletionDate != null) %}
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Single completion date?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{sharedCompletionDate | response }}
                    </dd>
                    {% if ((claim.status == "not-yet-submitted" or (pairClaim != null and pairClaim.status == "not-yet-submitted")) or ((claim.status == "queried" and sharedCompletionDate) or (pairClaim != null and pairClaim.status == "queried" and sharedCompletionDate))) %}
                      <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="shared-completion-date?change=true">Change<span class="govuk-visually-hidden"> name</span></a>
                      </dd>
                    {% endif %}
                </div>
                {% if (sharedCompletionDate) %}
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Completion date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{submission.learners[0].completionDate | govukDate }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="add-completion-date">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                </div>
                {% endif %}
            </dl>
        {% endif %}

        {% if (claim.status == "not-yet-submitted") and (claim.claimType == "100" or claim.claimType == "60") %}
        <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="select-learner">
            Add another learner
        </a>
        {% endif %}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {% include "../_components/claim-sections/learners/learner-list.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
        {% if (filteredLearners.multi.check or (claim.claimType != "60" and (claim.status == "not-yet-submitted" or claim.status == "queried")) or (pairClaim != null and pairClaim.status == "not-yet-submitted") or (pairClaim != null and pairClaim.status == "queried")) %}
          {% include "../_components/claim-sections/learners/learner-tabs.html" %}
        {% else %}
          {% if filteredLearners.multi.value == "needsaction" or filteredLearners.multi.value == "todo" %}
            {% set canChange = true %}
          {% endif %}
          {% set learnerList = filteredLearners[filteredLearners.multi.value]%}
          {% include "../_components/claim-sections/learners/learner-card-list.html" %}
        {% endif %}
    </div>
</div>

{% endblock %}