<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <!--Filter Start-->
        {% include "../_components/filter/filter-learner.html" %}
        <!--Filter End-->  
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
                <div class="moj-search govuk-!-padding-bottom-2">

                    <form action="#" method="post">
                
                    <div class="govuk-form-group">
                        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                        Search a person
                        </label>
                
                        <div id="search-hint" class="govuk-hint moj-search__hint ">
                        You can search by a person's name
                        </div>
                
                        <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                
                    </div>
                
                    <button class="govuk-button moj-search__button govuk-button--secondary" data-module="govuk-button">
                        Search
                    </button>
                
                    </form>
                </div>
                <p class="govuk-body"><a href="#" class="govuk-link">Add a new learner</a> if they are not in the list.</p>
        </div>
        <div class="govuk-grid-row">
            {% include "../_components/tables/learners.html" %}
        </div>
    </div>
</div>