{% if (claim.claimType == "100") %}
    {% if claim.status == "rejected" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Rejection note</h2>

        {% if submission.evidenceOfPaymentReview.outcome == "fail" %}
        <p class="govuk-body"><strong>Evidence of payment: </strong>{{submission.evidenceOfPaymentReview.note}}</p>
        {% endif %}
        {% if submission.evidenceOfCompletionReview.outcome == "fail" %}
        <p class="govuk-body"><strong>Evidence of completion:</strong> {{submission.evidenceOfCompletionReview.note}}</p>
        {% endif %}
        <p class="govuk-body">If you dispute the outcome, then <a class="govuk-link" href="../contact">contact us here</a></p>
    </div>
    {% endif %}

    {% if claim.status == "queried" %}
    {% set previousSub = claim | getMostRelevantSubmission %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Edit claim and resubmit</h2>
        <p class="govuk-body">Once you've made the requested edits you can resubmit the claim for processing.</p>
        {% if previousSub.evidenceOfPaymentReview.outcome == "queried" %}
        <p class="govuk-body"><strong>Evidence of payment:</strong> {{previousSub.evidenceOfPaymentReview.note}}</p>
        {% endif %}
        {% if previousSub.evidenceOfCompletionReview.outcome == "queried" %}
        <p class="govuk-body"><strong>Evidence of completion:</strong> {{previousSub.evidenceOfCompletionReview.note}}</p>
        {% endif %}
        <p class="govuk-body"><a class="govuk-link" href="../guidance/tu-evidence-requirements.html">Check what evidence you need to provide</a></p>
        <p class="govuk-body">If you are unsure, then <a class="govuk-link" href="../contact">contact us here</a></p>
    </div>
    {% endif %}

    {% if claim.status == "approved" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Reimbursement amount</h2>
        <p class="govuk-body">Claim was approved, you can expect to be paid in next X days from approval.</p>
    </div>
    {% endif %}

    {% if claim.status == "not-yet-submitted" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">What to do now</h2>
        <p class="govuk-body">Fill in claim details and submit</p>
    </div>
    {% endif %}

    {% if claim.status == "submitted" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">What to do now</h2>
        <p class="govuk-body">Wait for processing to be completed. You should hear back in 4 to 7 days.</p>
    </div>
    {% endif %}

{% elif (claim.claimType == "60") %}

    {% if claim.status == "rejected" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Rejection note</h2>

        {% if submission.evidenceOfPaymentReview.outcome == "fail" %}
        <p class="govuk-body"><strong>Evidence of payment: </strong>{{submission.evidenceOfPaymentReview.note}}</p>
        {% endif %}
        <p class="govuk-body">If you dispute the outcome, then <a class="govuk-link" href="../contact">contact us here</a></p>
        </div>
    {% endif %}
    {% if pairClaim.status == "rejected" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Rejection note</h2>
        {% if pairSubmission.evidenceOfCompletionReview.outcome == "fail" %}
        <p class="govuk-body"><strong>Evidence of completion:</strong> {{pairSubmission.evidenceOfCompletionReview.note}}</p>
        {% endif %}
        <p class="govuk-body">If you dispute the outcome, then <a class="govuk-link" href="../contact">contact us here</a></p>
    </div>
    {% endif %}

    {% if claim.status == "approved" and pairClaim.status == "not-yet-submitted"%}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Next steps</h2>
        <p class="govuk-body">You can now proceed with completing the <a class="govuk-link" href="#fourtyPartClaim">40 part</a> of this claim.</p>
        </div>
    {% endif %}
    {% if pairClaim.status == "approved" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Reimbursement amount</h2>
        <p class="govuk-body">Claim was approved, you can expect to be paid in next X days from approval.</p>
    </div>
    {% endif %}
    {% if claim.status == "not-yet-submitted" %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">What to do now</h2>
        <p class="govuk-body">Fill in <a class="govuk-link" href="#sixtyPartClaim">60 part</a> of the claim details and submit</p>
    </div>
    {% endif %}
    {% if claim.status == "submitted" or pairClaim.status == "submitted"%}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">What to do now</h2>
        <p class="govuk-body">Wait for processing to be completed. You should hear back in 4 to 7 days.</p>
    </div>
    {% endif %}



    {% if claim.status == "queried" %}
    {% set previousSub = claim | getMostRelevantSubmission %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Edit <a class="govuk-link" href="#sixtyPartClaim">60 part</a> of claim and resubmit</h2>
        {% if previousSub.evidenceOfPaymentReview.outcome == "queried" %}
        <p class="govuk-body"><strong>Evidence of payment:</strong> {{previousSub.evidenceOfPaymentReview.note}}</p>
        {% endif %}
        <p class="govuk-body">If you are unsure, then <a class="govuk-link" href="../contact">contact us here</a></p>
    </div>
    {% endif %}
    {% if pairClaim.status == "queried" %}
    {% set previousSub = pairClaim | getMostRelevantSubmission %}
    <div class="hods-alert">
        <h2 class="hods-alert__heading">Edit <a class="govuk-link" href="#fourtyPartClaim">40 part</a> of claim and resubmit</h2>
        {% if previousSub.evidenceOfCompletionReview.outcome == "queried" %}
        <p class="govuk-body"><strong>Evidence of completion:</strong> {{previousSub.evidenceOfCompletionReview.note}}</p>
        {% endif %}
        <p class="govuk-body">If you are unsure, then <a class="govuk-link" href="../contact">contact us here</a></p>

    </div>
    {% endif %}

{% endif %}