
<dl class="govuk-summary-list">
{% if ((claim.claimType == "100" or claim.claimType == "60" and not is40Part) and not submission.supportingNote) %}
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
            Supporting note
            {{claim.claimType}}
        </dt>
        {% if claim.status != "not-yet-submitted" and claim.status != "queried" %}
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">No supporting notes added to claim before submission.</p>
            </dd>
        {% else %}
            <dd class="govuk-summary-list__value">
                <a class="govuk-link govuk-link--no-visited-state" href="add-supporting-note">Add supporting note</a>
            </dd>
        {% endif %}
    </div>

{% elif not is40Part %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Supporting note {{claim.claimType}} {% if ( claim | checkIfUpdated("supportingNote")) %}<strong class="govuk-tag">Updated</strong>{% endif %}
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body">{{submission.supportingNote}}</p>
  </dd>
  {% if (claim.status == "not-yet-submitted" or claim.status == "queried")%}
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link govuk-link--no-visited-state" href="add-supporting-note">Change<span
        class="govuk-visually-hidden"> supporting note</span></a>
  </dd>
  {% endif %}
</div>

{% else %}

{% endif %}
</dl>