<h2 class="govuk-heading-m" id="notes">Supporting note</h2>
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% if submission.supportingNote %}
    <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
            {# <dt class="govuk-summary-list__key">
                Supporting note
            </dt> #}
            <dd class="govuk-summary-list__value">
                {{ submission.supportingNote }}
            </dd>
            {% if claim.status == "not-yet-submitted" or claim.status == "queried" or pairClaim.status == "not-yet-submitted" or pairClaim.status == "queried"%}
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="add-supporting-note">Change</a>
            </dd>
            {% endif %}
        </div>

    </dl>
{% elif claim.status == "not-yet-submitted" or claim.status == "queried" or pairClaim.status == "not-yet-submitted" or pairClaim.status == "queried" %}
    <p class="govuk-body">Add a note that might help NHS BSA staff when processing your claim.</p>
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="add-supporting-note">Add note</a></p>
{% else %}
    <p class="govuk-body">No supporting notes added to claim before submission.</p>
{% endif %}