{% set timelineData = submission | generateTimelineData(type, data.org, loop.last,  data.statuses) %}
{% if (timelineData.processStep) %} 
<div class="moj-timeline__item">
    <div class="moj-timeline__header">
    <h2 class="moj-timeline__title">{{timelineData.processStep.title}}</h2>
    <p class="moj-timeline__byline">{{timelineData.processStep.author}}</p>
    </div>
    <p class="moj-timeline__date">
    <time datetime="{{ timelineData.processStep.date }}">{{ timelineData.processStep.date | govukDate }} at {{ timelineData.processStep.date | govukTime }}</time>
    </p>
    <div class="moj-timeline__description">
        {% if timelineData.processStep.title == "Edits requested" %}
            <a class="govuk-link" href="claim-history-note?loopCount={{loopCount}}&reasonType=queried">View edits requested</a>
        {% endif %}
        {% if timelineData.processStep.title == "Rejected" %}
            <a class="govuk-link" href="claim-history-note?loopCount={{loopCount}}&reasonType=rejected">View reasons for rejection</a>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="moj-timeline__item">
<div class="moj-timeline__header">
    <h2 class="moj-timeline__title">{{timelineData.submissionStep.title}}</h2>
    <p class="moj-timeline__byline">{{timelineData.submissionStep.author}}</p>
</div>
<p class="moj-timeline__date">
    <time datetime="{{ timelineData.submissionStep.date }}">{{ timelineData.submissionStep.date | govukDate }} at {{ timelineData.submissionStep.date | govukTime }}</time>
</p>
</div>