<div class="internal-note-component govuk-!-margin-top-6">
  {% if (note.noteCategories.length > 0 ) %}
    <div class="govuk-tag-group  govuk-!-margin-bottom-7">
      {% for category in note.noteCategories %}
        <strong class="govuk-tag govuk-tag--purple">{{category}}</strong>
      {% endfor %}
    </div>
  {% endif %}
  {% include "./note-content.html" %}

  <div class="internal-note-replies">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Show 1 reply
        </span>
      </summary>
        <div class="govuk-details__text">
          {% include "./note-content.html" %}
        </div>
    </details>
  </div>
  {% from "govuk/components/button/macro.njk" import govukButton %}
  {{ govukButton({
    text: "Reply to note",
    classes: "govuk-button--secondary"
  }) }}
  </button>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>




