{% extends "../_layouts/claims-main.html" %}

{% block beforeContent %}
<a href="../new-claim/select-learner" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="ni-number" method="post" novalidate>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                <span class="govuk-caption-l">New learner</span>
                <label class="govuk-label govuk-label--l" for="full-name">
                    What is the full name of the learner?
                </label>
                </h1>
                <input class="govuk-input" id="full-name" name="fullName" type="text" value="{{ data.fullName }}">
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}