{% extends "../layouts/claims-main.html" %}

{% block beforeContent %}
<a href="full-name" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="job-title" method="post" novalidate>
            <div class="govuk-form-group">
                <span class="govuk-caption-l">New learner</span>
                <h1 class="govuk-heading-l">
                    What is the National Insurance number of {{ data.fullName }}?
                </h1>
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis massa tincidunt dui ut.
                </p>
                <p class="govuk-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis massa tincidunt dui ut.
                </p>      
                <label class="govuk-label" for="national-insurance-number">
                  National Insurance number
                </label>
                <div id="national-insurance-number-hint" class="govuk-hint">
                  For example, ‘QQ 12 34 56 C’.
                </div>
                <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing" id="national-insurance-number" name="nationalInsuranceNumber" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint" value="{{ data.nationalInsuranceNumber }}">
              </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>

{% endblock %}