<h3 class="govuk-heading-m" id="payment">Outcome</h3>
    
{% if (claim.claimType != "40")%}
    <h4 class="govuk-heading-s">Does the evidence of payment meet the required criteria?</h4>

    {% if submission.evidenceOfPaymentReview.outcome == "pass" %}
        <p class="govuk-body">Yes</p>
    {% elif submission.evidenceOfPaymentReview.outcome == "queried" %}
        <p class="govuk-body">No - needs action by org</p>
    {% elif submission.evidenceOfPaymentReview.outcome == "fail" %}
        <p class="govuk-body">No - rejected</p>
    {% endif %}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    {% if submission.evidenceOfPaymentReview.outcome == "pass" %}
        <h4 class="govuk-heading-s">What was cost per learner?</h4>
        <p class="govuk-body">£{{submission.evidenceOfPaymentReview.costPerLearner}}</p>
    {% elif submission.evidenceOfPaymentReview.outcome == "queried" %}
        <h4 class="govuk-heading-s">What was payment query reason?</h4>
        <p class="govuk-body">{{submission.evidenceOfPaymentReview.note}}</p>
    {% elif submission.evidenceOfPaymentReview.outcome == "fail" %}
        <h4 class="govuk-heading-s">What was payment rejection reason?</h4>
        <p class="govuk-body">{{submission.evidenceOfPaymentReview.note}}</p>
    {% endif %}

{% endif %}


{% if (claim.claimType != "60" and submission.evidenceOfCompletionReview.outcome) %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h4 class="govuk-heading-s">Does the evidence of completion meet the required criteria?</h4>

    {% if submission.evidenceOfCompletionReview.outcome == "pass" %}
        <p class="govuk-body">Yes</p>
    {% elif submission.evidenceOfCompletionReview.outcome == "queried" %}
        <p class="govuk-body">No - needs action by org</p>
    {% elif submission.evidenceOfCompletionReview.outcome == "fail" %}
        <p class="govuk-body">No - rejected</p>
    {% endif %}


    {% if submission.evidenceOfCompletionReview.outcome == "queried" %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h4 class="govuk-heading-s">What was completion query reason?</h4>
        <p class="govuk-body">{{submission.evidenceOfCompletionReview.note}}</p>
    {% elif submission.evidenceOfCompletionReview.outcome == "fail" %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h4 class="govuk-heading-s">What was completion rejection reason?</h4>
        <p class="govuk-body">{{submission.evidenceOfCompletionReview.note}}</p>
    {% endif %}

{% endif %}

{% if (submission.otherCheck.outcome) %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h4 class="govuk-heading-s">Another other reason claim wasn't approved</h4>

    {% if submission.otherCheck.outcome == "pass" %}
        <p class="govuk-body">No</p>
    {% elif submission.otherCheck.outcome == "queried" %}
        <p class="govuk-body">Yes - needs action by org</p>
    {% elif submission.otherCheck.outcome == "fail" %}
        <p class="govuk-body">Yes - rejected</p>
    {% endif %}

    

    {% if submission.otherCheck.outcome == "queried" %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h4 class="govuk-heading-s">What was other query reason?</h4>
        <p class="govuk-body">{{submission.otherCheck.note}}</p>
    {% elif submission.otherCheck.outcome == "fail" %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h4 class="govuk-heading-s">What was other rejection reason?</h4>
        <p class="govuk-body">{{submission.otherCheck.note}}</p>
    {% endif %}

{% endif %}


{% if (claim.status == "approved") %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% if (claim.claimType == "100") %}

        <p class="govuk-body">The amount to be reimbursed for this 100 claim is <strong>£{{ claim | reimbursement(submission.evidenceOfPaymentReview.costPerLearner, data.training) }}</strong>.</p>
        <p class="govuk-body">This is whichever is the lower of the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>maximum reimbursement amount for this training (£{{ training.reimbursementAmount }})</li>
            <li>cost per learner (what the organisation actually paid) (£{{submission.evidenceOfPaymentReview.costPerLearner}})</li>
        </ul>

    {% elif (claim.claimType == "60") %}

        <p class="govuk-body">The total amount that could be reimbursed for this 60/40 claim is £{{ claim | reimbursement(submission.evidenceOfPaymentReview.costPerLearner, data.training) / 0.6 }}.</p>
        <p class="govuk-body">This is whichever is the lower of the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>maximum reimbursement amount for this training (£{{training.reimbursementAmount}})</li>
            <li>cost per learner (what the organisation actually paid) (£{{ submission.evidenceOfPaymentReview.costPerLearner }})</li>
        </ul>
        <p class="govuk-body">For this 60 part of the claim the organisation will get 60% of the total amount, which is <strong>£{{ (claim | reimbursement(submission.evidenceOfPaymentReview.costPerLearner, data.training)) }}</strong>.</p>
        <p class="govuk-body">When the 40 claim is approved they'll get back the remaining 40% (£{{ (claim | reimbursement(submission.evidenceOfPaymentReview.costPerLearner, data.training) / 0.6 * 0.4)}}).</p>

    {% elif (claim.claimType == "40") %}
        {% set pairClaim = data.id | matchPairClaim(data.claims) %}
        {% set pairSubmisison = pairClaim | getMostRelevantSubmission %}

        <p class="govuk-body">The total amount to be reimbursed for this 60/40 claim is £{{ (claim | reimbursement(pairSubmisison.evidenceOfPaymentReview.costPerLearner, data.training) / 0.4) }}.</p>
        <p class="govuk-body">This is whichever is the lower of the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>maximum reimbursement amount for this training (£{{training.reimbursementAmount}})</li>
            <li>cost per learner (what the organisation actually paid) (£{{pairSubmisison.evidenceOfPaymentReview.costPerLearner}})</li>
        </ul>
        <p class="govuk-body">For this 40 part of the claim the organisation will get 40% of the total amount, which is <strong>£{{ (claim | reimbursement(pairSubmission.evidenceOfPaymentReview.costPerLearner, data.training))}}</strong>.</p>
        <p class="govuk-body">The organisation has already had 60% of the total, which was £{{ (claim | reimbursement(pairSubmisison.evidenceOfPaymentReview.costPerLearner, data.training) / 0.4 * 0.6 )}}.</p>
    {% endif %}


{% endif %}

