
{% set claim = data.id | findClaim(data.claims) %} 
{% set submission = claim | getMostRelevantSubmission %}
{% set learner = submission.learnerID | findLearner(data["learners"])%}
{% set training = submission.trainingCode | findTraining(data.training)%}

{% set paymentCompleted = claim.evidenceOfPaymentReview.pass != null %}
{% set paymentNote = claim.evidenceOfPaymentReview.note %} 
{% set completionCompleted = claim.evidenceOfCompletionReview.pass != null%}
{% set completionNote = claim.evidenceOfCompletionReview.note %}

{% set pairClaim = data.id | matchPairClaim(data.claims) %}
{% set pairSubmisison = pairClaim | getMostRelevantSubmission %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <a href="../back-all-claims?claimID=" class="govuk-back-link govuk-!-margin-bottom-6">Back to all claims</a>

        {% if data.processSuccess == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>

            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Claim outcome recorded and shared with organisation
                </h3>
            </div>

        </div>
        {% endif %}

        {% if data.noteSuccess == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>

            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Note added to claim
                </h3>
            </div>

        </div>
        {% endif %}

        {% if data.paymentResponseIncomplete or data.paymentReimbursementAmountIncomplete or data.paymentReimbursementAmountInvalid or data.paymentRejectNoteIncomplete or data.completionResponseIncomplete or data.completionRejectNoteIncomplete %}
            {% include "./process-claim/errorSummary.html" %}
        {% endif %}

    </div>


    <div class="govuk-grid-column-full">
        <div class="moj-page-header-actions govuk-!-margin-bottom-6">
            <div class="moj-page-header-actions__title">
                <h2 class="govuk-heading-l ">
                    Claim: {{ claim.claimID }}
                </h2>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            {{ claim.status | processorstatusTag }} {% if claim.status == "approved" or claim.status == "rejected" or claim.status == "queried"%} on {{ submission.processedDate | govukDate }}{% endif %}
        </p>
        {% include "./claim-type.html" %}
    </div>
    <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Training:</span>
            <br>
            {% if training.code | trainingTypeCheck(data.training, "Courses") %}
                {{ training.title }}
            {% elif training.code | trainingTypeCheck(data.training, "Qualifications") %}
                {{ training.title }}
                <br>
                {{ training.type }}
            {% endif %}
        </p>
        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold">Learner:</span>
            <br>
            {{ learner.givenName }} {{ learner.familyName }}
        </p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                {% if (claim.status == "submitted" and data.userType == "processor") %}
                {% elif (claim.status == "approved") or (claim.status == "rejected") or (claim.status == "queried") %}
                    <li class="moj-side-navigation__item {% if data.noteSuccess != 'true' and not data.noteType and not data.fromNoteNav  %} moj-side-navigation__item--active {% endif %}">
                        <a href="#outcome">Outcome</a>
                    </li>
                {% endif %}

                <li class="moj-side-navigation__item {% if data.noteSuccess == 'true' or data.noteType or data.fromNoteNav or (claim.status == 'submitted' and data.userType == 'ccsAgent') %} moj-side-navigation__item--active {% endif %}">
                    <a href="#history">History</a>
                </li>
        
                <li class="moj-side-navigation__item">
                    <a href="#details">Details</a>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="#evidence">Evidence</a>
                </li>
                
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters govuk-!-padding-top-4 govuk-!-padding-left-6">
        {% if (claim.status == "submitted" and data.userType == "processor") %}
            <div class="claim-tab {% if data.noteSuccess == 'true' or data.noteType or data.fromNoteNav %} claim-tab-hidden {% endif %}" id="process">
                {% include "./process-claim.html" %}
            </div>
        {% elif (claim.status == "approved") or (claim.status == "rejected") or (claim.status == "queried") %}
            <div class="claim-tab {% if data.noteSuccess == 'true' or data.noteType or data.fromNoteNav %} claim-tab-hidden {% endif %}" id="outcome">
                {% include "./claim-outcome.html" %}
            </div>
        {% endif %}
    
        <div class="claim-tab {% if data.noteSuccess == 'true' or data.noteType or data.fromNoteNav or (data.userType == 'ccsAgent' and claim.status == 'submitted') %} {% else %} claim-tab-hidden {% endif %}" id="history">
            {% include "./claim-history.html" %}
        </div>

        <div class="claim-tab claim-tab-hidden" id="details">
            {% include "./claim-details.html" %}
        </div>

        <div class="claim-tab claim-tab-hidden" id="evidence">
            {% include "./claim-evidence.html" %}
        </div>
    </div>

</div>

<div class="email-composer">
    <div class="email-header">
        <span>Processing claim: {{ claim.claimID }}</span>
        <button class="minimise-button" onclick="toggleMinimise()">&#x2212;</button>
    </div>
    <div class="email-body">
        <h3 class="govuk-heading-m govuk-!-margin-top-3">Step 1: Check payment evidence</h3>


                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Does the evidence of payment meet the required criteria?
                    </legend>
                    {% if data.paymentResponseIncomplete %}
                        <p id="payment-review-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Select yes if evidence of payment meets the required criteria 
                        </p>
                    {% endif %}

                    <div class="govuk-radios" data-module="govuk-radios">
                        
                        <div class="govuk-radios__item">

                            <input class="govuk-radios__input" id="paymentYes" name="payment" type="radio" value="yes" {% if data.payment=='yes'%}checked{% endif %}>

                            <label class="govuk-label govuk-radios__label" for="paymentYes">
                                Yes
                            </label>

                        </div>

                        <div class="govuk-radios__item">

                            <input class="govuk-radios__input" id="paymentQuery" name="payment" type="radio" value="query" {% if data.payment=='query' %}checked{% endif%}>

                            <label class="govuk-label govuk-radios__label" for="paymentQuery">
                                No - needs action by org
                            </label>

                        </div>

                        <div class="govuk-radios__item">

                            <input class="govuk-radios__input" id="paymentReject" name="payment" type="radio" value="reject" {% if data.payment=='reject' %}checked{% endif%}>

                            <label class="govuk-label govuk-radios__label" for="paymentReject">
                                No - reject the claim
                            </label>

                        </div>

                    </div>

                </fieldset>

    </div>
    <div class="email-footer govuk-!-margin-top-3">
        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            <a class="govuk-link govuk-link--no-visited-state" href="../process-claim-back-handler">Back</a>
        </div>
    </div>
</div>

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/processing/v8/side-nav-tabs.js"></script>
<script type="text/javascript" src="/public/javascripts/processing/v8/error-summary-handler.js"></script>
<script type="text/javascript" src="/public/javascripts/processing/v8/timeline-filter.js"></script>
{% endblock %}
