<h3 class="govuk-heading-m" id="payment">Outcome</h3>
    
{% if (claim.claimType != "40")%}
    <h4 class="govuk-heading-s">Does the evidence of payment meet the required criteria?</h4>

    {% if submission.evidenceOfPaymentReview.outcome == "pass" %}
        <p class="govuk-body">Yes</p>
    {% elif submission.evidenceOfPaymentReview.outcome == "queried" %}
        <p class="govuk-body">No - needs action by org</p>
    {% elif submission.evidenceOfPaymentReview.outcome == "fail" %}
        <p class="govuk-body">No - rejected</p>
    {% endif %}


    {% if (claim.claimType != "60" and submission.evidenceOfCompletionReview.outcome) %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endif %}

{% endif %}

{% if (claim.claimType != "60" and submission.evidenceOfCompletionReview.outcome) %}
    <h4 class="govuk-heading-s">Does the evidence of completion meet the required criteria?</h4>

    {% if submission.evidenceOfCompletionReview.outcome == "pass" %}
        <p class="govuk-body">Yes</p>
    {% elif submission.evidenceOfCompletionReview.outcome == "queried" %}
        <p class="govuk-body">No - needs action by org</p>
    {% elif submission.evidenceOfCompletionReview.outcome == "fail" %}
        <p class="govuk-body">No - rejected</p>
    {% endif %}

{% endif %}

{% if (submission.otherCheck.outcome) %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h4 class="govuk-heading-s">Another other reason </h4>

    {% if submission.otherCheck.outcome == "pass" %}
        <p class="govuk-body">No</p>
    {% elif submission.otherCheck.outcome == "queried" %}
        <p class="govuk-body">Yes - needs action by org</p>
    {% elif submission.otherCheck.outcome == "fail" %}
        <p class="govuk-body">Yes - rejected</p>
    {% endif %}

{% endif %}


{% if (claim.status == "approved") %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% if (claim.claimType == "100") %}

        {# <p class="govuk-body">The amount to be reimbursed for this 100 claim is <strong>£{{ claim | reimbursement(claim.reimbursementAmount) }}</strong>.</p> #}
        <p class="govuk-body">This is whichever is the lower of the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>maximum reimbursement amount for this training (£{{ training.reimbursementAmount }})</li>
            <li>cost per learner (what the organisation actually paid) (£{{submission.evidenceOfPaymentReview.costPerLearner}})</li>
        </ul>

    {% elif (claim.claimType == "60") %}

        {# <p class="govuk-body">The total amount that could be reimbursed for this 60/40 claim is £{{ claim | reimbursement(claim.reimbursementAmount) / 0.6 }}.</p> #}
        <p class="govuk-body">This is whichever is the lower of the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>maximum reimbursement amount for this training (£{{training.reimbursementAmount}})</li>
            <li>cost per learner (what the organisation actually paid) (£{{ submission.evidenceOfPaymentReview.costPerLearner }})</li>
        </ul>
        {# <p class="govuk-body">For this 60 part of the claim the organisation will get 60% of the total amount, which is <strong>£{{ (claim | reimbursement(claim.reimbursementAmount)) }}</strong>.</p> #}
        {# <p class="govuk-body">When the 40 claim is approved they'll get back the remaining 40% (£{{ (claim | reimbursement(claim.reimbursementAmount) / 0.6 * 0.4)}}).</p> #}

    {% elif (claim.claimType == "40") %}
        {# <p class="govuk-body">The total amount to be reimbursed for this 60/40 claim is £{{ (claim | reimbursement(claim.reimbursementAmount) / 0.4) }}.</p> #}
        <p class="govuk-body">This is whichever is the lower of the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>maximum reimbursement amount for this training (£{{training.reimbursementAmount}})</li>
            <li>cost per learner (what the organisation actually paid) (£{{submission.evidenceOfPaymentReview.costPerLearner}})</li>
        </ul>
        {# <p class="govuk-body">For this 40 part of the claim the organisation will get 40% of the total amount, which is <strong>£{{ (claim | reimbursement(claim.reimbursementAmount))}}</strong>.</p> #}
        {# <p class="govuk-body">The organisation has already had 60% of the total, which was £{{ (claim | reimbursement(claim.reimbursementAmount) / 0.4 * 0.6 )}}.</p> #}
    {% endif %}


{% elif (claim.status == "rejected") %}
        
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <h4 class="govuk-heading-s">Rejection reasons</h4>

    {% if (submission.evidenceOfPaymentReview.outcome == "fail") %}
        <p class='govuk-body'>The evidence of payment did not meet the required criteria.</p>
        <p class='govuk-body'>{{submission.evidenceOfPaymentReview.note}}</p>
    {% endif %}

    {% if (submission.evidenceOfCompletionReview.outcome == "fail")  %}
        <p class='govuk-body'>The evidence of completion did not meet the required criteria.</p>
        <p class='govuk-body'>{{submission.evidenceOfCompletionReview.note}}</p>
    {% endif %}

    {% if (submission.otherCheck.outcome == "fail")  %}
        <p class='govuk-body'>Another reason the claim couldn't be approved.</p>
        <p class='govuk-body'>{{submission.otherCheck.note}}</p>
    {% endif %}

{% elif (claim.status == "queried") %}
        
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <h4 class="govuk-heading-s">Query reasons</h4>

    {% if (submission.evidenceOfPaymentReview.outcome == "queried") %}
        <p class='govuk-body'>The evidence of payment did not meet the required criteria.</p>
        <p class='govuk-body'>{{submission.evidenceOfPaymentReview.note}}</p>
    {% endif %}

    {% if (submission.evidenceOfCompletionReview.outcome == "queried")  %}
        <p class='govuk-body'>The evidence of completion did not meet the required criteria.</p>
        <p class='govuk-body'>{{submission.evidenceOfCompletionReview.note}}</p>
    {% endif %}

    {% if (submission.otherCheck.outcome == "queried")  %}
        <p class='govuk-body'>Another reason the claim couldn't be approved.</p>
        <p class='govuk-body'>{{submission.otherCheck.note}}</p>
    {% endif %}
{% endif %}
