{% if data.tabLocation == "claims" %}
    {% extends "../_layouts/claims-main.html" %}
{% else %}
    {% extends "../_layouts/main.html" %}
{% endif %}

{% block pageTitle %}
Help with starting a new claim — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Claim for Oliver McGowan Mandatory Training (OMMT)</h1>

        <p class="govuk-body">Adult social care organisations can now claim reimbursement for Oliver McGowan Mandatory Training (OMMT) on Learning Disability and Autism from the Learning and Development Support Scheme (LDSS).</p>
        <p class="govuk-body">Funding for OMMT is ring-fenced and is in addition to the LDSS funding available for other courses and qualifications. There is also a separate funding cap per organisation for OMMT &ndash; you’ll find details in the LDSS <a href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/learning-and-development-support-scheme-for-the-adult-social-care-workforce-a-guide-for-employers" target="_blank">guide for employers (opens in new tab)</a>.</p>
        <p class="govuk-body">OMMT is delivered in 2 tiers: tier 1 and tier 2. While part 1 of each tier is free, there is a cost for part 2. Funding is available for part 2 courses through the LDSS.</p> 

        <h2 class="govuk-heading-m">Eligibility criteria</h2>
        <p class="govuk-body">Eligibility for OMMT reimbursement differs to other LDSS claims in the following ways:
            <ul class="govuk-list govuk-list--bullet">
                <li>your organisation must be registered with the Care Quality Commission (CQC) </li>
                <li>you can claim for all members of staff, not just those in unregulated roles</li>
                <li>training must have started and been paid for on or after <strong>1 April 2025</strong> and claims must be submitted by <strong>20 March 2026</strong></li>
            </ul>
            <p class="govuk-body">All OMMT courses must be delivered by an approved OMMT trainer to be eligible &ndash; see a list of approved OMMT trainers from <a href="https://www.hee.nhs.uk/our-work/learning-disability/current-projects/oliver-mcgowan-mandatory-training-learning-disability-autism/training-providers-approved-trainers" target="_blank">NHS England (opens in new tab)</a>.
        </p>

        <h2 class="govuk-heading-m">How to claim for OMMT</h2>
        <p class="govuk-body">Part 2 OMMT courses have been added to the list of <a href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/eligible-training-courses-and-qualifications#training-courses" target="_blank">eligible training courses and qualifications (opens in new tab)</a> for LDSS.</p>
         <p class="govuk-body">You can select the OMMT course you wish to claim for when you start a new claim.</p>

         <h2 class="govuk-heading-m">How reimbursement for OMMT works</h2>
         <p class="govuk-body">Reimbursement amounts differ depending to how the training is delivered. Funding is available for:
            <ul class="govuk-list govuk-list--bullet">
                <li>OMMT courses delivered internally (in-house) by a member of your organisation’s staff who is an approved OMMT trainer </li>
                <li>courses procured externally from an approved OMMT training provider</li>
            </ul>
         <p class="govuk-body">For in-house courses you need to provide proof of completion only. For courses procured externally you will need to provide both evidence of payment and evidence of completion.
         </p>

         <h2 class="govuk-heading-m">Providing evidence of completion</h2>
         <p class="govuk-body">As with other training reimbursed through LDSS, you have to provide a certificate of completion for each learner in order to receive reimbursement.</p>
         <p class="govuk-body">OMMT training providers do not automatically issue certificates of completion so you may have to request them. </p>
          <p class="govuk-body">Please check that the certificates show:
            <ul class="govuk-list govuk-list--bullet">
                <li>which tier of training has been completed</li>
                <li>the trainer’s name and registration number</li>
            </ul>
         </p>
    </div>
</div>

{% endblock %}