  {# If no learners, to add a learner #}
{% if not submission.learners or submission.learners.length == 0  %}
    {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =="missing" %}
      <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
        <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="learner-error">
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add a learner</p>
        </div>
      </div>
    {% endif %}
  
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =='missing' %} govuk-summary-list-row--error {% endif %}">
      <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =='missing' %} govuk-summary-key--error {% endif %}">
        Learner
      </dt>
      <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =='missing' %} govuk-summary-value--error {% endif %}">
        <a class="govuk-link govuk-link--no-visited-state" href="select-learner">Add learner</a>
      </dd>
    </div>

  {# If at least one learner, learner key #}
  {% else %}
    <div class="govuk-summary-list__row {% if (claim.status == "submitted" or claim.status == "approved" and pairClaim.status != "not-yet-submitted" and pairClaim.status != "queried")%}govuk-summary-list__row--no-actions{% endif %}">
      <dt class="govuk-summary-list__key">
        {% if submission.learners.length >1 %}Learners{% else %}Learner{% endif %} {% if (claim | checkIfUpdated("learners") or (pairClaim and pairClaim | checkIfUpdated("learners"))) %}<strong class="govuk-tag">Edited</strong>{% endif %}
      </dt>
      <dd class="govuk-summary-list__value">

        {# If multiple learners, including removed learners #}
         {% if submission.learners.length >1 or submission.removedLearners.length > 0 or pairSubmission.removedLearners.length > 0 %}

            {# For 100 or 60 claims #}
            {% if claim.claimType == "100" or (claim.claimType == "60" and pairClaim.claimID == null) %}
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        {{submission.learners.length}} {% if submission.learners.length >1 %}learners{% else %}learner{% endif %}
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <ul class="govuk-list">
                      {% for learner in (submission.learners | sortLearners(data.learners))%}
                        {% set claimLearner = learner.learnerID | findLearner(data.learners) %}
                        <li>{{claimLearner.givenName}} {{claimLearner.familyName}}</li>
                      {%endfor%}
                      {# To show removed learners #}
                      {% if submission.removedLearners and submission.removedLearners.length > 0 %}
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        <strong>Removed</strong>
                        {% for learner in (submission.removedLearners)%}
                          {% set claimLearner = learner.learnerID | findLearner(data.learners) %}
                          <li>{{claimLearner.givenName}} {{claimLearner.familyName}}</li>
                        {%endfor%}
                      {% endif %}
                    </ul>
                  </div>
                </details>

              {# For 40 claims #}
              {%else %}
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                      {{pairSubmission.learners.length}} {% if pairSubmission.learners.length >1 %}learners{% else %}learner{% endif %} 
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list">
                    {% for learner in (pairSubmission.learners | sortLearners(data.learners))%}
                      {% set claimLearner = learner.learnerID | findLearner(data.learners) %}
                      <li>{{claimLearner.givenName}} {{claimLearner.familyName}}</li>
                    {%endfor%}
                    {# To show removed learners #}
                    {% set removed = pairClaim.submissions | getRemovedLearners %}
                    {% if removed and removed.length > 0 %}
                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      <strong>Removed from 40 part</strong>
                      {% for learner in (removed)%}
                        {% set claimLearner = learner.learnerID | findLearner(data.learners) %}
                        <li>{{claimLearner.givenName}} {{claimLearner.familyName}}</li>
                      {%endfor%}
                    {% endif %}
                  </ul>
                </div>
              </details>
            {% endif %}

          {# If one learner and none removed, show name of learner #}
          {% else %}
            {% set learner = submission.learners[0].learnerID | findLearner(data.learners) %}
            <p class="govuk-body">{{learner.givenName}} {{learner.familyName}}</p>
            <p class="govuk-body">{{ learner.id }}</p>
          {% endif %}

      </dd>

      {# To add or change learners #}
          {% if claim.status == "not-yet-submitted" %}
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                {% if claim.claimType == "100" %}
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link govuk-link--no-visited-state" href="select-learner">Add another<span class="govuk-visually-hidden"> learner</span></a>
                  </li>
                {% endif %}
                <li class="govuk-summary-list__actions-list-item">
                  {# To change one learner #}
                  {% if submission.learners.length == 1 %}
                    {% set learner = submission.learners[0].learnerID | findLearner(data.learners) %}
                    <a class="govuk-link govuk-link--no-visited-state" href="select-learner?change=true&changeID={{learner.id}}">Change<span class="govuk-visually-hidden"> learner</span></a>
                  {# To change all learners #}
                  {% else %}
                    <a class="govuk-link govuk-link--no-visited-state" href="claim-learners">Change<span class="govuk-visually-hidden"> all learners</span></a>
                  {% endif %}
                </li>
              </ul>
            </dd>
          {% elif claim.status == "queried" or pairClaim.status == "queried" or pairClaim.status == "not-yet-submitted"%}
            <dd class="govuk-summary-list__actions">
            {# To change one learner #}
            {% if submission.learners.length == 1 and pairSubmission.removedLearners.length == 0 and submission.removedLearners.length == 0 %}
              {% set learner = submission.learners[0].learnerID | findLearner(data.learners) %}
              <a class="govuk-link govuk-link--no-visited-state" href="select-learner?change=true&changeID={{learner.id}}">Change<span class="govuk-visually-hidden"> learner</span></a>
            {# To change all learners #}
            {% else %}
              <a class="govuk-link govuk-link--no-visited-state" href="claim-learners">Change<span class="govuk-visually-hidden"> all learners</span></a>
            {% endif %}

            </dd>
          {% endif %}

        
      {# {% endif %} #}



    </div>
{% endif %}

