{% extends "../layouts/claims-main.html" %}
{% set claim = null %}
{% for c in data.claims %}
  {% if c.claimID == data.id %}
    {% set claim = c %}
  {% endif %}
{% endfor %}
{% set totalAmount = 0 %}
{% if claim.costPerLearner != null %}
{% set totalAmount = claim.learners.length*claim.costPerLearner  %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ claim.status | statusTag }}
      <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}</h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title govuk-!-margin-bottom-0">Total claim amount: <p class="govuk-body govuk-!-font-size-48 govuk-!-margin-bottom-0">£ {{ totalAmount }}</p></h2>
        </div>
      </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Training details</h2>
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Training
              </dt>
              {% if not claim.training %}
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--blue">
                  Incomplete
                </strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="select-training">Select training</a>
              </dd>
              {% else %}
              <dd class="govuk-summary-list__value">
                {{ claim.training.code }}<br> {{ claim.training.title }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="activity-profile?viewOnly=true&trainingSelection={{ claim.training.code }}">View<span class="govuk-visually-hidden"> training</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="select-training">Change<span class="govuk-visually-hidden"> training</span></a></li>
                </ul>
              </dd>
              {% endif %}
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Training start date
              </dt>
              {% if not claim.startDate %}
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--blue">
                  Incomplete
                </strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="start-date">Add start date</a>
              </dd>
              {% else %}
              <dd class="govuk-summary-list__value">
                {{ claim.startDate | govukDate }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="start-date">Change<span class="govuk-visually-hidden"> activity start date</span></a>
              </dd>
              {% endif %}
            </div>
        </dl>

        <h2 class="govuk-heading-m">Learners</h2>
        {% if claim.learners.length === 0 %}
        <p class="govuk-body">Before you can submit you will need to <a class="govuk-link" href="select-learner">add learners to claim.</a></p>
        {% else %}
        {% set counter = 1 %}
        {% for l in claim.learners %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Learner {{ counter }}</h2>
            <ul class="govuk-summary-card__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="learner/learner-profile?learnerID={{ l.id }}">View learner details<span class="govuk-visually-hidden"> {{ l.fullName }}</span></a></li>
                <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> {{ l.fullName }}</span></a></li>
              </ul>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  National Insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ l.id }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ l.fullName }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job title
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ l.jobTitle }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Role type
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ l.roleType }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <h3 class="govuk-heading-s govuk-!-margin-top-5">Evidence Required</h3>
              {% if data.trainingChoice.fundingModel == "split" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Enrollment
                </dt>
                {% if l.evidence.evidenceOfEnrollment == null %}
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--blue">
                    Incomplete
                  </strong>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-evidence?type=enrollment&learnerID={{ l.id }}">Add evidence</a>
                </dd>
                {% else %}
                <dd class="govuk-summary-list__value">
                  {{ l.evidence.evidenceOfEnrollment }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> evidence of enrollment for {{ l.fullname }}</span></a></li>
                    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="add-evidence?type=enrollment&learnerID={{ l.id }}">Change<span class="govuk-visually-hidden"> evidence of enrollment for {{ l.fullname }}</span></a></li>
                  </ul>
                </dd>
                {% endif %}
              </div>
              {% endif %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Completion
                </dt>
                {% if l.evidence.evidenceOfCompletion == null %}
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--blue">
                    Incomplete
                  </strong>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="add-evidence?type=completion&learnerID={{ l.id }}">Add evidence</a>
                </dd>
                {% else %}
                <dd class="govuk-summary-list__value">
                  {{ l.evidence.evidenceOfCompletion }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> evidence of enrollment for {{ l.fullname }}</span></a></li>
                    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="add-evidence?type=completion&learnerID={{ l.id }}">Change<span class="govuk-visually-hidden"> evidence of enrollment for {{ l.fullname }}</span></a></li>
                  </ul>
                </dd>
                {% endif %}
              </div>
            </dl>
          </div>
        </div>
        {% set counter = counter + 1 %}
        {% endfor %}
        <p class="govuk-body"><a class="govuk-link" href="select-learner">Add another learner</a></p>
        {% endif %}
        <h2 class="govuk-heading-m">Cost details</h2>
        <dl class="govuk-summary-list">
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Cost per learner
              </dt>
              {% if not claim.costPerLearner %}
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--blue">
                  Incomplete
                </strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="cost-per-learner">Add cost</a>
              </dd>
              {% else %}
              <dd class="govuk-summary-list__value">
                £{{ claim.costPerLearner }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="cost-per-learner">Change<span class="govuk-visually-hidden"> cost</span></a>
              </dd>
              {% endif %}
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Evidence of payment
              </dt>
              {% if not claim.evidenceOfPayment %}
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--blue">
                  Incomplete
                </strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="add-evidence?type=payment">Add evidence</a>
              </dd>
              {% else %}
              <dd class="govuk-summary-list__value">
                {{ claim.evidenceOfPayment }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">View<span class="govuk-visually-hidden"> evidence of payment</span></a></li>
                  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="add-evidence?type=payment">Change<span class="govuk-visually-hidden"> evidence of payment</span></a></li>
                </ul>
              </dd>
              {% endif %}
            </div>
        </dl>

        <h2 class="govuk-heading-m">Notes to support your claim</h2>
        {% if claim.notes.length === 0 %}
        <p class="govuk-body"><a class="govuk-link" href="add-note">Add note</a></p>
        {% else %}
        <dl class="govuk-summary-list">
          {% for n in claim.notes %}
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                {{ n }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="delete-note">Delete</a>
              </dd>
            </div>
            {% endfor %}
          </dl>
          <p class="govuk-body"><a class="govuk-link" href="add-note">Add another note</a></p>
        {% endif %}
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="govuk-button-group">
          <form action="/v5/submit-claim" method="post" novalidate>
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Submit claim
            </button> 
          </form>
          <form action="/v5/save-claim" method="post" novalidate>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Save and finish later
            </button>
        </form>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Get help with your claim</h2>
      <p class="govuk-body"><a href="#" class="govuk-link">Evidence Guidance</a></p>
      <p class="govuk-body"><a href="#" class="govuk-link">Eligibility guidance</a>
    </div>
</div>
{% endblock %}