{% extends "../layouts/claims-main.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            {{ data['newClaims'] | length }} claims created
        </h1>
        <div class="govuk-panel__body">
            Your claim numbers
            {% for claim in data['newClaims'] %}
            <br><strong>{{ claim }}</strong>
            {% endfor %}
        </div>
        </div>
        <p class="govuk-body">We have sent you a <a href="confirmation-email" class="govuk-link">confirmation email</a>.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
        Before you submit the claims for payment you will need to add supporting evidence. You can do this now or later.
        </p>
        <form method="post" action="/v5/evidence-in-claim-process" class="govuk-!-margin-0">
            <button type="submit" class="govuk-button govuk-button--secondary">Add evidence now</button>
        </form>
        <p class="govuk-body">
            If you are not ready to add evidence go back to managing your claims.
        </p>
        <a class="govuk-button" data-module="govuk-button" href="../manage-claim-items">
            Manage claims
        </a>
    </div>
</div>

{% endblock %}