<h2 class="govuk-heading-m" id="completion">Evidence of completion</h2>
<dl class="govuk-summary-list">

  {% if not claim.completionDate %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Completion date
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="add-completion-date">Add completion date</a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Completion date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ claim.completionDate | govukDate }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="add-completion-date">Change<span class="govuk-visually-hidden">
        completion date</span></a>
    </dd>
    {% endif %}
  </div>
  {% endif %}

  {% if not claim.evidenceOfCompletion %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Evidence of completion
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="add-evidence?type=completion">Add evidence</a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Evidence of completion
    </dt>
    <dd class="govuk-summary-list__value">
      {{ claim.evidenceOfCompletion }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
            href="#">View<span class="govuk-visually-hidden"> evidence of completion</span></a></li>
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
            href="add-evidence?type=completion">Change<span class="govuk-visually-hidden"> evidence of completion</span></a>
        </li>
      </ul>
    </dd>
    {% endif %}
  </div>
  {% endif %}
</dl>