<h2 class="govuk-heading-m" id="payment">Payment to training provider</h2>
<dl class="govuk-summary-list">

  {% if not claim.costDate %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Payment date
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="cost-date">Add payment date</a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Payment date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ claim.costDate | govukDate }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="cost-date">Change<span class="govuk-visually-hidden">
          payment date</span></a>
    </dd>
    {% endif %}
  </div>
  {% endif %}

  {% if not claim.evidenceOfPayment %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Evidence of payment
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="add-evidence?type=payment">Add evidence</a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Evidence of payment
    </dt>
    <dd class="govuk-summary-list__value">
      {{ claim.evidenceOfPayment }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
            href="#">View<span class="govuk-visually-hidden"> evidence of payment</span></a></li>
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
            href="add-evidence?type=payment">Change<span class="govuk-visually-hidden"> evidence of payment</span></a>
        </li>
      </ul>
    </dd>
    {% endif %}
  </div>
  {% endif %}
</dl>