<h2 class="govuk-heading-m" id="training">Training</h2>
<dl class="govuk-summary-list">


  {% if not claim.training %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="select-training">Select training</a>
    </dd>
  </div>

  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">{{ claim.training.code }}</p>
      <p class="govuk-body">{{ claim.training.title }}</p>
      <p class="govuk-body">{{ claim.training.awardingOrganisation }}</p>
    </dd>
  </div>
  {% endif %}



  {% if not claim.startDate %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="start-date">Add start date</a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ claim.startDate | govukDate }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="start-date">Change<span class="govuk-visually-hidden">
          activity start date</span></a>
    </dd>
    {% endif %}
  </div>
  {% endif %}
</dl>