<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2 class="govuk-heading-m">{{orgDetails.name}} ({{orgDetails.workplaceID}})</h2>
            <div class="govuk-body">
            {% if orgDetails.status == "active"%}
                <a href="#" class="govuk-link">View organisation</a>
            {% elif orgDetails.status == "draft"%}
                <a href="#" class="govuk-link">Continue registration</a>
            {% elif orgDetails.status == "submitted"%}
                <a href="#" class="govuk-link">View registration</a>
            {% endif %}
        </div>
        </div>
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                        {{orgDetails.status | orgTag}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        {{ orgDetails.address[0] }}, {{ orgDetails.address[1] }}, {{ orgDetails.address[2] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Role
                        </dt>
                        <dd class="govuk-summary-list__value">
                        {{orgDetails.userRole | roleType}}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Senior responsible officer
                        </dt>
                        <dd class="govuk-summary-list__value">
                        {{orgDetails.signatory.active.givenName}} {{orgDetails.signatory.active.familyName}}{% if orgDetails.userRole == "signatory" %} (you){% endif %}
                        </dd>
                    </div>
                 </dl>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
</div>