<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      {{orgDetails.name}} ({{orgDetails.workplaceID}})
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        {% if orgDetails.status == "active"%}
                <a href="#" class="govuk-link">View organisation</a>
            {% elif orgDetails.status == "draft"%}
                <a href="#" class="govuk-link">Continue registration</a>
            {% elif orgDetails.status == "submitted"%}
                <a href="#" class="govuk-link">View registration</a>
            {% endif %}
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          {{orgDetails.status | orgTag}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ orgDetails.address[0] }}, {{ orgDetails.address[1] }}, {{ orgDetails.address[2] }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Role
        </dt>
        <dd class="govuk-summary-list__value">
          {{orgDetails.userRole | roleType}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Senior responsible officer
        </dt>
        <dd class="govuk-summary-list__value">
          {{orgDetails.signatory.active.givenName}} {{orgDetails.signatory.active.familyName}}{% if orgDetails.userRole == "signatory" %} (you){% endif %}
        </dd>
      </div>
    </dl>
  </div>
</div>