{% set hasResults = false %}
{% set addHeader = true %}
{% set loopCounter = 0 %}

<div class="govuk-form-group list-layout-small-screen" style="display: flex; padding: 0px; margin-bottom: 0px;">
    <label class="govuk-label" for="sort" style="padding: 10px 10px 0px 0px; margin-bottom: 0px;">
      Order by
    </label>
    <select class="govuk-select" id="sort" name="sort" style="margin-left: 10;">
      <option value="created" selected>{{status.id | listItemVariableSort_V8(claim)}}</option>
      <option value="oldest">Oldest</option>
    </select>
    <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-bottom: 0px; margin-left: 10px;">
        Refresh sort
      </button>
</div>

{% for claim in data['claims'] %}
{% if claim.status == status.id and claim.type == data.claimType and (loopCounter < 3) %} {% set hasResults=true %} {%
    if addHeader %} 

    <div class="govuk-main-wrapper " style="padding: 0;">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div>
                    <div class="govuk-grid-column-one-half" style="padding: 0;">
                        <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;"><a href="claim/claim-details?id={{ claim.claimID }}" class="govuk-link">{{ claim.claimID }}</a></p>
                        <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">{{ claim.training.title }}</p>
                    </div>
                    <div class="govuk-grid-column-one-half govuk-!-text-align-right" style="padding: 0;">
                            <p style="margin-bottom: 0;">{{status.id | listItemVariableDate_V8(claim)}}</p>
                            {% if status.id == "not-yet-submitted"%} <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">{{claim.createdDate | relativeDateFromDateToToday}}</p>{% endif %}
                            {% if status.id == "submitted"%} <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">{{claim.submittedDate | relativeDateFromDateToToday}}</p>{% endif %}
                            {% if status.id == "approved"%} <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">{{claim.approvedDate | relativeDateFromDateToToday}}</p>{% endif %}
                            {% if status.id == "rejected"%} <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">{{claim.rejectedDate | relativeDateFromDateToToday}}</p>{% endif %}
                    </div>
                </div>

                <div class="govuk-grid-column-full" style="padding: 0;">
                    {% if claim.training %}<p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Provided by {{ claim.training.awardingOrganisation }}</p>{% endif %}
                    <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">{{ claim.learner.fullName }}</p>
                   
                </div>

                <div>
                    <div class="govuk-grid-column-two-thirds" style="padding: 0;">
                        <p class="govuk-body" style="margin-bottom: 0;">Training dates: {{ claim.startDate | govukDate }} to {{ claim.completionDate | govukDate }}</p>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-text-align-right" style="padding: 0px; margin-bottom: 0px;">
                            {% if claim.type == "TU"%} <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-tag govuk-tag--blue govuk-!-text-align-right">Care skills</p>{% endif %}  
                    </div>
                </div>

            </div>

        </div>

    </div>
      
    {% endif %}
    {% set loopCounter = loopCounter + 1 %}
{% endif %}

{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div>
            <div class="govuk-grid-column-one-half" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;"><a href="claim/claim-details?id=Z8S-F3K6-3XF7-C" class="govuk-link">8KW-3L2K-9P0P-C</a></p>
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Being prepared for CQC inspection</p>
            </div>
            <div class="govuk-grid-column-one-half" style="display: flex; flex-direction: column; align-items: end; padding: 0;">
                    {% if status.id == "not-yet-submitted"%} 
                    <p style="margin-bottom: 0;">Created 1 March 2024</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">1 month ago</p>
                    {% endif %}
                    {% if status.id == "submitted"%} 
                    <p style="margin-bottom: 0;">Submitted 1 March 2024</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">1 month ago</p>
                    {% endif %}
                    {% if status.id == "approved"%} 
                    <p style="margin-bottom: 0;">Approved 1 March 2024</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">1 month ago</p>
                    {% endif %}
                    {% if status.id == "rejected"%}
                    <p style="margin-bottom: 0;">Rejected 1 March 2024</p> 
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">1 month ago</p>
                    {% endif %}  
            </div>
        </div>
        <div class="govuk-grid-column-full" style="padding: 0;">
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Provided by Skills for Care</p>
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Malinda Mayer</p>
        </div>
        <div>
            <div class="govuk-grid-column-two-thirds" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0;">Training date: 5 May 2022</p>
            </div>
            <div class="govuk-grid-column-one-third" style="display: flex; justify-content: flex-end; padding: 0px; margin-bottom: 0px;">
                <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-tag govuk-tag--green">Revalidation</p>
            </div>
        </div>
    </div>
</div>

{% if status.id == "not-yet-submitted"%} 
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div>
            <div class="govuk-grid-column-one-half" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;"><a href="claim/claim-details?id=Z8S-F3K6-3XF7-C" class="govuk-link">ZG3-W2IE-5KMP-C</a></p>
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Care Certificate Assessors</p>
            </div>
            <div class="govuk-grid-column-one-half" style="display: flex; flex-direction: column; align-items: end; padding: 0;">
                    <p style="margin-bottom: 0;">Created 10 April 2024</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">2 days ago</p>
            </div>
        </div>
        <div class="govuk-grid-column-full" style="padding: 0;">
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Provided by Skills for Care</p>
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px; color: #6f7a82;">Learner not yet added</p>
        </div>
        <div>
            <div class="govuk-grid-column-two-thirds" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0; color: #6f7a82;">Training dates not yet added</p>
            </div>
            <div class="govuk-grid-column-one-third" style="display: flex; justify-content: flex-end; padding: 0px; margin-bottom: 0px;">
                <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-tag govuk-tag--blue">Care skills</p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div>
            <div class="govuk-grid-column-one-half" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;"><a href="claim/claim-details?id=Z8S-F3K6-3XF7-C" class="govuk-link">ZG3-W2IE-5KMP-C</a></p>
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Care Certificate Assessors</p>
            </div>
            <div class="govuk-grid-column-one-half" style="display: flex; flex-direction: column; align-items: end; padding: 0;">
                    <p style="margin-bottom: 0;">Created 27 March 2024</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">13 days ago</p>
            </div>
        </div>
        <div class="govuk-grid-column-full" style="padding: 0;">
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Provided by Skills for Care</p>
        </div>
        <div>
            <div class="govuk-grid-column-two-thirds" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0; color: #6f7a82;">To be added: learner, training dates</p>
            </div>
            <div class="govuk-grid-column-one-third" style="display: flex; justify-content: flex-end; padding: 0px; margin-bottom: 0px;">
                <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-tag govuk-tag--blue">Care skills</p>
            </div>
        </div>
    </div>
</div>
{% endif%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div>
            <div class="govuk-grid-column-one-half" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;"><a href="claim/claim-details?id=Z8S-F3K6-3XF7-C" class="govuk-link">2K8-2D54-7HDES-C</a></p>
                <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Mental Health First Aid</p>
            </div>
            <div class="govuk-grid-column-one-half" style="display: flex; flex-direction: column; align-items: end; padding: 0;">
                    {% if status.id == "not-yet-submitted"%} 
                    <p style="margin-bottom: 0;">Created 25 June 2023</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">10 months ago</p>
                    {% endif %}
                    {% if status.id == "submitted"%} 
                    <p style="margin-bottom: 0;">Submitted 25 June 2023</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">10 months ago</p>
                    {% endif %}
                    {% if status.id == "approved"%} 
                    <p style="margin-bottom: 0;">Approved 25 June 2023</p>
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">10 months ago</p>
                    {% endif %}
                    {% if status.id == "rejected"%}
                    <p style="margin-bottom: 0;">Rejected 25 June 2023</p> 
                    <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-body">10 months ago</p>
                    {% endif %}  
            </div>
        </div>
        <div class="govuk-grid-column-full" style="padding: 0;">
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Provided by MHFA England</p>
            <p class="govuk-body" style="margin-bottom: 0; padding: 0px 0px 7px 0px;">Skye Johnson</p>
        </div>
        <div>
            <div class="govuk-grid-column-two-thirds" style="padding: 0;">
                <p class="govuk-body" style="margin-bottom: 0;">Training dates: 21 October 2022 to 5 May 2023</p>
            </div>
            <div class="govuk-grid-column-one-third" style="display: flex; justify-content: flex-end; padding: 0px; margin-bottom: 0px;">
                <p style="margin-bottom: 0; color: #6f7a82;" class="govuk-tag govuk-tag--green">Revalidation</p>
            </div>
        </div>
    </div>
</div>


{% if hasResults %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list">
            <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1 of 30" aria-current="page">1</li>
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2 of 30">2</a></li>
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3 of 30">3</a></li>
            <li class="moj-pagination__item moj-pagination__item--dots">…</li>
            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 5 of 30">{{
                    noClaims | pageCount_V8(data.filters.perPage | default (10)) }}</a></li>
            <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
            </li>
        </ul>
        <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>{{ noClaims }}</b> claims</p>
    </nav>

    {% else %}

    <p class="govuk-body">There are currently no claims {{ status.name }}.</p>
{% endif %}
</div>
   
</div>