{% extends "../layouts/processing-main.html" %}

{% block pageTitle %}
Check organisation details are correct — Register an organisation — {{data.processingServiceName}}
{% endblock %}

{% block beforeContent %}
<div >
    <a href="../organisation/org-view-main" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="../change-sro-handler" method="post" novalidate>
            <div class="govuk-form-group {% if data.submitError == 'missing' %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        What change do you want to make to the Senior responsible officer?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SROChange" name="SROChange" type="radio"
                                value="edit">
                            <label class="govuk-label govuk-radios__label" for="SROChange">
                                I want to edit the current SRO's details
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SROChange-2" name="SROChange" type="radio"
                                value="new">
                            <label class="govuk-label govuk-radios__label" for="SROChange-2">
                                I want to add another SRO
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="SROChange-2" name="SROChange" type="radio"
                                value="replace">
                            <label class="govuk-label govuk-radios__label" for="SROChange-2">
                                I want to replace the current SRO
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
        </form>
    </div>
</div>

{% endblock %}