{% extends "../../../../../layouts/main.html" %}

{% block pageTitle %}
Link expired
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, this link has expired</h1>
        <p class="govuk-body">Links to create user accounts expire after 24 hours.</p>
        <p class="govuk-body"><a href="#">Email</a> the NHS Business Services Authority account support team to request a new one.</p>
    </div>
</div>

{% endblock %}