
{% set org = data.orgId | findOrganisation_V6(data.organisations) %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-top-6">Users</h1>   

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Senior Responsible Officer</h1>  
          
          <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head govuk-!-margin-top-6">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" width="30%">Name</th>
                    <th class="govuk-table__header" scope="col" width="50%">Email</th>
                    <th class="govuk-table__header" scope="col" width="20%">Status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                    <tr class="govuk-table__row claim-row" id="{{ org.workplaceId }}">
                        <td class="govuk-table__cell">{{ org.signatory.givenName}} {{ org.signatory.familyName}}</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ org.signatory.email }}</a></td>
                        <td class="govuk-table__cell">{{ org.signatory.status | userStatusTag_V6 }}</td>
                    </tr>
            </tbody>
        </table>

        {% if (org.signatory.status == "invited") %} 
            <p class="govuk-body"><a href="edit-signatory-details" class="govuk-link">Edit invited signatory</a></p>
        {% endif %} 
          

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Submitters</h1>  
        {% if (org.users.active.length > 0 or org.users.inactive.length > 0) %} 
            <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head govuk-!-margin-top-6">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" width="30%">Name</th>
                        <th class="govuk-table__header" scope="col" width="50%">Email</th>
                        <th class="govuk-table__header" scope="col" width="20%">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for user in org.users.active %}
                        <tr class="govuk-table__row claim-row" id="{{ submitter.name }}">
                            <td class="govuk-table__cell">{{ user.name}}</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ user.email }}</a></td>
                            <td class="govuk-table__cell"><strong class="govuk-tag">{{ "active" | userStatusTag_V6 }}</strong></td>
                        </tr>
                    {% endfor %}
                    {% for user in org.users.invited %}
                    <tr class="govuk-table__row claim-row" id="{{ submitter.name }}">
                        <td class="govuk-table__cell">{{ user.name}}</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ user.email }}</a></td>
                        <td class="govuk-table__cell">{{ "invited" | userStatusTag_V6 }}</td>
                    </tr>
                    {% endfor %}
                    {% for user in org.users.inactive %}
                        <tr class="govuk-table__row claim-row" id="{{ submitter.name }}">
                            <td class="govuk-table__cell">{{ user.name}}</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ user.email }}</a></td>
                            <td class="govuk-table__cell">{{ "inactive" | userStatusTag_V6 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
        {% else %}
            <p>Organisation has not yet completed registration so no submitters yet added.</p>
        {% endif %}
 
     </div>
</div>
