<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

        <nav class="moj-side-navigation" aria-label="Side navigation">
            <ul class="moj-side-navigation__list">
                
                {% if (data.processClaim != "inProgress") %}
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                    {% if (claim.status == "submitted") %}
                    <a href="#process">Process claim</a>
                    {% elif (claim.status == "approved") or (claim.status == "rejected") %}
                    <a href="#outcome">Outcome</a>
                    {% endif %}
                </li>
                {% endif %}

                <li class="moj-side-navigation__item {% if (data.processClaim == 'inProgress') %}moj-side-navigation__item--active{% endif %}">
                    <a href="#history">History</a>
                </li>
        
                <li class="moj-side-navigation__item">
                    <a href="#details">Details</a>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="#evidence">Evidence</a>
                </li>

                <li class="moj-side-navigation__item">
                    <a href="#submitter">Submitter</a>
                </li>
                
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-three-quarters govuk-!-padding-top-4 govuk-!-padding-left-6">
        {% if (data.processClaim != "inProgress") %}
            {% if (claim.status == "submitted") %}
            <div class="claim-tab" id="process">
                {% include "./process-claim.html" %}
            </div>
            {% elif (claim.status == "approved") or (claim.status == "rejected") %}
            <div class="claim-tab" id="outcome">
                {% include "./claim-outcome.html" %}
            </div>
            {% endif %}
        {% endif %}
        
        <div class="claim-tab {% if (data.processClaim != 'inProgress') %}claim-tab-hidden{% endif %}" id="history">
            {% include "./claim-history.html" %}
        </div>
        
        <div class="claim-tab claim-tab-hidden" id="details">
            {% include "./claim-details.html" %}
        </div>

        <div class="claim-tab claim-tab-hidden" id="evidence">
            {% include "./claim-evidence.html" %}
        </div>

        <div class="claim-tab claim-tab-hidden" id="submitter">
            {% include "./claim-submitter.html" %}
        </div>

    </div>

</div>

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/processing/v6/side-nav-tabs.js"></script>
<script type="text/javascript" src="/public/javascripts/processing/v6/timeline-filter.js"></script>
{% endblock %}