{% extends "../layouts/processing-main.html" %}

{% set foundOrganisation = data.organisations | findOrg_V6(data.orgId) %}

{% set givenName = foundOrganisation.signatory.givenName | formatInformation_V6(data.givenName, data.edited, data.newOrg) %}
{% set familyName = foundOrganisation.signatory.familyName | formatInformation_V6(data.familyName, data.edited, data.newOrg) %}
{% set email = foundOrganisation.signatory.email | formatInformation_V6(data.email, data.edited, data.newOrg) %}

{% block pageTitle %}
{% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid %}Error: {% endif %}Senior Responsible Officer details — Register an organisation — {{data.processingServiceName}}
{% endblock %}

{% block beforeContent %}
    {% if data.newOrg %}
        <div >
            <a class="govuk-back-link" href="confirm-organisation-details?familyName=&givenName=&email=">Back</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {{ data.submitError | signatoryErrorMessage_V9 }}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <span class="govuk-caption-l">Register an organisation</span>
        <h1 class="govuk-heading-l">Senior Responsible Officer details</h1>
        <p class="govuk-body">Enter the details of the person in the organisation who will be the Senior Responsible Officer (SRO).</p>
        <p class="govuk-body"> This person will sign the grant determination declaration.</p>
        <form action="../org-signatory-handler" method="post" novalidate>
            <div
                class="govuk-form-group {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.familyName == 'missing' %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="familyName" aria-describedby="full-name-hint">
                    Last (family) name
                </label>
                <div id="role-type-hint" class="govuk-hint">
                    The last (family) name of the SRO
                </div>
                {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid and
                data.submitError.familyName == 'missing' %}
                <p id="familyName-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter a last (family) name
                </p>
                {% endif %}
                <input
                    class="govuk-input {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.familyName == 'missing' %} govuk-input--error {% endif %}"
                    id="familyName" name="familyName" type="text" spellcheck="false" autocomplete="name"
                    value="{{ familyName }}">
            </div>
            <div
                class="govuk-form-group {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.givenName == 'missing' %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="givenName" aria-describedby="full-name-hint">
                    First (given) name
                </label>
                <div id="role-type-hint" class="govuk-hint">
                    The first (given) name of the SRO
                </div>
                {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid and
                data.submitError.givenName
                == 'missing' %}
                <p id="givenName-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter a first (given) name
                </p>
                {% endif %}
                <input
                    class="govuk-input {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and data.submitError.givenName == 'missing' %} govuk-input--error {% endif %}"
                    id="givenName" name="givenName" type="text" spellcheck="false" autocomplete="name"
                    value="{{givenName}}">
            </div>
            <div
                class="govuk-form-group {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-form-group--error {% endif %}">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <div id="email-hint" class="govuk-hint">
                    We’ll send the invite to this address
                </div>
                {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid and
                (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %}
                <p id="email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> 
                    {% if data.submitError.email == 'missing' %}
                        Enter an email address
                    {% elif data.submitError.email == 'invalid' %}
                        Enter an email address in the correct format, like name@example.com
                    {% endif %}
                </p>
                {% endif %}
                <input
                    class="govuk-input {% if data.submitError.signatoryValid != null and not data.submitError.signatoryValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-input--error  {% endif %}"
                    id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint"
                    autocomplete="email" value="{{ email}}">
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                {% if not data.newOrg %}
                <a class="govuk-link" href="./org-view-main?orgTab=users">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}