{% extends "../layouts/processing-main.html" %}

{% block beforeContent %}
<a href="./find-organisation" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Org view</span>
        <h1 class="govuk-heading-l">Bright Horizons</h1>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">
            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="{% if data.tab == 'claims'%}page{%endif%}" href="org-view-main.html?tab=claims">Claims</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="{% if data.tab == 'users'%}page{%endif%}" href="org-view-main.html?tab=users">Users</a>
              </li>
          
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="{% if data.tab == 'bankDetails'%}page{%endif%}" href="org-view-main.html?tab=bankDetails">Bank details</a>
              </li>
            </ul>
        </nav>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.tab == "claims" %}
            {% include "../_components/org-view/claims.html" %}
        {% elif data.tab == "users" %}
            {% include "../_components/org-view/users.html" %}
        {% elif data.tab == "bankDetails" %}
            {% include "../_components/org-view/bank-details.html" %}
        {% endif %}
    </div>
</div>

{% endblock %}