{% extends "../layouts/claims-main.html" %}

{% block pageTitle %}
Check details are correct — Invite new team member — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="user-details" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.checkBoxSubmitError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#user-checkbox">You must confirm you understand and accept before continuing.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <span class="govuk-caption-l">Invite new team member</span>
        <h1 class="govuk-heading-l">Check details are correct</h1>
        <p class="govuk-body">When you send this invitation, the team member will receive an email from [email address] so they can finish setting up their account. The invitation link in the email will expire in 24 hours.</p>
        <p class="govuk-body">Some emails might not arrive straight away. You can resend the email after 24 hours if necessary.</p>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                User details
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link" href="user-details">Edit<span class="govuk-visually-hidden"> user details</span></a>
                </li>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last (family) name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.familyName }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            First (given) name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.givenName }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data.email }}
                        </dd>
                    </div>
                </dl>
            </div>
          </div>


            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    <p><strong>I declare that the team member I'm adding is aware of their need to make accurate and complete claims as set out in the grant determination letter and grant conditions. I am happy to delegate my authority to them to make claims on behalf of my organisation.</strong></p>
                </strong>
            </div>


            <form action="../invite-user" method="post" novalidate>
                <div class="govuk-button-group {% if data.checkBoxSubmitError %} govuk-form-group--error {% endif %}"
                    id="user-checkbox">
                    <fieldset class="govuk-fieldset" aria-describedby="{% if data.checkBoxSubmitError %} declare-error {% endif %}">
                        {% if data.checkBoxSubmitError %}
                        <p id="declare-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> You must confirm you understand and accept before continuing.
                        </p>
                        {% endif %}
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="confirmation" name="confirmation" type="checkbox"
                                    value="confirmation">
                                <label class="govuk-label govuk-checkboxes__label" for="confirmation">
                                    I understand and accept.
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Confirm and send invite
                    </button>
                    <a class="govuk-link govuk-link--no-visited-state"
                        href="manage-team">Cancel</a>
                </div>
            </form>
    </div>
</div>

{% endblock %}