<h3 class="govuk-heading-m">Step 1: Check payment evidence</h3>

{% include "./supporting-data/payment-evidence-information.html" %}

<form action="../payment-check-handler" method="post" novalidate>

    <div class="govuk-form-group {% if data.paymentResponseIncomplete %}govuk-form-group--error {% endif %}" id="payment-review">

        <fieldset class="govuk-fieldset" aria-describedby="payment-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Does the evidence of payment meet the required criteria?
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                
                <div class="govuk-radios__item">

                    <input class="govuk-radios__input" id="paymentYes" name="payment" type="radio" value="yes" data-aria-controls="conditional-paymentReimbursementAmount" {% if data.payment=='yes'%}checked{% endif %}>

                    <label class="govuk-label govuk-radios__label" for="paymentYes">
                        Yes
                    </label>

                </div>

                <div class="govuk-radios__item">

                    <input class="govuk-radios__input" id="paymentNo" name="payment" type="radio" value="no" data-aria-controls="conditional-payment-no" {% if data.payment=='no' %}checked{% endif%}>

                    <label class="govuk-label govuk-radios__label" for="paymentNo">
                        No
                    </label>

                </div>

            </div>

        </fieldset>
    </div>


    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../process-claim-back-handler">Go back</a>
    </div>

</form>
