<h3 class="govuk-heading-m">Step 1: Check payment evidence</h3>

{% include "./supporting-data/payment-evidence-card.html" %}
{% include "./supporting-data/payment-info-card.html" %}

<form action="../payment-check-handler" method="post" novalidate>

    <div class="govuk-form-group {% if data.paymentResponseIncomplete %}govuk-form-group--error{% endif %}" id="payment-review">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Does the evidence of payment meet the required criteria?
            </legend>
            {% if data.paymentResponseIncomplete %}
                <p id="payment-review-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Complete check on evidence of payment
                </p>
            {% endif %}

            <div class="govuk-radios" data-module="govuk-radios">
                
                <div class="govuk-radios__item">

                    <input class="govuk-radios__input" id="paymentYes" name="payment" type="radio" value="yes" {% if data.payment=='yes'%}checked{% endif %}>

                    <label class="govuk-label govuk-radios__label" for="paymentYes">
                        Yes
                    </label>

                </div>

                <div class="govuk-radios__item">

                    <input class="govuk-radios__input" id="paymentNo" name="payment" type="radio" value="no" {% if data.payment=='no' %}checked{% endif%}>

                    <label class="govuk-label govuk-radios__label" for="paymentNo">
                        No
                    </label>

                </div>

            </div>

        </fieldset>
    </div>


    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../process-claim-back-handler">Go back</a>
    </div>

</form>
