{% set stepNo = "Step 4" %}

{% if (claim.claimType == "40") %}
    {% set stepNo = "Step 2" %}
{% endif %}

<h3 class="govuk-heading-m">{{stepNo}}: Evidence of completion rejection reason</h3>

{% include "./supporting-data/completion-evidence-card.html" %}
{% include "./supporting-data/completion-info-card.html" %}

<form action="../completion-rejection-note-handler" method="post" novalidate>

    <div class="govuk-form-group govuk-character-count {% if data.completionNoNoteIncomplete %}govuk-form-group--error{% endif %}" data-module="govuk-character-count">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Why did the evidence of completion not meet the required criteria?
        </legend>
        
        <div id="completion-note-hint" class="govuk-hint">
            This will be seen by the submitter when the claim is processed.
        </div>

        {% if data.completionNoNoteIncomplete %}
            <p id="completion-note-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Complete note for evidence of completion
            </p>
        {% endif %}
        
        <textarea class="govuk-textarea govuk-js-character-count {% if data.completionNoNoteIncomplete %}govuk-textarea--error{% endif %}" id="completionNoNote" name="completionNoNote" rows="30" aria-describedby="completion-no-note-info note-hint">{{ data.completionNoNote | default ('') }}</textarea>
        
        <div id="completion-no-note-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 characters
        </div>

</div>

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../process-claim-back-handler">Go back</a>
    </div>

</form>


