<div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% if data.paymentResponseIncomplete %}
                <li>
                    <a href="#payment-review-error">Complete check on evidence of payment</a>
                </li>
                {% endif %}

                {% if (claim.fundingType == "TU") %}

                    {% if data.paymentReimbursementAmountIncomplete %}
                    <li>
                        <a href="#cost-per-learner-error">Complete cost per learner</a>
                    </li>
                    {% endif %}

                    {% if data.paymentReimbursementAmountInvalid %}
                    <li>
                        <a href="#cost-per-learner-error">Enter a valid cost per learner</a>
                    </li>
                    {% endif %}

                {% endif %}

                {% if data.paymentNoNoteIncomplete %}
                <li>
                    <a href="#payment-note-error"> Complete note for evidence of payment</a>
                </li>
                {% endif %}

                {% if data.completionResponseIncomplete %}
                <li>
                    <a href="#completion-review-error">Complete check on evidence of completion</a>
                </li>
                {% endif %}

                {% if data.completionNoNoteIncomplete %}
                <li>
                    <a href="#completion-note-error">Complete note for evidence of completion</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>