{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% if (claim.claimType == "60" and data.view == "40") or (claim.claimType == "40" and data.view == "60") %}
  {% set claim = claim.claimID | findPair(data.claims) %}
{% endif %}

{% set sortedSubmissions = claim.submissions | sortSubmissionsForTable %}
{% set internalOMMTCheck = sortedSubmissions | isAllInternalOMMT %}
{% set claimFlags = sortedSubmissions | checkWhatHasChanged %}

{% block beforeContent %}
<p class="govuk-body"><a href="claim-details" class="govuk-back-link">Back to claim details</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h2 class="govuk-heading-l" id="training">{% if data.view == "60" %}60 part{% elif data.view == "40" %}40 part{% else %}Claim{% endif %} history</h2>
        <p class="govuk-body">This table shows all {% if data.view == "60" %}60 part{% elif data.view == "40" %}40 part{% endif %} history with any edits <mark class="hods-highlight"><strong>highlighted</strong></mark>.</p>
        <form action="/applySubmissionsSort" method="post" novalidate>
          <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
              </label>
              <select class="govuk-select" id="filterSubmissionValues" name="sort">
                  <option value="changed" {% if data.filter == "changed"%}selected{% endif%}>View edits only</option>
                  <option value="everything" {% if data.filter == "everything" or data.filter == ""%}selected{% endif%}>View all</option>
              </select>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Apply
              </button>
          </div>
      </form>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-scrollable-pane">


            <table class="govuk-table" style="width: {{ ((sortedSubmissions | length) *320) + 200 }}px; table-layout:fixed; min-width:100%;">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="width: 200px"><span class="govuk-visually-hidden">Submissions</span></th>
                    {% for text in sortedSubmissions | matchSubmissionToText %}
                        <th scope="col" class="govuk-table__header">{{text}}</th>
                    {%endfor %}
                    </tr>
                </thead>

                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Submitted on</strong></td>
                        {% for submission in sortedSubmissions %}
                            {% if submission.submittedDate %}
                            <td class="govuk-table__cell">{{submission.submittedDate | govukDate}}</td>
                            {% else %}
                            <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Submitted by</strong></td>
                        {% for submission in sortedSubmissions %}
                            {% if submission.submitter %}
                                <td class="govuk-table__cell">{{(submission.submitter | findUser(data.org)).givenName}} {{(submission.submitter | findUser(data.org)).familyName}}</td>
                            {% else %}
                                <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}             
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Processed on</strong></td>
                        {% for submission in sortedSubmissions %}
                            {% if submission.processedDate %}
                            <td class="govuk-table__cell">{{submission.processedDate | govukDate}}</td>
                            {% else %}
                            <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}
                    </tr>

                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Processed by</strong></td>

                        {% for submission in sortedSubmissions %}
                            {% if submission.processedDate %}
                            <td class="govuk-table__cell">{{submission.processedBy }}</td>
                            {% else %}
                            <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}
                    </tr>

                </tbody>
            </table>

            {% if (data.view == "100" or data.view == "60" or (data.view == "40" and claim.isPaymentPlan)) and (data.filter == "everything" or (data.filter == "changed" and (claimFlags.training or claimFlags.startDate or claimFlags.paymentDate or claimFlags.evidenceOfPayment)))%}
                
                <div style="padding-top: 20px;">
                    <h2 class="govuk-heading-m"id="claimDetails">Claim details</h2>
                </div>
                <table class="govuk-table" style="width:{{((sortedSubmissions | length) *320) + 200 }}px; table-layout:fixed; min-width:100%;">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" style="width: 200px"><span class="govuk-visually-hidden">Submissions</span></th>
                        {% for text in sortedSubmissions | matchSubmissionToText %}
                            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">{{text}}</span></th>
                        {%endfor %}
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    {% if (data.view == "100" or data.view == "60"or (data.view == "40" and claim.isPaymentPlan == true)) and (data.filter == "everything" or (data.filter == "changed" and claimFlags.training))%}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong>Training</strong></td>
                            {% for submission in sortedSubmissions %}
                            {% set training = submission.trainingCode | findTraining %}
                            {% if training %}

                                {% if (training.code !== sortedSubmissions[loop.index0 + 1].trainingCode and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  )%}
                                <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{training.code}}</br>{{training.title}}</strong></mark></td>
                                {% else %}
                                <td class="govuk-table__cell">{{training.code}}</br>{{training.title}}</td>
                                {% endif %}

                            {% else %}
                                <td class="govuk-table__cell">---</td>
                            {% endif %}
                            {%endfor %}  
                        </tr>
                        {% endif %}

                    {% if (data.view == "60") and (data.filter == "everything" or (data.filter == "changed" and claimFlags.startDate))%}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><strong>Start date</strong></td>
                                {% for submission in sortedSubmissions %}
                                    {% if submission.startDate %}
                                        {% if (submission.startDate !== sortedSubmissions[loop.index0 + 1].startDate and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  )%}
                                            <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.startDate | govukDate}}</strong></mark></td>
                                        {% else %}
                                            <td class="govuk-table__cell">{{submission.startDate | govukDate}}</td>
                                        {% endif %}
                                    {% else %}
                                    <td class="govuk-table__cell">---</td>
                                    {% endif %}
                                {%endfor %}
                            </tr>
                        {% endif  %}

                        {% if ((data.view == "100" and not internalOMMTCheck) or data.view == "60" or (data.view == "40" and claim.isPaymentPlan == true)) and (data.filter == "everything" or (data.filter == "changed" and claimFlags.paymentDate))%}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><strong>Payment date</strong></td>
                                {% for submission in sortedSubmissions %}
                                    {% if submission.costDate %}
                                        {% if (submission.costDate !== sortedSubmissions[loop.index0 + 1].costDate and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                            <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.costDate | govukDate}}</strong></mark></td>
                                        {% else %}
                                            <td class="govuk-table__cell">{{submission.costDate | govukDate}}</td>
                                        {% endif %}
                                    {% else %}
                                    <td class="govuk-table__cell">---</td>
                                    {% endif %}
                                {%endfor %}
                            </tr>
                        {% endif %}

                        {% if ((data.view == "100" and not internalOMMTCheck) or data.view == "60" or (data.view == "40" and claim.isPaymentPlan == true)) and (data.filter == "everything" or (data.filter == "changed" and claimFlags.evidenceOfPayment))%}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><strong>Payment evidence</strong></td>
                                {% for submission in sortedSubmissions %}
                                    {% if submission.evidenceOfPayment %}
                                        <td class="govuk-table__cell">
                                            {% set evidenceLoop = loop.index0 + 1 %}
                                            {% if sortedSubmissions[evidenceLoop].evidenceOfPayment %}
                                                {% set previousEvidence = sortedSubmissions[evidenceLoop].evidenceOfPayment %}
                                            {% else %}
                                                {% set previousEvidence = [] %}
                                            {% endif %}
                                            {% for evidence in submission.evidenceOfPayment %}
                                                {% if ((evidence not in previousEvidence) and (evidenceLoop) <= ((sortedSubmissions | length) - 1)  ) %}
                                                    <mark class="hods-highlight"><strong>{{evidence}}</strong></mark> (<a class="govuk-link" href="/public/images/{{evidence}}" target="_blank">open <span class="govuk-visually-hidden">{{evidence}} </span>in new tab</a>)</br>
                                                {% else %}
                                                    {{evidence}} (<a class="govuk-link" href="/public/images/{{evidence}}" target="_blank">open <span class="govuk-visually-hidden">{{evidence}} </span>in new tab</a>)</br>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td class="govuk-table__cell">---</td>
                                    {% endif %}
                                {%endfor %}
                            </tr>
                        {% endif %}

                        {% if (data.view == "100" or data.view == "60" or (data.view == "40" and claim.isPaymentPlan == true)) and (data.filter == "everything" or (data.filter == "changed" and (claimFlags.training or claimFlags.startDate or claimFlags.paymentDate or claimFlags.evidenceOfPayment))) %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><strong>Requested edits</strong></td>
                                {% set count = sortedSubmissions.length %}
                                {% for submission in sortedSubmissions %}
                                {% if (submission.evidenceOfPaymentReview.outcome == "queried") and submission.submittedDate != null %}
                                    <td class="govuk-table__cell">
                                        {{submission.evidenceOfPaymentReview.note | trunctateString}} </br> <a class="govuk-link" href="/showPaymentNote?count={{count}}&submittedDate={{submission.submittedDate}}">&#8230; see more</a></br>
                                    </td>
                                {% else %}
                                    <td class="govuk-table__cell">---</td>
                                {% endif %}
                                {% set count = count - 1 %}
                                {%endfor %}  
                            </tr>
                        {% endif %}

                    </tbody>
                </table>
            {% endif  %}

            {% if (data.filter == "everything" or (data.filter == "changed" and claimFlags.learners or claimFlags.completionEvidence or claimFlags.completionDate)) %}
                {% if sortedSubmissions | checkIfMultipleLearners %}
                    <div style="padding-top: 20px;">
                        <h2 class="govuk-heading-m">Learner details</h2>
                        <a type="submit" class="govuk-button govuk-button--secondary" href="../learner-previous-submissions-handler">Compare</a>
                    </div>
                    <table class="govuk-table" style="width : {{((sortedSubmissions | length) *320) + 200 }}px; table-layout:fixed; min-width:100%;">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" style="width: 200px"><span class="govuk-visually-hidden">Submissions</span></th>
                            {% for text in sortedSubmissions | matchSubmissionToText %}
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">{{text}}</span></th>
                            {%endfor %}
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">

                            
                            {% if (data.filter == "everything" or (data.filter == "changed" and claimFlags.learners)) %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Learners</strong></td>
                                    {% for submission in sortedSubmissions %}
                                        {% if submission.learners %}
                                        {% set changesCount = submission | learnerCountChanges(sortedSubmissions[loop.index0 + 1]) %}
                                            {% if changesCount > 0 and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1) %}
                                                <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.learners.length}} learners</strong></mark></br> {{changesCount}} change{% if changesCount > 1 %}s{% endif %}</td>
                                            {% else %}
                                                <td class="govuk-table__cell">{{submission.learners.length}} learners</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="govuk-table__cell">---</td>
                                        {% endif %}
                                    {%endfor %}   
                                </tr>
                            {% endif %}

                            {% if (data.view == "100" or data.view == "40") and (data.filter == "everything" or (data.filter == "changed" and claimFlags.completionDate)) %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Completion dates</strong></td>
                                    {% for submission in sortedSubmissions %}
                                        {% if submission.learners %}

                                            {# if one completion date #}
                                            {% if submission.sharedCompletionDate == true %}

                                                {% set completionDateCountChanges = submission | completionDateCountChanges(sortedSubmissions[loop.index0 + 1]) %}
                                                {% if completionDateCountChanges > 0  %}
                                                    <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{(submission.learners[0].completionDate) | govukDate}}</strong></mark></br> {{completionDateCountChanges}} change{% if completionDateCountChanges > 1 %}s{% endif %}</td>
                                                {% else %}
                                                    <td class="govuk-table__cell">{{(submission.learners[0].completionDate) | govukDate}}</td>
                                                {% endif %}

                                            {# if more than one completion date #}
                                            {% else %}

                                                {% set completionDateCountChanges = submission | completionDateCountChanges(sortedSubmissions[loop.index0 + 1]) %}
                                                {% if completionDateCountChanges > 0  %}
                                                    <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{(submission.learners | getFirstDate) | govukDate}} to {{(submission.learners | getLastDate) | govukDate}}</strong></mark></br> {{completionDateCountChanges}} change{% if completionDateCountChanges > 1 %}s{% endif %}</td>
                                                {% else %}
                                                    <td class="govuk-table__cell">{{(submission.learners | getFirstDate) | govukDate}} to {{(submission.learners | getLastDate) | govukDate}}</td>
                                                {% endif %}
                                            {% endif %}

                                        {% else %}
                                            <td class="govuk-table__cell">---</td>
                                        {% endif %}
                                    {%endfor %}
                                </tr>
                            {% endif %}

                            {% if (data.view == "100" or data.view == "40") and (data.filter == "everything" or (data.filter == "changed" and claimFlags.completionEvidence)) %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Completion evidence</strong></td>
                                    {% for submission in sortedSubmissions %}
                                        {% if submission.learners %}

                                            {% set completionCountChanges = submission | completionEvidenceCountChanges(sortedSubmissions[loop.index0 + 1]) %}
                                            {% if completionCountChanges > 0  %}
                                                <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.learners.length}} files uploaded</strong></mark> </br> {{completionCountChanges}} change{% if completionCountChanges > 1 %}s{% endif %}</td>
                                            {% else %}
                                                <td class="govuk-table__cell">{{submission.learners.length}} files uploaded</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="govuk-table__cell">---</td>
                                        {% endif %}
                                    {%endfor %}
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                {# If single learner on all submissions#}
                {% else %}

                    <div style="padding-top: 20px;">
                        <h2 class="govuk-heading-m">Learner details</h2>
                    </div>
                    <table class="govuk-table" style="width : {{((sortedSubmissions | length) *320) + 200 }}px; table-layout:fixed; min-width:100%;">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header" style="width: 200px"><span class="govuk-visually-hidden">Submissions</span></th>
                            {% for text in sortedSubmissions | matchSubmissionToText %}
                                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">{{text}}</span></th>
                            {%endfor %}
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">

                            {% if (data.filter == "everything" or (data.filter == "changed" and claimFlags.learners))%}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Learner</strong></td>
                                    {% for submission in sortedSubmissions %}
                                        {% if submission.learners %}
                                            {% set learnerInfo = submission.learners[0].learnerID | findLearner(data.learners) %}
                                            {% if (submission.learners.length !== sortedSubmissions[loop.index0 + 1].learners.length and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                                <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{learnerInfo.givenName}} {{learnerInfo.familyName}}</br>{{submission.learners[0].learnerID}}</strong></mark></td>
                                            {% else %}
                                                <td class="govuk-table__cell">{{learnerInfo.givenName}} {{learnerInfo.familyName}}</br>{{submission.learners[0].learnerID}}</td>
                                            {% endif %}
                                        {% else %}
                                            <td class="govuk-table__cell">---</td>
                                        {% endif %}
                                    {%endfor %}   
                                </tr>
                            {% endif %}

                            {% if (data.view == "100" or data.view == "40") and (data.filter == "everything" or (data.filter == "changed" and claimFlags.completionDate)) %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Completion date</strong></td>
                                    {% for submission in sortedSubmissions %}
                                        {% if submission.learners %}
                                            {% if (submission.learners[0].completionDate !== sortedSubmissions[loop.index0 + 1].learners[0].completionDate and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                                <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.learners[0].completionDate | govukDate}}</strong></mark></td>
                                            {% else %}
                                                <td class="govuk-table__cell">{{submission.learners[0].completionDate | govukDate}}</td>
                                            {% endif %}

                                        {% else %}
                                            <td class="govuk-table__cell">---</td>
                                        {% endif %}
                                    {%endfor %}
                                </tr>
                            {% endif %}

                            {% if (data.view == "100" or data.view == "40") and (data.filter == "everything" or (data.filter == "changed" and claimFlags.completionEvidence)) %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Completion evidence</strong></td>
                                    {% for submission in sortedSubmissions %}
                                        {% if submission.learners %}
                                            {% if (submission.learners.length !== sortedSubmissions[loop.index0 + 1].learners.length and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                                <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.learners[0].evidenceOfCompletion}} (<a class="govuk-link" href="/public/images/{{submission.learners[0].evidenceOfCompletion}}" target="_blank">opens <span class="govuk-visually-hidden">{{submission.learners[0].evidenceOfCompletion}} </span>in new tab</a>)</br></strong></mark> </br> 2 changes</td>
                                            {% else %}
                                                <td class="govuk-table__cell">{{submission.learners[0].evidenceOfCompletion}} (<a class="govuk-link" href="/public/images/{{submission.learners[0].evidenceOfCompletion}}" target="_blank">opens <span class="govuk-visually-hidden">{{submission.learners[0].evidenceOfCompletion}} </span>in new tab</a>)</br></td>
                                            {% endif %}
                                        {% else %}
                                            <td class="govuk-table__cell">---</td>
                                        {% endif %}
                                    {%endfor %}
                                </tr>
                            {% endif %}

                            {% if (data.view == "100" or data.view == "60" or (data.view == "40" and claim.isPaymentPlan == true)) and (data.filter == "everything" or (data.filter == "changed" and (claimFlags.learners or claimFlags.completionDate or claimFlags.completionEvidence))) %}
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><strong>Requested edits</strong></td>
                                    {% set count = sortedSubmissions.length %}
                                    {% for submission in sortedSubmissions %}
                                    {% if (submission.learners[0].evidenceOfCompletionReview.outcome == "queried") and submission.submittedDate != null %}
                                    <td class="govuk-table__cell">
                                            {{submission.learners[0].evidenceOfCompletionReview.note | trunctateString}} </br> <a class="govuk-link" href="/showPaymentNote?count={{count}}&submittedDate={{submission.submittedDate}}">&#8230; see more</a></br>
                                        </td>
                                    {% else %}
                                        <td class="govuk-table__cell">---</td>
                                    {% endif %}
                                    {% set count = count - 1 %}
                                    {%endfor %}  
                                </tr>
                            {% endif %}

                        </tbody>
                    </table>
                {% endif %}
            {% endif %}

        </div>

    </div>
    {% if data.showNote %}
        {% include "../_components/claim-sections/claim-history/view-note.html" %}
    {% endif %}
</div>  

{% endblock %}