<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-m">Claim History</h2>
<div class="moj-timeline">
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Claim created</h2>
      <p class="moj-timeline__byline">by {{ claim.createdBy }}</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="{{ claim.createdDate }}">{{ claim.createdDate | govukDate }} at {{ claim.createdDate | govukTime
        }}</time>
    </p>
  </div>
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Claim submitted</h2>
      <p class="moj-timeline__byline">by {{ claim.createdBy }}</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="{{ claim.createdDate }}">{{ claim.submittedDate | govukDate }} at {{ claim.submittedDate |
        govukTime }}</time>
    </p>
    <div class="moj-timeline__description">Your claim is being reviewed by a member of our processing staff.</div>
  </div>
  {% if (claim.status == "queried") %}
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Claim queried</h2>
      <p class="moj-timeline__byline">by NHS BSA</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="{{ claim.createdDate }}">{{ claim.queriedDate | govukDate }} at {{ claim.queriedDate | govukTime
        }}</time>
    </p>
    <div class="moj-timeline__description">Your claim has been reviewed by NHS BSA and they have returned it with query
      against the evidence provided.</div>
  </div>
  {% endif %}
  {% if (claim.status == "approved" or claim.status == "paid") %}
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Claim approved</h2>
      <p class="moj-timeline__byline">by NHS BSA</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="{{ claim.createdDate }}">{{ claim.approvedDate | govukDate }} at {{ claim.approvedDate | govukTime
        }}</time>
    </p>
    <div class="moj-timeline__description">Your claim has been reviewed by NHS BSA and approved. You will recieve £{{
      claim.training.reimbursementAmount }}.</div>
  </div>
  {% endif %}
  {% if ( claim.status == "paid") %}
  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Claim paid</h2>
      <p class="moj-timeline__byline">by NHS BSA</p>
    </div>
    <p class="moj-timeline__date">
      <time datetime="{{ claim.createdDate }}">{{ claim.paidDate | govukDate }} at {{ claim.paidDate | govukTime
        }}</time>
    </p>
    <div class="moj-timeline__description">Your claim has been paid by NHS BSA. You should have recieved £{{
      claim.training.reimbursementAmount }}.</div>
  </div>
  {% endif %}
</div>