{% extends "claims/prototypes/v2/layouts/claims-main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../manage-claim-items.html">Manage claim items</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Claim item #01232</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-page-header-actions">

            <div class="moj-page-header-actions__title">
                <h1 class="govuk-heading-xl">#01232</h1>
            </div>
          
            <div class="moj-page-header-actions__actions">
          
              <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">
          
                  <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Add evidence
                  </button>
          
                  <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Delete activity
                  </button>
          
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-padding-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Status</h2>
        <strong class="govuk-tag govuk-tag--yellow">
            Incomplete
        </strong>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Activity Details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Course Name
              </dt>
              <dd class="govuk-summary-list__value">
                Dementia Basics
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> course name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Start date
              </dt>
              <dd class="govuk-summary-list__value">
                23 November 2023
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">start date</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                Manchester
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Location</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Elibility Group
                </dt>
                <dd class="govuk-summary-list__value">
                  Targetted Upskilling
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> Elibility Group</span>
                  </a>
                </dd>
              </div>
          </dl>
    </div>
</div>

<div class="govuk-grid-row govuk-!-padding-bottom-5">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Learner Details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Learner ID
                </dt>
                <dd class="govuk-summary-list__value">
                  #03814
                </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Learner Name
              </dt>
              <dd class="govuk-summary-list__value">
                Jane Doe
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Role type
              </dt>
              <dd class="govuk-summary-list__value">
                Care worker
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                Manchester
              </dd>
            </div>
          </dl>
          <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
            Change learner
          </button>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Evidence</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment
              </dt>
              <dd class="govuk-summary-list__value">
                invoice.pdf
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> evidence of payment</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Completed
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--red">
                    Missing
                </strong>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Add evidence<span class="govuk-visually-hidden">of completion</span>
                </a>
              </dd>
            </div>
          </dl>
    </div>
</div>

{% endblock %}