<tr class="govuk-table__row">
    <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="claim-items/learner.html">
        Jane Doe
    </a></td>
    <td class="govuk-table__cell govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
        Ready to submit
    </strong>
    </td>
    <td class="govuk-table__cell govuk-table__cell--numeric">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
            Build a claim<span class="govuk-visually-hidden"> name</span>
        </a>
    </td>

</tr>