{% extends "./main.html" %}

{% block header %}
{{ govukHeader({
    rebrand: true,
    navigationClasses: "app-header-account-nav",
    navigation: [
      {
        href: "/claims/v27/eligibility/overview",
        text: "Sign out",
        classes: "app-header-account-nav__link"
      }
    ]
    }) 
  }}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/claims/v27/eligibility/overview",
    slots: {
      navigationEnd: '
        <div class="app-service-nav-account-row">
          <a class="govuk-service-navigation__link" href="/claims/v27/manage-organisations">My account</a>
        </div>
      '
    }
  }) }}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.',
    classes: "govuk-width-container"
  }) }}
{% endblock %}