<dl class="govuk-summary-list">
     {% include "./training.html" %}
     {% include "./learner.html" %}
     {% include "./start-date.html" %}
     {% include "./evidencePayment.html" %}
</dl>

<div class="completion-header">
     <h2 class="govuk-heading-m">Completion</h2>
     {% if (submission.learners.length > 1) %}
     <a type="submit" class="govuk-button govuk-button--secondary" href="claim-learners">
          {% if (claim.status == "not-yet-submitted" or claim.status == "queried") %}Manage{% else %}View{% endif %}
     </a>
     {% endif %} 
</div>
<dl class="govuk-summary-list">
     {% include "./evidenceCompletionClaimPage.html" %}
</dl>

{% if claim.status == "not-yet-submitted" or claim.status == "queried" %}
     {% include "./cta-section.html" %}
{% endif %}














