<dl class="govuk-summary-list {%if (pairClaim != null)%}summary-list--no-borders {% endif%}">
  {% include "./training.html" %}
  {% include "./learner.html" %}
</dl>

{% if (pairClaim.status == null) or (pairClaim.status == "rejected") or (pairClaim.status == "approved") %}

    <h2 class="govuk-heading-m" id="training">60 part</h2>
    <p class="govuk-body">Claim reference for the <strong class="govuk-tag govuk-tag--yellow">60</strong> part: {{ claim.claimID }}</p>
    <dl class="govuk-summary-list">
      {% include "./start-date.html" %}
      {% include "./evidencePayment.html" %}
    </dl>
    {% if (claim.status == "not-yet-submitted" or claim.status == "queried")%}
      {% include "./cta-section.html" %}
    {% endif %}

{% else  %}

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">

      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="60-part">
            60 part
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
           <p class="govuk-body">Claim reference for the <strong class="govuk-tag govuk-tag--yellow">60</strong> part: {{ claim.claimID }}</p>
        </div>
      </div>

      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
        <dl class="govuk-summary-list summary-list--no-borders">
          {% include "./start-date.html" %}
          {% include "./evidencePayment.html" %}
        </dl>

      </div>

    </div>
  </div>

{% endif  %}



{% if (pairClaim.status == null)  %}


  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">

      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="40-part">
            40 part
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        {% if claim.status != "rejected" %}
          <p class="govuk-body"><span class="govuk-caption-m">This part cannot be started until the 60 part is approved.</span></p>
        {% elif claim.status == "rejected" %}
          <p class="govuk-body"><span class="govuk-caption-m">You cannot submit the 40 part of this claim because the 60 part was rejected.</span></p>
        {% endif %}
        </div>
      </div>

      <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content">
      <div class="completion-header">
            <h2 class="govuk-heading-s heading-22">Completion</h2>
            <button type="submit" class="govuk-button govuk-button--secondary"  data-module="govuk-button">Manage</button>
      </div>
      <dl class="govuk-summary-list summary-list--no-borders">
        {% include "./evidenceCompletion.html" %}
      </dl>
      </div>

    </div>
  </div>


{% else  %}

  <h2 class="govuk-heading-m" id="training">40 part</h2>
    <p class="govuk-body">Claim reference for the <strong class="govuk-tag govuk-tag--purple">40</strong> part: {{ pairClaim.claimID }}</p>
      <div class="completion-header">
          <h2 class="govuk-heading-s heading-22">Completion</h2>
          <button type="submit" class="govuk-button govuk-button--secondary"  data-module="govuk-button">Manage</button>
      </div>
      <dl class="govuk-summary-list">
        {% include "./evidenceCompletion.html" %}
      </dl>
    {% if (pairClaim.status == "not-yet-submitted" or claim.status == "queried")%}
      {% include "./cta-section.html" %}
    {% endif %}

{% endif  %}



