

<h2 class="govuk-heading-m">Claim history</h2>
<div class="moj-timeline">

  {% for submission in pairClaim.submissions | orderByMostRecent %}
    {% if submission.submittedDate %} 

    {% if submission.processedDate == null %} 

    <div class="moj-timeline__item">
      <div class="moj-timeline__header">
        <h3 class="moj-timeline__title">40 claim submitted</h3>
        <p class="moj-timeline__byline">by {{submitter}}</p>
        <p class="moj-timeline__date">
          <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
        </p>
      <div class="moj-timeline__description">The 40 part of your claim is being reviewed by a member of our processing staff.</div>
      <a href="#" class="govuk-link">View claim</a>  
    </div>
    </div>

    {% elif submission.evidenceOfPaymentReview.outcome == "queried" or submission.evidenceOfCompletionReview.outcome == "queried" %} 
      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h3 class="moj-timeline__title">40 claim queried</h3>
          <p class="moj-timeline__byline">by {{submission.processedBy}}</p>
          <p class="moj-timeline__date">
            <time datetime="{{ claim.createdDate }}">{{ submission.processedDate | govukDate }} at {{ submission.processedDate | govukTime }}</time>
          </p>
          <div class="moj-timeline__description">The 40 part of your claim has been queried.</div>
          <a href="../view-note" class="govuk-link">View query note</a>
          

        </div>

      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h3 class="moj-timeline__title">40 claim submitted</h3>
          <p class="moj-timeline__byline">by {{submitter}}</p>
          <p class="moj-timeline__date">
            <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
          </p>
          <div class="moj-timeline__description">The 40 part of your claim is being reviewed by a member of our processing staff.</div>
          <a href="#" class="govuk-link">View claim</a>
        </div>

      </div>

      {% elif submission.evidenceOfPaymentReview.outcome == "pass" and submission.evidenceOfCompletionReview.outcome == "pass"  %} 
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">40 claim approved</h3>
            <p class="moj-timeline__byline">by {{submission.processedBy}}</p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="{{ claim.createdDate }}">{{ submission.processedDate | govukDate }} at {{ submission.processedDate | govukTime }}</time>
          </p>
        </div>

        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">40 claim submitted</h3>
            <p class="moj-timeline__byline">by {{submission.submitter}}</p>
            <p class="moj-timeline__date">
              <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
            </p>
            <div class="moj-timeline__description">The 40 part of your claim is being reviewed by a member of our processing staff.</div>
            <a href="#" class="govuk-link">View claim</a>
          </div>

        </div>


        {% elif submission.evidenceOfPaymentReview.outcome == "fail" or submission.evidenceOfCompletionReview.outcome == "fail"  %} 
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">40 claim rejected</h3>
            <p class="moj-timeline__byline">by {{submission.processedBy}}</p>
            <p class="moj-timeline__date">
              <time datetime="{{ claim.createdDate }}">{{ submission.processedDate | govukDate }} at {{ submission.processedDate | govukTime }}</time>
            </p>
            <div class="moj-timeline__description">The 40 part of your claim has been rejected.</div>
            <a href="#" class="govuk-link">View rejection note</a>
          </div>
          
        </div>

        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">40 claim submitted</h3>
            <p class="moj-timeline__byline">by {{submission.submitter}}</p>
            <p class="moj-timeline__date">
              <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
            </p>
            <div class="moj-timeline__description">The 40 part of your claim is being reviewed by a member of our processing staff.</div>
            <a href="#" class="govuk-link">View claim</a>
          </div>
        </div>

    {% endif %} 

    {% endif %} 
  {% endfor %}

  {% for submission in claim.submissions | orderByMostRecent %}
    {% if submission.submittedDate %} 

    {% if submission.processedDate == null %} 

    <div class="moj-timeline__item">
      <div class="moj-timeline__header">
        <h3 class="moj-timeline__title">60 claim submitted</h3>
        <p class="moj-timeline__byline">by {{submitter}}</p>
        <p class="moj-timeline__date">
          <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
        </p>
        <div class="moj-timeline__description">The 60 part of your claim is being reviewed by a member of our processing staff.</div>
        <a href="#" class="govuk-link">View claim</a>
      </div>
    </div>

    {% elif submission.evidenceOfPaymentReview.outcome == "queried" or submission.evidenceOfCompletionReview.outcome == "queried" %} 
      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h3 class="moj-timeline__title">60 claim queried</h3>
          <p class="moj-timeline__byline">by {{submission.processedBy}}</p>
          <p class="moj-timeline__date">
            <time datetime="{{ claim.createdDate }}">{{ submission.processedDate | govukDate }} at {{ submission.processedDate | govukTime }}</time>
          </p>
          <div class="moj-timeline__description">The 40 part of your claim has been queried.</div>
          <a href="../view-note" class="govuk-link">View query note</a>
        </div>

      </div>

      <div class="moj-timeline__item">
        <div class="moj-timeline__header">
          <h3 class="moj-timeline__title">60 claim submitted</h3>
          <p class="moj-timeline__byline">by {{submitter}}</p>
          <p class="moj-timeline__date">
            <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
          </p>
          <div class="moj-timeline__description">The 60 part of your claim is being reviewed by a member of our processing staff.</div>
          <a href="#" class="govuk-link">View claim</a>
        </div>

      </div>

      {% elif submission.evidenceOfPaymentReview.outcome == "pass" and submission.evidenceOfCompletionReview.outcome == "pass"  %} 
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">60 claim approved</h3>
            <p class="moj-timeline__byline">by {{submission.processedBy}}</p>
          </div>
          <p class="moj-timeline__date">
            <time datetime="{{ claim.createdDate }}">{{ submission.processedDate | govukDate }} at {{ submission.processedDate | govukTime }}</time>
          </p>
        </div>

        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">60 claim submitted</h3>
            <p class="moj-timeline__byline">by {{submission.submitter}}</p>
            <p class="moj-timeline__date">
              <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
            </p>
            <div class="moj-timeline__description">The 60 part of your claim is being reviewed by a member of our processing staff.</div>
            <a href="#" class="govuk-link">View claim</a>
          </div>

        </div>


        {% elif submission.evidenceOfPaymentReview.outcome == "fail" or submission.evidenceOfCompletionReview.outcome == "fail"  %} 
        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">60 claim rejected</h3>
            <p class="moj-timeline__byline">by {{submission.processedBy}}</p>
            <p class="moj-timeline__date">
              <time datetime="{{ claim.createdDate }}">{{ submission.processedDate | govukDate }} at {{ submission.processedDate | govukTime }}</time>
            </p>
            <div class="moj-timeline__description">The 60 part of your claim has been rejected.</div>
            <a href="#" class="govuk-link">View rejection note</a>
          </div>
          
        </div>

        <div class="moj-timeline__item">
          <div class="moj-timeline__header">
            <h3 class="moj-timeline__title">60 claim submitted</h3>
            <p class="moj-timeline__byline">by {{submission.submitter}}</p>
            <p class="moj-timeline__date">
              <time datetime="{{ claim.createdDate }}">{{ submission.submittedDate | govukDate }} at {{ submission.submittedDate | govukTime }}</time>
            </p>
            <div class="moj-timeline__description">The 60 part of your claim is being reviewed by a member of our processing staff.</div>
            <a href="#" class="govuk-link">View claim</a>
          </div>
        </div>

    {% endif %} 

    {% endif %} 
  {% endfor %}

  <div class="moj-timeline__item">
    <div class="moj-timeline__header">
      <h3 class="moj-timeline__title">60 claim created</h3>
    </div>
    <p class="moj-timeline__date">
      <time datetime="{{ claim.createdDate }}">{{ claim.createdDate | govukDate }} at {{ claim.createdDate | govukTime }}</time>
    </p>
  </div>

</div>