


<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Claim</h1>
  <div>
    <div>

        <h2 class="govuk-heading-m" id="training">Training</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {% set training = submission.trainingCode | findTraining(data.training) %}
              {% if training.code | trainingTypeCheck(data.training, "Courses") %}
                <p class="govuk-body">{{ training.code }}</p>
                <p class="govuk-body">{{training.title}}</p>
              {% elif training.code | trainingTypeCheck(data.training, "Qualifications") %}
                <p class="govuk-body">{{ training.code }}</p>
                <p class="govuk-body">{{training.title}}</p>
                <p class="govuk-body">{{training.type}}</p>
                <p class="govuk-body">{{training.awardingOrganisation}}</p>
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ submission.startDate | govukDate }}
            </dd>
          </div>
        </dl>

      <h2 class="govuk-heading-m" id="training">Learner</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">{{learner.givenName}} {{learner.familyName}}</p>
              <p class="govuk-body">{{ submission.learnerID }}</p>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m" id="training">Payment for activity</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Payment date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ submission.costDate | govukDate }}
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Evidence of payment
            </dt>
            <dd class="govuk-summary-list__value">
              {% for payment in submission.evidenceOfPayment %}
               <p><a class="govuk-link" href="/public/images/{{payment}}" target="_blank">{{payment}} (opens in new tab)</a></p>
              {% endfor %}
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m" id="training">Training completion by learner</h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Completion date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ submission.completionDate | govukDate }}
            </dd>
          </div>
          <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
            <dt class="govuk-summary-list__key">
              Evidence of completion
            </dt>
            <dd class="govuk-summary-list__value">
              <p><a class="govuk-link" href="/public/images/{{ submission.evidenceOfCompletion }}" target="_blank">{{ submission.evidenceOfCompletion }}  (opens in new tab)</a></p>
            </dd>
          </div>
        </dl>

        <a href="/hideNote" class="govuk-link govuk-button" >Close</a>

    </div>
  </div>
</div>