<{% if claim.claimType == '60' %}h3{% else %}h2{% endif %} class="govuk-heading-m" id="learner">Learner</{% if claim.claimType == '60' %}h3{% else %}h2{% endif %}>
<dl class="govuk-summary-list">
  {% if not submission.learnerID %}
  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =="missing" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="learner-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add a learner</p>
    </div>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =='missing' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =='missing' %} govuk-summary-key--error {% endif %}">
      Name
    </dt>
    <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.learner =='missing' %} govuk-summary-value--error {% endif %}">
      <a class="govuk-link govuk-link--no-visited-state" href="select-learner">Add learner</a>
    </dd>
  </div>
  {% else %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Name {% if ( claim | checkIfUpdated("learner")) %}<strong class="govuk-tag">updated</strong> {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">{{learner.givenName}} {{learner.familyName}}</p>
      <p class="govuk-body">{{ submission.learnerID }}</p>
    </dd>
    {% if (claim.status == "not-yet-submitted" or claim.status == "queried")%}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="select-learner">Change<span
          class="govuk-visually-hidden"> learner</span></a>
    </dd>
    {% endif %}
  </div>

  {% endif %}
</dl>