{% if data.showNote == "query" %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
      <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Query note</h1>
      <p class="govuk-body"><strong>Evidence of payment: </strong>The evidence of payment provided is not sufficient to prove you paid for the training.</p>
      <a href="/hideNote?noteType=" class="govuk-link govuk-button" >Close</a>

  </div>
</div>
{% elif data.showNote == "rejection" %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
    <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Rejection note</h1>
    <p class="govuk-body"><strong>Evidence of payment: </strong>The learner is ineligible.</p>
    <a href="/hideNote?noteType=" class="govuk-link govuk-button" >Close</a>

</div>
</div>
{% elif data.showNote == "claim" %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
      <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Claim</h1>

      {% include "./training.html" %}
      {% include "./learner.html" %}
      {% include "./evidencePayment.html" %}
      {% include "./evidenceCompletion.html" %}

      <a href="/hideNote?noteType=" class="govuk-link govuk-button" >Close</a>

  </div>
</div>
{% endif %}

<div id="hmrc-timeout-overlay" class="hmrc-timeout-overlay"></div>
