
{% if data.showNote == "query" %}
{% set submission = claim.submissions | findSubmissionByDate(data.submissionDate) %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
      <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Query note</h1>

        {% if submission.evidenceOfPaymentReview.outcome == "queried" %}
          <p class="govuk-body"><strong>Evidence of payment:</strong> {{submission.evidenceOfPaymentReview.note}}</p>
        {% endif %}
        {% if submission.evidenceOfCompletionReview.outcome == "queried" %}
          <p class="govuk-body"><strong>Evidence of completion:</strong> {{submission.evidenceOfCompletionReview.note}}</p>
        {% endif %}

      <a href="/hideNote" class="govuk-link govuk-button" >Close</a>

  </div>
</div>
{% elif data.showNote == "rejection" %}
{% set submission = claim.submissions | findSubmissionByDate(data.submissionDate) %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
    <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Rejection note</h1>
    {% if submission.evidenceOfPaymentReview.outcome == "fail" %}
          <p class="govuk-body"><strong>Evidence of payment:</strong> {{submission.evidenceOfPaymentReview.note}}</p>
        {% endif %}
        {% if submission.evidenceOfCompletionReview.outcome == "fail" %}
          <p class="govuk-body"><strong>Evidence of completion:</strong> {{submission.evidenceOfCompletionReview.note}}</p>
        {% endif %}
    <a href="/hideNote" class="govuk-link govuk-button" >Close</a>

</div>
</div>
{% elif data.showNote == "claim" %}
{% set submission = claim.submissions | findSubmissionByDate(data.submissionDate) %}
<div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
  <div>
      <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Claim</h1>

      {% include "./training.html" %}
      {% include "./learner.html" %}
      {% include "./evidencePayment.html" %}
      {% include "./evidenceCompletion.html" %}

      <a href="/hideNote" class="govuk-link govuk-button" >Close</a>

  </div>
</div>
{% endif %}

<div id="hmrc-timeout-overlay" class="hmrc-timeout-overlay"></div>
