{% extends "../_layouts/claims-main.html" %}

{% block pageTitle %}
Help with understanding reimbursement amounts — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Help with understanding reimbursement amounts</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p class="govuk-body-l">
            Understand here.
        </p>

    </div>
</div>

{% endblock %}