{% set noClaims = status.id | claimCount_V7(data.claims, data.claimType) %}

<div class="govuk-tabs__panel" role="tabpanel" id="{{ status.id }}">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-3">{{ status.name }} ({{ noClaims }})</h2>
      {% if status.id == 'not-yet-submitted' %}
      <p class="govuk-body">Claims that have not yet been submitted. These claims may still need information adding to
        the claim before they can be submitted.</p>
      {% elif status.id == 'submitted' %}
      <p class="govuk-body">Claims that have been submitted. These claims are now with NHS BSA for processing.</p>
      {% elif status.id == 'queried' %}
      <p class="govuk-body">Claims that have been returned by NHS BSA with questions about the claims contents. Please
        review these claims and address the questions.</p>
      {% elif status.id == 'approved' %}
      <p class="govuk-body">Claims that have been approved by NHS BSA. The claims are now awaiting payment.</p>
      {% elif status.id == 'paid' %}
      <p class="govuk-body">Claims that have been paid by NHS BSA.</p>
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="moj-scrollable-pane">
      <div class="govuk-grid-column-full">
        {% if data.claimType == "TU" %}
        {% include "./claims-tab-types/TU-tab.html" %}
        {% elif data.claimType == "CPD" %}
        {% include "./claims-tab-types/CPD-tab.html" %}
        {% endif %}

      </div>
    </div>
  </div>
</div>