{% extends "../layouts/claims-main.html" %}
{% set claim = null %}
{% for c in data.claims %}
{% if c.claimID == data.id %}
{% set claim = c %}
{% endif %}
{% endfor %}

{% block pageTitle %}
{{ ["Add new learner - ", serviceName] | join }}
{% endblock %}


{% block beforeContent %}
<a href="../claim/select-learner?submitError" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if data.submitError.learnerValid != null and not data.submitError.learnerValid %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {{ data.submitError | learnerErrorMessage }}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    {% if data.inClaim == 'true' %}<span class="govuk-caption-l">Claim: {{ claim.claimID }}</span>{% endif %}
    <h1 class="govuk-heading-l">New learner details</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <form action="../create-learner" method="post" novalidate>
      <div
        class="govuk-form-group {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and data.submitError.familyName == 'missing' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-label--s" for="familyName" aria-describedby="full-name-hint">
          Last (family) name
        </label>
        <div id="role-type-hint" class="govuk-hint">
          Their last (family) name as it would appear on a training certificate.
        </div>
        {% if data.submitError.learnerValid != null and not data.submitError.learnerValid and
        data.submitError.familyName == 'missing' %}
        <p id="familyName-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a last (family) name
        </p>
        {% endif %}
        <input
          class="govuk-input {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and data.submitError.familyName == 'missing' %} govuk-input--error {% endif %}"
          id="familyName" name="familyName" type="text" spellcheck="false" autocomplete="name"
          value="{{ data.familyName | default ('') }}">
      </div>
      <div
        class="govuk-form-group {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and data.submitError.givenName == 'missing' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-label--s" for="givenName" aria-describedby="full-name-hint">
          First (given) name
        </label>
        <div id="role-type-hint" class="govuk-hint">
          Their first (given) name as it would appear on a training certificate.
        </div>
        {% if data.submitError.learnerValid != null and not data.submitError.learnerValid and data.submitError.givenName
        == 'missing' %}
        <p id="givenName-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a first (given) name
        </p>
        {% endif %}
        <input
          class="govuk-input {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and data.submitError.givenName == 'missing' %} govuk-input--error {% endif %}"
          id="givenName" name="givenName" type="text" spellcheck="false" autocomplete="name"
          value="{{ data.givenName | default ('') }}">
      </div>
      <div
        class="govuk-form-group {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and (data.submitError.nationalInsuranceNumber == 'missing' or data.submitError.nationalInsuranceNumber == 'invalid' ) %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-label--s" for="nationalInsuranceNumber">
          National Insurance number
        </label>
        <div id="nationalInsuranceNumber-hint" class="govuk-hint">
          For example, ‘QQ 12 34 56 C’.
        </div>
        {% if data.submitError.learnerValid != null and not data.submitError.learnerValid and
        data.submitError.nationalInsuranceNumber == 'missing' %}
        <p id="nationalInsuranceNumber-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a National Insurance number
        </p>
        {% elif data.submitError.learnerValid != null and not data.submitError.learnerValid and
        data.submitError.nationalInsuranceNumber == 'invalid' %}
        <p id="nationalInsuranceNumber-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a National Insurance number in the correct format
        </p>

        {% endif %}
        <input
          class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing {% if data.submitError.learnerValid != null and not data.submitError.learnerValid and (data.submitError.nationalInsuranceNumber == 'missing' or data.submitError.nationalInsuranceNumber == 'invalid' ) %} govuk-input--error {% endif %}"
          id="nationalInsuranceNumber" name="nationalInsuranceNumber" type="text" spellcheck="false"
          aria-describedby="nationalInsuranceNumber-hint" value="{{ data.nationalInsuranceNumber | default ('') }}">
        <details class="govuk-details govuk-!-padding-top-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why do we need this?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">National Insurance (NI) numbers provide unique identifiers for learners. They ensure
              that claims can be accurately managed and processed, even if a learner moves employer.</p>
            <p class="govuk-body">You cannot add a learner if they do not have an NI number, for example because they
              are new to the country. They will need to <a
                href="https://www.gov.uk/apply-national-insurance-number/how-to-apply">apply for an NI number</a> first.
            </p>
          </div>
        </details>
      </div>
      <div
        class="govuk-form-group {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and data.submitError.jobTitle == 'missing' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-label--s" for="jobTitle">
          Job title
        </label>
        {% if data.submitError.learnerValid != null and not data.submitError.learnerValid and data.submitError.jobTitle
        == 'missing' %}
        <p id="jobTitle-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter a job title
        </p>
        {% endif %}
        <input
          class="govuk-input {% if data.submitError.learnerValid != null and not data.submitError.learnerValid  and data.submitError.jobTitle == 'missing' %} govuk-input--error {% endif %}"
          id="jobTitle" name="jobTitle" type="text" value="{{ data.jobTitle | default ('') }}">
        <details class="govuk-details govuk-!-padding-top-2">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why do we need this?
            </span>
          </summary>
          <div class="govuk-details__text">
            Entering a learner’s job title will help you to ensure you add the correct learner to a claim, for example
            if several learners have a similar name. Job titles are not used to process the claim so you can add them in
            whatever way is most useful to you.
          </div>
        </details>
      </div>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">The new learner will be added to the claim. They will also be available to add to future
        claims.</p>
      {% if data.inClaim == 'true' %}
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and add to claim
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../claim/select-learner">Cancel</a>
      </div>
      {% else %}
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Add new learner
      </button>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %}