{% extends "../layouts/claims-main.html" %} 

{% block pageTitle %} 
Organisation details — {{serviceName}} — GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.bankDetailsConfirmation %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#user-checkbox">You must confirm you understand and accept before continuing.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <h1 class="govuk-heading-l">Bank details</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name on account
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.org.bankDetails.nameOnAccount}}
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Sort code
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.org.bankDetails.sortCode}}
            </dd>
            </div>
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Account number
            </dt>
            <dd class="govuk-summary-list__value">
                {{data.org.bankDetails.accountNumber}}
            </dd>
            </div>
            {% if data.org.bankDetails.buildingSocietyNumber != null %}
                <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building society roll number
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">{{data.org.bankDetails.buildingSocietyNumber}}</p>
                </dd>
                </div>
            {% endif %}
        </dl>
    </div>
</div>

{% endblock %}