{% extends "../layouts/claims-account-setup.html" %} 


{% block pageTitle %} 
Organisations — {{serviceName}} — GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-l">Organisations</h1>

    <ul class="govuk-list govuk-list--spaced">
        <li>
          <a class="govuk-link" href="#">Evergreen Care home</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Pinetree Manor Care Centre</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Kingscourt Care Home</a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
