{% extends "../_layouts/claims-main.html" %}

{% block beforeContent %}


<a href="
{% if not req.session.data['addEvidenceInClaimProcess'] %}
../new-claim/confirmation  
{% else %}       
../manage-claim-items
{% endif %}
" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <form action="../evidence-choice" method="post" novalidate>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Add evidence</span>
            <h1 class="govuk-fieldset__heading">
            What type of evidence do you want to add?
            </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="evidenceType" name="evidenceType" type="radio" value="payment">
            <label class="govuk-label govuk-radios__label" for="evidenceType">
                Evidence of payment
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">This is required for all claims. It would normally be an invoice that clearly shows the activity, date and amount being claimed for.</div>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="evidenceType-2" name="evidenceType" type="radio" value="enrollment">
                <label class="govuk-label govuk-radios__label" for="evidenceType-2">
                    Evidence of enrollment
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">This is required for qualifications. It could be an email or other document showing that the learner has been accepted onto the course.</div>
                </div>
            <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="evidenceType-2" name="evidenceType" type="radio" value="completion">
            <label class="govuk-label govuk-radios__label" for="evidenceType-2">
                Evidence of completion
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">This is required for all claims relating to direct care, plus those for professional revalidation that relate to courses or events. It could be an individual certificate or an extract from an electronic register, such as a learning management system (LMS).</div>
            </div>
        </div>
        </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
        Save and continue
    </button>
    </form>
</div>
</div>

{% endblock %}