{% extends "claims/prototypes/design/v2/layouts/claims-main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../manage-claim-items.html">Manage claim items</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Jane Doe</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-page-header-actions">

            <div class="moj-page-header-actions__title">
                <h1 class="govuk-heading-xl">Jane Doe <span class="govuk-caption-l">Care worker<br>#000200 </span></h1>
            </div>
          
            <div class="moj-page-header-actions__actions">
          
              <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">
          
                  <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Edit learner details
                  </button>
          
                  <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Add L&D Activity
                  </button>
          
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#incomplete">
          Incomplete (21)
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#readytosubmit">
          Ready to submit (10)
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#submitted">
          Submitted (10)
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#insufficient-evidence">
          Insufficient evidence (3)
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#paid">
          Paid (22)
        </a>
      </li>
    </ul>
    <!--Incomplete Tab-->
    <div class="govuk-tabs__panel" id="incomplete">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-page-header-actions">
    
            <div class="moj-page-header-actions__title">
              <h2 class="govuk-heading-l">Incomplete (21)</h2>
            </div>
          
            <div class="moj-page-header-actions__actions">
              
              <div class="moj-action-bar">
          
                <div class="moj-action-bar__filter"></div>
          
                <div class="moj-button-menu">
                  <div class="moj-button-menu__wrapper">
          
                    <button class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                      Add evidence
                    </button>
          
                  </div>
                </div>
          
              </div>
    
            </div>
          
          </div>
          
    
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-filter-layout">
    
            <div class="moj-filter-layout__filter">
              {% include "../_components/filter/filter-claim-items.html" %}
            </div>
          
            <div class="moj-filter-layout__content">
          
              <div class="moj-scrollable-pane">
                      <div class="moj-search govuk-!-padding-bottom-6">
    
                          <form action="#" method="post">
                      
                          <div class="govuk-form-group">
                              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                              Search for an activity
                              </label>
                      
                              <div id="search-hint" class="govuk-hint moj-search__hint ">
                              You can search by using a course name
                              </div>
                      
                              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                      
                          </div>
                      
                          <button class="govuk-button moj-search__button " data-module="govuk-button">
                              Search
                          </button>
                      
                          </form>
                      </div>
    
                {% include "../_components/cards/l&dactivity/mock-l&devent-cards-inprogress.html" %}
              </div>
            </div>
          
        </div>
      </div>
      </div>
    </div>
    <!--Ready to submit tab-->
    <div class="govuk-tabs__panel" id="readytosubmit">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-page-header-actions">
    
            <div class="moj-page-header-actions__title">
              <h2 class="govuk-heading-l">Ready to submit (10)</h2>
            </div>
          
            <div class="moj-page-header-actions__actions">
              
              <div class="moj-action-bar">
          
                <div class="moj-action-bar__filter"></div>
          
                <div class="moj-button-menu">
                  <div class="moj-button-menu__wrapper">
          
                    <button class="govuk-button moj-button-menu__item govuk-button--secondary " data-module="govuk-button">
                      Submit all claim items
                    </button>
          
                  </div>
                </div>
          
              </div>
    
            </div>
          
          </div>
          
    
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-filter-layout">
    
            <div class="moj-filter-layout__filter">
              {% include "../_components/filter/filter-claim-items.html" %}
            </div>
          
            <div class="moj-filter-layout__content">
          
              <div class="moj-scrollable-pane">
                      <div class="moj-search govuk-!-padding-bottom-6">
    
                          <form action="#" method="post">
                      
                          <div class="govuk-form-group">
                              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                              Search for a person
                              </label>
                      
                              <div id="search-hint" class="govuk-hint moj-search__hint ">
                              You can search by using a course name
                              </div>
                      
                              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                      
                          </div>
                      
                          <button class="govuk-button moj-search__button " data-module="govuk-button">
                              Search
                          </button>
                      
                          </form>
                      </div>
    
                      {% include "../_components/cards/l&dactivity/mock-l&devent-cards-readytosubmit.html" %}
              </div>
            </div>
          
        </div>
      </div>
      </div>
    </div>
    <!--Submitted tab-->
    <div class="govuk-tabs__panel" id="submitted">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-page-header-actions">
    
            <div class="moj-page-header-actions__title">
              <h2 class="govuk-heading-l">Submitted (10)</h2>
            </div>
          
            <div class="moj-page-header-actions__actions">
              
              <div class="moj-action-bar">
          
                <div class="moj-action-bar__filter"></div>
          
              </div>
    
            </div>
          
          </div>
          
    
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-filter-layout">
    
            <div class="moj-filter-layout__filter">
              {% include "../_components/filter/filter-claim-items.html" %}
            </div>
          
            <div class="moj-filter-layout__content">
          
              <div class="moj-scrollable-pane">
                      <div class="moj-search govuk-!-padding-bottom-6">
    
                          <form action="#" method="post">
                      
                          <div class="govuk-form-group">
                              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                              Search for a person or activity
                              </label>
                      
                              <div id="search-hint" class="govuk-hint moj-search__hint ">
                              You can search by using a course name
                              </div>
                      
                              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                      
                          </div>
                      
                          <button class="govuk-button moj-search__button " data-module="govuk-button">
                              Search
                          </button>
                      
                          </form>
                      </div>
    
                      {% include "../_components/cards/l&dactivity/mock-l&devent-cards-submitted.html" %}
              </div>
            </div>
          
        </div>
      </div>
      </div>
    </div>
    <!--Insufficient Evidence tab-->
    <div class="govuk-tabs__panel" id="insufficient-evidence">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-page-header-actions">
    
            <div class="moj-page-header-actions__title">
              <h2 class="govuk-heading-l">Insufficient Evidence (3)</h2>
            </div>
          
            <div class="moj-page-header-actions__actions">
              
              <div class="moj-action-bar">
          
                <div class="moj-action-bar__filter"></div>
          
              </div>
    
            </div>
          
          </div>
          
    
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-filter-layout">
    
            <div class="moj-filter-layout__filter">
              {% include "../_components/filter/filter-claim-items.html" %}
            </div>
          
            <div class="moj-filter-layout__content">
          
              <div class="moj-scrollable-pane">
                      <div class="moj-search govuk-!-padding-bottom-6">
    
                          <form action="#" method="post">
                      
                          <div class="govuk-form-group">
                              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                              Search for a person or activity
                              </label>
                      
                              <div id="search-hint" class="govuk-hint moj-search__hint ">
                              You can search by a using a course name
                              </div>
                      
                              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                      
                          </div>
                      
                          <button class="govuk-button moj-search__button " data-module="govuk-button">
                              Search
                          </button>
                      
                          </form>
                      </div>
    
                      {% include "../_components/cards/l&dactivity/mock-l&devent-cards-insufficientevidence.html" %}
              </div>
            </div>
          
        </div>
      </div>
      </div>
    </div>
    <!--Paid tab-->
    <div class="govuk-tabs__panel" id="paid">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-page-header-actions">
    
            <div class="moj-page-header-actions__title">
              <h2 class="govuk-heading-l">Paid (22)</h2>
            </div>
          
            <div class="moj-page-header-actions__actions">
              
              <div class="moj-action-bar">
          
                <div class="moj-action-bar__filter"></div>
          
              </div>
    
            </div>
          
          </div>
          
    
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="moj-filter-layout">
    
            <div class="moj-filter-layout__filter">
              {% include "../_components/filter/filter-claim-items.html" %}
            </div>
          
            <div class="moj-filter-layout__content">
          
              <div class="moj-scrollable-pane">
                      <div class="moj-search govuk-!-padding-bottom-6">
    
                          <form action="#" method="post">
                      
                          <div class="govuk-form-group">
                              <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                              Search for a person or activity
                              </label>
                      
                              <div id="search-hint" class="govuk-hint moj-search__hint ">
                              You can search by using a course name
                              </div>
                      
                              <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                      
                          </div>
                      
                          <button class="govuk-button moj-search__button " data-module="govuk-button">
                              Search
                          </button>
                      
                          </form>
                      </div>
    
                      {% include "../_components/cards/l&dactivity/mock-l&devent-cards-paid.html" %}
              </div>
            </div>
          
        </div>
      </div>
      </div>
    </div>
</div>
</div>


{% endblock %}


{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery-3.7.1.js"></script>
<script type="text/javascript" src="/public/javascripts/filter.js"></script>
{% endblock %}