{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V7(data.claims) %}

{% block pageTitle %}
{{ ["Add description - Claim: ", claim.claimID] | join }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.submitError != null and data.submitError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#description-error">Add a description of the activity</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form action="../add-description" method="post" class="form">
      <div class="govuk-form-group {% if data.submitError != null and data.submitError %} govuk-form-group--error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Claim Reference Number: {{ claim.claimID }}</span>
          <h1 class="govuk-fieldset__heading">
            Add description
          </h1>
        </legend>
        <div id="more-detail-hint" class="govuk-hint">
          Provide a description of the activity the learner has undertaken.
        </div>
        {% if data.submitError != null and data.submitError %}
        <p id="description-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Add a description of the activity
        </p>
        {% endif %}
        <textarea class="govuk-textarea {% if data.submitError != null and data.submitError %}govuk-textarea--error{% endif %}" id="description" name="description" rows="3"
          aria-describedby="more-detail-hint">{%if claim.description != null%}{{claim.description}}{% endif %}</textarea>
      </div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Add to claim
        </button>
        <a class="govuk-link govuk-link--no-visited-state"
            href="../cancel-handler">Cancel</a>
    </div>
    </form>
  </div>
</div>

{% endblock %}