{% extends "../layouts/claims-main.html" %}

{% block pageTitle %}
{{ ["Select activity type - ", (data.fundingPot | potName_V7)] | join }}
{% endblock %}

{% block beforeContent %}
<a href="../manage-claims-home?fundingPot=CPD" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.submitError != null and data.submitError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#activity-type-error">Select what type of activity you would like to start a claim for</a>
                          </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        
        <form action="../add-activity" method="post" novalidate>
            <div class="govuk-form-group {% if data.submitError != null and data.submitError %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="activityType-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">{{ data.fundingPot | potName_V7 }}</span>
                        <h1 class="govuk-fieldset__heading">
                            What type of activity would you like to start a claim for?
                        </h1>
                    </legend>
                    <div id="activityType-hint" class="govuk-hint">
                        The activities are split into sections to make it easier to find the one you need. Select one
                        type of activity.
                    </div>
                    {% if data.submitError != null and data.submitError %}
                    <p id="activity-type-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select what type of activity you would like to start a claim for
                    </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        {% set counter = 1 %}
                        {% for group in data.CPDActivities %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="activityType-{{ counter }}" name="activityType"
                                    type="radio" value="{{ group.groupTitle }}" aria-describedby="activityType-{{ counter }}-item-hint">
                                <label class="govuk-label govuk-radios__label" for="activityType-{{ counter }}">
                                    {{ group.groupTitle }}
                                </label>
                                <div id="activityType-{{ counter }}-item-hint" class="govuk-hint govuk-radios__hint">
                                    {{ group.examples }}
                                </div>
                            </div>
                            {% set counter = counter + 1 %}
                            {% endfor %}

                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}