{% extends "./_layouts/claims-account-setup.html" %}

{% set orgList = data.user | generateUserOrgList(data.organisations) %}

{% block pageTitle %}
{{serviceName}} — GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl">My organisations</h1>
        

        {% if orgList.active.length == 0 and orgList.submitted.length == 0 and orgList.draft.length == 0 and orgList.rejected.length == 0 and orgList.inactive.length == 0%}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    You currently don't have any registered organisations.
                </strong>
            </div>
        {% endif %}

        <a type="submit" class="govuk-button" data-module="govuk-button" href="registration/before-you-start">
            Register new organisation
        </a>

        {% if orgList.active.length > 0 %}
            {# <h1 class="govuk-heading-l">Active</h1> #}
            {% for workplaceID in orgList.active %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
        {% if orgList.submitted.length > 0 %}
            {# <h1 class="govuk-heading-l">Awaiting approval</h1> #}
            {% for workplaceID in orgList.submitted %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
        {% if orgList.draft.length > 0 %}
            {# <h1 class="govuk-heading-l">Draft</h1> #}
            {% for workplaceID in orgList.draft %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
        {% if orgList.rejected.length > 0 %}
            {# <h1 class="govuk-heading-l">Rejected</h1> #}
            {% for workplaceID in orgList.rejected %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
        {% if orgList.inactive.length > 0 %}
            {# <h1 class="govuk-heading-l">Inactive</h1> #}
            {% for workplaceID in orgList.inactive %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}