{% extends "./_layouts/claims-account-setup.html" %}

{% set orgList = data.user | generateUserOrgList(data.organisations) %}

{% block pageTitle %}
{{serviceName}} — GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Manage organisations</h1>
        <a type="submit" class="govuk-button" data-module="govuk-button" href="registration/before-you-start">
            Register new organisation
        </a>

        {% if orgList.active.length > 0 %}
            <h2 class="govuk-heading-m">Active</h2>
            {% for workplaceID in orgList.active %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    <h3 class="govuk-heading-s">{{orgDetails.name}}</h3>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}