{% extends "./layouts/processing-main.html" %}

{% block pageTitle %}
{{ ["Home - ", serviceName] | join }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">What do you want to do?</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <ul class="homepage-services-and-info__list">

            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="eligibility-checker"
                            href="process-claim/start-process">Process a claim</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Process a claim using a claim reference number.</p>
                </div>
            </li>

            <li class="chevron-card">
                <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s   govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" data-track-label="manage-tu-claims"
                            href="register-organisation/organisation-details">Register an organisation</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">Register an organisation to use the service during private beta.</p>
                </div>
            </li>

        </ul>
    </div>
</div>

{% endblock %}