{% extends "../../../layouts/claims-main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Add claim item by learner</span>
        <h1 class="govuk-heading-xl">Check your answers before adding the claim item</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Learner
              </dt>
              <dd class="govuk-summary-list__value">
                Sameer Khan
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Activity
                </dt>
                <dd class="govuk-summary-list__value">
                  Becoming a better manager
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Start date
                </dt>
                <dd class="govuk-summary-list__value">
                  23 November 2023
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Evidence of payment
                </dt>
                <dd class="govuk-summary-list__value">
                  invoice.png
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Change<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
            </div>
        </dl>
        <a class="govuk-button" data-module="govuk-button" href="../../../manage-claim-items.html">
            Add claim item
          </a>
    </div>
</div>
{% endblock %}