{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% if claim.claimType == "60" %}
  {% set pairClaim = claim.claimID | findPair(data.claims) %}
{% elif claim.claimType == "40" %}
  {% set pairClaim = claim %}
  {% set claim = pairClaim.claimID | findPair(data.claims) %}
{% endif %}

{% if claim.claimType == "60" %}  

  {% if (claim.status == "queried") %}
    {% set submission = claim | getDraftSubmission %}
  {% else %}
    {% set submission = claim | getMostRelevantSubmission %}
  {% endif %}
  {% if (pairClaim and pairClaim.status == "queried") %}
    {% set pairSubmission = pairClaim | getDraftSubmission %}
  {% else %}
    {% set pairSubmission = pairClaim | getMostRelevantSubmission %}
  {% endif %}

{% else %}

  {% if (claim.status == "queried") %}
    {% set submission = claim | getDraftSubmission %}
  {% else %}
    {% set submission = claim | getMostRelevantSubmission %}
  {% endif %}

{% endif %}



{% set learner = submission.learnerID | findLearner(data["learners"]) %}


{% block pageTitle %}
  {% if (claim.claimType == "100") %}
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}Error: {% endif %}Claim: {{claim.claimID}} — {{serviceName}} — GOV.UK
  {% else %}
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}Error: {% endif %}Combined claim: {{claim.claimID | removeClaimSuffix}} — {{serviceName}} — GOV.UK
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% if (data.fromSearchResults) %}
    <a href="advanced-search" class="govuk-back-link">Back</a>
  {% elif (data.fromSearchId) %}
    <a href="../manage-claims-home?fromSearchId" class="govuk-back-link">Back</a>
  {% elif not (claim.status == "new") and not (claim.status == "not-yet-submitted") and not (claim.status == "queried") %}
    <a href="../manage-claims?statusID={{ data.statusID }}" class="govuk-back-link">Back</a>
  {% endif %} 
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}
      {% include "../_components/claim-sections/errorCatch.html" %}
    {% endif %}
    <h1 class="govuk-heading-xl">
      {% if (claim.claimType == "100") %}
        {{ claim.claimID }}
      {% else %}
        Combined claim: {{ claim.claimID | removeClaimSuffix }}
      {% endif %}
    </h1>

    {% if (claim.claimType == "100") %}

      <p class="govuk-body">This {{ claim.claimType | typeTag }} claim {% if (claim.status != "not-yet-submitted") %}was {{ claim.status | statusTag(data.statuses) }} on {{ (claim | statusDate) | govukDate }}.{% else %}is {{ claim.status | statusTag(data.statuses) }}{% endif %}</p>

    {% elif (claim.claimType == "60") %}

      <p class="govuk-body">The {{ "60" | typeTag }} part of this claim {% if (claim.status != "not-yet-submitted") %}was {{ claim.status | statusTag(data.statuses) }} on {{ (claim | statusDate) | govukDate }}.{% else %}is {{ claim.status | statusTag(data.statuses) }}{% endif %}</p>

      <p class="govuk-body">The {{ "40" | typeTag }} part of this claim {% if pairClaim != null %}{% if (pairClaim.status != "not-yet-submitted") %}was {{ pairClaim.status | statusTag(data.statuses) }} on {{ (pairClaim | statusDate) | govukDate }}.{% else %}is {{ pairClaim.status | statusTag(data.statuses) }}{% endif %} {% elif claim.status =="rejected" %}therefore cannot be started.{% else %}cannot be started until the 60 part is approved.{% endif %}</p>

    {% endif %}

    {% include "../_components/claim-sections/claimAmount.html" %}
    {% include "../_components/claim-sections/alertSection.html" %}

  </div>
</div>


<div class="govuk-grid-row" style="margin-top: 20px;">

  <div class="govuk-grid-column-two-thirds">

    {% if claim.claimType == "100" %}
      <h2 class="govuk-heading-m" id="training">Claim details</h2>
      {% if data.versionResearch == "B" and claim.status != "not-yet-submitted" and (claim.submissions | length) > 1 %}
        <p class="govuk-body"><a class="govuk-link" href="../claim/previousSubmissionsTable?view=100">View previous submissions</a></p>
      {% endif %}
    {% endif %}

    {% if (claim.claimType == "60") %}
    <div class="content-container">
      <div class="vertical-line-container">
        <div class="circle">
          <span class="govuk-heading-s section-number">1</span>
        </div>
        <div class="vertical-line"></div>
      </div>
      <div class="content"> 
        <h2 class="govuk-heading-l" id="sixtyPartClaim">Complete the 60 part</h2>
        <p class="govuk-body">Claim reference for the 60 part: {{ claim.claimID }}</p>
        {% if data.versionResearch == "B" and claim.status != "not-yet-submitted" and claim.submissions.length > 1 %}
          <p class="govuk-body"><a class="govuk-link" href="../claim/previousSubmissionsTable?view=60">View all 60 part submissions</a></p>
        {% endif %}
    {% endif %}

    <dl class="govuk-summary-list">
      {% include "../_components/claim-sections/training.html" %}

      {% include "../_components/claim-sections/evidencePayment.html" %}

      {% include "../_components/claim-sections/learner.html" %}

    {% if (claim.claimType == "60") %}
      {% include "../_components/claim-sections/supportingClaimNote.html" %}
      </dl>
    {% endif %}

    {% if (claim.status == "not-yet-submitted" and claim.claimType == "60") %}
      {% include "../_components/claim-sections/cta-section.html" %}
    {% elif (claim.status == "queried" and claim.claimType == "60") %}
      {% include "../_components/claim-sections/query-cta-section.html" %}
    {% endif %}
    
    {% if (claim.claimType == "60" ) %}
  </div>
</div>
{% endif %}

{% if (claim.claimType == "60") %}
    <div class="content-container govuk-!-padding-bottom-6">
      <div class="vertical-line-container">
        <div class="circle">
          <span class="govuk-heading-s section-number">2</span>
        </div>
        <div class="vertical-line"></div>
        <div class="horizontal-line"></div>
      </div>
      <div class="content">
        <h2 class="govuk-heading-l" id="fourtyPartClaim">Complete the 40 part</h2>

        {% if ((claim.claimType == "60" and ((pairClaim.status != null))))  %}
          <p class="govuk-body">Claim reference for the 40 part: {{ claim.claimID.slice(0, -1) + "C" }}</p>
        {% endif %}

        {% if pairClaim == null and claim.claimType == "60" %}
          {% if claim.status != "rejected" %}
            <p class="govuk-body"><span class="govuk-caption-m">This part cannot be started until the 60 part is approved.</span></p>
          {% elif claim.status == "rejected" %}
            <p class="govuk-body"><span class="govuk-caption-m">The 60 part was rejected therefore the 40 part cannot be started.</span></p>
          {% endif %}
        {% endif %}

        {% if data.versionResearch == "B" and pairClaim.status != "not-yet-submitted" and (pairClaim.submissions | length) > 1 %}
            <p class="govuk-body"><a class="govuk-link" href="../claim/previousSubmissionsTable?view=40">View all 40 part submissions</a></p>
        {% endif %}
        <dl class="govuk-summary-list">
  {% endif %}
    
    
    {% include "../_components/claim-sections/evidenceCompletion.html" %}

    {% if (claim.claimType == "100" ) %}
      {% include "../_components/claim-sections/supportingClaimNote.html" %}
    {% endif %}

    {% if (pairClaim.claimType == "40" and claim.status == "approved" ) %}
      {% set is40Part = "true" %}
      {% include "../_components/claim-sections/supportingClaimNote.html" %}
    {% endif %}
    </dl>

    {% if ((claim.status == "not-yet-submitted" or pairClaim.status == "not-yet-submitted") and (claim.claimType == "100" or pairClaim.claimType == "40"))  %}
      {% include "../_components/claim-sections/cta-section.html" %}
    {% elif ((claim.status == "queried" or pairClaim.status == "queried") and (claim.claimType == "100" or pairClaim.claimType == "40")) %}
      {% include "../_components/claim-sections/query-cta-section.html" %}
    {% endif %}

    {% if (claim.claimType == "60") %}
  </div>
</div>
{% endif %}



  </div>

  <div class="govuk-grid-column-one-third">

    {% include "../_components/claim-sections/claimHistory.html" %}
  </div>

</div> 




{% endblock %}




















