{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}

{% block beforeContent %}
<p class="govuk-body"><a href="claim-details" class="govuk-back-link">Back to claim details</a></p>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l" id="training">Claim submissions</h2>
        <p class="govuk-body">This table shows your current draft and earlier submissions with any updates you've made <mark class="hods-highlight"><strong>highlighted</strong></mark>.</p>
        
        <div class="moj-scrollable-pane">
            <table class="govuk-table">
          
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
          
                  <th scope="col" class="govuk-table__header" style="min-width: 200px;"><span class="govuk-visually-hidden">Submissions</span></th>
          
                  <th scope="col" class="govuk-table__header" style="min-width: 200px;">Current draft</th>
                  <th scope="col" class="govuk-table__header" style="min-width: 200px;">Third submission</th>
                  <th scope="col" class="govuk-table__header" style="min-width: 200px;">Second submission</th>
                  <th scope="col" class="govuk-table__header" style="min-width: 200px;">First submission</th>
          
                </tr>
              </thead>
          
              <tbody class="govuk-table__body">
          
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><strong>Submission date</strong></td>
                  <td class="govuk-table__cell">---</td>
                  <td class="govuk-table__cell">To add</td>
                  <td class="govuk-table__cell">To add</td>
                  <td class="govuk-table__cell">To add</td>


                </tr>
          
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Submitted by</strong></td>
                    <td class="govuk-table__cell">---</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>                </tr>
          
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Edits requested</strong></td>
                    <td class="govuk-table__cell">---</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>                </tr>
          
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Training</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Start date</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Payment date</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Evidence of payment</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Learner</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Completion date</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Evidence of completion</strong></td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td>
                    <td class="govuk-table__cell">To add</td> 
                </tr>

              </tbody>
            </table>
          
          </div>
    </div>
</div>

{% endblock %}