{% extends "../_layouts/main.html" %}

{% block pageTitle %}
Generate claims v22 - {{serviceName}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Claim generated</h1>
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Claim created
                </h1>
                <div class="govuk-panel__body">
                    Your reference number<br><strong>{{data.confirmationID}}</strong>
                </div>
            </div>
            <div class="govuk-button-group">
                <a type="submit" class="govuk-button" data-module="govuk-button" href="./generate">
                    Generate another claim
                </a>
                <a type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" href="../index">
                    Back to prototype
                </a>
            </div>
    </div>
</div>
{% endblock %}