{% extends "../_layouts/claims-account-setup.html" %}


{% block pageTitle %}
{{serviceName}} — GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">ASC-WDS information is incorrect</h1>

        <p class="govuk-body">The information returned from the ASC-WDS is based on the workplace ID you entered. If it is incorrect,  check that you entered the correct workplace ID.</p>
        <p class="govuk-body">To check that the information on your ASC-WDS account is up to date, go to the <a href="https://www.skillsforcare.org.uk/Adult-Social-Care-Workforce-Data/Adult-Social-Care-Workforce-Data-Set/Adult-Social-Care-Workforce-Data-Set.aspx" target="_blank">Skills for Care website (opens in new tab)</a>.</p>
        <p class="govuk-body">If you have any questions, you can email us at <a href="#" class="govuk-link">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a> or phone 0300 330 0522.</p>
        <a type="submit" class="govuk-button" data-module="govuk-button" href="asc-wds-id">
            Continue
        </a>

        </div>
</div>

{% endblock %}