{% extends "../_layouts/claims-account-setup.html" %}

{% block pageTitle %}
Registration details submitted — {{serviceName}} — GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Registration details submitted
            </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            We have sent you a confirmation email.
        </p>
        <div class="govuk-inset-text">
            We'll verify the information you've provided and carry out counter fraud checks. We'll be in touch as soon as these checks are completed.
        </div>

        <a class="govuk-button" data-module="govuk-button" href="../manage-organisations">
            Manage organisations
        </a>
    </div>
</div>

{% endblock %}