{% extends "../layouts/claims-main.html" %}

{% block beforeContent %}
<a href="select-training" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Start new claim</span>
        <h1 class="govuk-heading-l">[{{ data.trainingChoice.code }}] {{ data.trainingChoice.title  }}</h1>
    </div>
</div>


    <a type="submit" class="govuk-button" href="start-date">Select</a>

{% endblock %}