{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}
{% set criteriaList = data.type | returnCriteria(data.criteria) %}

{% block pageTitle %}
Review evidence claim: {{claim.claimID}} - process a claim
{% endblock %}

{% block beforeContent %}
<a href="claim" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">Review evidence of {{data.type}}</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Evidence of {{data.type}}
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    {% if data.type == "payment" %}
                    {% for evidence in claim.evidenceOfPayment %}
                    {% include "../_components/file-section.html" %}
                    {% endfor %}
                    {% elif data.type == "completion" %}
                    {% set evidence = claim.evidenceOfCompletion %}
                    {% include "../_components/file-section.html" %}
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Claim information
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Training title
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ claim.training.title }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Awarding organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ claim.training.awardingOrganisation }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Payment date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ claim.costDate  | govukDate }}
                        </dd>
                    </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body">Review the evidence of {{data.type}} provided against the information in the claim</p>
        <form action="../evidence-check-handler" method="post" novalidate>
            {% for item in criteriaList %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        {{ item.question | returnaAsHTML(claim) }}
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="criteria{{item.no}}" name="criteria{{item.no}}"
                                type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="criteria{{item.no}}">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="criteria{{item.no}}-2" name="criteria{{item.no}}"
                                type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="criteria{{item.no}}-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            {% endfor %}
            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count"
                data-maxlength="1000">
                <label class="govuk-label" for="notes">
                    Additional notes
                </label>
                <div id="notes-hint" class="govuk-hint">
                    Provide an explaination as to why the evidence didn't meet one or more of the criteria
                    above. These
                    notes are for internal use only.
                </div>
                <textarea class="govuk-textarea govuk-js-character-count" id="notes" name="notes" rows="5"
                    aria-describedby="notes-info notes-hint"></textarea>
                <div id="notes-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1000 characters
                </div>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}