{% set paymentCompleted = true %}
{% set learnersCompleted = true %}
<div class="side-nav" id="sideNav">
    <div class="side-nav-header">
        Claim progress
        <button class="minimise-btn" id="minimiseBtn">&#x276E;</button>
    </div>
    <nav class="moj-side-navigation" aria-label="Side navigation">
        {% if ((claim.claimType != "40" or (claim.claimType == "40" and claim.isPaymentPlan)) and not (submission.trainingCode | isInternalOMMT)) %}
            <h4 class="moj-side-navigation__title">Review payment</h4>
            <ul class="moj-side-navigation__list govuk-!-margin-bottom-1">
                <li
                    class="moj-side-navigation__item {% if (submission.evidenceOfPaymentReview.outcome != null) %}moj-side-navigation__item-with-icon{% endif %}{% if (data.claimStep == "payment") %} moj-side-navigation__item--active{% endif %}">
                    <a href="../process-step-handler?stage=payment" aria-current="location" class="moj-side-navigation__link">Evidence of payment</a>
                    {% set paymentIsDone = submission.evidenceOfPaymentReview | checkDone ("payment", claim.claimType) %}
                    {% if (paymentIsDone) %}
                        <span class="moj-badge moj-badge--green">Done</span>
                    {% else %}
                            {% set paymentCompleted = false %}
                    {% endif %}
                </li>
            </ul>
        {% endif %}
        {% if claim.claimType != "60" %}
            <h4 class="moj-side-navigation__title">Review completion</h4>
            <ul class="moj-side-navigation__list">
                {% for learner in submission.learners %}
                    {% set learnerInfo = learner.learnerID | findLearner %}
                    <li class="moj-side-navigation__item  {% if (learner.evidenceOfCompletionReview.outcome != null)  %}moj-side-navigation__item-with-icon{% endif %} {% if (data.claimStep == "completion") and (loop.index == data.learnerCount) %}moj-side-navigation__item--active{% endif %}">
                        <a href="../process-step-handler?stage=completion&learnerNo={{loop.index}}" class="moj-side-navigation__link">{{learnerInfo.givenName}} {{learnerInfo.familyName}}</a>
                        {% set completionIsDone = learner.evidenceOfCompletionReview | checkDone ("completion", claim.claimType) %}
                        {% if (completionIsDone) %}
                            <span class="moj-badge moj-badge--green">Done</span>
                        {% else %}
                            {% set learnersCompleted = false %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if paymentCompleted and learnersCompleted %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-right-3 govuk-!-margin-left-3">
        <ul class="moj-side-navigation__list govuk-!-margin-bottom-1">
            <li
                class="moj-side-navigation__item {% if (data.claimScreen == "confirmOutcome")%}moj-side-navigation__item--active{% endif %}">
                <a href="../outcome-step-handler" aria-current="location" class="moj-side-navigation__link">Confirm outcome</a>
            </li>
        </ul>
        {% endif %}
    </nav>
</div>