<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <a href="../back-all-claims" class="govuk-back-link govuk-!-margin-bottom-6">Back to all claims</a>

        {% if data.processSuccess == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Claim outcome recorded and shared with organisation
                </h3>
            </div>
        </div>
        {% endif %}

        {% if data.progressSaved == true %}
        <div role="region" class="moj-alert moj-alert--success" aria-label="success: Upload successful" data-module="moj-alert">
            <div>
                <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
                <path d="M11.2869 24.6726L2.00415 15.3899L4.62189 12.7722L11.2869 19.4186L25.3781 5.32739L27.9958 7.96369L11.2869 24.6726Z" fill="currentColor" />
                </svg>
            </div>
            <div class="moj-alert__content">Claim progress saved.</div>
            <div class="moj-alert__action">
                <button class="moj-alert__dismiss" hidden>Dismiss</button>
            </div>
        </div>
        {% endif %}

        {% if data.paymentResponseIncomplete or data.paymentReimbursementAmountIncomplete or data.paymentReimbursementAmountInvalid or data.paymentRejectNoteIncomplete or data.completionResponseIncomplete or data.completionRejectNoteIncomplete or data.completionQueriedNoteIncomplete or data.paymentQueriedNoteIncomplete or data.paidInFullResponseIncomplete %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% if data.paymentResponseIncomplete %}
                        <li>
                            <a href="#payment-review">Select an option for evidence of payment</a>
                        </li>
                        {% endif %}

                            {% if data.paidInFullResponseIncomplete %}
                                <li>
                                    <a href="#payment-plan-error">Select yes if the organisation has paid in full</a>
                                </li>
                            {% endif %}

                            {% if data.paymentReimbursementAmountIncomplete %}
                                <li>
                                    <a href="#cost-per-learner-error">Enter cost per learner</a>
                                </li>
                            {% endif %}
                            {% if data.paymentReimbursementAmountInvalid %}
                                <li>
                                    <a href="#cost-per-learner-error">Cost per learner must be a number</a>
                                </li>
                            {% endif %}


                        {% if data.paymentRejectNoteIncomplete %}
                            <li>
                                <a href="#payment-reject-note-error">Enter rejection reasons for evidence of payment </a>
                            </li>
                        {% endif %}

                        {% if data.paymentQueriedNoteIncomplete %}
                            <li>
                                <a href="#payment-queried-note-error">Enter action required for evidence of payment </a>
                            </li>
                        {% endif %}

                        {% if data.completionResponseIncomplete %}
                            <li>
                                <a href="#completion-review">Select an option for evidence of completion </a>
                            </li>
                        {% endif %}

                        {% if data.completionRejectNoteIncomplete %}
                            <li>
                                <a href="#completion-reject-note-error">Enter rejection reasons for evidence of completion</a>
                            </li>
                        {% endif %}

                        {% if data.completionQueriedNoteIncomplete %}
                            <li>
                                <a href="#completion-queried-note-error">Enter action required for evidence of completion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Claim: {{ claim.claimID }}</h1>
        <p class="govuk-body">{{ claim.status | processorstatusTag }}{% if claim.status != 'submitted' %} on {{ submission.processedDate | govukDate }}{% endif %}</p>

        <h2 class="govuk-heading-s">{{claim.claimType | claimTypeText (false)}}</h2>

        {% if claim.status == "submitted" and data.claimScreen != "inProgress" and (data.userType == "processor" or data.userType == "leadProcessor") %}
                <a href="../claim-process-start-handler" class="govuk-button" role="button" draggable="false" data-module="govuk-button">Process claim</a>
        {% endif %}
        
        {% if (pairClaim != null and claim.claimType == "60") or claim.claimType == "40" %}
            <p class="govuk-body">View the <a href="./org-view-main?id={{pairClaim.claimID}}" class="govuk-link">{{pairClaim.claimType | claimTypeText (false)}} of the claim</a>.</p>
        {% elif claim.claimType == "60" %}
            <p class="govuk-body">The 40 part of the claim has not been submitted yet.</p>
        {% endif %}

        {% if claim.submissions | length <= 1 %}
            <p class="govuk-body">This is the <strong>first</strong> time this has been submitted.</p>
        {%else%}
            <p class="govuk-body">This {{claim.claimType | claimTypeText (true)}} has been submitted <strong>{{ claim.submissions | length }}</strong> times.</p>
            <a href="../view-previous-submissions-handler?view={{claim.claimType}}" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">View previous submissions</a>
        {% endif %}
    </div>
</div>