{% extends "../_layouts/processing-main.html" %}

{% set reg = data.registrations | findReg(data.referenceID) %}

{% block pageTitle %}
Check Senior Responsible Officer details are correct — Register an organisation — {{data.processingServiceName}}
{% endblock %}

{% block beforeContent %}
<div >
    <a href="registration-decision" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Register an organisation</span>
        <h1 class="govuk-heading-l">Registration request: ABCD-1234</h1>

        {% if data.confirmation == "onboard" %}
            <p class="govuk-body">You have stated that after the onboarding checks you are making the decision to onbaord the org.</p>
        {% elif data.confirmation == "onboardrisk" %}
            <p class="govuk-body">You have stated that after the onboarding checks you are making the decision to onbaord the organisation at risk. This will add a flag to the organisation which will be visible to processors when processing claims. This will not be visible to organisations. </p>
        {% elif data.confirmation == "notOnboard" %}
            <p class="govuk-body">You have stated that after the onboarding checks you are making the decision to not onbaord the org.</p>
            <p class="govuk-body">The SRO will receive the following note to explain why the request was declined. The wording is taken from what you entered on the previous screen.</p>

            <div class='govuk-inset-text'>
                <h2 class='govuk-heading-s'>Request declined</h2>
                <p class="govuk-body">{{data.declineOnboardNote}}</p>
            </div>
        {% endif %}

        <p class="govuk-body">Confirm that this organisation should be {% if data.confirmation == "onboard" %}onboarded{% elif data.confirmation == "onboardrisk" %}onboarded at risk{% elif data.confirmation == "no" %}not onboarded.{% endif %}. This outcome will be communicated to the organisation.</p>

        <form action="../reg-outcome-handler" method="post" novalidate>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm and {% if data.confirmation == "onboard" %}onboard{% elif data.confirmation == "onboardrisk" %}onboard at risk{% elif data.confirmation == "no" %}decline{% endif %}
                </button>
                <a class="govuk-link" href="organisation-details?newOrg&orgID&edited">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}