{% extends "../_layouts/claims-account-setup.html" %}


{% block pageTitle %}
{% if data.cqcRadioMissing %}Error: {% endif %}Are you registered with the CQC? — Complete registration — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<div >
    <a href="companies-house-registration-number" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data.cqcRadioMissing %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#error">
                                Select whether you are registered with the CQC
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <span class="govuk-caption-l">Register a new organisation</span>
        <form action="../cqcResponse" method="post" novalidate>
            <div class="govuk-form-group {% if data.cqcRadioMissing %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="confirmation-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Are you registered with the CQC?
                    </h1>
                    </legend>
                    {% if data.cqcRadioMissing %}
                    <p id="error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        Select whether you are registered with the CQC
                    </p>
                    {% endif %}
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cqcResponse" name="cqcResponse" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="cqcResponse">
                            Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="cqcResponse-2" name="cqcResponse" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="cqcResponse-2">
                            No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}