{% extends "../_layouts/claims-account-setup.html" %}

{% block pageTitle %}
{% if data.orgAddressEmptyError or data.orgAddressInvalid %}Error: {% endif %}What is the registered address of your organisation? — Complete registration — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<div >
    <a href="org-name" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data.orgAddressEmptyError or data.orgAddressInvalid %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#orgAddress">
                    {% if data.orgAddressEmptyError %}
                    The organisation address must not be empty
                    {% elif data.orgAddressInvalid %}
                    The organisation address must not include invalid characters
                    {% endif %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <span class="govuk-caption-l">Register a new organisation</span>
        <form action="../validate-org-address" method="post" class="form">
            <div class="govuk-form-group {% if data.orgAddressEmptyError or data.orgAddressInvalid %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="orgName-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                            What is the registered address of your organisation?
                      </h1>
                    </legend>
                    <div id="orgAddress-hint" class="govuk-hint">
                      This should match how it appears in the ASC-WDS.
                    </div>
                    {% if data.orgAddressEmptyError or data.orgAddressInvalid %}
                    <p id="orgAddress" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {% if data.orgAddressEmptyError %}
                          The organisation address must not be empty
                        {% elif data.orgAddressInvalid %}
                          The organisation address must not include invalid characters
                        {% endif %}
                    </p>
                    {% endif %}
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                        Address line 1
                        </label>
                        <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                        Address line 2 (optional)
                        </label>
                        <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                        Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-county">
                        County (optional)
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                        Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                  Continue
              </button>
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Save and finish later
              </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}