{% extends "claims/prototypes/v2/layouts/claims-main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Manage claim items</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Jane Doe</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-page-header-actions">

            <div class="moj-page-header-actions__title">
                <h1 class="govuk-heading-xl">Jane Doe <span class="govuk-caption-l">Care worker<br> #000200 </span></h1>
            </div>
          
            <div class="moj-page-header-actions__actions">
          
              <div class="moj-button-menu">
                <div class="moj-button-menu__wrapper">
          
                  <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Edit learner details
                  </button>
          
                  <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Add L&D Activity
                  </button>
          
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        {% include "../claim-items/_includes/filter.html" %}
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">Dementia Training</h2>
              <span><strong class="govuk-tag govuk-tag--red">
                Incomplete
                </strong></span>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    23 November 2023
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> date</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Evidence of payment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    invoice.pdf
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> nationality</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Working situation
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Part time – less than 30 hours a week
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> working situation</span>
                    </a>
                  </dd>
                </div>
              </dl>
            </div>
          </div>
    </div>
</div>


{% endblock %}
