{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Add payment date - Claim: ", claim.claimID] | join }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.submitError.dateValid != null and not data.submitError.dateValid %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {{ data.submitError | dateErrorMessage("Payment date","summary") }}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <form action="../cost-date" method="post" class="form">
            <div class="govuk-form-group {% if data.submitError.dateValid != null and not data.submitError.dateValid %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
                        <h1 class="govuk-fieldset__heading">
                            When did you pay for the course or qualification?
                        </h1>
                    </legend>
                    <p class="govuk-body">This should match up with the date on the payment evidence.</p>

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                                You can only claim for training that started and was paid for on or after 1 April 2024.
                        </strong>
                    </div>
                    
                    <div id="start-date-issued-hint" class="govuk-hint">
                        For example, 12 5 2024
                    </div>
                    {% if data.submitError.dateValid != null and not data.submitError.dateValid %}
                    {{data.submitError | dateErrorMessage("Payment date", "input") }}
                    {% endif %}
                    <div class="govuk-date-input" id="payment-date-started">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="payment-date-started-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (data.submitError | dateErrorFormat('day') ) %} govuk-input--error {% endif %}"
                                    id="payment-date-started-day" name="payment-date-started-day" type="text" value="{{ data['payment-date-started-day'] | default ('') }}"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="payment-date-started-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (data.submitError | dateErrorFormat('month') ) %} govuk-input--error {% endif %}"
                                    id="payment-date-started-month" name="payment-date-started-month" type="text" value="{{ data['payment-date-started-month'] | default ('') }}"
                                    inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="payment-date-started-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if (data.submitError | dateErrorFormat('year') ) %} govuk-input--error {% endif %}"
                                    id="payment-date-started-year" name="payment-date-started-year" type="text" value="{{ data['payment-date-started-year'] | default ('') }}"
                                    inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Add to claim
                </button>
                <a class="govuk-link govuk-link--no-visited-state"
                    href="../cancel-handler">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}