{% extends "../layouts/claims-main.html" %}
{% set claim = data.id | findClaim_V12(data.claims) %}

{% block pageTitle %}
{{ ["Learner ineligible - Claim: ", data.id] | join }}
{% endblock %}

{% block beforeContent %}
    {% if data.question != null and data.question == "one" %}
        <a href="../claim/cpd-eligibility-check-one" class="govuk-back-link">Back</a>
    {% elif data.question != null and data.question == "two" %}
        <a href="../claim/cpd-eligibility-check-two" class="govuk-back-link">Back</a>             
    {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID | removeClaimSuffix_V12 }}</span>
        <h1 class="govuk-heading-l">Not sure if learner is eligible for this funding</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                {% if data.question != null and data.question == "one" %}
                    Not sure if the learner is registered with the NMC or HCPC
                {% elif data.question != null and data.question == "two" %}
                    Not sure if the learner is in an eligible role
                {% elif data.question != null and data.question == "three" %}
                    Not sure if the learner is employed in their capacity as a registered professional
                {% endif %}
            </strong>
        </div>

        <p class="govuk-body">You cannot claim revalidation funding for a learner who is not eligible. If you find the learner is eligible you can go back and update your response.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a type="submit" class="govuk-button" href="../clear-learner">
            Go back to claim
        </a>
    </div>
</div>

{% endblock %}