<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Dementia Training <span class="govuk-caption-m">13 November 2023</span></h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="claim-items/l&devent.html">
                View activity<span class="govuk-visually-hidden"> of Dementia Training on 13 November 2023</span>
            </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
                Add learners<span class="govuk-visually-hidden"> to Dementia Training on 13 November 2023</span>
            </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Learner</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% include "../TU/l&devent-card-row.html" %}
                {% include "../TU/l&devent-card-row.html" %}
                {% include "../TU/l&devent-card-row.html" %}
            </tbody>
        </table>
    </div>
</div>