{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims) %}
{% if claim.claimType == "60" or claim.claimType == "40" %}
{% set pairID = claim.claimID | findPair(data.claims) %}
{% endif %}

{% block pageTitle %}
{{ ["Claim: ", claim.claimID, " - ", (claim.fundingType | potName)] | join }}
{% endblock %}

{% block beforeContent %}
{% if not (claim.status == "new" or claim.status == "not-yet-submitted") %}
<a href="../manage-claims-home" class="govuk-back-link">Back</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if (claim.claimType == "60" or claim.claimType == "40") and pairID == null and claim.status== "approved" %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          You have not yet started the 40 claim related to this 60 claim.
          <a class="govuk-notification-banner__link" href="../start-40-claim">Start 40 claim</a>.
        </p>
      </div>
    </div>
    {% endif %}
    
    {% if data.submitError.claimValid != null and not data.submitError.claimValid %}
    {% include "../_components/claim-sections/errorCatch.html" %}
    {% endif %}
    <span class="govuk-caption-l">{{ claim.fundingType | potName }}</span>
    <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if claim.fundingType == "TU" and claim.claimType != "100" %}
      <div class="govuk-inset-text" style="margin-top: 0px;">
        This {% if claim.claimType == "60" %}60{% elif claim.claimType == "40"%}40{% endif %} claim relates to training using the 60/40 funding model. Find out more about reimbursement amounts and claim types in the <a href="../guidance/evidence-requirements" class="govuk-link">help with starting a new care skills claim</a>.
      </div>
    {% endif %}

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          {{ claim.status | statusTag(data.statuses) }}
        </dd>
      </div>

      {% if claim.fundingType == "TU" %}
      <div class="govuk-summary-list__row {% if pairID == null %}govuk-summary-list__row--no-actions{% endif %}">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ claim.claimType | typeTag }}
          {% if claim.claimType == "100" %}
          <p class="govuk-caption-m" style="padding-top: 5px;" aria-describedby="100-claim-type-hint">Single reimbursement on training completion</p>
          {% elif claim.claimType == "60" %}
            <p class="govuk-caption-m" style="padding-top: 5px;" aria-describedby="60-claim-type-hint">Split reimbursement, 60% up front after payment</p>
          {% elif claim.claimType == "40" %}
          <p class="govuk-caption-m" style="padding-top: 5px;" aria-describedby="40-claim-type-hint">Split reimbursement, 40% on training completion</p>
          {% endif %}
        </dd>

        {% if pairID != null %}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-body" href="claim-details?id={{ pairID }}">View {% if claim.claimType == "60"%}40{%
            elif claim.claimType == "40"%}60{% endif %} claim</a>
        </dd>
        {% endif %}
      </div>
      {% endif %}
    </dl>

    {% if claim.status == "rejected" %}
    <h2 class="govuk-heading-m">Claim rejected</h2>
    <p class="govuk-body">{{claim.rejectedNote}}</p>
    {% endif %}

  {% if claim.fundingType == "TU" %}
    {% include "../_components/claim-sections/training.html" %}
  {% elif claim.fundingType == "CPD" %}
    {% include "../_components/claim-sections/activity.html" %}
  {% endif %}

    {% include "../_components/claim-sections/learner.html" %}

    {% if claim.claimType != "40" %}
    {% include "../_components/claim-sections/evidencePayment.html" %}
    {% endif %}

    {% if claim.fundingType == "TU" and claim.claimType != "60"  or claim.isACourse == true %}
    {% include "../_components/claim-sections/evidenceCompletion.html" %}
    {% endif %}

    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <h2 class="govuk-heading-m">What happens next</h2>

    {% if claim.claimType == "40" %}
      <p class="govuk-body">When you have added all the necessary information to the claim you can confirm the details and submit this 40 claim for processing.</p>
      <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
    {% elif claim.claimType == "60" %}
      <p class="govuk-body">When you have added all the necessary information to the claim you can confirm the details and submit this 60 claim for processing.</p>
      <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
      <p class="govuk-body">Once the 60 claim is approved and the learner has completed the training you'll need to submit the 40 claim for the rest of the reimbursement amount.</p>
    {% elif claim.claimType == "100" %}
      <p class="govuk-body">When you have added all the necessary information to the claim you can confirm the details and submit this 100 claim for processing.</p>
      <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
    {% elif claim.fundingType == "CPD" %}
      <p class="govuk-body">When you have added all the necessary information to the claim you can confirm the details and submit this claim for processing.</p>
      <p class="govuk-body">If you still have information to add or check, you can save and finish the claim later.</p>
    {% endif %}

    <div class="govuk-button-group">
      <form action="../ready-to-declare" method="post" novalidate>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm details
        </button>
      </form>
      <form action="../save-claim" method="post" novalidate>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save and finish later
        </button>
      </form>
    </div>
    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    {% if (data.fundingPot == "TU") %}
      {% include "../_components/claim-sections/claimAmount.html" %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% else %}
      {% include "../_components/claim-sections/cpdClaimAmount.html" %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}
    <h2 class="govuk-heading-m">Related content</h2>
    <p class="govuk-body"><a href="../guidance/help-start-claim" class="govuk-link">Help with starting a new care skills
        claim</a></p>
    <p class="govuk-body"><a href="../guidance/evidence-requirements" class="govuk-link">Help with evidence
        requirements</a></p>
  </div>
</div>
{% endblock %}