{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Declaration - Claim: ", data.id] | join }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.submitError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#declare-checkbox">You must confirm you understand before submitting</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>
        <h1 class="govuk-heading-l">Declaration</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                <p><strong>I declare that the information I have given in this claim is correct and complete. It also meets the rules set out in the grant determination letter.</strong></p>

                <p><strong>I understand that it may be subject to:</strong></p>

                <ul class="govuk-list govuk-list--bullet">
                    <li><strong>verification checks</strong></li>
                    <li><strong>audit review</strong></li>
                    <li><strong>counter fraud checks</strong></li>
                </ul>
            </strong>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form action="../submit-claim" method="post" novalidate>
            <div class="govuk-button-group {% if data.submitError %} govuk-form-group--error {% endif %}"
                id="declare-checkbox">
                <fieldset class="govuk-fieldset" aria-describedby="{% if data.submitError %} declare-error {% endif %}">
                    {% if data.submitError %}
                    <p id="declare-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must confirm you understand before
                        submitting
                    </p>
                    {% endif %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="confirmation" name="confirmation" type="checkbox"
                                value="confirmation">
                            <label class="govuk-label govuk-checkboxes__label" for="confirmation">
                                I confirm that I understand and accept this declaration.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Submit claim
                </button>
                <a class="govuk-link govuk-link--no-visited-state"
                    href="../cancel-handler">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}