{% extends "../_layouts/claims-main.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Claim submitted
        </h1>
        <div class="govuk-panel__body">
            Your claim number
            <br><strong>{{ data.id }}</strong>
        </div>
        </div>
        <p class="govuk-body">We have sent you a <a href="confirmation-email" class="govuk-link">confirmation email</a>.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
        Your claim will now be processed in accordance with scheme rules.
        </p>
        <p class="govuk-body">
            <a href="#" class="govuk-link">Find out more about how long it takes to process and pay a claim</a>.
        </p>
        <p class="govuk-body">
            You can monitor the status of your claim by viewing your claims in manage claims.
        </p>
        <a class="govuk-button" data-module="govuk-button" href="../manage-claims#submitted">
            Manage claims
        </a>
    </div>
</div>

{% endblock %}