{% extends "../layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Eligibility for adult social care staff training and development claims</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Care skills funding</h2>
        <p class="govuk-body">You can claim the costs of training courses and qualifications for:
        <ul class="govuk-list govuk-list--bullet">
            <li>staff who provide direct care and are not registered with a professional body
            <li>registered managers, including aspiring managers who are working towards registration</li>
        </ul>
        </p>
        <p class="govuk-body">You can claim for any training courses and qualifications on the approved list. Browse
            this below.</p>
        <p class="govuk-body">There is no maximum amount that can be claimed per eligible person each year. There is,
            however, a £5 million limit to the amount that each employer can claim for each year.</p>
        <h2 class="govuk-heading-m">Revalidation funding</h2>
        <p class="govuk-body">You can claim the costs of activities relating to professional revalidation (maintaining a
            pin) for:
        <ul class="govuk-list govuk-list--bullet">
            <li>nurses registered with the Nursing and Midwifery Council (NMC)</li>
            <li>art therapists, drama therapists, music therapists, dieticians, occupational therapists, orthoptists,
                osteopaths, physiotherapists, and speech and language therapists registered with the Health & Care
                Professions Council (HCPC)</li>
        </ul>
        </p>
        <p class="govuk-body">You can claim for any activities that meet the requirements for revalidation with the
            Nursing and Midwifery Council (NMC) or Health & Care Professions Council (HCPC).</p>
        <p class="govuk-body">You can find examples of relevant activities from the <a
                href="https://www.nmc.org.uk/revalidation/requirements/cpd/" class="govuk-link">NMC</a> and the <a
                href="https://www.hcpc-uk.org/cpd/your-cpd/cpd-activities/" class="govuk-link">HCPC</a>.</p>
        <p class="govuk-body">You can claim a maximum of £500 per eligible person each year.</p>
        <p class="govuk-body">Get in touch with the NHS Business Services Authority contact centre if you have any
            questions about eligibility.</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">xxxx@bsa.nhs.uk</a> <br>Phone: 01234 567890
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body"><a href="../before-you-start.html" class="govuk-link">Get reimbursed for adult social care
                staff learning and development costs</a></p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Approved activities for care skills funding</h2>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="moj-filter">

            <div class="moj-filter__header">

                <div class="moj-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>

                <div class="moj-filter__header-action">

                </div>

            </div>

            <div class="moj-filter__content">

                <div class="moj-filter__selected">

                    <div class="moj-filter__selected-heading">

                        <div class="moj-filter__heading-title">
                            <h2 class="govuk-heading-m">Selected filters</h2>
                        </div>

                        <div class="moj-filter__heading-action">
                            <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                        </div>

                    </div>

                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>

                    <ul class="moj-filter-tags">

                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span
                                    class="govuk-visually-hidden">Remove this filter</span> Leadership</a></li>

                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span
                                    class="govuk-visually-hidden">Remove this filter</span> Dementia</a></li>

                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span
                                    class="govuk-visually-hidden">Remove this filter</span>Neurodivergence & complex
                                needs</a></li>

                    </ul>

                </div>

                <div class="moj-filter__options">

                    <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
                        Apply filters
                    </button>

                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--m" for="keywords">
                            Keywords
                        </label>

                        <input class="govuk-input" id="keywords" name="keywords" type="text">

                    </div>

                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                                Type

                            </legend>

                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox"
                                        value="1" checked>
                                    <label class="govuk-label govuk-checkboxes__label" for="type">
                                        Dementia (18)
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox"
                                        value="2">
                                    <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                        Digital (5)
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox"
                                        value="3" checked>
                                    <label class="govuk-label govuk-checkboxes__label" for="type-3">
                                        Leadership (2)
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox"
                                        value="3">
                                    <label class="govuk-label govuk-checkboxes__label" for="type-3">
                                        Delegated healthcare tasks (22)
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox"
                                        value="3" checked>
                                    <label class="govuk-label govuk-checkboxes__label" for="type-3">
                                        Neurodivergence & complex needs (6)
                                    </label>

                                </div>

                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox"
                                        value="3">
                                    <label class="govuk-label govuk-checkboxes__label" for="type-3">
                                        Other (13)
                                    </label>

                                </div>
                            </div>

                        </fieldset>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Course</th>
                    <th scope="col" class="govuk-table__header">Category</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Becoming a manager
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                New and improved course for 2023.<br>
                                Cost: £200<br>
                                Reimbursable cost: £180<br>
                                Provider: Training 101<br>
                                <a href="#" class="govuk-link">Read more</a> about this course.
                            </div>
                        </details>
                    </td>
                    <td class="govuk-table__cell">Leadership</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Dementia Basics
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                New and improved course for 2023.<br>
                                Cost: £200<br>
                                Reimbursable cost: £180<br>
                                Provider: Training 101<br>
                                <a href="#" class="govuk-link">Read more</a> about this course.
                            </div>
                        </details>
                    </td>
                    <td class="govuk-table__cell">Dementia</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Intro to autism
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                New and improved course for 2023.<br>
                                Cost: £200<br>
                                Reimbursable cost: £180<br>
                                Provider: Training 101<br>
                                <a href="#" class="govuk-link">Read more</a> about this course.
                            </div>
                        </details>
                    </td>
                    <td class="govuk-table__cell">Neurodivergence & complex needs</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}