{% extends "../_layouts/main.html" %}

{% block pageTitle %}
    {{serviceName}} - GOV.UK
{% endblock %}

{% block beforeContent %}
<div >
    <a href="what-do-you-want-to-do" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.submitError.userValid != null and not data.submitError.userValid %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {{ data.submitError | userErrorMessage }}
              </ul>
            </div>
          </div>
        </div>
        {% endif %}
        <span class="govuk-caption-l">Create a user account</span>
        <h1 class="govuk-heading-l">Your details</h1>
        <form action="../create-user" method="post" novalidate>
            <div
                class="govuk-form-group {% if data.submitError.userValid != null and not data.submitError.userValid  and data.submitError.givenName == 'missing' %} govuk-form-group--error {% endif %}">
                <label class="govuk-label govuk-label--m" for="givenName">
                    First name
                </label>
                {% if data.submitError.userValid != null and not data.submitError.userValid and data.submitError.givenName == 'missing' %}
                <p id="givenName-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter first name
                </p>
                {% endif %}
                <input class="govuk-input {% if data.submitError.userValid != null and not data.submitError.userValid  and data.submitError.givenName == 'missing' %} govuk-input--error {% endif %}" id="givenName" name="givenName" type="text" spellcheck="false" autocomplete="name" value="{{ data.givenName | default ('') }}">
            </div>
            <div
                class="govuk-form-group {% if data.submitError.userValid != null and not data.submitError.userValid  and data.submitError.familyName == 'missing' %} govuk-form-group--error {% endif %}">
                <label class="govuk-label govuk-label--m" for="familyName">
                    Last name
                </label>
                {% if data.submitError.userValid != null and not data.submitError.userValid and data.submitError.familyName == 'missing' %}
                <p id="familyName-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> Enter last name
                </p>
                {% endif %}
                <input class="govuk-input {% if data.submitError.userValid != null and not data.submitError.userValid  and data.submitError.familyName == 'missing' %} govuk-input--error {% endif %}" id="familyName" name="familyName" type="text" spellcheck="false" autocomplete="name" value="{{ data.familyName | default ('') }}">
            </div>
            <div
                class="govuk-form-group {% if data.submitError.userValid != null and not data.submitError.userValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-form-group--error {% endif %}">
                <label class="govuk-label govuk-label--m" for="email">
                    Email address
                </label>
                {% if data.submitError.userValid != null and not data.submitError.userValid and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %}
                <p id="email-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> 
                    {% if data.submitError.email == 'missing' %}
                        Enter email address
                    {% elif data.submitError.email == 'invalid' %}
                        Enter an email address in the correct format, like name@example.com
                    {% endif %}
                </p>
                {% endif %}
                <input class="govuk-input {% if data.submitError.userValid != null and not data.submitError.userValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-input--error  {% endif %}" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{ data.email | default ('') }}">
            </div>
            <div class="govuk-form-group {% if data.submitError.userValid != null and not data.submitError.userValid  and (data.submitError.email == 'missing' or data.submitError.email == 'invalid') %} govuk-form-group--error {% endif %}">
                <label class="govuk-label govuk-label--m" for="phone">
                    Phone number
                </label>
                {% if data.submitError.userValid != null and not data.submitError.userValid and (data.submitError.phone == 'missing' or data.submitError.phone == 'invalid') %}
                <p id="phone-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> 
                    {% if data.submitError.phone == 'missing' %}
                        Enter phone number
                    {% elif data.submitError.phone == 'invalid' %}
                        Enter a valid UK phone number
                    {% endif %}
                </p>
                {% endif %}
                <input class="govuk-input govuk-input--width-10 {% if data.submitError.userValid != null and not data.submitError.userValid  and (data.submitError.phone == 'missing' or data.submitError.phone == 'invalid') %} govuk-input--error  {% endif %}" id="phone" name="phone" type="phone" spellcheck="false" aria-describedby="phone-hint" autocomplete="phone" value="{{ data.phone | default ('') }}">
            </div>

            <h2 class="govuk-heading-m">What happens next</h2>
            <p class="govuk-body">We'll email you a link you can use to verify your email address. Once it's verified you can carry on setting up your account.</p>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
    

{% endblock %}