
{% set claim = data.id | findClaim_V8(data.claims) %} 
{% set paymentCompleted = claim.evidenceOfPaymentreview.pass != null %}
{% set paymentNote = claim.evidenceOfPaymentreview.note %} 
{% set completionCompleted = claim.evidenceOfCompletionreview.pass != null%}
{% set completionNote = claim.evidenceOfCompletionreview.note %} 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% if data.processSuccess == "true" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>

        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                Claim outcome recorded and returned to organisation
            </h3>
        </div>

    </div>
    {% endif %}
    <span class="govuk-caption-l">Claim</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
        {{ claim.claimID }}
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-8">
        {{ claim.status | processorstatusTag_V6 }} {% if claim.status == "approved"%} on {{ claim.approvedDate | govukDate }}{% endif %}{% if claim.status == "rejected"%}on {{ claim.rejectedDate | govukDate }}{%endif%}
    </p>

    <p class="govuk-body">
    This is a 100 claim. It covers both evidence of payment and evidence of
    training completion.
    </p>

    </div>

</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">
        <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item {% if data.claimTab == 'outcome' %}moj-side-navigation__item--active{% endif %}">
                <a href="org-view-main?orgTab=singleClaim&id={{data.id}}&claimTab=outcome" aria-current="location">Outcome</a>
            </li>

            <li class="moj-side-navigation__item {% if data.claimTab == 'history' %}moj-side-navigation__item--active{% endif %}">
                <a href="org-view-main?orgTab=singleClaim&id={{data.id}}&claimTab=history" aria-current="location">History</a>
            </li>
    
            <li class="moj-side-navigation__item {% if data.claimTab == 'details' %}moj-side-navigation__item--active{% endif %}">
                <a href="org-view-main?orgTab=singleClaim&id={{data.id}}&claimTab=details">Details</a>
            </li>

            <li class="moj-side-navigation__item {% if data.claimTab == 'evidence' %}moj-side-navigation__item--active{% endif %}">
                <a href="org-view-main?orgTab=singleClaim&id={{data.id}}&claimTab=evidence">Evidence</a>
            </li>

            <li class="moj-side-navigation__item {% if data.claimTab == 'notes' %}moj-side-navigation__item--active{% endif %}">
                <a href="org-view-main?orgTab=singleClaim&id={{data.id}}&claimTab=notes">Notes</a>
            </li>

            <li class="moj-side-navigation__item {% if data.claimTab == 'submitter' %}moj-side-navigation__item--active{% endif %}">
                <a href="org-view-main?orgTab=singleClaim&id={{data.id}}&claimTab=submitter">Submitter</a>
            </li>
            
        </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-three-quarters">

        {% if data.claimTab == "outcome" %}
            {% include "./claim-outcome.html" %}
        {% elif data.claimTab == "history" %}
            {% include "./claim-history.html" %}
        {% elif data.claimTab == "details" %}
            {% include "./claim-details.html" %}
        {% elif data.claimTab == "evidence" %}
            {% include "./claim-evidence.html" %}
        {% elif data.claimTab == "notes" %}
            {% include "./claim-notes.html" %}
        {% elif data.claimTab == "submitter" %}
            {% include "./claim-submitter.html" %}
        {% endif %}

    </div>

</div>
