<div class="moj-page-header-actions">
    
    <div class="moj-page-header-actions__title">
        <h3 class="govuk-heading-m">Notes</h3>
    </div>

    <div class="moj-page-header-actions__actions">
        <div class="moj-button-group moj-button-group--inline">

            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add note
            </button>

        </div>
    </div>
</div>

{% if claim.notes.length > 0 %}

    {% for note in claim.notes| dateSort_V2 %}
        {% include "../note.html" %}
    {% endfor %}

{% else %}

    <p class="govuk-body">There are currently no notes for this claim.</p>

{% endif %}