{% if (data.processClaimStep == "notStarted") %}
    <h3 class="govuk-heading-m" id="payment">Process claim</h3>
{% else %}
    <span class="govuk-caption-m">Process claim</span>
{% endif %}

{% if (data.processClaimStep == "notStarted") %}

    {% include "./process-claim/notStarted.html" %}

{% elif (data.processClaimStep == "checkPayment") %}

    {% include "./process-claim/checkPayment.html" %}

{% elif (data.processClaimStep == "costPerLearner") %}

    {% include "./process-claim/costPerLearner.html" %}

{% elif (data.processClaimStep == "paymentRejectionNote") %}

    {% include "./process-claim/paymentRejectionNote.html" %}

{% elif (data.processClaimStep == "checkCompletion") %}

    {% include "./process-claim/checkCompletion.html" %}

{% elif (data.processClaimStep == "completionRejectionNote") %}

    {% include "./process-claim/completionRejectionNote.html" %}

{% endif %}