<h3 class="govuk-heading-m">Step {{data.stepNumber}}: Other reasons why action is needed</h3>

<form action="../other-query-note-handler" method="post" novalidate>

    <div class="govuk-form-group govuk-character-count {% if data.otherQueryNoteIncomplete %}govuk-form-group--error{% endif %}" data-module="govuk-character-count">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Is there any other reason why this claim needs action (besides a problem with the evidence)?
        </legend>
        
        <div id="other-query-note-hint" class="govuk-hint">
            This note informs the submitter what actions they need to take
        </div>

        {% if data.otherQueryNoteIncomplete %}
        <p id="other-query-note-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter other action reasons
        </p>
        {% endif %}
        
        <textarea class="govuk-textarea govuk-js-character-count {% if data.otherQueryNoteIncomplete %}govuk-textarea--error{% endif %}" id="otherQueryNote" name="otherQueryNote" rows="30" aria-describedby="other-query-note-info note-hint">{{ data.otherQueryNote | default ('') }}</textarea>
        
        <div id="other-query-note-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 characters
        </div>

</div>

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../process-claim-back-handler">Go back</a>
    </div>

</form>


