<h3 class="govuk-heading-m">Step {{data.stepNumber}}: Evidence of payment - actions needed</h3>

{% include "./supporting-data/payment-evidence-card.html" %}
{% include "./supporting-data/payment-info-card.html" %}

<form action="../payment-query-note-handler" method="post" novalidate>

    <div class="govuk-form-group govuk-character-count {% if data.paymentQueryNoteIncomplete %}govuk-form-group--error{% endif %}" data-module="govuk-character-count">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Why did the evidence of payment not meet the required criteria?
        </legend>
        
        <div id="payment-query-note-hint" class="govuk-hint">
            This note informs the submitter what actions they need to take
        </div>

        {% if data.paymentQueryNoteIncomplete %}
        <p id="payment-query-note-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter payment action reasons
        </p>
        {% endif %}
        
        <textarea class="govuk-textarea govuk-js-character-count {% if data.paymentQueryNoteIncomplete %}govuk-textarea--error{% endif %}" id="paymentQueryNote" name="paymentQueryNote" rows="30" aria-describedby="payment-query-note-info note-hint">{{ data.paymentQueryNote | default ('') }}</textarea>
        
        <div id="payment-query-note-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 characters
        </div>

</div>

    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="../process-claim-back-handler">Go back</a>
    </div>

</form>


