{% extends "../layouts/processing-main.html" %}

{% block pageTitle %}
note making
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="../add-note" method="post" novalidate>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="noteInput">
                        Add a note?
                    </label>
                </h1>
                <p class="govuk-body">
                  This note will be added to the claim: {{data.id}}.
                </p>
                <div class="govuk-form-group govuk-!-padding-top-2 govuk-!-padding-bottom-5">
                <label class="govuk-label" for="sort">
                    Please select a category that applies best to your note
                  </label>
                  <select class="govuk-select" id="category" name="category">
                    <option value="General" selected>General</option>
                    <option value="Fraud">Fraud</option>
                  </select>
                  </div>
                  <label class="govuk-label" for="noteInput">
                    What is the note you would like to add?
                </label>
                <textarea class="govuk-textarea" id="noteInput" name="noteInput" rows="8" aria-describedby="note-input-hint"></textarea>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Add note to claim
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-handler">Cancel</a>
            </div>
        </form>
    </div>
</div>


{% endblock %}