{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim_V8(data.claims) %}
{% set paymentCompleted = claim.evidenceOfPaymentreview.pass != null %}
{% set paymentNote = claim.evidenceOfPaymentreview.note %}
{% set completionCompleted = claim.evidenceOfCompletionreview.pass != null%}
{% set completionNote = claim.evidenceOfCompletionreview.note %}

{% block pageTitle %}
{{ ["Claim: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
    {% if claim.status != "submitted" %}
        <a href="start-process?processSuccess" class="govuk-back-link">Back</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.processSuccess == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Claim outcome recorded and returned to organisation
                </h3>
            </div>
        </div>
        {% endif %}

        {% if data.paymentResponseIncomplete or data.paymentReimbursementAmountIncomplete or data.paymentReimbursementAmountInvalid or data.paymentNoNoteIncomplete or data.completionResponseIncomplete or data.completionNoNoteIncomplete %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if data.paymentResponseIncomplete %}
                <li>
                  <a href="#company-details-1-status">Complete check on evidence of payment</a>
                </li>
                {% endif %}
                {% if data.paymentReimbursementAmountIncomplete %}
                <li>
                  <a href="#company-details-1-status">Complete cost per learner</a>
                </li>
                {% endif %}
                {% if data.paymentReimbursementAmountInvalid %}
                <li>
                  <a href="#company-details-1-status">Enter a valid cost per learner</a>
                </li>
                {% endif %}
                {% if data.paymentNoNoteIncomplete %}
                <li>
                  <a href="#company-details-2-status"> Complete note for evidence of payment</a>
                </li>
                {% endif %}
                {% if data.completionResponseIncomplete %}
                <li>
                  <a href="#company-details-2-status">Complete check on evidence of completion</a>
                </li>
                {% endif %}
                {% if data.completionNoNoteIncomplete %}
                <li>
                  <a href="#company-details-2-status">Complete note for evidence of completion</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}


        {% if claim.status == "submitted"%}
        <span class="govuk-caption-l">Process a claim</span>
        {% endif %}
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;">Claim: {{ claim.claimID }}</h1>
        <p class="govuk-body" style="margin-bottom: 30px;">{{ claim.status | processorstatusTag_V3 }} {% if claim.status == "approved"%} on {{ claim.approvedDate | govukDate }}{% endif %}{% if claim.status == "rejected"%}on {{ claim.rejectedDate | govukDate }}{% endif %}</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% include "../_components/claim-details.html" %}

        <div style="padding-top: 10px;">

            <h2 class="govuk-heading-m">
                Evidence of payment
            </h2>
            <dl class="govuk-summary-list">
                {% for evidence in claim.evidenceOfPayment %}
                    {% set isPayment = true %}
                    {% include "../_components/file-section.html" %}
                {% endfor %}
            </dl>
            {% if (claim.training.fundingModel == "full") and (claim.completionDate != null)%}
            <h2 class="govuk-heading-m">
                Evidence of completion
            </h2>
            <dl class="govuk-summary-list">
                {% set evidence = claim.evidenceOfCompletion %}
                {% set isPayment = false %}
                {% include "../_components/file-section.html" %}
            </dl>
            {% endif %}
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <form action="../claim-process-handler?processSuccess" method="post" novalidate>
            {% if claim.status == "submitted" %}
            <h2 class="govuk-heading-m">Review of evidence</h2>
            {% else %}
            <h2 class="govuk-heading-m">Completed review of evidence</h2>
            {% endif %}
            
            <div class="govuk-form-group {% if data.paymentResponseIncomplete or data.paymentReimbursementAmountIncomplete or data.paymentNoNoteIncomplete %}govuk-form-group--error {% endif %}">
                <div class="govuk-form-group" >
                    <fieldset class="govuk-fieldset" aria-describedby="payment-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Does the evidence of payment meet the required criteria?
                        </legend>
                        {% if data.paymentResponseIncomplete %}
                            <p id="note-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Complete check on evidence of payment
                            </p>
                        {% endif %}

                        {% if claim.status == "submitted" %}

                            <div class="govuk-radios" data-module="govuk-radios">
                                <div class="govuk-radios__item">

                                <input class="govuk-radios__input" id="paymentYes" name="payment" type="radio" value="yes" data-aria-controls="conditional-paymentReimbursementAmount"  {% if claim.evidenceOfPaymentreview.pass != null and claim.evidenceOfPaymentreview.pass == "Approved" %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="paymentYes">
                                    Yes
                                </label>

                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-paymentReimbursementAmount" data-maxlength="1000">
                                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count">
                                    <label class="govuk-label" for="paymentReimbursementAmount">
                                        What was the cost per learner?
                                    </label>
                                    <div id="payment-note-hint" class="govuk-hint">
                                      <p class="govuk-hint">Enter the amount the training cost for a single learner.</p>
                                      <p class="govuk-hint">For instance, if the organisation paid £100 for 4 learners then the cost per learner is £25.</p>
                                      <p class="govuk-hint"><strong>The maximum reimbursable amount for this training is £{{claim.training.reimbursementAmount}}.</strong></p>
                                      <p class="govuk-hint">The organisation will not get back more than they actually paid.</p>
                                  </div>

                                    {% if data.paymentReimbursementAmountIncomplete %}
                                        <p id="note-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> Complete cost per learner
                                        </p>
                                    {% endif %}
                                    {% if data.paymentReimbursementAmountInvalid %}
                                        <p id="note-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> Enter a valid cost per learner
                                        </p>
                                    {% endif %}
                                    <div class="govuk-input__wrapper">
                                        <div class="govuk-input__prefix" aria-hidden="true">£</div>
                                        <input class="govuk-input govuk-input--width-5 {% if data.paymentReimbursementAmountIncomplete or data.paymentReimbursementAmountInvalid %} govuk-input--error {% endif %}" id="paymentReimbursementAmount" name="paymentReimbursementAmount" type="text" value={{claim.reimbursementAmount}}>
                                    </div>

                                </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="paymentNo" name="payment" type="radio" value="no" data-aria-controls="conditional-payment-no" {% if claim.evidenceOfPaymentreview.pass != null and claim.evidenceOfPaymentreview.pass == "Rejected" %}checked{% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="paymentNo">
                                    No
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-no" data-maxlength="1000">
                                    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count">
                                    <label class="govuk-label" for="payment-no">
                                        Why did the evidence not meet the required criteria?
                                    </label>
                                    <div id="payment-note-hint" class="govuk-hint">
                                        This will be seen by the submitter when the claim is processed.
                                    </div>
                                    {% if data.paymentNoNoteIncomplete %}
                                        <p id="note-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>Complete note for evidence of payment
                                        </p>
                                    {% endif %}
                                    <textarea class="govuk-textarea govuk-js-character-count {% if data.paymentNoNoteIncomplete %}govuk-textarea--error{% endif %}" id="paymentNoNote" name="paymentNoNote" rows="21" aria-describedby="payment-no-note-info note-hint">{{ claim.evidenceOfPaymentreview.note | default ('') }}</textarea>
                                    <div id="payment-no-note-info" class="govuk-hint govuk-character-count__message">
                                        You can enter up to 1000 characters
                                    </div>
                                    </div>
                                </div>
                            </div>

                        {% else %}

                            {% if claim.evidenceOfPaymentreview.pass == "Approved" %}
                            <p class="govuk-body">
                                Yes</br>
                                The cost per learner was £{{claim.reimbursementAmount}}.
                            </p>
                            {% else %}
                            <p class="govuk-body">
                                No</br>
                                {{claim.evidenceOfPaymentreview.note}}</p>
                            {% endif %}

                        {% endif %}
                    </fieldset>
                </div>
                
            </div>

            {% if (claim.training.fundingModel == "full") and (claim.completionDate != null)%}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <div class="govuk-form-group {% if data.completionResponseIncomplete or data.completionNoNoteIncomplete %}govuk-form-group--error {% endif %}">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="completion-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Does the evidence of completion meet the required criteria?
                        </legend>
                        {% if data.completionResponseIncomplete %}
                            <p id="note-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Complete check on evidence of completion
                            </p>
                        {% endif %}
                        {% if claim.status == "submitted" %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input " id="completionYes" name="completion" type="radio"
                                value="yes"  {% if claim.evidenceOfCompletionreview.pass != null and claim.evidenceOfCompletionreview.pass == "Approved"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="completionYes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="completionNo" name="completion" type="radio"
                                value="no" data-aria-controls="conditional-notes"  {% if claim.evidenceOfCompletionreview.pass != null and claim.evidenceOfCompletionreview.pass == "Rejected" %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="completionNo">
                                No
                            </label>
                        </div>
                        
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-notes">
                            <div class="govuk-form-group govuk-character-count {% if data.submitError =='notemissing' %}govuk-form-group--error{% endif %}" data-module="govuk-character-count"
                                data-maxlength="1000">
                                <label class="govuk-label" for="completionNote">
                                    Why did the evidence not meet the required criteria?
                                </label>
                                <div id="completionNote-hint" class="govuk-hint">
                                    This will be seen by the submitter when the claim is processed.
                                </div>
                                {% if data.completionNoNoteIncomplete %}
                                <p id="note-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> Complete note for evidence of completion
                                </p>
                                {% endif %}
                                <textarea class="govuk-textarea govuk-js-character-count {% if data.completionNoNoteIncomplete %}govuk-textarea--error{% endif %}" id="completionNoNote" name="completionNoNote"
                                    rows="21"
                                    aria-describedby="completionNote-info completionNote-hint">{{ claim.evidenceOfCompletionreview.note | default ('') }}</textarea>
                                <div id="completionNote-info" class="govuk-hint govuk-character-count__message">
                                    You can enter up to 1000 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}


                    {% if claim.evidenceOfCompletionreview.pass == "Approved" %}
                        <p class="govuk-body">Yes</br></p>
                        {% else %}
                        <p class="govuk-body">No</br>{{claim.evidenceOfCompletionreview.note}}</p>
                        {% endif %}

                    {% endif %}
                    </fieldset>
                </div>
            </div>
            {% endif %}

            {% if (claim.status == "approved") %}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="margin-top: 0px;">
                <p class="govuk-body">The amount to be reimbursed is £{{ claim | reimbursement_V3 }}.</p>
            {% endif %}

            {% if claim.status == "submitted" %}
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Complete claim
                </button>
                <a class="govuk-link govuk-link--no-visited-state" href="../cancel-handler">Cancel</a>
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}