{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim_V8(data.claims) %}
{% set paymentCompleted = claim.evidenceOfPaymentreview.pass %}
{% set paymentNote = claim.evidenceOfPaymentreview.note %}
{% set completionCompleted = claim.evidenceOfCompletionreview.pass %}
{% set completionNote = claim.evidenceOfCompletionreview.note %}

{% block pageTitle %}
{{ ["Claim: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
    {% if claim.status != "submitted" %}
        <a href="start-process?processSuccess" class="govuk-back-link">Back</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.processSuccess == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Claim outcome recorded and returned to organisation
                </h3>
            </div>
        </div>
        {% endif %}

        {% if data.incompletePayment or data.incompleteCompletion %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if data.incompletePayment %}
                <li>
                  <a href="#company-details-1-status"> Complete check on evidence of payment</a>
                </li>
                {% endif %}
                {% if data.incompleteCompletion %}
                <li>
                  <a href="#company-details-2-status"> Complete check on evidence of completion</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}


        {% if claim.status == "submitted" or claim.status == "partlyProcessed" %}
        <span class="govuk-caption-l">Process a claim</span>
        {% endif %}
        <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}<br>{{ claim.status | processorstatusTag_V3 }}</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% include "../_components/claim-details.html" %}

        <div style="padding-top: 10px;">

            <h2 class="govuk-heading-m">
                Evidence of payment
            </h2>
            <dl class="govuk-summary-list">
                {% for evidence in claim.evidenceOfPayment %}
                    {% include "../_components/file-section.html" %}
                {% endfor %}
            </dl>

            <h2 class="govuk-heading-m">
                Evidence of completion
            </h2>
            <dl class="govuk-summary-list">
                {% set evidence = claim.evidenceOfCompletion %}
                {% include "../_components/file-section.html" %}
            </dl>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        {% if claim.status == "submitted" or claim.status == "partlyProcessed" %}
        <h2 class="govuk-heading-m">Perform review of evidence</h2>
        {% else %}
        <h2 class="govuk-heading-m">Completed review of evidence</h2>
        {% endif %}
        
        <!-- evidence of payment -->
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="payment-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Does the evidence of payment meet the required criteria?
                </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">

                  <input class="govuk-radios__input" id="paymentYes" name="payment" type="radio" value="yes" data-aria-controls="conditional-payment-yes">
                  <label class="govuk-label govuk-radios__label" for="paymentYes">
                    Yes
                  </label>

                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-yes" data-maxlength="1000">
                  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count">
                    <label class="govuk-label" for="payment-yes">
                      Reimbursement amount
                    </label>
                    <div id="payment-note-hint" class="govuk-hint">
                        This will be seen by the submitter when the claim is processed.
                    </div>
                    <!-- <input class="govuk-input" id="payment-yes" name="payment-yes" type="yes"> -->
                    <textarea class="govuk-textarea govuk-js-character-count" id="payment-yes" name="payment-yes"
                            rows="21"
                            aria-describedby="payment-yes-note-info note-hint">{{ note | default ('') }}
                    </textarea>
                    <div id="payment-yes-note-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 1000 characters
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="paymentNo" name="payment" type="radio" value="no" data-aria-controls="conditional-payment-no">
                    <label class="govuk-label govuk-radios__label" for="paymentNo">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-no" data-maxlength="1000">
                    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count">
                      <label class="govuk-label" for="payment-no">
                        Why
                      </label>
                      <div id="payment-note-hint" class="govuk-hint">
                          This will be seen by the submitter when the claim is processed.
                      </div>
                      <!-- <input class="govuk-input" id="payment-no" name="payment-no" type="no"> -->
                      <textarea class="govuk-textarea govuk-js-character-count" id="payment-no" name="payment-no"
                              rows="21"
                              aria-describedby="payment-no-note-info note-hint">{{ note | default ('') }}
                      </textarea>
                      <div id="payment-no-note-info" class="govuk-hint govuk-character-count__message">
                          You can enter up to 1000 characters
                      </div>
                    </div>
                  </div>
              </div>
            </fieldset>
          </div>

        <!-- evidence of completion -->
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="completion-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Does the evidence of completion meet the required criteria?
                </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">

                  <input class="govuk-radios__input" id="completionYes" name="completion" type="radio" value="yes" data-aria-controls="conditional-completion-yes">
                  <label class="govuk-label govuk-radios__label" for="completionYes">
                    Yes
                  </label>

                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-completion-yes" data-maxlength="1000">
                  <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count">
                    <label class="govuk-label" for="completion-yes">
                      Reimbursement amount
                    </label>
                    <div id="completion-note-hint" class="govuk-hint">
                        This will be seen by the submitter when the claim is processed.
                    </div>
                    <textarea class="govuk-textarea govuk-js-character-count" id="completion-yes" name="completion-yes"
                            rows="21"
                            aria-describedby="completion-yes-note-info note-hint">{{ note | default ('') }}
                    </textarea>
                    <div id="completion-yes-note-info" class="govuk-hint govuk-character-count__message">
                        You can enter up to 1000 characters
                    </div>
                  </div>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="completionNo" name="completion" type="radio" value="no" data-aria-controls="conditional-completion-no">
                    <label class="govuk-label govuk-radios__label" for="completionNo">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-completion-no" data-maxlength="1000">
                    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count">
                      <label class="govuk-label" for="completion-no">
                        Why
                      </label>
                      <div id="completion-note-hint" class="govuk-hint">
                          This will be seen by the submitter when the claim is processed.
                      </div>
                      <textarea class="govuk-textarea govuk-js-character-count" id="completion-no" name="completion-no"
                              rows="21"
                              aria-describedby="completion-no-note-info note-hint">{{ note | default ('') }}
                      </textarea>
                      <div id="completion-no-note-info" class="govuk-hint govuk-character-count__message">
                          You can enter up to 1000 characters
                      </div>
                    </div>
                  </div>
              </div>
            </fieldset>
          </div>

        
        {% if claim.status == "submitted" or claim.status == "partlyProcessed" %}
        <div class="govuk-button-group">
            <form action="../claim-process-handler?processSuccess" method="post" novalidate>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Complete claim
                </button>
            </form>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}