{% extends "../layouts/processing-main.html" %}
{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Duplicate claim - Claim: ", data.id] | join }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID | removeClaimSuffix }}</span>
        <h1 class="govuk-heading-l">The learner's budget has changed</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                The budget for this learner has changed since you started processing the claim.
            </strong>
        </div>
        <p class="govuk-body">This might be because someone else has been processing another claim for this learner at the same time.</p>

        <p class="govuk-body">Go back to see the updated budget.</p>
        
    </div>
    <div class="govuk-grid-column-two-thirds">
        <a type="submit" class="govuk-button" href="claim?id={{data.id}}">
            Go back
        </a>
    </div>
</div>

{% endblock %}