{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim_V8(data.claims) %}

{% block pageTitle %}
{{ ["Confirm outcome: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Process a claim</span>
    <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}</h1>
    <p class="govuk-body">The claim has <span class="govuk-!-font-weight-bold">{% if data.result == "reject" %}not{%
        endif %} met</span> the evidence criteria and therefore should be <span class="govuk-!-font-weight-bold">{% if
        data.result == "approve" %}approved{% elif data.result ==
        "reject" %}rejected{% endif %}</span>.</p>
    {% if data.result == "approve" %}
    <p class="govuk-body">The organisation will receive <span class="govuk-!-font-weight-bold">£{{ claim | reimbursement_V3 }}</span> in reimbursement.</p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How was this calculated?
        </span>
      </summary>
      <div class="govuk-details__text">
        {% if (claim.training.fundingModel == "split") %}
          <p><strong>£{{ claim | reimbursement_V3 }} is 60% of £{{ claim | original_reimbursement_amount_V3}}.</strong></p>
        {% endif %}

        <p>Organisations cannot get back more than they paid for training.</p>
        <p>Therefore if the organisation paid less than the maximum reimbursement amount they will only get back what they paid. This is the value you specified on the last screen as the <strong>cost per learner</strong>.</p>
        <p>Otherwise they will get back the maximum reimbursement amount.</p>

        {% if (claim.training.fundingModel == "split") %}
          <p>For this 60 claim, the organisation will get back 60% of the reimbursement amount. When the 40 claim is approved they'll get back the remaining 40%.</p>
        {% endif %}
      </div>
    </details>
    {% elif data.result == "reject" %}
    <p class="govuk-body">The organisation will receive the following note to explain why it was rejected. The wording is taken from what you entered on the previous screen.</p>
    {{ claim | rejectionNote_V3 }}
    {% endif %}
    <p class="govuk-body">Confirm that this claim should be {% if data.result == "approve" %}approved{% elif
      data.result ==
      "reject" %}rejected{% endif %}.</p>
      <div class="govuk-button-group">
        <a type="submit" class="govuk-button" href="../outcome-handler">
          {% if data.result == "approve" %}Approve{% elif data.result ==
          "reject" %}Reject{% endif %} claim
        </a>
        <a class="govuk-link govuk-link--no-visited-state" href="../cancel-outcome">Cancel</a>
    </div>
  </div>
</div>


{% endblock %}