{% extends "../_layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Get reimbursed for adult social care CPD or training</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">CPD</h2>
        <p class="govuk-body">Eligible employees are:
            <ul class="govuk-list govuk-list--bullet">
                <li>permanent nurses</li>
                <li>temporary nurses</li>
                <li>allied health professionals: art therapists, drama therapists, music therapists, dieticians, occupational therapists, orthoptists, osteopaths, physiotherapists, and speech and language therapists</li>
            </ul>
        </p>
        <p class="govuk-body">They must be employed by a CQC registered care provider or Local Authority.</p>
        <h2 class="govuk-heading-m">Targeted Upskilling</h2>
        <p class="govuk-body">Eligible employees are:
            <ul class="govuk-list govuk-list--bullet">
                <li>bank registered nurses</li>
                <li>agency staff</li>
                <li>non-regulated managerial staff</li>
                <li>staff providing direct care</li>
            </ul>
        </p>
        <p class="govuk-body">Contact the NHS Business Services Authority contact centre if you have any questions about eligibility.</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">xxxx@bsa.nhs.uk</a> <br>Phone: 01234 567890
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h1 class="govuk-heading-m">Related content</h1>
        <p class="govuk-body"><a href="../index.html" class="govuk-link">Get reimbursed for adult social care CPD or training</a></p>
        <p class="govuk-body"><a href="activities-scope.html" class="govuk-link">Activities in scope for adult social care COD or training</a>
    </div>
</div> 
{% endblock %}