{% set org = data.orgId | findOrganisation(data.organisations) %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="moj-page-header-actions">
            <div class="moj-page-header-actions__title">
                <h1 class="govuk-heading-l govuk-!-margin-top-6">BSA notes</h1>   
            </div>
        
            <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
                <a href="add-org-note" role="button" draggable="false" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
                    Add a note
                </a>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            {% if org.notes.length > 0 %}
            
                {% for note in org.notes | dateSort %}
                    {% include "./org-note.html" %}
                {% endfor %}
            
            {% else %}
            
                <p class="govuk-body">There are currently no notes for this organisation.</p>
            
            {% endif %}

    </div>
</div>


