
{% set org = data.orgId | findOrganisation(data.organisations) %}
{% set SROStatusCheck = false %}
{% for sro in org.signatory %}
    {% if (sro.status == "invited") %}
        {% set SROStatusCheck = true %}
    {% endif %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="{% if (org.signatory.status == 'invited') %}govuk-grid-column-full{% else %}govuk-grid-column-two-thirds{% endif %}">
        <h1 class="govuk-heading-l govuk-!-margin-top-6">Contacts</h1>   

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Senior Responsible Officer (SRO)</h1>
        <a href="../change-sro/change-sro-question" class="govuk-button" data-module="govuk-button">
            Make changes to SRO
        </a>
        

        <table class="govuk-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head govuk-!-margin-top-6">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" width="20%">Name</th>
                    <th class="govuk-table__header" scope="col" width="45%">Email</th>
                    <th class="govuk-table__header" scope="col" width="15%">Status</th>
                    {% if (SROStatusCheck) %}<th class="govuk-table__header" scope="col" width="20%"><span class="govuk-visually-hidden">Actions</span></th>{% endif %}
                    </tr>
                </thead>
            <tbody class="govuk-table__body">
                {% for sro in org.signatory %}
                    <tr class="govuk-table__row claim-row" id="{{ org.workplaceId }}">
                        <td class="govuk-table__cell">{{ sro.givenName}} {{ sro.familyName}}</td>
                        <td class="govuk-table__cell" ><a href="#" class="govuk-link">{{ sro.email }}</a></td>
                        <td class="govuk-table__cell">{{ sro.status | userStatusTag }}</td>
                        {% if (sro.status == "invited") %}<td class="govuk-table__cell" style="text-align: right;">{% if (not (data.resendList | matchResend(sro.email))) %}<a class="govuk-link govuk-link--no-visited-state" href="../reinvite-signatory?name={{sro.email}}">Resend invite<span class="govuk-visually-hidden">to {{sro.givenName}} {{sro.familyName}}</span></a>{% else %}Invitation sent{% endif %}</td>{% elif (SROStatusCheck) %}<td class="govuk-table__cell" style="text-align: right;"></td>{% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        



        <h2 class="govuk-heading-m govuk-!-margin-top-6">Submitters</h1>  
        {% if (org.users.active.length > 0 or org.users.invited.length > 0) %} 
            <table class="govuk-table" data-module="moj-sortable-table">
                <thead class="govuk-table__head govuk-!-margin-top-6">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col" width="30%">Name</th>
                        <th class="govuk-table__header" scope="col" width="55%">Email</th>
                        <th class="govuk-table__header" scope="col" width="15%">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for user in org.users.active %}
                        <tr class="govuk-table__row claim-row" id="{{ submitter.name }}">
                            <td class="govuk-table__cell">{{ user.name}}</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ user.email }}</a></td>
                            <td class="govuk-table__cell">{{ "active" | userStatusTag }}</td>
                        </tr>
                    {% endfor %}
                    {% for user in org.users.invited %}
                    <tr class="govuk-table__row claim-row" id="{{ submitter.name }}">
                        <td class="govuk-table__cell">{{ user.name}}</td>
                        <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ user.email }}</a></td>
                        <td class="govuk-table__cell">{{ "invited" | userStatusTag }}</td>
                    </tr>
                    {% endfor %}
                    {% for user in org.users.inactive %}
                        <tr class="govuk-table__row claim-row" id="{{ submitter.name }}">
                            <td class="govuk-table__cell">{{ user.name}}</td>
                            <td class="govuk-table__cell"><a href="#" class="govuk-link">{{ user.email }}</a></td>
                            <td class="govuk-table__cell">{{ "inactive" | userStatusTag }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
        {% else %}
            <p class="govuk-body">No submitters added yet.</p>
        {% endif %}
 
     </div>
</div>
