{% extends "./layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Claim for adult social care training and development</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Care providers and local authorities in England can use this service to get reimbursed for part of the costs of training and development for staff working in adult social care.</p>
        <p class="govuk-body">The amount you get back may be lower than the course or qualification cost.</p>
        <p class="govuk-body">You can:
        <ul class="govuk-list govuk-list--bullet">
            <li><a
                    href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers#appendix-a-list-of-eligible-training-courses-and-qualifications" class="govuk-link">find an eligible training course or qualification</a> using the scheme guidance</li>
            <li>claim back the cost</li>
        </ul>
        </p>

        <div class="govuk-inset-text">
            You cannot book training using this service. You'll need to book directly with the training provider.
        </div>

        <p>There is 1 type of funding:</p>
        <h2 class="govuk-heading-m">Care skills funding</h2>
        <p class="govuk-body">
            You can claim the costs of training courses and qualifications for:
        <ul class="govuk-list govuk-list--bullet">
            <li>staff who provide direct care and are not registered with a professional body</li>
            <li>registered managers, including aspiring managers who are working towards registration</li>
        </ul>
        </p>
        <a href="./authentication/sign-in?journey=signin" role="button" draggable="false" class="govuk-button govuk-button--start"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You'll need to have an account to use this reimbursement service.</p>
        <div class="govuk-inset-text">
            <p class="govuk-body">The service is currently being tested. If you have not had an invitation you will not yet be able to use it.</p>
        </div>
        <p class="govuk-body">You must also have an <a
                href="https://www.skillsforcare.org.uk/Adult-Social-Care-Workforce-Data/Adult-Social-Care-Workforce-Data-Set/Adult-Social-Care-Workforce-Data-Set.aspx"
                class="govuk-link">Adult Social Care Workforce Data Set</a> account for your organisation. This account will need to be at least 90% up-to-date before you can submit a claim.</p>
        <p class="govuk-body">To make a claim you'll need to be able to enter:
        <ul class="govuk-list govuk-list--bullet">
            <li>what the activity was</li>
            <li>the details of who completed the activity</li>
            <li>evidence relating to the activity</li>
        </ul>
        </p>
        <p class="govuk-body">You will need to provide evidence of payment for the activity. For training courses and qualifications, you'll also need to provide evidence of completion.</p>
        <p class="govuk-body">You will not need to enter all the information in one go. You can start a claim and return to it later.</p>
        <h2 class="govuk-heading-m">If you need help using this service</h2>
        <p class="govuk-body">You can get in touch with the NHS Business Services Authority:</p>
        <div class="govuk-inset-text">
            Use our <a href="https://faq.nhsbsa.nhs.uk/contact-us/" class="govuk-link">contact form</a> <br>Phone: 0300 330 2088
        </div>
    </div>
</div>
{% endblock %}