{% extends "claims/v1/layouts/claims-main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Mark's Care Provider
    </h1>
    <!--Navigation Tabs Start-->
    <div class="moj-primary-navigation">

      <div class="moj-primary-navigation__container">
    
        <div class="moj-primary-navigation__nav">
    
          <nav class="moj-primary-navigation" aria-label="Primary navigation">
    
            <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="overview">Overview</a>
              </li>
    
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" aria-current="page" href="line-items">Line Items</a>
              </li>
    
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#3">Claims</a>
              </li>

              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#4">Learners</a>
              </li>

              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#5">Evidence</a>
              </li>

            </ul>
    
          </nav>
    
        </div>
      </div>
    
    </div>
    <!--Navigation Tabs End -->

    <!--Tab Content Start-->
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <!--Filter Start-->
                <div class="moj-filter">

                    <div class="moj-filter__header">
                  
                      <div class="moj-filter__header-title">
                        <h2 class="govuk-heading-m">Filter</h2>
                      </div>
                  
                      <div class="moj-filter__header-action">
                  
                      </div>
                  
                    </div>
                  
                    <div class="moj-filter__content">
                  
                      <div class="moj-filter__selected">
                  
                        <div class="moj-filter__selected-heading">
                  
                          <div class="moj-filter__heading-title">
                            <h2 class="govuk-heading-m">Selected filters</h2>
                          </div>
                  
                          <div class="moj-filter__heading-action">
                            <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                          </div>
                  
                        </div>
                  
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>
                  
                        <ul class="moj-filter-tags">
                  
                          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
                  
                          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
                  
                        </ul>
                  
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
                  
                        <ul class="moj-filter-tags">
                  
                          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Completed</a></li>
                  
                        </ul>
                  
                      </div>
                  
                      <div class="moj-filter__options">
                  
                        <button class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
                          Apply filters
                        </button>
                  
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--m" for="keywords">
                            Keywords
                          </label>
                  
                          <input class="govuk-input" id="keywords" name="keywords" type="text">
                  
                        </div>
                  
                        <div class="govuk-form-group">
                  
                          <fieldset class="govuk-fieldset">
                  
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  
                              Type
                  
                            </legend>
                  
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="type">
                                  Blue (18)
                                </label>
                  
                              </div>
                  
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                                  Yellow (5)
                                </label>
                  
                              </div>
                  
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                                <label class="govuk-label govuk-checkboxes__label" for="type-3">
                                  Red (2)
                                </label>
                  
                              </div>
                  
                            </div>
                  
                          </fieldset>
                  
                        </div>
                  
                        <div class="govuk-form-group">
                  
                          <fieldset class="govuk-fieldset">
                  
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  
                              Status
                  
                            </legend>
                  
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                                <label class="govuk-label govuk-checkboxes__label" for="status">
                                  Completed (2)
                                </label>
                  
                              </div>
                  
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                                  Incomplete (5)
                                </label>
                  
                              </div>
                  
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                                  In progress (3)
                                </label>
                  
                              </div>
                  
                            </div>
                  
                          </fieldset>
                  
                        </div>
                  
                      </div>
                  
                    </div>
                  
                  </div>
                <!--Filter End-->  
              </div>
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Two-thirds column</h1>
              <p class="govuk-body">This is a paragraph inside a two-thirds wide column</p>
            </div>
          </div>
        </main>
      </div>
      <!--Tab Content End-->
   
</div>

{% endblock %}
