{% set paymentCompleted = true %}
{% set learnersCompleted = true %}
{% set sortedLearners = submission.learners | sortLearners %}

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

  <div class="govuk-accordion__section" style="padding-top: 20px;"> 
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Claim Progress
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      {% if ((claim.claimType != "40" or (claim.claimType == "40" and claim.isPaymentPlan)) and not (submission.trainingCode | isInternalOMMT)) %}
            <h4 class="moj-side-navigation__title">Payment evidence</h4>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link side-nav-item {% if (data.claimStep == "payment") %}side-nav-item-active{% endif %}" id="tracker-payment ">
                    <div class="govuk-task-list__name-and-hint">
                        {% if (data.claimStep == "payment") %}
                            <div class="side-nav-link">Review evidence</div>
                        {% else %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state side-nav-link" href="../process-step-handler?stage=payment" aria-describedby="payment-status">Review evidence</a>
                        {% endif %}
                    </div>
                    {% set paymentIsDone = submission.evidenceOfPaymentReview | checkDone ("payment", claim.claimType) %}
                    {% if (paymentIsDone) %}
                        <div class="govuk-task-list__status outcome-wrapper">
                            <div id="learner-{{loop.index}}-status">{{ submission.evidenceOfPaymentReview.outcome | learnerProcessedTag }}</div>
                        </div>
                    {% else %}
                            {% set paymentCompleted = false %}
                    {% endif %}
                </li>
            </ul>
        {% endif %}
        {% if claim.claimType != "60" %}
            <h4 class="moj-side-navigation__title">Completion evidence</h4>
            <ul class="govuk-task-list">
                {% for learner in sortedLearners %}
                    {% set learnerInfo = learner.learnerID | findLearner %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link side-nav-item {% if (data.claimStep == "completion") and (loop.index == data.learnerCount) %}side-nav-item-active{% endif %}" id="tracker-learner-{{loop.index}}">
                        <div class="govuk-task-list__name-and-hint">
                            {% if (data.claimStep == "completion") and (loop.index == data.learnerCount) %}
                                <div class="side-nav-link">{{learnerInfo.givenName}} {{learnerInfo.familyName}}</div>
                            {% else %}
                                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state side-nav-link" href="../process-step-handler?stage=completion&learnerNo={{loop.index}}" aria-describedby="learner-{{loop.index}}-status">
                                    {{learnerInfo.givenName}} {{learnerInfo.familyName}}
                                </a>
                            {% endif %}
                        
                        </div>
                        {% set completionIsDone = learner.evidenceOfCompletionReview | checkDone ("completion", claim.claimType) %}
                        {% if (completionIsDone) %}
                            <div class="govuk-task-list__status outcome-wrapper">
                                <div id="learner-{{loop.index}}-status">{{ learner.evidenceOfCompletionReview.outcome | learnerProcessedTag }}</div>
                            </div>
                        {% else %}
                            {% set learnersCompleted = false %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
  </div>
</div>
{# <nav class="moj-side-navigation nav-scrollable" aria-label="Side navigation" id="moj-side-navigation"> #}
        {# {% if ((claim.claimType != "40" or (claim.claimType == "40" and claim.isPaymentPlan)) and not (submission.trainingCode | isInternalOMMT)) %}
            <h4 class="moj-side-navigation__title">Payment evidence</h4>
            <ul class="govuk-task-list">
                <li class="govuk-task-list__item govuk-task-list__item--with-link side-nav-item {% if (data.claimStep == "payment") %}side-nav-item-active{% endif %}" id="tracker-payment ">
                    <div class="govuk-task-list__name-and-hint">
                        {% if (data.claimStep == "payment") %}
                            <div class="side-nav-link">Review evidence</div>
                        {% else %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state side-nav-link" href="../process-step-handler?stage=payment" aria-describedby="payment-status">Review evidence</a>
                        {% endif %}
                    </div>
                    {% set paymentIsDone = submission.evidenceOfPaymentReview | checkDone ("payment", claim.claimType) %}
                    {% if (paymentIsDone) %}
                        <div class="govuk-task-list__status outcome-wrapper">
                            <div id="learner-{{loop.index}}-status">{{ submission.evidenceOfPaymentReview.outcome | learnerProcessedTag }}</div>
                        </div>
                    {% else %}
                            {% set paymentCompleted = false %}
                    {% endif %}
                </li>
            </ul>
        {% endif %}
        {% if claim.claimType != "60" %}
            <h4 class="moj-side-navigation__title">Completion evidence</h4>
            <ul class="govuk-task-list">
                {% for learner in sortedLearners %}
                    {% set learnerInfo = learner.learnerID | findLearner %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link side-nav-item {% if (data.claimStep == "completion") and (loop.index == data.learnerCount) %}side-nav-item-active{% endif %}" id="tracker-learner-{{loop.index}}">
                        <div class="govuk-task-list__name-and-hint">
                            {% if (data.claimStep == "completion") and (loop.index == data.learnerCount) %}
                                <div class="side-nav-link">{{learnerInfo.givenName}} {{learnerInfo.familyName}}</div>
                            {% else %}
                                <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state side-nav-link" href="../process-step-handler?stage=completion&learnerNo={{loop.index}}" aria-describedby="learner-{{loop.index}}-status">
                                    {{learnerInfo.givenName}} {{learnerInfo.familyName}}
                                </a>
                            {% endif %}
                        
                        </div>
                        {% set completionIsDone = learner.evidenceOfCompletionReview | checkDone ("completion", claim.claimType) %}
                        {% if (completionIsDone) %}
                            <div class="govuk-task-list__status outcome-wrapper">
                                <div id="learner-{{loop.index}}-status">{{ learner.evidenceOfCompletionReview.outcome | learnerProcessedTag }}</div>
                            </div>
                        {% else %}
                            {% set learnersCompleted = false %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %} #}
    {# </nav> #}

<h3 class="govuk-heading-m" id="submitter">Submitter</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{ submitter.givenName }} {{ submitter.familyName }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Email
        </dt>
        <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="mailto:example@example.com">{{submitter.email}}</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Organisation address at time of submission
        </dt>
        <dd class="govuk-summary-list__value">
            {% for line in org.address%}
                {{line}} </br>
            {% endfor %}
        </dd>
    </div>

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Organisation name at time of submission
        </dt>
        <dd class="govuk-summary-list__value">
            Avery Place Care home
        </dd>
    </div>

</dl>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 class="govuk-heading-m" id="training">
    Training
    {% if data.claimScreen == "inProgress" %}
        {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("training")) %}
            <strong class="govuk-tag">Edited</strong>
        {% endif %}
    {% endif %}
    </h3>
    {% if data.claimScreen == "inProgress" %}
        {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("training")) %}
            <a class="govuk-link" style="font-size: 19px; padding-bottom: 20px;"href="../view-previous-submissions-handler?navigateTo=training">View edits</a>
        {% endif %}
    {% endif %}
</div>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           {{training.code | returntrainingType}}
        </dt>
        <dd class="govuk-summary-list__value">
            {{training.code}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Title
        </dt>
        <dd class="govuk-summary-list__value">
            {{training.title}}
        </dd>
    </div>
    {% if (training.code | returntrainingType) == "Qualification number"%}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Level and type
        </dt>
        <dd class="govuk-summary-list__value">
            {{ training.type }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
            {{ training.awardingOrganisation }}
        </dd>
    </div>
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Max reimbursement amount
        </dt>
        <dd class="govuk-summary-list__value">
            {{training.reimbursementAmount | currency(trailingZeros=false)}}
        </dd>
    </div>
</dl>

<h3 class="govuk-heading-m" id="dates">Dates</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
        <dt class="govuk-summary-list__key">
            Submitted on
        </dt>
        <dd class="govuk-summary-list__value">
                {{submission.submittedDate | govukDate}}
        </dd>
    </div>
    {% if claim.claimType != "40" or claim.isPaymentPlan == true %}
        {% if not (submission.trainingCode | isInternalOMMT) %}
            <div class="govuk-summary-list__row {% if data.claimScreen != "inProgress" %}govuk-summary-list__row--no-actions{% endif %}">
                <dt class="govuk-summary-list__key">
                    Payment date
                    {% if data.claimScreen == "inProgress" %}
                        {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("costDate")) or ( claim.claimType == "40" and claim.isPaymentPlan == true and claim | checkIfChanged("costDate"))%}
                            <strong class="govuk-tag">Edited</strong>
                        {% endif %}
                    {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ submission.costDate | govukDate }}
                </dd>
                {% if data.claimScreen == "inProgress" %}
                    {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("costDate")) or ( claim.claimType == "40" and claim.isPaymentPlan == true and claim | checkIfChanged("costDate"))%}
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="../view-previous-submissions-handler?navigateTo=paymentDate">View edits</a>
                        </dd>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
        {% if claim.claimType == "60" %}
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                    Start date
                    {% if data.claimScreen == "inProgress" %}
                        {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("startDate")) %}
                            <strong class="govuk-tag">Edited</strong>
                        {% endif %}
                    {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ submission.startDate | govukDate }}
                </dd>
                {% if data.claimScreen == "inProgress" and ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("startDate")) %}
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="../view-previous-submissions-handler?navigateTo=startDate">View edits</a>
                    </dd>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    {% if claim.claimType != "60" and data.claimScreen != "inProgress" %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {% if submission.learners.length == 1 %}
                    Completion date
                {% else %}
                    Completion dates
                {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ submission.learners | dateRange }}
            </dd>
        </div>
    {% endif %}
</dl>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3 class="govuk-heading-m" id="learner">
    Learner{%if submission.learners.length > 1%}s{%endif%}
    {% if data.claimScreen == "inProgress" %}
        {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("learners")) or ( claim.claimType == "40" and claim.isPaymentPlan == true and claim | checkIfChanged("learners"))%}
            <strong class="govuk-tag">Edited</strong>
        {% endif %}
    {% endif %}
    </h3>
    {% if data.claimScreen == "inProgress" %}
        {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("learners")) or ( claim.claimType == "40" and claim.isPaymentPlan == true and claim | checkIfChanged("learners"))%}
            <a class="govuk-link" style="font-size: 19px; padding-bottom: 20px;"href="../view-previous-submissions-handler?navigateTo=learners">View edits</a>
        {% endif %}
    {% endif %}
</div>

<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Learner</span>Name{%if submission.learners.length > 1%}s{%endif%}
        </dt>
        <dd class="govuk-summary-list__value">
            <p class="govuk-body">({{submission.learners.length}} learner{%if submission.learners.length > 1%}s{%endif%})</p>

            {%if claim.status == "submitted" or (claim.claimType == "60" and claim.status == "approved") or claim.status == 'inProgress' %}

                <ul class="govuk-list">
                {% for learner in submission.learners | sortLearners %}
                        <li>
                            {%if data.claimStep == null and not (claim.claimType == "60" and claim.status == "approved") %}
                                <a class="govuk-link" href="#{{learner.givenName}}">{{learner.givenName}} {{learner.familyName}}</a>
                            {% else %}
                                {{learner.givenName}} {{learner.familyName}}
                            {% endif %}
                        </li>
                    
                {% endfor %}
                </ul>

            {% else %}

                    {% if needsActionLearners.length > 0 %}
                        <h3 class="govuk-heading-s">Needs action</h3>
                        <ul class="govuk-list">
                        {% for learner in needsActionLearners | sortLearners %}
                            <li>
                                <a class="govuk-link" href="#{{learner.givenName}}">{{learner.givenName}} {{learner.familyName}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if criteriaMetLearners.length > 0 %}
                        <h3 class="govuk-heading-s">Criteria met</h3>
                        <ul class="govuk-list">
                        {% for learner in criteriaMetLearners | sortLearners %}
                            <li>
                                <a class="govuk-link" href="#{{learner.givenName}}">{{learner.givenName}} {{learner.familyName}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if rejectedLearners.length > 0 %}
                        <h3 class="govuk-heading-s">Rejected</h3>
                        <ul class="govuk-list">
                        {% for learner in rejectedLearners | sortLearners %}
                            <li>
                                <a class="govuk-link" href="#{{learner.givenName}}">{{learner.givenName}} {{learner.familyName}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

            {%endif %}
        </dd>
    </div>
</dl>

