 <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
        Evidence 
        {% if data.claimScreen == "inProgress" %}
            {% if ((claim.claimType == "100" or claim.claimType == "60") and claim | checkIfChanged("evidencePayment")) or ( claim.claimType == "40" and claim.isPaymentPlan == true and claim | checkIfChanged("evidencePayment"))%}
                <strong class="govuk-tag">Edited</strong>
            {% endif %}
        {% endif %}
        </h2>
        {% if claim.status != "submitted" and claim.status != 'inProgress'%}
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    {{ submission.evidenceOfPaymentReview.outcome | learnerProcessedTag }}
                </li>
            </ul>
        {% endif %}
        {% if data.claimScreen == "inProgress" %}
            {% if ((claim.claimType == "100" or claim.claimType == "60") and (claim | checkIfChanged("evidencePayment"))) or ( claim.claimType == "40" and claim.isPaymentPlan == true and (claim | checkIfChanged("evidencePayment")))%}
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="../view-previous-submissions-handler?navigateTo=paymentEvidence">View edits<span class="govuk-visually-hidden"> of change</span></a>
                    </li>
                </ul>
            {% endif %}
        {% endif %}
        
    </div>
    <div class="govuk-summary-card__content">
        
            <div class="full-width-summary-row">
                <dd class="govuk-summary-list__value">
                {% for evidence in submission.evidenceOfPayment %}
                    <p class="govuk-body"><a class="govuk-link" href="/public/images/{{evidence}}" target="_blank">{{evidence}} (opens in new tab)</a></p>
                {% endfor %}
                </dd>
            </div>
        
        {% if claim.status != "submitted" and claim.status != 'inProgress'%}
        <dl class="govuk-summary-list" style="border-bottom: none;">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Criteria met?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if submission.evidenceOfPaymentReview.outcome == "queried"%}
                        <strong>No – needs action</strong></br>
                        {{submission.evidenceOfPaymentReview.note}}
                    {% elif submission.evidenceOfPaymentReview.outcome == "fail"%}
                        <strong>No – reject</strong></br>
                        {{submission.evidenceOfPaymentReview.note}}
                    {% else %}
                        Yes
                    {% endif %}
                </dd>
            </div>
            {% if submission.evidenceOfPaymentReview.outcome == "pass"%}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Cost per learner
                </dt>
                <dd class="govuk-summary-list__value">
                    {{submission.evidenceOfPaymentReview.costPerLearner | currency(trailingZeros=false)}} </br>
                </dd>
            </div>
            {% endif %}
        </dl>
        {% endif %}
        
    </div>
</div>

    
