<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" id="{{learner.givenName}}">
        {{ learner.givenName}} {{ learner.familyName}} 
        {% if data.claimScreen == "inProgress" %}
            {% if ((claim.claimType == "100") and claim | checkIfChanged("learners")) or ( claim.claimType == "40" and claim.isPaymentPlan == true and claim | checkIfChanged("learners"))%}
                <strong class="govuk-tag">Edited</strong>
            {% endif %}
        {% endif %}
        </br><span class="govuk-!-font-weight-regular">{{learner.learnerID}}</span>
        </h2>
        {% if claim.status != "submitted" and claim.status != 'inProgress'%}
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    {{ learner.evidenceOfCompletionReview.outcome | learnerProcessedTag }}
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Evidence
                </dt>
                <dd class="govuk-summary-list__value">
                    <a class="govuk-link" href="/public/images/{{learner.evidenceOfCompletion}}" target="_blank">{{ learner.evidenceOfCompletion }} (opens in new tab)</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Completion date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ learner.completionDate | govukDate }}
                </dd>
            </div>
            {% if claim.status != "submitted" and claim.status != 'inProgress'%}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Criteria met?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if learner.evidenceOfCompletionReview.outcome == "queried"%}
                            <strong>No &ndash; needs action</strong></br>
                            {{learner.evidenceOfCompletionReview.note}}
                        {% elif learner.evidenceOfCompletionReview.outcome == "fail"%}
                            <strong>No &ndash; reject</strong></br>
                            {{learner.evidenceOfCompletionReview.note}}
                        {% else %}
                            Yes
                        {% endif %}
                    </dd>
                </div>
        {% endif %}
        </dl>
    </div>
</div>
