{% extends "../layouts/claims-account-setup.html" %}

{% block pageTitle %}
{% if data.declarationSubmitError %}Error: {% endif %}Declaration — Complete registration — {{serviceName}} — GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.declarationSubmitError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#declare-checkbox">You must confirm you understand and accept before continuing.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sign the new grant determination letter</h1>

            <p class="govuk-body">Confirm you have read the new grant determination letter (GDL) for the year starting 1 April 2025. This sets out, on behalf of the Secretary of State for Health and Social Care, the conditions that you must meet for claims to be paid.</p>

            <p class="govuk-body">You must accept the conditions in the new letter before continuing. Your organisation will not be able to submit claims that were paid for in the year starting 1 April 2025 until you have signed it.</p>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form action="../new-declaration-confirmation" method="post" novalidate>
            <div class="govuk-button-group {% if data.declarationSubmitError %} govuk-form-group--error {% endif %}"
                id="declare-checkbox">
                <fieldset class="govuk-fieldset" aria-describedby="{% if data.declarationSubmitError %} declare-error {% endif %}">
                    {% if data.declarationSubmitError %}
                    <p id="declare-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must confirm you understand and accept before continuing.
                    </p>
                    {% endif %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox"
                                value="declaration-confirmed">
                            <label class="govuk-label govuk-checkboxes__label" for="declaration">
                                I understand and accept.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <a class="govuk-link" href="../manage-claims-home?tabLocation=claims&declarationSubmitError">Sign later</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}