{% set paymentCompleted = claim.evidenceOfPaymentreview.pass != null %}
{% set paymentRejectte = claim.evidenceOfPaymentreview.note %}
{% set completionCompleted = claim.evidenceOfCompletionreview.pass != null%}
{% set completionNote = claim.evidenceOfCompletionreview.note %}

{% include "./claim-sections/claim-header.html" %}

{% if (data.claimScreen == "inProgress") %}

{% include "./claim-sections/claim-progress-tracker.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        {% include "./claim-sections/claim-details.html" %}

    </div>

    <div class="govuk-grid-column-one-half">
        
        {% if (data.claimStep == "payment") %}

            {% include "./claim-steps/paymentCheck.html" %}

        {% elif (data.claimStep == "completion") %}

            {% include "./claim-steps/completionCheck.html" %}

        {% endif %}

    </div>
</div>

{% elif (data.claimScreen == "checkList")  %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% include "./claim-steps/check-list.html" %}

    </div>
</div>

{% elif (data.claimScreen == "confirmOutcome")  %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% include "./claim-steps/confirm-outcome.html" %}

    </div>
</div>

{% endif %}