{% set foundLearnerSubmission = claim.submissions | findLearnerSubmissionByDate(data.submittedDate, data.learnerID) %}
{% set learner = foundLearnerSubmission.learnerID | findLearner(data.learners) %}

  <div id="note-dialog" tabindex="-1" role="dialog" aria-modal="true" class="note-dialog" aria-labelledby="note-heading note-message">
    <div>
        
          {% if foundLearnerSubmission.evidenceOfCompletionReview.outcome == "queried" %}
            <h1 id="note-heading" class="govuk-heading-m push--top">Needs action</h1>
          {% elif foundLearnerSubmission.evidenceOfCompletionReview.outcome == "fail"%}
            <h1 id="note-heading" class="govuk-heading-m push--top">Rejected</h1>
          {% endif %}

          <p class="govuk-body"><strong>Version: </strong>{{data.count | formatCountToText}} submission </br> <strong>Submitted date: </strong>{{data.submittedDate | govukDate}}</p>

          <p class="govuk-body"><strong>Learner: {{learner.givenName}} {{learner.familyName}}</strong></p>


          {% if foundLearnerSubmission.evidenceOfCompletionReview.outcome == "queried" %}
            <p class="govuk-body"><strong>Completion evidence:</strong> {{foundLearnerSubmission.evidenceOfCompletionReview.note}}</p>
          {% elif foundLearnerSubmission.evidenceOfCompletionReview.outcome == "fail"%}
              <p class="govuk-body"><strong>Completion evidence:</strong> {{foundLearnerSubmission.evidenceOfCompletionReview.note}}</p>
          {% endif %}

        <a href="/hideProcessorLearnerNote" class="govuk-link govuk-button">Close</a>
    </div>
  </div>


<div id="claim-history-overlay" class="claim-history-overlay"></div>
