{% extends "../layouts/claims-main.html" %}

{% block pageTitle %}
{{ ["Grant decleration - ", (data.claimType | potName_V9)] | join }}
{% endblock %}

{% block beforeContent %}
<div >
    <a href="job-title" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.declarationSubmitError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#declare-checkbox">You must confirm you understand and accept before continuing.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Complete registration</span>
            <h1 class="govuk-heading-l">Grant determination and declaration</h1>

            <p class="govuk-body">The Secretary of State for Health and Social Care (“the Secretary of State”), in exercise of the powers conferred by section 149(1A) of the Health and Social Care Act 2008 makes the following determination:</p>

            <h2 class="govuk-heading-m">Citation</h2>

            <ol class="govuk-list govuk-list--number">
                <li>This determination may be cited as the Adult Social Care (ASC) Training and Development Fund Grant Determination (2024/2025): No 149(1A)/xx</li>
            </ol>

            <h2 class="govuk-heading-m">Purpose of the grant</h2>

            <ol class="govuk-list govuk-list--number" start="2">
                <li>The purpose of the grant is to provide financial assistance to any eligible Adult Social Care (ASC) employer (the recipient) engaged in the provision in England, of certain adult social care services. Assistance is provided by way of reimbursement towards evidenced recipient costs for eligible training and qualifications.</li>
            </ol>

            <h2 class="govuk-heading-m">Determination</h2>

            <ol class="govuk-list govuk-list--number" start="3">
                <li>The Secretary of State determines that a recipient to which this grant is to be paid is any ASC employer satisfying the <a href="#grantconditions">grant conditions</a>, below.</li>
            </ol>

            <h2 class="govuk-heading-m">Grant conditions</h2>

            <ol class="govuk-list govuk-list--number" start="4">
                <li>Pursuant to section 149(1A) of the Health and Social Care Act 2008, the Secretary of State determines that the grant will be paid subject to the recipient complying with the <a href="#grantconditions">grant conditions</a>, and acting in accordance with the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>.</li>
                <li>The grant paid to the recipient under this determination may be used only for the purposes set out in the fund grant conditions and fund guidance.</li>
            </ol>

            <h2 class="govuk-heading-m">Grant clawback</h2>

            <ol class="govuk-list govuk-list--number" start="6">
                <li>Any breach of fund conditions whereby grant monies are improperly obtained will trigger the fund clawback provisions as set out in the grant conditions.</li>
            </ol>

            <p class="govuk-body">Signed on behalf of the Secretary of State for Health and Social Care:</p>

            <div class="govuk-inset-text">
                <p class="govuk-body">Name: [name]</p>
                <p class="govuk-body">Role: [role]</p> 
                <p class="govuk-body">[date]</p>
            </div>

            <h1 class="govuk-heading-l" id="grantconditions">Grant conditions</h1>

            <h2 class="govuk-heading-m">Definition of terms</h2>

            <h3 class="govuk-heading-s">Adult social care employer (the recipient)</h3>

            <p class="govuk-body">Commercial enterprises (including registered charities) providing paid-for adult social care services and employing care workers to deliver those services.</p>

            <h3 class="govuk-heading-s">Adult social care services</h3>

            <p class="govuk-body">Adult social care services including (or similar to):</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>adult residential (care homes services with nursing, care home services without nursing, sheltered housing, other adult residential care services)</li> 
                <li>adult day (day care and day services, other adult day care services)</li>
                <li>adult domiciliary (domestic services and home help, domiciliary care services, extra care housing services, live-in care, supported living services, other adult domiciliary care services)</li>
                <li>adult community care (carers support, community support and outreach, disability adaptations or assistive technology services, information and advice services, occupational or employment related services, Shared Lives, short breaks or respite care, social work or care management)</li>
            </ul>

            <h3 class="govuk-heading-s">Eligible training and qualifications</h3>

            <p class="govuk-body">Those training courses and qualifications set out within the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers#appendix-a-list-of-eligible-training-courses-and-qualifications">fund guidance</a>.</p>

            <h3 class="govuk-heading-s">Adult Social Care Workforce Data Set (ASC-WDS)</h3>

            <p class="govuk-body">An online database hosted and administrated by Skills for Care (SfC) within which the recipient can create an account to enter and store information about its workforce.</p>

            <h3 class="govuk-heading-s">Senior responsible officer</h3>

            <p class="govuk-body">An officer of the recipient (nominated by the recipient) having sufficient authority to make legally binding contracts on its behalf.</p>

            <h2 class="govuk-heading-m">Fund conditions</h2>

            <h3 class="govuk-heading-s">Eligibility requirements</h3>

            <ol class="govuk-list govuk-list--number">
                <li>The recipient must provide at least one of the adult social care services referred to above.</li>
                <li>The recipient must have an up-to-date account with the SfC hosted Adult Social Care Workforce Data Set (ASC-WDS).</li>
                <li>The ‘care skills’ training courses or qualifications and regulated professional ‘revalidation’ activities must be eligible as set out in the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>.</li>
                <li>The care workers whose upskilling is claimed for must be employed by the recipient and eligible as set out in the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>.</li>
            </ol>

            <h3 class="govuk-heading-s">Claim requirements</h3>

            <ol class="govuk-list govuk-list--number" start="5">
                <li>Claims must be supported by evidence of prior payment by the claimant for the care skills and/or revalidation courses and/or activities for which reimbursement is being sought.</li>
                <li>Claims can only be made for care worker employees who have started and/or completed the care skills courses and/or qualifications, and/or completed the revalidation activity.</li>
                <li>Claims for completed care skills courses and/or qualifications, and/or completed revalidation activity, must be supported by evidence of completion.</li>
                <li>Claims must be made using the online digital service referred to in the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>. This will include assisted submissions, facilitated by the fund administrators, where users are unable to access or use the digital service.</li>
                <li>Claims cannot be repeated for the same care worker employee for the same training, qualification, or revalidation activity.</li>
                <li>Claims will be reimbursed at the rates set out in the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>.</li>
            </ol>

            <h3 class="govuk-heading-s">Timeframe requirements</h3>

            <ol class="govuk-list govuk-list--number" start="11">
                <li>Only care skills and revalidation training, qualification or activity that has started on, or after, 1 April 2024 up to, and including, 31 March 2025, can be claimed for. This may be extended in the future.</li>
                <li>Where care skills and revalidation training, qualification or activity have started within the valid period but completion extends beyond 31 March 2025, claims can still be submitted but no reimbursements will be made after 31 March 2027.</li>
                <li>The recipient has up to 3 months to submit a claim after the claimed for course, qualification, or activity has been completed. In cases where reimbursement is on a split payment basis (a percentage upon start and the remainder on completion), the start claim must be made within 3 months of the start date.</li>
            </ol>

            <h3 class="govuk-heading-s">Other requirements</h3> 

            <ol class="govuk-list govuk-list--number" start="14">
            <li>The recipient must consent to allowing the sharing of non-personal data between Skills for Care, the fund administrators, and the Department of Health and Social Care (DHSC). This will include that relating to any single or cumulative reimbursements received. The recipient must also consent to the publication of such information in the public domain where required by statute, regulation, or otherwise prescribed by government.</li>
            <li>Payments to the recipient will only be made into a business banking account. No payments can be made to personal accounts.</li>
            <li>The recipient must co-operate with the fund administrators and DHSC in any matter relating to the latter’s statutory, regulatory, or other public duty obligations in relation to the fund’s financial management and accounting.</li>
            <li>The recipient, solely, or in combination with any, or all, of its other subsidiary or parent companies, cannot be reimbursed more than £4.5m from the fund for the period 1 April 2024 to 31 March 2025.</li>
            </ol>

            <h2 class="govuk-heading-m">Clawback conditions</h2>

            <p class="govuk-body">The Secretary of State may reduce, suspend, or withhold grant payments or require the repayment of the whole or any part of the grant monies paid, as may be determined by the Secretary of State, and notified in writing to the recipient. The sum notified will immediately become repayable to the Secretary of State.</p>

            <p class="govuk-body">This will occur if the recipient:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>breaches any of the fund conditions or acts otherwise than in accordance with the fund guidance</li>
                <li>receives any overpayment under this grant, whether in error or by reason of fraud</li>
                <li>ceases to trade, becomes insolvent or declared bankrupt, or is placed in receivership, administration, or liquidation</li>
            </ul>

            <p class="govuk-body">The Secretary of State may pursue remedies against any recipient that fails to return owed grant monies for any of the reasons above, through civil or criminal proceedings as applicable according to the facts.</p>

            <h2 class="govuk-heading-m">Recipient declaration</h2>

            <p class="govuk-body">A senior responsible officer of the recipient will be required to certify that the Secretary of State’s grant determination has been read and understood, and that the recipient agrees to comply with the fund grant conditions and act in accordance with the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>.</p>

            <p class="govuk-body">Before any claim for reimbursement from the fund will be processed, the administrative representative of the recipient submitting the claim, will certify that:</p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                    <div>I have read the grant determination and associated information.</div><br>
                    <div>I declare that the information given on this application and any supporting evidence provided is complete and accurate.</div><br>
                    <div>To my best knowledge and belief, and having followed due diligence, the Adult Social Care Training Development Fund grant conditions have been complied with in accordance with the <a href="https://www.gov.uk/government/publications/adult-social-care-training-and-development-fund/adult-social-care-training-and-development-fund-a-guide-for-employers">fund guidance</a>.</div><br>
                    <div>I understand that if I provide false or misleading information, any payments received may be repayable immediately to the Secretary of State for Health and Social Care, and I may be liable to civil or criminal proceedings.</div>
                </strong>
            </div>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <form action="../declaration-confirmation" method="post" novalidate>
            <div class="govuk-button-group {% if data.declarationSubmitError %} govuk-form-group--error {% endif %}"
                id="declare-checkbox">
                <fieldset class="govuk-fieldset" aria-describedby="{% if data.declarationSubmitError %} declare-error {% endif %}">
                    {% if data.declarationSubmitError %}
                    <p id="declare-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must confirm you understand and accept before
                        continuing.
                    </p>
                    {% endif %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox"
                                value="declaration-confirmed">
                            <label class="govuk-label govuk-checkboxes__label" for="declaration">
                                I confirm that I understand and accept this declaration.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}