{% extends "../layouts/claims-main.html" %}

{% block pageTitle %}
{{ ["Enter job title - ", (data.claimType | potName_V9)] | join }}
{% endblock %}

{% block beforeContent %}
<div >
    <a href="verify-details" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data.emptyError or data.invalid %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#jobTitle">
                    {% if data.emptyError %}
                    The job title must not be empty
                    {% elif data.invalid %}
                    The job title must not include invalid characters
                    {% endif %}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% endif %}

        <form action="../validate-job-title" method="post" class="form">
            <div class="govuk-form-group {% if data.emptyError or data.invalid %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Complete registration</span>
                        <h1 class="govuk-fieldset__heading" for="orgID">
                            What is your job title?
                        </h1>
                    </legend>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Why do we need to know this?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </div>
                    </details>
                    {% if data.emptyError or data.invalid %}
                    <p id="jobTitle" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {% if data.emptyError %}
                        The job title must not be empty
                        {% elif data.invalid %}
                        The job title must not include invalid characters
                        {% endif %}
                    </p>
                    {% endif %}
                    <input class="govuk-input" aria-describedby="asc-wds-id-hint" id="jobTitle"
                        name="jobTitle" type="text">
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}