{% set events = claim | createTimelineArray(data.organisations) %}


<h3 class="govuk-heading-m">History</h3>

{# <h4 class="govuk-heading-s">Filter by type</h4>
<div class="history-filters">
    <ul>
        <li>
            <a class="govuk-button filter-button selected" role="button" href="#all" aria-current="true"><span class="govuk-visually-hidden">Filter by </span>All ({{events | countOccurrences("all")}})</a>
        </li>
        <li>
            <a class="govuk-button filter-button" role="button" href="#statusDate" aria-current="true"><span class="govuk-visually-hidden">Filter by </span>Status changes ({{events | countOccurrences("statusDate")}})</a>
        </li>
        <li>
            <a class="govuk-button filter-button" role="button" href="#trainingDate" aria-current="true"><span class="govuk-visually-hidden">Filter by </span>Training ({{events | countOccurrences("trainingDate")}})</a>
        </li>
    </ul>
</div> #}


<div class="moj-timeline">
    {% for event in events %} 
    <div class="moj-timeline__item" id="{{event.type}}">

        <div class="moj-timeline__header">
        <h6 class="moj-timeline__title">{{event.title}}</h6>
        
        {% if event.author != null%}
        <p class="moj-timeline__byline">by {{event.author}}</p>
        {% endif %}
        </div>
    
        <p class="moj-timeline__date">
        <time datetime="{{event.date}}">{{event.date | govukDate}}</time>
        </p>
    
        <div class="moj-timeline__description">
            <a href="{{event.link}}" class="govuk-link">{{event.description}} </p></a>
        </div>
    
    </div>
    {% endfor %}
</div>    

{% if data.showNote %}
    {% include "../claim-view/history-note/view-note.html" %}
{% endif %}

        
<!--  <a href="#" class="govuk-link">see more</a> -->