{% set submission = claim.submissions | findSubmissionByDate(data.submittedDate) %}

  <div id="note-dialog" tabindex="-1" role="dialog" aria-modal="true" class="note-dialog" aria-labelledby="note-heading note-message">
    <div>
        <h1 id="note-heading" class="govuk-heading-m push--top">Requested edits</h1>

          <p class="govuk-body"><strong>Version: </strong>Second submission </br> <strong>Submitted date: </strong>{{submission.submittedDate | govukDate}}</p>

          {% if submission.evidenceOfPaymentReview.outcome == "queried" %}
            <p class="govuk-body"><strong>Evidence of payment:</strong> {{submission.evidenceOfPaymentReview.note}}</p>
          {% endif %}
          {% if submission.evidenceOfCompletionReview.outcome == "queried" %}
            <p class="govuk-body"><strong>Evidence of completion:</strong> {{submission.evidenceOfCompletionReview.note}}</p>
          {% endif %}

        <a href="/hideEditedNote" class="govuk-link govuk-button">Close</a>
    </div>
  </div>


<div id="claim-history-overlay" class="claim-history-overlay"></div>
