{% extends "../layouts/claims-main.html" %}

{% block beforeContent %}
<a href="upload.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Add evidence</span>
        <h1 class="govuk-heading-l">What claims does this evidence apply to?</h1>
        <p class="govuk-body">Select the relevent claims for this piece of evidence you have uploaded.</p>
        {% if data['addEvidenceInClaimProcess'] %}
        <p class="govuk-body">You have just started the following claims for the {{ data.trainingChoice.title }} course that took place on {{ data['activity-date-started-day'] }} {{ data['activity-date-started-month'] | monthName }} {{ data['activity-date-started-year'] }}:</p>
        <p class="govuk-body">If this piece of evidence applies to other claims not listed here you can <a href="#" class="govuk-link">select from all claims</a>.</p>
        {% endif %}
    </div>
</div>
{% if data['addEvidenceInClaimProcess'] %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <form action="/v4/claims-choice" method="post" novalidate>
        <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all"></th>
                <th class="govuk-table__header" scope="col">Claim Reference Number</th>
                <th class="govuk-table__header" scope="col">Activity</th>
                <th class="govuk-table__header" scope="col">Start Date</th>
                <th class="govuk-table__header" scope="col">Learner ID</th>
                <th class="govuk-table__header" scope="col">Learner name</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for claim in data['claims'] %}
              {% set claimsDate = [data['activity-date-started-day'], " " , (data['activity-date-started-month'] | monthName)," ", data['activity-date-started-year']] | join %}
              {% if claim.training.code == data.trainingChoice.code and claim.startDateStr == claimsDate %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" name="selectedClaims" id="{{ claim.claimID }}" value="{{ claim.claimID }}">
                    <label class="govuk-label govuk-checkboxes__label" for="{{ claim.training.code }}">
                      <span class="govuk-visually-hidden">Select {{ claim.training.code }}</span>
                    </label>
                  </div>
                </td>
                <td class="govuk-table__cell"> {{ claim.claimID }} </td>
                <td class="govuk-table__cell">{{ claim.training.title }}</td>
                <td class="govuk-table__cell">{{ claim.startDateStr }}</td>
                <td class="govuk-table__cell">{{ claim.learner.id }}</td>
                <td class="govuk-table__cell">{{ claim.learner.fullName }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
        </table>
        <button class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>
        </form>
    </div>
</div>
{% else %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="moj-search govuk-!-padding-bottom-2">

      <form action="claim-selector" method="post">
  
      <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
          Search for claims
          </label>
  
          <div id="claim-hint" class="govuk-hint moj-search__hint ">
          You can search by the claim reference number, activity code, activity title, learner ID or learner name. 
          </div>
  
          <input class="govuk-input moj-search__input " id="search" name="claimSearch" type="search" aria-describedby="claim-hint" value="{{ data['claimSearch'] }}">
  
      </div>
  
      <button class="govuk-button moj-search__button govuk-button--secondary" data-module="govuk-button">
          Search
      </button>
  
      </form>
  </div>  
    <form action="/v4/claims-choice" method="post" novalidate>
      <table class="govuk-table" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col" id="select-all"></th>
              <th class="govuk-table__header" scope="col">Claim Reference Number</th>
              <th class="govuk-table__header" scope="col">Activity</th>
              <th class="govuk-table__header" scope="col">Start Date</th>
              <th class="govuk-table__header" scope="col">Learner ID</th>
              <th class="govuk-table__header" scope="col">Learner name</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for claim in data['claims'] %}
            {% set lowercasedsearch = data.claimSearch | lower %}
            {% set lowercasedname = claim.learner.fullName | lower %}
            {% set lowercasedtrainingtitle = claim.training.title | lower %}
            <tr class="govuk-table__row" {% if data.claimSearch and not (claim.claimID == data.claimSearch or lowercasedsearch in lowercasedtrainingtitle or lowercasedsearch in lowercasedname or claim.learner.id == data.claimSearch) %} hidden {% endif %}>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                  <input type="checkbox" class="govuk-checkboxes__input" name="selectedClaims" id="{{ claim.claimID }}" value="{{ claim.claimID }}">
                  <label class="govuk-label govuk-checkboxes__label" for="{{ claim.training.code }}">
                    <span class="govuk-visually-hidden">Select {{ claim.training.code }}</span>
                  </label>
                </div>
              </td>
              <td class="govuk-table__cell"> {{ claim.claimID }} </td>
              <td class="govuk-table__cell">{{ claim.training.title }}</td>
              <td class="govuk-table__cell">{{ claim.startDateStr }}</td>
              <td class="govuk-table__cell">{{ claim.learner.id }}</td>
              <td class="govuk-table__cell">{{ claim.learner.fullName }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
      <button class="govuk-button" data-module="govuk-button">
          Save and continue
      </button>
      </form>
  </div>

</div>


{% endif %}

{% endblock %}