{% extends "./layouts/claims-main.html" %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-claims">Manage claims (non-registered professionals)</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <span class="govuk-caption-xl">Non-registered professionals</span>
          <h1 class="govuk-heading-xl">Manage claims</h1>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">  
            <form method="post" action="/new-claim-reset" class="govuk-!-margin-0">
                <button class="govuk-button moj-button-menu__item govuk-button--primary moj-page-header-actions__action" data-module="govuk-button" type="submit">Start a new claim</button>
            </form>
            </div>
          </div>
        </div>
    </div>  
  </div>
</div>
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            {% for status in data['statuses'] %}
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#{{ status.id }}">
                {{ status.name }} ({{ status.id | claimCount_V5(data.claims) }})
              </a>
            </li>
            {% endfor %}
          </ul>
          {% for status in data['statuses'] %}
          <!--Tabs-->
          {% include "./_components/claims-tab.html" %}
          {% endfor %}
      </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery-3.7.1.js"></script>
<script type="text/javascript" src="/public/javascripts/v5/filter.js"></script>
<!--<script type="text/javascript" src="/public/javascripts/v5/claimsTables.js"></script>-->
{% endblock %}
