{% extends "./layouts/claims-main.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
          <span class="govuk-caption-xl">Direct care</span>
          <h1 class="govuk-heading-xl">Manage claims</h1>
        </div>
        <div class="moj-page-header-actions__actions">
          <div class="moj-button-menu">
            <div class="moj-button-menu__wrapper">  
            <form method="post" action="/v5/new-claim-reset" class="govuk-!-margin-0">
                <button class="govuk-button moj-button-menu__item govuk-button--primary moj-page-header-actions__action" data-module="govuk-button" type="submit">Start a new claim</button>
            </form>
            </div>
          </div>
        </div>
    </div>  
  </div>
</div>
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            {% for status in data['statuses'] %}
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#{{ status.id }}">
                {{ status.name }} (202)
              </a>
            </li>
            {% endfor %}
          </ul>
          {% for status in data['statuses'] %}
          <!--Tabs-->
          <div class="govuk-tabs__panel" id="{{ status.id }}">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="moj-page-header-actions">
                  <div class="moj-page-header-actions__title">
                    <h2 class="govuk-heading-l">{{ status.name }} (21)</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

                <table class="govuk-table" data-module="moj-sortable-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col" aria-sort="none">ID</th>
                      <th class="govuk-table__header govuk-!-width-one-third" scope="col" aria-sort="none">Activity name</th>
                      <th class="govuk-table__header" scope="col" aria-sort="none">Start date</th>
                      <th class="govuk-table__header" scope="col" aria-sort="none">Learners</th>
                      <th class="govuk-table__header" scope="col" aria-sort="descending">Created date</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    {% set maxPerPage = 10 %}
                    {% set startAt = 20 %}
                    {% set finishAt = startAt + maxPerPage %}
                    {% set loopCounter = 0 %}
                    {% for claim in data['claims'] %}
                    {% if claim.status == status.id %}
                    {% if loopCounter < finishAt and loopCounter >= startAt %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell"><a class="govuk-link" href="claim/claim-details?id={{ claim.claimID }}">{{ claim.claimID }}</a> </td>
                      <td class="govuk-table__cell">{{ claim.training.title }}</td>
                      <td class="govuk-table__cell" data-sort-value="{{ claim.startDate }}">{{ claim.startDate | govukDate("truncate") }}</td>
                      <td class="govuk-table__cell" data-sort-value="{{claim.learners.length}}">
                        <details class="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              {{claim.learners.length}} learners
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            {% for learner in claim.learners %}
                              {{learner.fullName}}<br>
                            {% endfor %}
                          </div>
                        </details>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="{{ claim.createdDate }}">{{ claim.createdDate | govukDate("truncate")}}</td>
                    </tr>
                    {% endif %}
                    {% set loopCounter = loopCounter + 1 %}
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/jquery-3.7.1.js"></script>
<script type="text/javascript" src="/public/javascripts/filter.js"></script>
{% endblock %}
