<h2 class="govuk-heading-m" id="activity">Activity</h2>
<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
    <dt class="govuk-summary-list__key">
      Type
    </dt>
    <dd class="govuk-summary-list__value">
      {{ claim.categoryName }}<br>
    </dd>
  </div>

  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.description =="missing" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="description-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add a description</p>
    </div>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row {% if not claim.description or (claim.status == 'submitted' or claim.status == 'approved' or claim.status == 'rejected') %} govuk-summary-list__row--no-actions {% endif %} {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.description =='missing' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.description =='missing' %} govuk-summary-key--error {% endif %}">
      Description
    </dt>
    {% if not claim.description or claim.description == "" %}
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="add-description">Add description</a>
    </dd>
    {% else %}
    <dd class="govuk-summary-list__value">
      {{ claim.description }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="add-description">Change<span
          class="govuk-visually-hidden"> activity description</span></a>
    </dd>
    {% endif %}
    {% endif %}
  </div>

  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.claimAmount =="missing" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="claim-amount-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add a cost</p>
    </div>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row {% if not claim.claimAmount or (claim.status == 'submitted' or claim.status == 'approved' or claim.status == 'rejected') %} govuk-summary-list__row--no-actions {% endif %} {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.claimAmount =='missing' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.claimAmount =='missing' %} govuk-summary-key--error {% endif %}">
      Cost
    </dt>
    {% if not claim.claimAmount or claim.claimAmount == "" %}
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="add-claim-amount">Add cost</a>
    </dd>
    {% else %}
      <dd class="govuk-summary-list__value">
        £{{ claim.claimAmount }}
      </dd>
      {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="add-claim-amount">Change<span
              class="govuk-visually-hidden"> claim amount</span></a>
        </dd>
      {% endif %}
    {% endif %}
  </div>

  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.startDate =="missing" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="start-date-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add a start date</p>
    </div>
  </div>
  {% endif %}
  {% if claim.categoryName == "Courses" %}
  <div class="govuk-summary-list__row {% if not claim.startDate or (claim.status == 'submitted' or claim.status == 'approved' or claim.status == 'rejected')%} govuk-summary-list__row--no-actions {% endif %} {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.startDate =='missing' %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.startDate =='missing' %} govuk-summary-key--error {% endif %}">
      Start date
    </dt>
    {% if not claim.startDate %}
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="start-date">Add start date</a>
    </dd>
    {% else %}
    <dd class="govuk-summary-list__value">
      {{ claim.startDate | govukDate }}
    </dd>
    {% if claim.status == "new" or claim.status == "not-yet-submitted"%}
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="start-date">Change<span class="govuk-visually-hidden">
          activity start date</span></a>
    </dd>
    {% endif %}
    {% endif %}
  </div>
  {% endif %}

</dl>





