{% if (claim.status != "new" and claim.status != "not-yet-submitted") %}

{% if claim.claimType != "40" %}
    <p class="govuk-body"><strong>The maximum reimbursement amount for this learner is</strong><br><strong class="govuk-!-font-size-36">£150.</strong></p>
{% endif %} 

<p class="govuk-body">The maximum revalidation funding available to one learner is £500.</p>
<p class="govuk-body">Depending on other claims made for this learner, you will be able to claim back up to £500 so the amount you may get back for this activity may be less.</p>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            How was this calculated?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">This amount is {% if claim.claimType == "60" %}60% of{% elif claim.claimType == "40" %}40% of{% endif %} the lower of:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the maximum reimbursement amount for this training</li>
            <li>what you paid</li>
        </ul>
    </div>
</details>
{% endif %}