{% extends "../layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find out more about adult social care staff learning and development reimbursement</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Contents
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#background">Background</a></li>
                <li><a href="#provider-eligibility">Provider eligibility</a></li>
                <li><a href="#approved-courses">Approved courses</a></li>
                <li><a href="#qualifications">Qualifications</a></li>
                <li><a href="#evidence">Evidence</a></li>
                <li><a href="#processing">Processing and payments</a></li>
                <li><a href="#fraud">Fraud</a></li>
            </ul>
        </p>
        <h2 class="govuk-heading-m" id="background">Background</h2>
        <p class="govuk-body">The 2021 People at the Heart of Care white paper set out the government’s ambition to provide more training and qualifications to the adult social care workforce. This reimbursement service will support this aim by building on the previous Workforce Development Fund and making it even easier for providers to claim for the costs of training and CPD.</p>
        <h2 class="govuk-heading-m" id="provider-eligibility">Provider eligibility</h2>
        <p class="govuk-body">To be eligible to use this service, providers must be registered with the <a href="https://www.skillsforcare.org.uk/Adult-Social-Care-Workforce-Data/Adult-Social-Care-Workforce-Data-Set/Adult-Social-Care-Workforce-Data-Set.aspx" class="govuk-link">Adult Social Care Workforce Data Set</a> (ASC-WDS) and keep their account up to date. An up to date account:
            <ul class="govuk-list govuk-list--bullet">
                <li>has been created or updated within the last financial year</li>
                <li>has relevant information added for at least 90% of staff</li>
            </ul>
        </p>
        <h2 class="govuk-heading-m" id="approved-courses">Approved courses</h2>
        <p class="govuk-body">The list of approved training courses and qualifications for staff who provide direct care ensures the highest quality provision of training. It is maintained and regularly reviewed by the Department of Health and Social Care.</p>
        <p class="govuk-body">Contact the NHS Business Services Authority (NHS BSA) if you think additional courses should be added to the list.</p>
        <p class="govuk-body">[add information about whether employer provided training is in scope]</p>
        <h2 class="govuk-heading-m" id="qualifications">Qualifications</h2>
        <p class="govuk-body">Payment for qualifications will be made in 2 parts. 60% of the cost will be paid on enrolment, with the remaining 40% on completion.</p>
        <p class="govuk-body">Qualifications must be provided by an accredited awarding body. All <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" class="govuk-link">qualification levels</a> are eligible.</p>
        <h2 class="govuk-heading-m" id="evidence">Evidence</h2>
        <p class="govuk-body">To prevent fraud and ensure the service is used appropriately, NHS BSA requires evidence of activities being claimed for.</p>
        <h3 class="govuk-heading-s">Payment evidence</h3>
        <p class="govuk-body">This is required for all claims. It would normally be an invoice that clearly shows the amount being claimed for and the learners who did the activity.</p>
        <h3 class="govuk-heading-s">Enrolment evidence</h3>
        <p class="govuk-body">This is required for qualifications. It could be an email or other document showing that the learner has been accepted onto the course.</p>
        <h3 class="govuk-heading-s">Completion evidence</h3>
        <p class="govuk-body">This is required for all claims relating to direct care, plus those for professional revalidation that relate to courses or events. It could be an individual certificate or an extract from an electronic register, such as a learning management system (LMS).</p>
        <h2 class="govuk-heading-m" id="processing">Processing and payments</h2>
        <p class="govuk-body">Once claims are submitted, NHS BSA will check them for eligibility and accuracy. If there are any queries about a claim, usually relating to the evidence, you will be able to respond within the service.</p>
        <p class="govuk-body">NHS BSA will then issue payment, which will be made on a regular basis. This means that there could be a delay before payment reaches you. You will be able to use the service to check the status of claims and find out when payment is expected.</p>
        <h2 class="govuk-heading-m" id="fraud">Fraud</h2>
        <p class="govuk-body">NHS BSA has rigorous processes in place to identify fraudulent claims. This could include claims for:
            <ul class="govuk-list govuk-list--bullet">
                <li>learners who do not exist or who are no longer in the provider’s employment</li>
                <li>activities which did not take place</li>
                <li>activities which have already been claimed for</li>
                <li>activities which did not support someone’s professional re-validation</li>
            </ul>
        </p>
        <p class="govuk-body">Providers who make fraudulent claims will be required to pay back the amount of the claim and may be prevented from further use of this service.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body"><a href="../before-you-start.html" class="govuk-link">Get reimbursed for adult social care staff learning and development costs</a></p>
    </div>
</div>

{% endblock %}