{% extends "../layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Help with using the adult social care staff learning and development reimbursement service</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>Here are some short videos to show you how to use the service.</p>
        <h2 class="govuk-heading-m">Registering with the service</h2>
        <p><img src="./video-placeholder.png"></p>
        <h2 class="govuk-heading-m">Adding learners</h2>
        <p><img src="./video-placeholder.png"></p>
        <h2 class="govuk-heading-m">Starting a new claim</h2>
        <p><img src="./video-placeholder.png"></p>
        <h2 class="govuk-heading-m">Managing claims and adding evidence</h2>
        <p><img src="./video-placeholder.png"></p>
        <h2 class="govuk-heading-m">Administrative functions and the dashboard</h2>
        <p><img src="./video-placeholder.png"></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body"><a href="../index.html" class="govuk-link">Get reimbursed for adult social care staff learning and development costs</a></p>
    </div>
</div>

{% endblock %}