{% extends "../_layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}
{% set learner = claim.learner.id | findLearner(data.learners) %}

{% block pageTitle %}
{{ ["Confirm outcome: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Process a claim</span>
    <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}</h1>
    <p class="govuk-body">The claim has <span class="govuk-!-font-weight-bold">{% if data.result == "reject" %}not{%
        endif %} met</span> the evidence criteria and therefore should be <span class="govuk-!-font-weight-bold">{% if
        data.result == "approve" %}approved{% elif data.result ==
        "reject" %}rejected{% endif %}</span>.</p>
    {% if data.result == "approve" %}
      {% if claim.fundingType == "TU" %}
        <p class="govuk-body">The organisation will receive <span class="govuk-!-font-weight-bold">£{{ claim | reimbursement(data.paymentReimbursementAmount) }}</span> in reimbursement.</p>
      {% elif claim.fundingType == "CPD" %}
        {{ claim | reimbursementCPD(learner)}}
      {% endif %}
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How was this calculated?
        </span>
      </summary>
      
    <div class="govuk-details__text">
        {% if (claim.fundingType == "TU") and (claim.claimType == "100")  %}
          <p>This amount is whichever is the lower of:</p>
          <ul>
            <li>the maximum reimbursement amount for this training (£{{ claim.training.reimbursementAmount }})</li>
            <li>what the organisation actually paid (£{{data.paymentReimbursementAmount}}) &ndash; this was the <strong>cost per learner</strong> value you entered on the last screen
            </li>
          </ul>

        {% elif (claim.fundingType == "TU") and (claim.claimType == "60")  %}
          <p class="govuk-body">The total amount that could be reimbursed for this 60/40 claim is £{{ claim | reimbursement(data.paymentReimbursementAmount) / 0.6 }}.</p>
          <p>This is whichever is the lower of:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>the maximum reimbursement amount (£{{claim.training.reimbursementAmount}})</li>
              <li>what the organisation actually paid (£{{data.paymentReimbursementAmount}}) &ndash; this was the <strong>cost per learner</strong> value you entered on the last screen</li>
          </ul>
          <p>For this 60 part of the claim the organisation will get 60% of the total amount, which is <strong>£{{ (claim | reimbursement(data.paymentReimbursementAmount)) }}</strong>.</p>
          <p>When the 40 claim is approved they'll get back the remaining 40% (£{{ (claim | reimbursement(data.paymentReimbursementAmount) / 0.6 * 0.4)}}).</p>

        {% elif (claim.fundingType == "TU") and (claim.claimType == "40")  %}
          <p class="govuk-body">The total amount to be reimbursed for this 60/40 claim is £{{ (claim | reimbursement(data.paymentReimbursementAmount) / 0.4) }}.</p>
          <p>This is whichever is the lower of:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>the maximum reimbursement amount (£{{claim.training.reimbursementAmount}})</li>
              <li>what the organisation actually paid (£{{data.paymentReimbursementAmount}})</li>
          </ul>
          <p>For this 40 part of the claim the organisation will get 40% of the total amount, which is <strong>£{{ (claim | reimbursement(data.paymentReimbursementAmount)) }}</strong>.</p>
          <p class="govuk-body">The organisation has already had 60% of the total, which was £{{ (claim | reimbursement(claim.reimbursementAmount) / 0.4 * 0.6 )}}.</p>
          
        {% elif (claim.fundingType == "CPD") %}
          <p class="govuk-body">{{claim | reimbursementExplanation(learner)}}</p>
        {% endif %}
      </div>
    </details>

    {% elif data.result == "reject" %}
    <p class="govuk-body">The organisation will receive the following note to explain why it was rejected. The wording is taken from what you entered on the previous screen.</p>
    <div class='govuk-inset-text'><h2 class='govuk-heading-s'>Claim rejected</h2>
    
      {% if (data.payment == "no") %}
        <p class='govuk-body'>The evidence of payment did not meet the required criteria.</p>
        <p class='govuk-body'>{{data.paymentNoNote}}</p>
    {% endif %}

    {% if (data.completion == "no") %}
        <p class='govuk-body'>The evidence of completion did not meet the required criteria.</p>
        <p class='govuk-body'>{{data.completionNoNote}}</p>
    {% endif %}
    </div>
    {% endif %}
    <p class="govuk-body">Confirm that this claim should be {% if data.result == "approve" %}approved{% elif
      data.result ==
      "reject" %}rejected{% endif %}.</p>
      <div class="govuk-button-group">
        <a type="submit" class="govuk-button" href="../outcome-handler">
          {% if data.result == "approve" %}Approve{% elif data.result ==
          "reject" %}Reject{% endif %} claim
        </a>
        <a class="govuk-link govuk-link--no-visited-state" href="../cancel-outcome">Cancel</a>
    </div>
  </div>
</div>


{% endblock %}