{% extends "../_layouts/main.html" %}

{% set pageName = "overview" %}

{% block pageTitle %}
    {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Claim for adult social care learning and development</h1>
            <nav class="contents-list" role="navigation" aria-label="Contents">
                <h2 class="contents-list__title">Contents</h2>
                <ol class="contents-list__list">
                    <li class="contents-list__list-item contents-list__list-item">
                        — <a class="govuk-link govuk-link--no-visited-state" href="overview" style="padding-left: 8px;">Overview</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="check-if-org-eligible" style="padding-left: 8px;">Check if your organisation is eligible</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="who-what-claim-for" style="padding-left: 8px;">Who and what you can claim for</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="register" style="padding-left: 8px;">Register</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="creating-account" style="padding-left: 8px;">Creating an account</a>
                    </li>
                        <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="starting-claim" style="padding-left: 8px;">Starting a claim</a>
                    </li>
                </ol>
                
            </nav>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l" id="overview">Overview</h1>
            <p class="govuk-body">Adult social care providers in England can use this service to claim reimbursement towards the cost of training their employees.</p>
            <p class="govuk-body">This funding is available from the Learning and Development Support Scheme (LDSS). The scheme aims to support adult social care staff to develop new skills by reducing training costs for their employers.</p>
            <p class="govuk-body">There are 2 ring-fenced funds available:
                <ul class="govuk-list govuk-list--bullet">
                    <li>one for Oliver McGowan Mandatory Training</li>
                    <li>another for all other eligible courses and qualifications</li>
                </ul>
            </p>
            <p class="govuk-body">See a list of <a href="">eligible training courses and qualifications</a>.</p>

            <p class="govuk-body">
                If you need help using this service
                The service is managed by the NHS Business Services Authority. You can email us at ASClearninganddevelopmentsupport@nhsbsa.nhs.uk or phone 0300 330 0522.
                You can also find more detailed information in the LDSS guide for employers.
            </p>

            <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
                {{ govukPagination({
                next: {
                    href: "check-if-org-eligible",
                    labelText: "Check if your oganisation is eligible"
                }
                }) }}
            </nav>


        </div>

        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s">Related content</h1>
            <a class="govuk-link" href="#starting-claim">Stuff</a>
        </div>
    </div>

{% endblock %}