{% extends "../_layouts/main.html" %}

{% set pageName = "who-can-register" %}

{% block pageTitle %}
    {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Claim for adult social care learning and development</h1>
            <nav class="contents-list" role="navigation" aria-label="Contents">
                <h2 class="contents-list__title">Contents</h2>
                <ol class="contents-list__list">
                    <li class="contents-list__list-item contents-list__list-item">
                        — <a class="govuk-link govuk-link--no-visited-state" href="overview" style="padding-left: 8px;">Overview</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="check-if-org-eligible" style="padding-left: 8px;">Check if your organisation is eligible</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="what-claim-for" style="padding-left: 8px;">What you can claim for</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                        —&nbsp;<span class="govuk-body" style="padding-left: 8px; font-size: 16px;">Who can register</span>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="register-org" style="padding-left: 8px;">Register your organisation</a>
                    </li>
                </ol>
                
            </nav>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l" id="overview">Who can register</h2>
            <p class="govuk-body">To register, your organisation first needs to decide who is going to be the Senior Responsible Officer (SRO).</p>
            <p class="govuk-body">The SRO is the only person who can register with this service.</p>

            <h3 class="govuk-heading-m" id="overview">Who is the SRO?</h3>
            <p class="govuk-body">The SRO is a senior member of staff who takes responsibility for ensuring that your organisation follows all the scheme’s legal requirements and submits accurate, non-fraudulent claims.</p>
            <p class="govuk-body">To register they will need a mobile phone with an authenticator app, such as <a href="https://support.microsoft.com/en-GB/authenticator/about-microsoft-authenticator">Microsoft Authenticator</a>, downloaded onto it.</p>
            <p class="govuk-body">Before submitting any claims the SRO must also sign a grant determination letter. This is a legally binding document that outlines all the scheme’s terms and conditions (you’ll find it in the <a href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/learning-and-development-support-scheme-for-the-adult-social-care-workforce-a-guide-for-employers">guide for employers</a>).</p>

            
            <h3 class="govuk-heading-m" id="overview">Who can submit claims</h3>
            <p class="govuk-body">The SRO can invite up to 9 other staff members to become ‘submitters’. Both the SRO and submitters will be able to submit and manage claims.</p>


            <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination" style="padding-top: 20px;">
                {{ govukPagination({
                previous: {
                    href: "what-claim-for",
                    labelText: "What you can claim for"
                },
                next: {
                    href: "register-org",
                    labelText: "Register your organisation"
                }
                }) }}
            </nav>


        </div>

    </div>

{% endblock %}