
{% extends "../layouts/processing-main.html" %}

{% set foundClaim = data.claims | findClaim_V1(data.id) %}


{% block pageTitle %}
Workplace ID - Register an organisation
{% endblock %}

{% block beforeContent %}
<a href="./start-process.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <p>Found your claim: {{data.id}}</p>
       <p>Claim status: {{foundClaim.status}}</p>
    </div>
</div>

{% endblock %}