{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim(data.claims) %}

{% block pageTitle %}
{{ ["Confirm outcome: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
<a href="./claim?id={{data.id}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Process a claim</span>
    <h1 class="govuk-heading-l">Claim: {{ claim.claimID }}</h1>
    <p class="govuk-body">The claim has <span class="govuk-!-font-weight-bold">{% if data.result == "reject" %}not{%
        endif %} met</span> all criteria and therefore the claim must be <span class="govuk-!-font-weight-bold">{% if
        data.result == "approve" %}approved{% elif data.result ==
        "reject" %}rejected{% endif %}</span>.</p>
    {% if data.result == "approve" %}
    <p class="govuk-body">The organisation will receive the following reimbursement amount: <span class="govuk-!-font-weight-bold">£{{ claim | reimbursement }}</span></p>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          How was this calculated?
        </span>
      </summary>
      <div class="govuk-details__text">
        Organisations cannot claim back more than they paid for training. Therefore if the organisation paid more than the maximum funding amount they will only get back what they paid. This is the value you inputted against the criteria "how much was paid". If the organisation paid equal or more than the maximum reimbursement amount then they will recieve the maximum reimbursement amount.
      </div>
    </details>
    {% elif data.result == "reject" %}
    <p class="govuk-body">The organisation will receive the following note to explain why it was rejected. This is based
      on the answers and notes given to the criteria checks.</p>
    {{ claim | rejectionNote }}
    {% endif %}
    <p class="govuk-body">Confirm that the evidence provided did{% if data.result == "reject" %} not{%
      endif %} meet all the criteria and that this claim should be {% if data.result == "approve" %}approved{% elif
      data.result ==
      "reject" %}rejected{% endif %}.</p>
    <a type="submit" class="govuk-button" href="confirmation">
      Confirm and {% if data.result == "approve" %}approve{% elif data.result ==
      "reject" %}reject{% endif %}
    </a>
  </div>
</div>


{% endblock %}