{% extends "../layouts/processing-main.html" %}

{% set claim = data.id | findClaim_V8(data.claims) %}

{% block pageTitle %}
{{ ["Review evidence claim: ", claim.claimID, " - process a claim"] | join }}
{% endblock %}

{% block beforeContent %}
<a href="claim" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Review evidence of {{data.type}}</span>
        <h1 class="govuk-heading-l">{{ data.criteria | criteriaQuestions_V1(data.type, claim, "true") }}</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <p class="govuk-body">Review the evidence of {{data.type}} provided for this claim.</p>
        <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus in ornare quam viverra.</p>
        <form action="../evidence-check-handler" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        {{ data.criteria | criteriaQuestions_V1(data.type, claim, "false") }}
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="evidenceCheck" name="evidenceCheck" type="radio"
                                value="yes">
                            <label class="govuk-label govuk-radios__label" for="evidenceCheck">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="evidenceCheck-2" name="evidenceCheck" type="radio"
                                value="no" data-aria-controls="conditional-evidenceCheck">
                            <label class="govuk-label govuk-radios__label" for="evidenceCheck-2">
                                No
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-evidenceCheck">
                            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count"
                                data-maxlength="200">
                                <label class="govuk-label" for="note">
                                    Explanation
                                </label>
                                <div id="note-hint" class="govuk-hint">
                                    Add explanation as to why the evidence has not met this criteria.
                                </div>
                                <textarea class="govuk-textarea govuk-js-character-count" id="note" name="note" rows="5"
                                    aria-describedby="note-info note"></textarea>
                                <div id="note-info" class="govuk-hint govuk-character-count__message">
                                    You can enter up to 200 characters
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Evidence of {{data.type}}</h2>
        <dl class="govuk-summary-list">
            {% if data.type == "payment" and (claim.evidenceOfPayment | length ) > 1 %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list">
                    {% for evidence in claim.evidenceOfPayment %}
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#evidence{{ loop.index }}">
                            File {{ loop.index }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% for evidence in claim.evidenceOfPayment %}
                <div class="govuk-tabs__panel" id="evidence{{ loop.index }}">
                    {% include "../_components/file-section.html" %}
                </div>
                {% endfor %}
            </div>
            {% elif data.type == "completion" %}
            {% set evidence = claim.evidenceOfCompletion %}
            {% include "../_components/file-section.html" %}
            {% endif %}
    </div>
</div>

{% endblock %}