{% extends "../_layouts/processing-main.html" %}
{% set govukRebrand = true %}

{% block pageTitle %}
Add a note — {{data.processingServiceName}}
{% endblock %}

{% if data.noteSubmitError != null %}
    {% if data.noteSubmitError.noteContent != "valid" %}
        {% if (data.noteSubmitError.noteContent == 'missing') %}
            {% set noteContentErrorMessage = { text: "Enter note" } %}
            {% set noteContentErrorSummary = "Enter note" %}
        {% elif (data.noteSubmitError.noteContent == 'tooLong') %}
            {% set noteContentErrorMessage = { text:  "Note must be 1,500 characters or less" } %}
            {% set noteContentErrorSummary = "Note must be 1,500 characters or less" %}
        {% endif %}
    {% endif %}
    {% if data.noteSubmitError.noteCategories != "valid" %}
        {% set noteCategoriesErrorMessage =  { text: "Select at least one category" } %}
        {% set noteCategoriesErrorSummary = "Select at least one category" %}
    {% endif %} 
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data.noteSubmitError != null %}
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                    There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% if data.noteSubmitError.noteContent != "valid" %}
                        <li>
                            <a href="#note-content-error">
                                {{noteContentErrorSummary}}
                            </a>
                        </li>
                        {% endif %}
                        {% if data.noteSubmitError.noteCategories != "valid" %}
                        <li>
                            <a href="#noteCategories-error">
                                {{noteCategoriesErrorSummary}}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if data.orgTab == "org-notes" %}
            {% set org = data.organisations | findOrg(data.orgID) %}
            <span class="govuk-caption-l">{{org.name}}</span>
            <h1 class="govuk-heading-l">Add an organisation note</h1>
        {% else %}
            <span class="govuk-caption-l">Claim: {{ data.id }}</span>
            <h1 class="govuk-heading-l">Add a claim note</h1>
        {% endif %}
                

        <form action="../note-handler" method="POST" class="govuk-reply-form">

            {{ govukCharacterCount({
            name: "noteContent",
            id: "note-content",
            maxlength: 1500,
            label: {
                text: "Type your note",
                classes: "govuk-label--m",
                isPageHeading: false
            },
            errorMessage: noteContentErrorMessage
            }) }}


            {% if  data.orgTab == "org-notes" %}
                {% set categoryItems = [
                    { value: "Org update", text: "Organisation update" },
                    { value: "Org communication", text: "Organisation communication" },
                    { value: "Escalation", text: "Escalation" },
                    { value: "CCS referral", text: "CCS referral" },
                    { value: "Onboarding", text: "Onboarding" },
                    { value: "Other", text: "Other" }
                ] %}
            {% else %}
                {% set categoryItems = [
                    { value: "Claim update", text: "Claim update" },
                    { value: "Rework", text: "Rework" },
                    { value: "Quality check", text: "Quality check" },
                    { value: "Processing error", text: "Processing error" },
                    { value: "Escalation", text: "Escalation" },
                    { value: "CCS referral", text: "CCS referral" },
                    { value: "Other", text: "Other" }
                ] %}
            {% endif %}

            {{ govukCheckboxes({
            name: "noteCategories",
            fieldset: {
                legend: {
                text: "What is your note about?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
                }
            },
            errorMessage: noteCategoriesErrorMessage,
            items: categoryItems
            }) }}


            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Submit note",
                    type: "submit"
                }) }}

                <a class="govuk-link" href="javascript:window.close();">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}