{% extends "../_layouts/claims-main.html" %}
{% set claim = data.id | findClaim(data.claims, data.org.workplaceID) %}
{% set submission = claim | getDraftSubmission %}

{% block pageTitle %}
{{ ["Add note - Claim: ", claim.claimID] | join }}
{% endblock %}

{% block beforeContent %}
<a href="claim-details?id={{ claim.claimID }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="../add-supporting-note" method="post" class="form">
      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Claim Reference Number: {{ claim.claimID }}</span>
          <h1 class="govuk-fieldset__heading">
            Add supporting information
          </h1>
        </legend>
        <div id="more-detail-hint" class="govuk-hint">
          Let us know any further details that could help us to process your claim.
        </div>
        <textarea class="govuk-textarea" id="supportingNote" name="supportingNote" rows="10" aria-describedby="more-detail-hint">{{submission.supportingNote}}</textarea>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Add to claim
      </button>
    </form>
  </div>
</div>

{% endblock %}