<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"><span class="govuk-caption-m">#0102931</span>Dementia Training <span class="govuk-caption-m">13 November 2023</span></h2>
        <span><ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="l&dactivity.html">
                View activity<span class="govuk-visually-hidden"> of Dementia Training on 13 November 2023</span>
            </a>
            </li>
            <li class="govuk-summary-card__action">
                <strong class="govuk-tag govuk-tag--red">
                    incomplete
                </strong>
            </li>
            <!--<li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
                Build a claim<span class="govuk-visually-hidden"> to Dementia Training on 13 November 2023</span>
            </a>
            </li>-->
        </ul></span>
    </div>
    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Evidence type</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell">
                        Payment
                    </td>
                    <td class="govuk-table__cell govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                        Awaiting
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Add evidence<span class="govuk-visually-hidden"> payment</span>
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-table__cell">
                        Completion
                    </td>
                    <td class="govuk-table__cell govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">
                        Awaiting
                    </strong>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Add evidence<span class="govuk-visually-hidden"> payment</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>