{% if (claim.training.fundingModel == "split") and (claim.completionDate == null)%}
<div style = "padding-bottom: 10px;">
    <h3 class="govuk-heading-s" style="margin-bottom: 5px;" id="payment">60 claim</h3>
    <p id="payment-no-note-info" class="govuk-hint" style="margin-top: 0px;">This 60 claim relates to training where the submitter has chosen to use the 60/40 funding model.</p>
    <p id="payment-no-note-info" class="govuk-hint" style="margin-top: 0px;">This means that payment has been made but the training has not yet been completed.</p>
</div>
{% elif (claim.training.fundingModel != "split") %}
    <h3 class="govuk-heading-s" style="margin-bottom: 5px;" id="payment">100 claim</h3>
    <p id="payment-no-note-info" class="govuk-hint" style="margin-top: 0px;">This is a 100 claim, so the submitter has provided both payment and completion evidence.</p>
{% endif %}
<h3 class="govuk-heading-m" id="payment">Organisation</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Organisation</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            Oaktree Care Home Ltd
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Workplace ID
        </dt>
        <dd class="govuk-summary-list__value">
            G03944234
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Organisation address
        </dt>
        <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
        </dd>
    </div>
</dl>
<h3 class="govuk-heading-m" id="payment">Submitter</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            Casey Simonis
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Email
        </dt>
        <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="mailto:example@example.com">casey.simonis@oaktree.com</a>
        </dd>
    </div>

</dl>

<h3 class="govuk-heading-m" id="payment">Training</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Title
        </dt>
        <dd class="govuk-summary-list__value">
            {{claim.training.title}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Level and type
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim | qualificationCheck_V3(data.training, claim.training.type) }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim | qualificationCheck_V3(data.training, claim.training.awardingOrganisation) }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Payment date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim.costDate | govukDate }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Start date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim.startDate | govukDate }}
        </dd>
    </div>
    {% if (claim.training.fundingModel == "full") and (claim.completionDate != null)%}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Completion date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ claim.completionDate | govukDate }}
        </dd>
    </div>
    {% endif %}
</dl>
<h3 class="govuk-heading-m" id="payment">Learner</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Learner</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{claim.learner.givenName}} {{claim.learner.familyName}}
        </dd>
    </div>
</dl>