{% extends "./_layouts/main.html" %}

{% block pageTitle %}
{{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Claim for adult social care learning and development</h1>
            <nav class="contents-list" role="navigation" aria-label="Contents">
                <h2 class="contents-list__title">Contents</h2>
                <ol class="contents-list__list">
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="#overview">Overview</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="#who-what-claim-for">Check if your organisation is eligible</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="#who-what-claim-for">Who and what you can claim for</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="#register">Register</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="#creating-account">Creating an account</a>
                    </li>
                        <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state" href="#starting-claim">Starting a claim</a>
                    </li>
                </ol>
                
            </nav>
        </div>
    </div>
    
    {% include "./self-serve/overview.html" %}
    
{% endblock %}