{% extends "./_layouts/detailed-guide.html" %}

{% block pageTitle %}
 Claim for adult social care learning and development - {{serviceName}} - GOV.UK
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Claim for adult social care learning and development
            </h1>

            <p class="govuk-body-l ovuk-!-margin-bottom-8">
                Adult social care providers in England can claim reimbursement towards the cost of training their employees – check if you’re eligible and register your organisation.
            </p>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-5">
                <div class="summary-list-wrapper-custom">
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key gem-c-summary-list__key govuk-body-s govuk-!-font-weight-regular govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">
                        From:
                        </dt>
                        <dd class="govuk-summary-list__actions gem-c-summary-list__actions govuk-body-s govuk-!-text-align-left govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">
                            <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/organisations/department-of-health-and-social-care">
                            <b>Department for Health and Social Care</b></a>
                        </dd>
                    </div>
                </div>
                <div class="summary-list-wrapper-custom">
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key gem-c-summary-list__key govuk-body-s govuk-!-font-weight-regular govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">
                        Published:
                        </dt>
                        <dd class="govuk-summary-list__value govuk-body-s govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">
                        14 August 2026
                        </dd>
                    </div> 
                </div>
                <div class="summary-list-wrapper-custom">
                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                        <dt class="govuk-summary-list__key gem-c-summary-list__key govuk-body-s govuk-!-font-weight-regular govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">
                        Last updated:
                        </dt>
                        <dd class="govuk-summary-list__value govuk-body-s govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">
                        14 August 2026
                        </dd>
                    </div>
                </div>
            </div>
        </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <section class="govuk-section govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-left-6 govuk-!-padding-right-6 govuk-!-margin-bottom-8" style="background: #f3f3f3;">
                <h1 class="govuk-heading-s govuk-!-margin-bottom-0">Applies to England only</h1>
            </section>

            <nav class="contents-list" id="contents" role="navigation" aria-label="Contents">
                <h2 class="contents-list__title govuk-!-margin-bottom-0">Contents</h2>
                <ol class="contents-list__list">
                    <li class="contents-list__list-item contents-list__list-item">
                        —&nbsp;<span class="govuk-body" style="padding-left: 8px; font-size: 16px;">Overview</span>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" a href="#eligible" style="padding-left: 8px;">Check if your organisation is eligible</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" a href="#what-claim-for" style="padding-left: 8px;">What you can claim for</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" a href="#who-can-register" style="padding-left: 8px;">Who can register</a>
                    </li>
                    <li class="contents-list__list-item contents-list__list-item">
                    — <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" a href="#register-org" style="padding-left: 8px;">Register your organisation</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="gem-c-heading__text govuk-heading-m" id="overview">Overview</h2>
                    <p class="govuk-body">This funding is available from the Learning and Development Support Scheme (LDSS). The LDSS aims to support adult social care staff to develop new skills by reducing training costs for their employers.</p>
                    <p class="govuk-body">You’ll find more details in the LDSS <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/learning-and-development-support-scheme-for-the-adult-social-care-workforce-a-guide-for-employers">guide for employers</a>.</p>
                    <p class="govuk-body">There are 2 separate ring-fenced funds available: one for Oliver McGowan Mandatory Training (OMMT) and another for all other courses and qualifications eligible under LDSS.</p>
                    <p class="govuk-body">See a list of <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/eligible-training-courses-and-qualifications">eligible training courses and qualifications</a>.</p>
                    {% call govukInsetText() %}
                    You cannot book training using this service. You’ll need to book directly with the training provider.
                    {% endcall %}
                <h2 class="gem-c-heading__text govuk-heading-m" id="eligible">Check if your organisation is eligible</h2>
                    <p class="govuk-body">To be eligible to submit claims your organisation needs to:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>provide an adult social care service</li>
                            <li>directly employ care staff in England</li>
                            <li>have an up-to-date Adult Social Care Workforce Data Set (ASC-WDS) account</li>
                        </ul>
                    <p class="govuk-body">To create an ASC-WDS account, or check an existing one, visit the <a class="govuk-link govuk-link--no-visited-state" href="https://www.skillsforcare.org.uk/Adult-Social-Care-Workforce-Data/Adult-Social-Care-Workforce-Data-Set/Adult-Social-Care-Workforce-Data-Set.aspx">Skills for care website</a>.</p>
                
                    <h3 class="gem-c-heading__text govuk-heading-s" id="OMMT">If you're planning to claim for OMMT</h3>
                        <p class="govuk-body">Your organisation also needs to be registered with the <a class="govuk-link govuk-link--no-visited-state" href="https://www.cqc.org.uk/guidance-regulation/registrationCQC">CQC</a> as an adult social care provider to be eligible.</p>
                
                <h2 class="gem-c-heading__text govuk-heading-m" id="what-you-can-claim-for">What you can claim for</h2>
                    <p class="govuk-body">To find out which courses and qualifications you can claim for check this list of <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/eligible-training-courses-and-qualifications">eligible training courses and qualifications</a>.</p>
                    <p class="govuk-body">The list also shows the maximum reimbursement amounts available for each learner.</p>

                    <h3 class="gem-c-heading__text govuk-heading-s">Who you can claim for</h3>
                        <p class="govuk-body">You can claim for:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>staff who provide direct care and are not registered with a professional body</li>
                                <li>registered managers, including aspiring managers who are working towards registration</li>
                            </ul>
                        </p>
                        <p class="govuk-body">However, if you're claiming for Oliver McGowan Mandatory Training (OMMT), you can claim for any member of staff.</p>
                        <p class="govuk-body">See more about <a href="./guidance/ommt">claiming for OMMT</a>.</p>
                        <div class="govuk-inset-text">
                                You can only claim reimbursement towards the cost of the training itself, not extras like travel expenses.
                        </div>
                    
                    <h3 class="gem-c-heading__text govuk-heading-s" id="how-much-you-can-claim">How much you can claim</h3>
                        <p class="govuk-body">Every course or qualification has a maximum reimbursement amount per learner. This may be less than the training actually cost.</p>
                        <p class="govuk-body">This does not apply to claims for in-house OMMT, which has a fixed reimbursement amount.</p>
                        <p class="govuk-body">See more about <a class="govuk-link govuk-link--no-visited-state" href="./guidance/reimburse-amounts">how we calculate reimbursement amounts</a>.</p>
                    
                    <h3 class="gem-c-heading__text govuk-heading-s" id="submitting-claims">Submitting claims</h3>
                        <p class="govuk-body">To submit a claim you’ll need to include:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>what the training was</li>
                            <li>who completed it</li>
                            <li>evidence of payment</li>
                            <li>evidence of training completion for each learner</li>
                        </ul>
                    <p class="govuk-body">See more information about <a class="govuk-link govuk-link--no-visited-state" href="./guidance/tu-evidence-requirements">what evidence you need to provide</a>.</p>

                    <h3 class="gem-c-heading__text govuk-heading-s" id="when-youll-get-paid">When you'll get paid</h3>
                        <p class="govuk-body">We aim to process your claim within 2 to 6 weeks. You’ll usually receive payment no more than 2 weeks after your claim is approved.</p>
                    
                <h2 class="gem-c-heading__text govuk-heading-m" id="who-can-register">Who can register</h2>
                    <p class="govuk-body">To register, your organisation first needs to decide who is going to be the Senior Responsible Officer (SRO).<p>
                    <p class="govuk-body">The SRO is the only person who can register with this service.</p>

                    <h3 class="gem-c-heading__text govuk-heading-s" id="what-is-SRO">Who is the SRO?</h3>
                        <p class="govuk-body">The SRO is a senior member of staff who takes responsibility for ensuring that your organisation follows all the scheme’s legal requirements and submits accurate, non-fraudulent claims.</p>
                        <p class="govuk-body">To register, the SRO must sign a grant determination letter for every financial year they wish to submit claims for. This is a legally binding document that outlines all the scheme’s terms and conditions (you’ll find it in the <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/learning-and-development-support-scheme-for-the-adult-social-care-workforce-a-guide-for-employers">guide for employers</a>).</p>
                        <p class="govuk-body">They will also need to download the an authenticator app, such as <a class="govuk-link govuk-link--no-visited-state" href="https://support.microsoft.com/en-us/authenticator/about-microsoft-authenticator">Microsoft Authenticator</a>, onto their mobile phone.</p>
                        <p class="govuk-body">Before you start submitting claims, the SRO will need to provide your organisation's bank details so that we can reimburse you.</p>

                    <h3 class="gem-c-heading__text govuk-heading-s" id="who-can-submit-claims">Who can submit claims?</h3>
                        <p class="govuk-body">The SRO can invite up to 9 other staff members to become ‘submitters’. Both the SRO and submitters will be able to submit and manage claims.</p>
                        
                <h2 class="gem-c-heading__text govuk-heading-m" id="register-org">Register your organisation</h2>
                    <p class="govuk-body">To register your organisation, your SRO will need to provide the following information:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>their name and contact details</li>
                            <li>their job title</li>
                            <li>your organisation’s workplace ID as it appears in the ASC-WDS</li>
                            <li>2 different proof of address documents for your organisation (for example, a recent utility bill and a business rates bill)</li>
                        </ul>
                    <p class="govuk-body">If possible, we also request that they provide your organisation's:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Companies House registration number</li>
                            <li>VAT registration number</li>
                        </ul>
                    <p class="govuk-body">Once we have all the necessary information we'll verify it and carry out counter-fraud checks. We aim to do this as quickly as possible.
                    </p>
                    <p class="govuk-body">For more information about how we use your data, see our <a class="govuk-link govuk-link--no-visited-state" href="https://www.nhsbsa.nhs.uk/our-policies/privacy/claim-adult-social-care-learning-and-development-and-assessed-and-support-year-employment-privacy">privacy notice</a>.</p>

                    {{ govukButton({
                    text: "Start now",
                    href: "./authentication/what-do-you-want-to-do",
                    isStartButton: true
                    }) }}

                <h3 class="gem-c-heading__text govuk-heading-s" id="service-help">If you need help using the service</h3>
                    <p class="govuk-body">This service is managed by the NHS Business Services Authority. You can email us at <a href="mailto:ASClearninganddevelopmentsupport@nhsbsa.nhs.uk" class="govuk-link govuk-link--no-visited-state">ASClearninganddevelopmentsupport@nhsbsa.nhs.uk</a> or phone <a href="tel:03003300522" class="govuk-link govuk-link--no-visited-state">0300 330 0522</a>.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-related-navigation">
                    <h2 class="govuk-related-navigation__title" id="related-content-heading">Related content </h2>
                    <nav role="navigation" aria-labelledby="related-content-heading">
                        <ul class="govuk-list govuk-list--spaced">
                            <li class="govuk-related-navigation__list-item">
                                <a class="govuk-link govuk-link--no-visited-state govuk-related-items__link" href="https://www.gov.uk/health-and-social-care/health-social-care-training">Health and social care training</a>
                            </li>
                            <li class="govuk-related-navigation__list-item">
                                 <a class="govuk-link govuk-link--no-visited-state govuk-related-items__link" href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme-grant-determination-2026-to-2027">Adult Social Care Learning and Development Support Scheme grant determination: 2026 to 2027</a>
                             </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <p class="govuk-body-s govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">Published 14 August 2026</p>
            <p class="govuk-body-s govuk-!-padding-bottom-0 govuk-!-margin-bottom-2">Last updated 14 August 2026 <span aria-hidden="true"></p>
            </p>
         </div>
    </div>
</div>

{# <div class="gem-c-contents-list-with-body__link-wrapper" data-sticky-element>
  <div class="govuk-width-container  gem-c-contents-list-with-body__link-container">
    <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print govuk-link--no-visited-state" href="#contents">
      <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"/>
      </svg>
      Contents
    </a>
  </div>
</div> #}

{% endblock %}