{% extends "../_layouts/claims-main.html" %}

{% block pageTitle %}
{{ ["Grant decleration - ", (data.fundingPot | potName)] | join }}
{% endblock %}

{% block beforeContent %}
<div >
    <a href="job-title" class="govuk-back-link">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if data.declarationSubmitError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>
                            <a href="#declare-checkbox">You must confirm you understand and accept before continuing.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Complete registration</span>
            <h1 class="govuk-heading-l">Grant determination letter</h1>

            <p class="govuk-body">The Secretary of State for Health and Social Care (“the Secretary of State”), in exercise of the powers conferred by section 149(1A) of the Health and Social Care Act 2008 makes the following determination:</p>

            <h2 class="govuk-heading-m">1. Citation</h2>

            <p class="govuk-body">This determination may be cited as the Adult Social Care (ASC) Training and Development Fund Grant Determination (2023/2027).</p>

            <h2 class="govuk-heading-m">2. Purpose of the grant</h2>

            <p class="govuk-body">The purpose of the grant is to provide financial assistance to any eligible ASC employer (the Recipient) engaged in the provision in England, of certain adult social care services. Assistance is provided by way of reimbursement towards evidenced Recipient costs for eligible training and qualifications.</p>

            <h2 class="govuk-heading-m">3. Determination</h2>

            <p class="govuk-body">a. The Secretary of State determines that, subject to there being sufficient funds remaining in the grant Fund (see 5. Fund exhaustion conditions in Grant Conditions), a Recipient to which this grant is to be paid is any ASC employer satisfying all the Grant Conditions.</p>
            <p class="govuk-body">b. Pursuant to section 149(1A) of the Health and Social Care Act 2008, the Secretary of State determines that the grant will be paid subject to the Recipient complying with the  Grant Conditions. First edition Fund Guidance on how to comply with the conditions has been published on GOV.UK on 8 April 2024. The guidance may be updated from time to time. Any changes will be published on GOV.UK. Claims made in reliance on guidance that was applicable at the time of booking training or qualifications, will be valid as long as evidence of the time of booking is presentable upon request.</p>
            <p class="govuk-body">c. The grant paid to the Recipient under this determination may be used only for the purposes set out in the Grant Conditions. Further detail is set out in the gov.uk publication guidance: Adult Social Care Training and Development (Fund Guidance).</p>
            <p class="govuk-body">d. The Grant Conditions as applying on the date of this Grant Determination agreement may be amended with agreement by the Secretary of State and the Recipient.</p>

            <h2 class="govuk-heading-m">4. Subsidy control</h2>

            <p class="govuk-body">Notice is given that this grant is also a subsidy and subject to the provisions of the Subsidy Control Act 2022, the operational requirements of which will be implemented by NHS BSA. </p>

            <h2 class="govuk-heading-m">Grant clawback</h2>

            <p class="govuk-body">Any breach of fund conditions whereby grant monies are improperly obtained will trigger the fund clawback provisions as set out in Clawback conditions.</p>

            <p class="govuk-body">Signed on behalf of the Secretary of State for Health and Social Care:</p>

            <div class="govuk-inset-text">
                <p class="govuk-body">Name: [name]</p>
                <p class="govuk-body">Role: [a senior civil servant]</p> 
                <p class="govuk-body">[date]</p>
            </div>

            <h1 class="govuk-heading-l" id="grantconditions">Grant conditions</h1>

            <h2 class="govuk-heading-m">1. Definition of terms</h2>

            <h3 class="govuk-heading-s">1. Adult social care employer (the Recipient)</h3>

            <p class="govuk-body">a. Adult social care employers (including registered charities and local authorities) directly employing non-regulated members of the adult social care workforce care staff in England to deliver adult social care services and have an up to date account with the Skills for Care Adult Social Care Workforce Data Set.</p>

            <p class="govuk-body">b. Local authorities who are not eligible adult social care providers may access funding for the ‘Level 5 Principles of Commissioning for Wellbeing’ qualification only.</p>

            <h3 class="govuk-heading-s">2. Care staff</h3>

            <p class="govuk-body">Non-regulated members of the adult social care workforce engaged in providing Adult social care services including agency staff. Non-regulated members of the adult social care workforce include:</p>

            <p class="govuk-body">a. Direct Care roles (advice guidance and advocacy, care worker, community support and outreach work, employment support, eligible personal assistant (see 2.5. in Grant Conditions, Eligibility Requirements), nursing assistant, senior care worker and technician)</p>

            <p class="govuk-body">b. Managerial roles including deputy and Care Quality Commission (CQC) registered managers (first line manager, managers and staff in care-related but not care-providing roles, middle management, registered managers, senior management and supervisor)</p>

            <h3 class="govuk-heading-s">3. Adult social care or similar services including (or similar to):</h3>

            <p class="govuk-body">a. adult residential (care homes services with nursing, care home services without nursing, sheltered housing, other adult residential care services)</p>
            <p class="govuk-body">b. adult day (day care and day services, other adult day care services)</p>
            <p class="govuk-body">c. adult domiciliary (domestic services and home help, domiciliary care services, extra care housing services, live-in care, supported living services, other adult domiciliary care services)</p>
            <p class="govuk-body">d. adult community care (carers support, community support and outreach, disability adaptations or assistive technology services, information and advice services, occupational or employment related services, Shared Lives, short breaks or respite care, social work or care management)</p>

            <h3 class="govuk-heading-s">4. Eligible training courses and qualifications</h3>

            <p class="govuk-body">Those training courses and qualifications set out within the published Fund Guidance. </p>

            <h3 class="govuk-heading-s">5. Adult Social Care Workforce Data Set (ASC-WDS)</h3>

            <p class="govuk-body">An on-line database hosted and administrated by Skills for Care (SfC) within which the Recipient can create an account to enter and store information about its workforce.</p>

            <h3 class="govuk-heading-s">6. Senior responsible officer</h3>

            <p class="govuk-body">An officer of the Recipient (nominated by the Recipient) having sufficient authority, direct or delegated, to confirm that the Secretary of State’s Grant Determination has been read and understood, and that the Recipient agrees to comply with the Grant Conditions.</p>

            <h3 class="govuk-heading-s">7. Directly employed</h3>

            <p class="govuk-body">Directly employed means ‘engaged in employment where the Recipient is responsible for controlling the deployment of the employee and/or pays the salary of the employee’. In the context of the Fund, this means that claims from the Fund made through the Adult Social Care Training and Development Fund online digital claims service can be submitted by a parent or subsidiary ASC employer.</p>

            <h3 class="govuk-heading-s">8. Fund administrators</h3>

            <p class="govuk-body">The fund will be administered by the NHS Business Services Authority (NHS BSA) on behalf of the Department of Health and Social Care (DHSC).</p>

            <h3 class="govuk-heading-s">9. Evidence</h3>

            <p class="govuk-body">Evidence for eligible training courses and qualifications includes:</p>
            <p class="govuk-body">a. proof of payment</p>
            <p class="govuk-body">where eligible training courses or qualifications are delivered through external training providers, this must include the organisation making the payment, organisation receiving the payment, what training/qualification payment was for, amount, VAT number (if not exempt) and date of payment.</p>
            <p class="govuk-body">b. dated certificate of completion of eligible training or qualification</p>
            <p class="govuk-body">c. unique learner number (if applicable)</p>
            <p class="govuk-body">d. candidate registration number (if applicable)</p>
            <p class="govuk-body">e. name of awarding organisation</p>
            <p class="govuk-body">f. name of training provider or learning centre</p>

            <p class="govuk-body">Evidence of booking includes:</p>
            <p class="govuk-body">g. email with confirmation of booking that includes information on date received, booking organisation and training provider receiving booking.</p>
            <p class="govuk-body">h. screengrab/screenshot of course booking confirmation that includes information on booking date, booking organisation and training provider confirming booking.</p>

            <h3 class="govuk-heading-s">10. Training course and qualification start date.</h3>

            <p class="govuk-body">This is the date that care staff begin the first day of the eligible training course or qualification for which the Recipient is claiming.</p>

            <h2 class="govuk-heading-m">2. Grant conditions</h2>

            <h3 class="govuk-heading-s">1. Eligibility requirements:</h3>

            <p class="govuk-body">a. The Recipient must provide at least one or more adult social care service/s as set out in Definition of terms. Local authorities who do not meet this criterion may access funding for the ‘Level 5 Principles of Commissioning for Wellbeing qualification’ only.</p>
            <p class="govuk-body">b. The Recipient must have an up-to-date account with the SfC hosted Adult Social Care Workforce Data Set (ASC-WDS).</p>
            <p class="govuk-body">c. Training courses or qualifications claimed for must be eligible as set out in the published Fund Guidance</p>
            <p class="govuk-body">d. The care staff whose eligible training courses or qualifications are claimed for must be directly employed by the Recipient.</p>
            <p class="govuk-body">e. The Recipient can make claims for eligible personal assistants. The Recipient must be registered with an up-to-date account on the ASC WDS.</p>
            <p class="govuk-body">f. The Recipient can only claim for care staff undertaking the Level 2 Adult Social Care Certificate if they are aged 19 or older at the date of qualification start.</p>

            <h3 class="govuk-heading-s">2. Claim requirements:</h3>

            <p class="govuk-body">a. Claims must be supported by evidence of prior payment to external training providers for eligible training courses or qualifications, for which reimbursement is being sought.</p>
            <p class="govuk-body">b. Claims can only be made for care staff who have started and/or completed the eligible training courses and/or qualifications in the timeframes as set out in Timeframe Requirements.</p>
            <p class="govuk-body">c. Claims for completed eligible training courses or qualifications, must be supported by evidence of completion as set out in evidence.</p>
            <p class="govuk-body">d. Claims must be made through the Adult Social Care Training and Development Fund online digital claims service. Employers must follow the steps outlined in the gov.uk publication of Guidance: Adult Social Care Training and Development Fund to make a claim through the digital claims service. This may be assisted by the Fund administrators where necessary.</p>
            <p class="govuk-body">e. Claims cannot be repeated for the same care staff employee for the same eligible training course or qualification.</p>
            <p class="govuk-body">f. Claims will be reimbursed at the rates set out in the Fund Guidance. Where the eligible training course or qualification cost is less than the maximum rate set out in the Fund Guidance, the Recipient will only be reimbursed the amount it paid for the eligible training course or qualification.</p>
            <p class="govuk-body">g. Claims can be made for eligible training courses or qualifications where the care staff employee has attended all of the learning but failed an exam as long as evidence of course completion can be provided.</p>
            <p class="govuk-body">h. Staff backfill pay, travelling costs, and/or other expenses ancillary to training or qualifications are not reimbursable from the Fund.</p>
            <p class="govuk-body">i. Claims will only be reimbursed if the claim declaration set out at  Declaration Conditions has been signed at claim submission.</p>
            <p class="govuk-body">j. Claims can be inclusive of any VAT costs incurred on eligible training courses or qualifications, except where the Recipient intends to recover the VAT from HMRC in their VAT return. If VAT is reimbursed by the Fund, it cannot be reclaimed from HMRC.</p>

            <h3 class="govuk-heading-s">3. Timeframe requirements:</h3>

            <p class="govuk-body">a. Only eligible training courses or qualifications that have been paid for and started by care staff on, or after, 1 April 2024 up to, and including, 31 March 2025, can be claimed for.</p>
            <p class="govuk-body">b. Where eligible claims submitted for eligible training courses or qualifications are started within the permissible timeframe but completion extends beyond 31 March 2025, completion claims can still be submitted up to 31 December 2026 but no reimbursements will be made after 31 March 2027.</p>
            <p class="govuk-body">c. For some eligible training courses or qualifications, particularly accredited qualifications, a split reimbursement model will be applicable. In these cases 60% of the applicable capped reimbursement rate will be reimbursed once training has started, and 40% upon proof of completion. The care staff employee in respect of whom the eligible training or qualification is being claimed for must be continuously employed by the Recipient for the duration of the training or qualification</p>
            <p class="govuk-body">d. In split payment cases, the first claim must be made within 3 months from the date the course was started to secure reimbursement of the 60%. The second claim must be made within 3 months of the date of completion to secure the 40% reimbursement. Late claim submission of either the first or second claim in split payment cases may result in partial or no reimbursement. Courses eligible for reimbursement on a split payment basis are set out within the Fund Guidance.</p>
            <p class="govuk-body">e. All claims must be submitted by 31 December 2026. After this date, no claims will be accepted by the Fund administrators. This is to ensure that all claim backlogs can be processed and paid before the Fund payments close on 31 March 2027. Should the Fund become exhausted prior to the end of March 2027, no claims shall be reimbursed when funding is not available. See 5. Fund Exhaustion Conditions for further details.</p>

            <h3 class="govuk-heading-s">4. Other requirements:</h3>

            <p class="govuk-body">a. The Recipient must consent to allowing the sharing of personal data between the ASC-WDS administrators SfC, the Fund administrators, and the sharing of non-personal data with DHSC.</p>
            <p class="govuk-body">b. This will include non-personal data relating to any single or cumulative reimbursements received that may be required by statute, regulation, or otherwise prescribed by lawful authority, to be published within the public domain. Personal data usage will be covered by separate agreements between the Recipient and Skills for Care and the Fund Administrators. DHSC will not be requesting personal data directly from the Recipient and will only be indirectly receiving anonymised data from the Recipient.</p>
            <p class="govuk-body">c. Payments to the Recipient will only be made into a business banking account. No payments can be made to personal accounts.</p>
            <p class="govuk-body">d. The Recipient must cooperate with the Fund administrators and DHSC in any matter relating to the latter’s statutory, regulatory, or other public duty obligations in relation to the Fund’s financial management and accounting.</p>
            <p class="govuk-body">e. The Recipient, solely, or in combination with any, or all, of its other subsidiary or parent companies, cannot be reimbursed more than £4.5m from the Fund for the period 1 April 2024 to 31 March 2027. To avoid breaching this cap, the Recipient must track its own reimbursements from the Fund, as any claims over the £4.5m cap will not be reimbursed.</p>

            <h2 class="govuk-heading-m">3. Clawback conditions</h2>

            <ol class="govuk-list govuk-list--number">
                <li>The Secretary of State may reduce, suspend, or withhold grant payments or require the repayment of the whole or any part of the grant monies paid, as may be determined by the Secretary of State, and notified in writing to the recipient. The sum notified will immediately become repayable to the Secretary of State.</li>
                <li>This will occur if the Recipient:</li>
            </ol>

            <p class="govuk-body">i. breaches any of the Fund conditions or acts otherwise than in accordance with the Fund guidance, or</p>
            <p class="govuk-body">ii. receives any overpayment under this grant, whether in error or by reason of fraud, or</p>
            <p class="govuk-body">iii. ceases to trade, becomes insolvent or declared bankrupt, or is placed in receivership, administration, or liquidation,</p>
     
            <ol class="govuk-list govuk-list--number" start="3">       
                <li>The Secretary of State may pursue remedies against any Recipient that fails to return owed grant monies for any of the reasons above, through civil or criminal proceedings as applicable according to the facts.</li>
            </ol>

            <h2 class="govuk-heading-m">4. Declaration conditions</h2>

            <ol class="govuk-list govuk-list--number">
                <li>A senior responsible officer of the Recipient will be required to sign the Secretary of State’s grant determination to confirm that it has been read and understood, and that the Recipient agrees to comply with the Grant Conditions.</li>
                <li>Before any claim for reimbursement from the Fund will be processed, the administrative representative of the Recipient submitting the claim will sign a declaration to certify that:</li>
            </ol>

            <p class="govuk-body">“I have read the grant determination and associated information.</p>

            <p class="govuk-body">To my best knowledge and belief and having acted with due diligence, the Adult Social Care Training Development Fund Grant Conditions, as applicable on the date the Grant Determination Letter was signed by the Recipient or the date the relevant training course or qualification was booked or paid for (whichever is the earlier), have been complied with.</p>

            <p class="govuk-body">I declare that the information given on this application and any supporting evidence provided is complete and accurate.</p>

            <p class="govuk-body">I understand that if I provide false or misleading information, any payments received may be repayable immediately to the Secretary of State for Health and Social Care, and I may be liable to civil or criminal proceedings”.</p>

            <h2 class="govuk-heading-m">5. Fund exhaustion conditions</h2>

            <ol class="govuk-list govuk-list--number">
                <li>The Fund is capped and claims will be reimbursed in the order of submission to the Fund administrators. Should the Fund become exhausted prior to the end of March 2027, no claims shall be reimbursed when funding is not available.</li>
                <li>The Fund administrators will provide regular updates as to monies remaining within the Fund up to the end of March 2027 and announce, with notice, the cessation of payments, should the need arise prior to 31 March 2027.</li>
            </ol>

    </div>
    <div class="govuk-grid-column-two-thirds">
        <form action="../declaration-confirmation" method="post" novalidate>
            <div class="govuk-button-group {% if data.declarationSubmitError %} govuk-form-group--error {% endif %}"
                id="declare-checkbox">
                <fieldset class="govuk-fieldset" aria-describedby="{% if data.declarationSubmitError %} declare-error {% endif %}">
                    {% if data.declarationSubmitError %}
                    <p id="declare-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You must confirm you understand and accept before continuing.
                    </p>
                    {% endif %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox"
                                value="declaration-confirmed">
                            <label class="govuk-label govuk-checkboxes__label" for="declaration">
                                I confirm that I understand and accept this declaration.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}