{% extends "../_layouts/claims-main.html" %}

{% block pageTitle %}
How we calculate reimbursement amounts — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How we calculate reimbursement amounts</h1>

        <p class="govuk-body">Every eligible training course and qualification has a maximum reimbursement amount. You’ll find these amounts in the list of <a href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme/eligible-training-courses-and-qualifications">eligible training courses and qualifications</a>.</p>

        <h2 class="govuk-heading-m">How it works</h2>
        <p class="govuk-body">The maximum reimbursement amount is the most you could get back for your claim. It’s usually less than the training actually costs, which means you’ll cover the difference.</p>
        <div class="govuk-inset-text">For example, if you paid £200 and the maximum reimbursement amount is £160, you'll get back £160.</div>
        <p class="govuk-body">If you paid less than the maximum reimbursement amount, you’ll get back what you paid.</p>
        <div class="govuk-inset-text">For example, if you paid £150 and the maximum reimbursement amount is £160, you'll get back £150.</div>

        <h2 class="govuk-heading-m">Annual updates to reimbursement rates</h2>
        <p class="govuk-body">Maximum reimbursement rates are updated on 1 April at the start of each financial year.</p>
        <p class="govuk-body">This means you may be managing claims for courses that were paid for in different financial years. If this is the case, you may notice that the maximum reimbursement amount differs depending on which year you paid in.</p>
    </div>
</div>

{% endblock %}