{% extends "../_layouts/claims-main.html" %}

{% block pageTitle %}
What evidence you need to provide — {{serviceName}} — GOV.UK
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">What evidence you need to provide</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p class="govuk-body">There are 2 types of evidence you’ll need to add when creating a new claim as part of the <strong>Claim for adult social care learning and development</strong> service. 
        <ul class="govuk-list govuk-list--number">
            <li>Evidence of payment</li>
            <li>Evidence of completion</li>
        </ul>
        </p>

        <p class="govuk-body">These are necessary to ensure you get the right amount of reimbursement and to protect against fraud. Without this evidence we will not be able to process the claim and you will not get back any money.</p>
        
        <p class="govuk-body">Each piece of evidence must be: 
        <ul class="govuk-list govuk-list--bullet">
            <li>in PDF, JPG, JPEG or PNG format</li>
            <li>an original document</li>
            <li>clear and in focus</li>
            <li>in colour</li>
            <li>not cropped (you must show the whole document and not just part of it)</li>
            <li>not altered by computer software</li>
            <li>not more than 2MB</li>
        </ul>
        </p>
        
        <p class="govuk-body">If you have a document that is not in digital form, you should scan, photograph or screenshot it.</p>
        
        <h2 class="govuk-heading-m">Evidence of payment</h2>
        
        <p class="govuk-body">You need to show that you have paid for the training.</p>
        
        <p class="govuk-body">Acceptable evidence includes:
        <ul class="govuk-list govuk-list--bullet">
            <li>an invoice and separate receipt</li>
            <li>an invoice officially marked as paid</li>
        </ul>
        </p>

        <p class="govuk-body">An invoice by itself is not enough as it does not show you have actually paid.</p>
        
        <p class="govuk-body">Whatever evidence you provide must show the: 
            <ul class="govuk-list govuk-list--bullet">
                <li>name of the organisation that made the payment</li>
                <li>name of the organisation that received the payment, and their VAT number (if they’re not exempt)</li>
                <li>training or qualification paid for</li>
                <li>amount paid</li>
                <li>date of payment</li>
                <li>number of learners paid for</li>
            </ul>
            </p>
        
        <p class="govuk-body">You can upload up to 4 files if a single document does not show all the necessary information.</p>

        <h2 class="govuk-heading-m"> If you’re using a payment plan</h2>
        <p class="govuk-body">Some training providers offer payment plans in which you pay 60% of the cost of training up front and the remaining 40% on completion of training.</p>
        <p class="govuk-body">If you’re using a payment plan, you will need to provide separate evidence of payment for both the 60 and 40 parts of your claim.</p>

        <h2 class="govuk-heading-m">Evidence of completion</h2>
        
        <p class="govuk-body">You also need to show that the learner completed the course or qualification.</p>
        
        <p class="govuk-body">Acceptable evidence would be a dated completion certificate from the training provider. This must include the: 
        <ul class="govuk-list govuk-list--bullet">
            <li>learner’s name</li>
            <li>training provider or awarding body</li>
        </ul>
        </p>
        <p class="govuk-body">Find out more about <a href="help-start-tu-claim.html">creating a new claim</a>.</p>
    </div>
</div>

{% endblock %}