{% extends "../layouts/main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Eligibility for adult social care staff training and development claims</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Care skills funding</h2>
        <p class="govuk-body">You can claim the costs of training courses and qualifications for:
        <ul class="govuk-list govuk-list--bullet">
            <li>staff who provide direct care and are not registered with a professional body
            <li>registered managers, including aspiring managers who are working towards registration</li>
        </ul>
        </p>
        <p class="govuk-body">You can claim for any training courses and qualifications on the approved list. Browse
            this below.</p>
        <p class="govuk-body">There is no maximum amount that can be claimed per eligible person each year. There is,
            however, a £5 million limit to the amount that each employer can claim for each year.</p>
        <h2 class="govuk-heading-m">Revalidation funding</h2>
        <p class="govuk-body">You can claim the costs of activities relating to professional revalidation (maintaining a
            pin) for:
        <ul class="govuk-list govuk-list--bullet">
            <li>nurses registered with the Nursing and Midwifery Council (NMC)</li>
            <li>art therapists, drama therapists, music therapists, dieticians, occupational therapists, orthoptists,
                osteopaths, physiotherapists, and speech and language therapists registered with the Health & Care
                Professions Council (HCPC)</li>
        </ul>
        </p>
        <p class="govuk-body">You can claim for any activities that meet the requirements for revalidation with the
            Nursing and Midwifery Council (NMC) or Health & Care Professions Council (HCPC).</p>
        <p class="govuk-body">You can find examples of relevant activities from the <a
                href="https://www.nmc.org.uk/revalidation/requirements/cpd/" class="govuk-link">NMC</a> and the <a
                href="https://www.hcpc-uk.org/cpd/your-cpd/cpd-activities/" class="govuk-link">HCPC</a>.</p>
        <p class="govuk-body">You can claim a maximum of £500 per eligible person each year.</p>
        <p class="govuk-body">Get in touch with the NHS Business Services Authority contact centre if you have any
            questions about eligibility.</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">xxxx@bsa.nhs.uk</a> <br>Phone: 01234 567890
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body"><a href="../before-you-start.html" class="govuk-link">Get reimbursed for adult social care
                staff learning and development costs</a></p>
        <p class="govuk-body"><a href="training-list" class="govuk-link">Approved training for care skills funding</a></p>
    </div>
</div>

{% endblock %}