{% extends "../../../layouts/claims-main.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/evidence-answer" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <span class="govuk-caption-xl">Add claim item by event</span>
                    <h1 class="govuk-fieldset__heading">
                        Do you have evidence to add?
                    </h1>
                  </legend>
                  <p class="govuk-body">If not, you can add this later.</p>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="evidence" name="evidence" type="radio" value="event-yes">
                      <label class="govuk-label govuk-radios__label" for="evidence">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="evidence-2" name="evidence" type="radio" value="event-no">
                      <label class="govuk-label govuk-radios__label" for="evidence-2">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <button class="govuk-button" data-module="govuk-button">
                Save and continue
              </button>
        </form>
    </div>
</div>
{% endblock %}