{% extends "../layouts/main.html" %}

{% set sortedCourseData = data.training | groupByTitle_V7 %}
{% set uniqueCourseTitles = data.training | getUniqueCourseTitles_V7 %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Eligibility for adult social care staff training and development claims</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Care skills funding</h2>
        <p class="govuk-body">You can claim the costs of training courses and qualifications for:
        <ul class="govuk-list govuk-list--bullet">
            <li>staff who provide direct care and are not registered with a professional body
            <li>registered managers, including aspiring managers who are working towards registration</li>
        </ul>
        </p>
        <p class="govuk-body">You can claim for any training courses and qualifications on the approved list. Browse
            this below.</p>
        <p class="govuk-body">There is no maximum amount that can be claimed per eligible person each year. There is,
            however, a £5 million limit to the amount that each employer can claim for each year.</p>
        <h2 class="govuk-heading-m">Revalidation funding</h2>
        <p class="govuk-body">You can claim the costs of activities relating to professional revalidation (maintaining a
            pin) for:
        <ul class="govuk-list govuk-list--bullet">
            <li>nurses registered with the Nursing and Midwifery Council (NMC)</li>
            <li>art therapists, drama therapists, music therapists, dieticians, occupational therapists, orthoptists,
                osteopaths, physiotherapists, and speech and language therapists registered with the Health & Care
                Professions Council (HCPC)</li>
        </ul>
        </p>
        <p class="govuk-body">You can claim for any activities that meet the requirements for revalidation with the
            Nursing and Midwifery Council (NMC) or Health & Care Professions Council (HCPC).</p>
        <p class="govuk-body">You can find examples of relevant activities from the <a
                href="https://www.nmc.org.uk/revalidation/requirements/cpd/" class="govuk-link">NMC</a> and the <a
                href="https://www.hcpc-uk.org/cpd/your-cpd/cpd-activities/" class="govuk-link">HCPC</a>.</p>
        <p class="govuk-body">You can claim a maximum of £500 per eligible person each year.</p>
        <p class="govuk-body">Get in touch with the NHS Business Services Authority contact centre if you have any
            questions about eligibility.</p>
        <div class="govuk-inset-text">
            Email: <a href="#" class="govuk-link">xxxx@bsa.nhs.uk</a> <br>Phone: 01234 567890
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <hr class="govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body"><a href="../before-you-start.html" class="govuk-link">Get reimbursed for adult social care
                staff learning and development costs</a></p>
    </div>
</div>

<br></br>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Approved activities for care skills funding</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-body-m">Content</h2>
        <h2 class="govuk-heading-m">Courses</h2>
        {% for trainingGroup in data.training %}
            {% if trainingGroup.groupTitle != "Qualifications" %}
            <p class="govuk-body">
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#{{ trainingGroup.groupTitle }}">{{ trainingGroup.groupTitle }} ({{ trainingGroup.courses | coursesCount_V7 }})</a></p></li>
                </ul>
            </p>
            {% endif %}
        {% endfor %}
        <br />
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Qualifications</h2>
        {% for course in uniqueCourseTitles %}
            <p class="govuk-body">
                <ul class="govuk-list govuk-list--bullet">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#{{course}}">{{course}} ({{sortedCourseData[course] | formatCount_V7}})</a></p></li>
                </ul>
            </p>
        {% endfor %}
    </div>
</div>

<br></br>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <h2 class="govuk-body-m">Courses</h2>
        {% for trainingGroup in data.training %}
            {% if trainingGroup.groupTitle != "Qualifications" %}
            <h3 class="govuk-heading-s" id="{{ trainingGroup.groupTitle }}">{{ trainingGroup.groupTitle }}</h3>
                {% for training in trainingGroup.courses %}
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        {{ training.title }}
                    </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body"><strong>Code:</strong> {{training.code}}</p>
                        <p class="govuk-body"><strong>Type:</strong> {{training.type}}</p>
                        <p class="govuk-body"><strong>Awarding organisation:</strong> {{training.awardingOrganisation}}</p>
                        <p class="govuk-body"><strong>Total learning Time:</strong> {{training.totalLearningTime}}</p>
                        <p class="govuk-body"><strong>Maximum reimbursement amount per learner:</strong> £{{training.reimbursementAmount}}</p>
                        <p class="govuk-body"><strong>Funding model:</strong> {{training.fundingModel}}</p>
                        <a href="{{training.link}}">Learn more here</a> 
                    </div>
                </details>
                {% endfor %}
            {% endif %}
            <br></br>
        {% endfor %}
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> 
        <h2 class="govuk-body-m">Qualifications</h2>
        {% for title in uniqueCourseTitles %}
            <h3 class="govuk-heading-s" id="{{ title }}">{{ title }}</h3>
            
            {% for provider in sortedCourseData[title] %}
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    [{{provider.code}}] {{title}} ({{provider.awardingOrganisation}}) 
                    </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body"><strong>Code:</strong> {{provider.code}}</p>
                        <p class="govuk-body"><strong>Type:</strong> {{provider.type}}</p>
                        <p class="govuk-body"><strong>Awarding organisation:</strong> {{provider.awardingOrganisation}}</p>
                        <p class="govuk-body"><strong>Total learning time:</strong> {{provider.totalLearningTime}}</p>
                        <p class="govuk-body"><strong>Maximum reimbursement amount per learner:</strong> {{provider.reimbursementAmount}}</p>
                        <p class="govuk-body"><strong>Funding model:</strong> {{provider.fundingModel}}</p>
                        <a href="{{provider.link}}">Learn more here</a> 
                    </div>
                </details>
            {% endfor %}
            <br></br>
        {% endfor %}

    </div>
</div>


{% endblock %}
