{% extends "_layouts/main.html" %}
{% set govukRebrand = true %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
    <p class="govuk-body"> 
      Providing a digital service which allows adult social care employers to claim reimbursement for training from the <a class="govuk-link" href="https://www.gov.uk/government/publications/adult-social-care-learning-and-development-support-scheme">Adult Social Care Learning and Development Support Scheme</a> that was setup by the government.
    </p>
    <p class="govuk-body"> 
      For a summary of work done during Alpha, <a class="govuk-link" href="https://asc-tfrs-showcase-6fc2dfe855a7.herokuapp.com/api/auth/signin/?callbackUrl=%2F">view our alpha assessment site</a>. (Password: bsaasc123)
    </p>
    <p class="govuk-body"> 
      For a summary of our design decisions so far during Beta, <a class="govuk-link" href="https://asc-tfrs-design-history-689d381cad9a.herokuapp.com/">view our design history blog </a>. (Password: bsaasc123)
    </p>
  </div>  
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m" id="Claims Portal">Claims</h2>
      <p class="govuk-body">
        The part of the digital service that allows employers to make and manage training reimbursment claims.
      </p>
      <p class="govuk-body-s">Current version:
        <strong class="govuk-tag govuk-tag--purple">
          {{data.versionHistory.claimsCurrent}}
        </strong>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="version-index?area=Claims">View claims prototypes</a>
      </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-m" id="Claims Portal">Processing</h2>
      <p class="govuk-body">
        The part of the digital service that allows BSA staff to process claims submitted by employers.
      </p>
      <p class="govuk-body-s">Current version:
        <strong class="govuk-tag govuk-tag--purple">
          {{data.versionHistory.processingCurrent}}
        </strong>
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="version-index?area=Processing">View processing prototypes</a>
      </p>
  </div>
</div>

{% endblock %}
