{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <p class="govuk-body-l"> 
      Providing a digital service which allows adult social care employers to claim reimbursement for training from an adult social care training fund setup by the government.
    </p>
    <p class="govuk-body-l"> 
      For a summary of work done so far, <a href=#>view our alpha assessment.</a>
    </p>
  </div>  
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-l" id="Claims Portal">Claims</h2>
      <p class="govuk-body">
        The part of the digital service that allows employers to make and manage training reimbursment claims.
      </p>
      <p class="govuk-body-s">Current version:
        <strong class="govuk-tag govuk-tag--purple">
          v8
        </strong>
      </p>
      <p class="govuk-body">
        <a href="version-index?area=Claims">View claims prototypes</a>
      </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <hr class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-l" id="Claims Portal">Processing</h2>
      <p class="govuk-body">
        The part of the digital service that allows BSA staff to process claims submitted by employers.
      </p>
      <p class="govuk-body-s">Current version:
        <strong class="govuk-tag govuk-tag--purple">
          v1
        </strong>
      </p>
      <p class="govuk-body">
        <a href="version-index?area=Processing">View processing prototypes</a>
      </p>
  </div>
</div>

{% endblock %}
