
{% if data.showNote == "query" %}

  {% if claim %}
    {% set submission = claim.submissions | findSubmissionByDate(data.submittedDate) %}
  {% else %}
    {% set submission = pairClaim.submissions | findSubmissionByDate(data.submittedDate) %}
  {% endif %}
  <div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
    <div>
        <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Query note</h1>

          {% if submission.evidenceOfPaymentReview.outcome == "queried" %}
            <p class="govuk-body"><strong>Evidence of payment:</strong> {{submission.evidenceOfPaymentReview.note}}</p>
          {% endif %}
          {% if submission.evidenceOfCompletionReview.outcome == "queried" %}
            <p class="govuk-body"><strong>Evidence of completion:</strong> {{submission.evidenceOfCompletionReview.note}}</p>
          {% endif %}

        <a href="/hideNote" class="govuk-link govuk-button" >Close</a>

    </div>
  </div>


{% elif data.showNote == "rejection" %}
{% set submission = claim.submissions | findSubmissionByDate(data.submittedDate) %}
  <div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
    <div>
      <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Rejection note</h1>
      {% if submission.evidenceOfPaymentReview.outcome == "fail" %}
            <p class="govuk-body"><strong>Evidence of payment:</strong> {{submission.evidenceOfPaymentReview.note}}</p>
          {% endif %}
          {% if submission.evidenceOfCompletionReview.outcome == "fail" %}
            <p class="govuk-body"><strong>Evidence of completion:</strong> {{submission.evidenceOfCompletionReview.note}}</p>
          {% endif %}
      <a href="/hideNote" class="govuk-link govuk-button" >Close</a>
    </div>  
  </div>


{% elif data.showNote == "hundredClaim" or data.showNote == "sixtyClaim" or data.showNote == "fourtyClaim" %}
{% set submission = claim.submissions | findSubmissionByDate(data.submittedDate) %}

      <div id="hmrc-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="hmrc-timeout-dialog" aria-labelledby="hmrc-timeout-heading hmrc-timeout-message">
        <div>

          {% if data.showNote == "hundredClaim" %}
            <h2 id="hmrc-timeout-heading" class="govuk-heading-m push--top">Claim submission</h2>
            <p class="govuk-body">Submitted on {{data.submittedDate  | govukDate }}</p>
          {% elif data.showNote == "sixtyClaim" or data.showNote == "fourtyClaim" %}
            <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">60 part submission</h1>
            <p class="govuk-body">Submitted on {{data.submittedDate | govukDate }}</p>
          {% elif  data.showNote == "fourtyClaim" %}
          <h1 id="hmrc-timeout-heading" class="govuk-heading-m push--top">40 part submission</h1>
          <p class="govuk-body">Submitted on {{data.submittedDate | govukDate }}</p>
          {% endif %}
          
            {% if data.showNote == "hundredClaim" or data.showNote == "sixtyClaim" %}
              {% include "./training.html" %}
            {% endif %}

            {% if data.showNote == "hundredClaim" or data.showNote == "sixtyClaim" %}
              {% include "./learner.html" %}
            {% endif %}

            {% if data.showNote == "hundredClaim" or data.showNote == "sixtyClaim" %}
              {% include "./evidencePayment.html" %}
            {% endif %}

            {% if data.showNote == "hundredClaim" or data.showNote == "fourtyClaim" %}
              {% include "./evidenceCompletion.html" %}
            {% endif %}
      
            <a href="/hideNote" class="govuk-link govuk-button" >Close</a>
        </div>
      </div>
      

{% endif %}

<div id="hmrc-timeout-overlay" class="hmrc-timeout-overlay"></div>
