{% extends "../layouts/processing-main.html" %}

{% block pageTitle %}
Conformation - Register an organisation
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Invite sent
            </h1>
            <div class="govuk-panel__body">
                Organisation
                <br><strong>Fake care home</strong>
            </div>
        </div>
        <p class="govuk-body">We have sent an email to {{ data.fullName }} inviting Fake care home to the service.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            {{ data.fullName }} will need to click the link in the email to complete the organisation registration
            process.
        </p>
        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" href="organisation-details">
                Register another organsation
            </a>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="../home">
                Choose another task
            </a>
        </div>
    </div>
</div>

{% endblock %}