{% extends "../layouts/processing-main.html" %}
{% set org = data.orgId | findOrganisation(data.organisations) %}
{% set claims = data.orgId | findOrgClaims(data.claims) %}
{% set SROStatusCheck = false %}
{% set activeSRO = null %}

{% for sro in org.signatory %}
    {% if (sro.status == "active") %}
        {% set SROStatusCheck = true %}
        {% set activeSRO = sro %}
    {% endif %}
{% endfor %}

{% if (not SROStatusCheck) %}
  {% for sro in org.signatory %}
    {% if (sro.status == "invited") %}
      {% set activeSRO = sro %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if data.confirmation == "invited"%}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
            aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    Invite sent
                <p class="govuk-body">An email has been sent to {{ data.givenName | default(org.signatory.givenName) }} {{data.familyName | default(org.signatory.familyName) }} inviting Fake care home to the service.</p>
            </div>
        </div>
      {% endif %}

      {% if data.invite == "success" %}
      <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
  
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
        </svg>
      
        <div class="moj-banner__message">Invitation to {{org.signatory.givenName}} {{org.signatory.familyName}} sent.<br><br>Some emails might not arrive straight away. You can resend the email after 24 hours if necessary.</div>
      
      </div>
      {% elif data.invite == "failure" %}
  
      <div class="moj-banner moj-banner--warning" role="region" aria-label="Warning">
  
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" />
        </svg>
      
        <div class="moj-banner__message">Invitation {{matchResendUser.givenName}} {{matchResendUser.familyName}} wasn't sent - try again</div>
      
      </div>
  
      {% endif %}

      <div class="moj-page-header-actions">
          <div class="moj-page-header-actions__title">
            <span class="govuk-caption-xl">Workplace ID: {{org.workplaceId}}</span>
            <h1 class="govuk-heading-xl"> {{org.name}}</h1>
          </div>
        
          <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
               <p class="govuk-body">
                <a href="../back-to-start-handler" class="govuk-link">Back to start</a>
              </p>
            </div>
          </div>

        </div>
    </div>
  </div>

  {% if (not SROStatusCheck) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Organisation has not yet finished registration. The Senior Responsible Officer needs to accept the invitation sent to their email and complete registration.
          </strong>
        </div>
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Address:</span>
        <br>
        {{ org.address[0] }}<br>  {{ org.address[1] }}<br> {{ org.address[2] }}       
      </p>
    </div>

    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Senior Responsible Officer:</span>
        <br>
        {{ activeSRO.givenName }} {{ activeSRO.familyName }}
        <br>
        <a href="#">{{ activeSRO.email }}</a>
      </p>
    </div>
  </div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-primary-navigation govuk-!-margin-bottom-2">

          <div class="moj-primary-navigation__container tab-content">
        
            <div class="moj-primary-navigation__nav">
        
              <nav class="moj-primary-navigation" aria-label="Primary navigation">
        
                <ul class="moj-primary-navigation__list">
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" {% if data.orgTab == 'users'%}aria-current="page"{%endif%} href="../org-tab-handler/users">Contacts</a>
                  </li>

                  {% if (SROStatusCheck) %}
                    <li class="moj-primary-navigation__item">
                      <a class="moj-primary-navigation__link"  {% if data.orgTab == 'claims' or data.orgTab=='singleClaim'%}aria-current="page"{%endif%} href="../org-tab-handler/claims">Claims</a>
                    </li>
                  {% endif %}

                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" {% if data.orgTab == 'orgNotes'%}aria-current="page"{%endif%} href="../org-tab-handler/orgNotes">BSA notes</a>
                  </li>
                </ul>
        
              </nav>
        
            </div>
          </div>
        
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="tab-content">
      <div class="tab-content">
        {% if data.orgTab == "claims" and data.id == null %}
            {% include "../_components/org-view/claims.html" %}
          {% elif data.orgTab == "claims" and data.id != null %}
            {% include "../_components/claim-view/claim-overview.html" %}
          {% elif data.orgTab == "users" %}
            {% include "../_components/org-view/users.html" %}
        {% elif data.orgTab == "bankDetails" %}
            {% include "../_components/org-view/bank-details.html" %}
        {% elif data.orgTab == "orgNotes" %}
            {% include "../_components/org-view/org-notes.html" %}
        {% endif %}
      </div>
    </div>
</div>

{% endblock %}