{% extends "../layouts/processing-main.html" %}
{% set org = data.orgId | findOrganisation(data.organisations) %}
{% set claims = data.orgId | findOrgClaims(data.claims) %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="moj-page-header-actions">
          <div class="moj-page-header-actions__title">
            <span class="govuk-caption-xl">Workplace ID: {{org.workplaceId}}</span>
            <h1 class="govuk-heading-xl"> {{org.name}}</h1>
          </div>
        
          <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
               <p class="govuk-body">
                <a href="../back-to-start-handler" class="govuk-link">Back to start</a>
              </p>
            </div>
          </div>

        </div>
    </div>
  </div>

  {% if org.signatory.active.status == "invited" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Organisation has not yet finished registration. The Senior Responsible Officer needs to accept the invitation sent to their email and complete registration.
          </strong>
        </div>
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Address:</span>
        <br>
        {{ org.address[0] }}<br>  {{ org.address[1] }}<br> {{ org.address[2] }}       
      </p>
    </div>

    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Senior Responsible Officer:</span>
        <br>
        {{ org.signatory.active.givenName }} {{ org.signatory.active.familyName }}
        <br>
        <a href="#">{{ org.signatory.active.email }}</a>
      </p>
    </div>
  </div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-primary-navigation govuk-!-margin-bottom-2">

          <div class="moj-primary-navigation__container tab-content">
        
            <div class="moj-primary-navigation__nav">
        
              <nav class="moj-primary-navigation" aria-label="Primary navigation">
        
                <ul class="moj-primary-navigation__list">
                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" {% if data.orgTab == 'users'%}aria-current="page"{%endif%} href="../org-tab-handler/users">Contacts</a>
                  </li>

                    <li class="moj-primary-navigation__item">
                      <a class="moj-primary-navigation__link"  {% if data.orgTab == 'claims' or data.orgTab=='singleClaim'%}aria-current="page"{%endif%} href="../org-tab-handler/claims">Claims</a>
                    </li>

                  <li class="moj-primary-navigation__item">
                    <a class="moj-primary-navigation__link" {% if data.orgTab == 'orgNotes'%}aria-current="page"{%endif%} href="../org-tab-handler/orgNotes">BSA notes</a>
                  </li>
                </ul>
        
              </nav>
        
            </div>
          </div>
        
        </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="tab-content">
      <div class="tab-content">
        {% if data.orgTab == "claims" and data.id == null %}
            {% include "../_components/org-view/claims.html" %}
          {% elif data.orgTab == "claims" and data.id != null %}
            {% include "../_components/claim-view/claim-overview.html" %}
          {% elif data.orgTab == "users" %}
            {% include "../_components/org-view/users.html" %}
        {% elif data.orgTab == "bankDetails" %}
            {% include "../_components/org-view/bank-details.html" %}
        {% elif data.orgTab == "orgNotes" %}
            {% include "../_components/org-view/org-notes.html" %}
        {% endif %}
      </div>
    </div>
</div>

{% endblock %}