{% extends "./_layouts/claims-account-setup.html" %}

{% set orgList = data.user | generateUserOrgList(data.organisations) %}

{% block pageTitle %}
{{serviceName}} — GOV.UK
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.banner.action == "saveSuccess" %}
            <div class="moj-banner moj-banner--success" role="region" aria-label="Success">

                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
                </svg>

                <div class="moj-banner__message">Registration details for {{data.banner.orgName}} saved</div>

            </div>
        {% endif %}
        
        <h1 class="govuk-heading-xl">My account</h1>
        <h2 class="govuk-heading-l">Account details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                First name
                </dt>
                <dd class="govuk-summary-list__value">
                {{data.user.givenName}}
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> first name</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Last name
                </dt>
                <dd class="govuk-summary-list__value">
                {{data.user.familyName}}
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> last name</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
                <dt class="govuk-summary-list__key">
                Email
                </dt>
                <dd class="govuk-summary-list__value">
                {{data.user.email}}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                Phone number
                </dt>
                <dd class="govuk-summary-list__value">
                01234567890
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> phone number</span></a>
                </dd>
            </div>
            </dl>

        <h2 class="govuk-heading-l">Registered organisations</h2>
        
        {% if orgList.active.length == 0 and orgList.submitted.length == 0 and orgList.draft.length == 0 and orgList.rejected.length == 0 and orgList.inactive.length == 0%}
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    You currently don't have any registered organisations.
                </strong>
            </div>
        {% endif %}

        <a type="submit" class="govuk-button" data-module="govuk-button" href="registration/before-you-start">
            Register new organisation
        </a>

        {% if orgList.active.length > 0 %}
            {% for workplaceID in orgList.active %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% else %}
            <p class="govuk-body">You currently don't have any registered organisations.</p>
        {% endif %}

        <h2 class="govuk-heading-l">Registrations</h2>

        {% if orgList.submitted.length > 0 %}
            <h3 class="govuk-heading-m">Awaiting approval</h3>
            {% for workplaceID in orgList.submitted %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
        {% if orgList.draft.length > 0 %}
            <h3 class="govuk-heading-m">Draft</h3>
            {% for workplaceID in orgList.draft %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
        {% if orgList.rejected.length > 0 %}
            <h3 class="govuk-heading-m">Rejected</h3>
            {% for workplaceID in orgList.rejected %}
                {% set orgDetails = workplaceID | findOrg(data.organisations) %}
                    {% include "./_components/org-card.html" %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}