{% extends "../v2/_layouts/claims-main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Mark's Care Provider
    </h1>
    <div class="moj-primary-navigation">

      <div class="moj-primary-navigation__container">
    
        <div class="moj-primary-navigation__nav">
    
          <nav class="moj-primary-navigation" aria-label="Primary navigation">
    
            <ul class="moj-primary-navigation__list">
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" aria-current="page" href="overview">Overview</a>
              </li>
    
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="claim-items">Claim Items</a>
              </li>
    
              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#3">Claims</a>
              </li>

              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#4">Learners</a>
              </li>

              <li class="moj-primary-navigation__item">
                <a class="moj-primary-navigation__link" href="#5">Evidence</a>
              </li>

            </ul>
    
          </nav>
    
        </div>
      </div>
    
    </div>
    
  </div>  
</div>

{% endblock %}
