{% if claim.claimType == "60" %}
    <h3 class="govuk-heading-s">60 part</h3>
    <p class="govuk-body">This is the 60 part of a claim that uses the 60/40 funding model. It covers evidence of payment only.</p>
    
    {% if pairClaim != null %}
    <p class="govuk-body">View the <a href="./org-view-main?id={{pairClaim.claimID}}" class="govuk-link">40 part of the claim</a>, which covers evidence of training completion.</p>
    {% else %}
    <p class="govuk-body">The 40 part of the claim, has not been submitted yet.</p>
    {% endif %}

    {% if claim.submissions | length <= 1 %}
        <p class="govuk-body govuk-!-margin-top-8">This is the <strong>first</strong> time this has been submitted.</p>
    {%else%}
        <p class="govuk-body govuk-!-margin-top-8">This 60 part has been submitted <strong>{{ claim.submissions | length }}</strong> times.</p>
        <p class="govuk-body"><a href="../view-previous-submissions-handler" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">View previous submissions</a></p>
    {% endif %}

{% elif claim.claimType == "40" %}
    <h3 class="govuk-heading-s">40 part</h3>
    <p class="govuk-body">This is the 40 part of a claim that uses the 60/40 funding model. {% if not claim.isPaymentPlan %}It covers evidence of training completion.{% endif %}</p>
    {% if claim.isPaymentPlan %}
    <p class="govuk-body">This is a payment plan claim so it covers evidence of training completion and evidence of payment for the 40 part.</p>
    {% endif %}
    <p class="govuk-body">View the <a href="./org-view-main?id={{pairClaim.claimID}}" class="govuk-link">60 part of the claim</a>, which covers evidence of payment.</p>

    {% if claim.submissions | length <= 1 %}
        <p class="govuk-body govuk-!-margin-top-8">This is the <strong>first</strong> time this has been submitted.</p>
    {% else %}
        <p class="govuk-body govuk-!-margin-top-8">This 40 part has been submitted <strong>{{ claim.submissions | length }}</strong> times.</p>
        <p class="govuk-body"><a href="../view-previous-submissions-handler?view=100" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">View previous submissions</a></p>
    {% endif %}

{% elif claim.claimType == "100" %}
    <h3 class="govuk-heading-s">100 claim</h3>
    <p class="govuk-body">This is a 100 claim. It covers both evidence of payment and evidence of training completion.</p>

    {% if claim.submissions | length <= 1 %}
        <p class="govuk-body govuk-!-margin-top-8">This is the <strong>first</strong> time this has been submitted.</p>
    {% else %}
        <p class="govuk-body govuk-!-margin-top-8">This claim has been submitted <strong>{{ claim.submissions | length }}</strong> times.</p>
        <p class="govuk-body"><a href="../view-previous-submissions-handler?view=100" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">View previous submissions</a></p>
    {% endif %}
{% endif %}

<h3 class="govuk-heading-m" id="payment">Submitter</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{ submitter.givenName }} {{ submitter.familyName }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Submitter</span>Email
        </dt>
        <dd class="govuk-summary-list__value">
            <a class="govuk-link" href="mailto:example@example.com">{{submitter.email}}</a>
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Submitted on
        </dt>
        <dd class="govuk-summary-list__value">
                {{submission.submittedDate | govukDate}}
        </dd>
    </div>

</dl>

<h3 class="govuk-heading-m" id="payment">Training</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           {{training.code | returntrainingType}}
        </dt>
        <dd class="govuk-summary-list__value">
            {{training.code}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Title
        </dt>
        <dd class="govuk-summary-list__value">
            {{training.title}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Level and type
        </dt>
        <dd class="govuk-summary-list__value">
            {{ training.type }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Awarding organisation
        </dt>
        <dd class="govuk-summary-list__value">
            {{ training.awardingOrganisation }}
        </dd>
    </div>
    {% if claim.claimType != "40" %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Payment date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ submission.costDate | govukDate }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Start date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ submission.startDate | govukDate }}
        </dd>
    </div>
    {% endif %}
    {% if claim.claimType != "60" %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Completion date
        </dt>
        <dd class="govuk-summary-list__value">
            {{ submission.completionDate | govukDate }}
        </dd>
    </div>
    {% endif %}
</dl>
<h3 class="govuk-heading-m" id="payment">Learner</h3>
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Learner</span>Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{learner.givenName}} {{learner.familyName}}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <span class="govuk-visually-hidden">Learner</span>National insurance number
        </dt>
        <dd class="govuk-summary-list__value">
            {{learner.id}}
        </dd>
    </div>
</dl>
<div style="padding-top: 10px;">
    {% if (claim.claimType != "40") %}
        <h3 class="govuk-heading-m">
            Evidence of payment
        </h3>
        <dl class="govuk-summary-list">
            {% for evidence in submission.evidenceOfPayment %}
                {% set isPayment = true %}
                {% include "./evidence/file-section.html" %}
            {% endfor %}
        </dl>
    {% endif %}

    {% if (claim.claimType != "60") %}
        <h3 class="govuk-heading-m">
            Evidence of completion
        </h3>
        <dl class="govuk-summary-list">
            {% set evidence = submission.evidenceOfCompletion %}
            {% set isPayment = false %}
            {% include "./evidence/file-section.html" %}
        </dl>
    {% endif %}
</div>