{% set sortedSubmissions = claim.submissions | sortSubmissionsForTable %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <a href="../view-previous-submissions-back-handler" class="govuk-back-link govuk-!-margin-bottom-6">Back to claim details</a>

        <span class="govuk-caption-l">Claim reference number: {{ claim.claimID }}</span>

        <h2 class="govuk-heading-l" id="training">{% if data.view == "60" %}60 part{% elif data.view == "40" %}40 part{% else %}Claim{% endif %} submissions</h2>
        <p class="govuk-body">This table shows all {% if data.view == "60" %}60 part{% elif data.view == "40" %}40 part{% endif %} submissions with any edits <mark class="hods-highlight"><strong>highlighted</strong></mark>.</p>
        

        <div class="moj-scrollable-pane">
            <table class="govuk-table">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
            
                    <th scope="col" class="govuk-table__header" style="min-width: 200px;"><span class="govuk-visually-hidden">Submissions</span></th>
            
                    {% for text in sortedSubmissions | matchSubmissionToText %}
                        <th scope="col" class="govuk-table__header" style="min-width: 200px;">{{text}}</th>
                    {%endfor %}
            
                    </tr>
                </thead>

                <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Submitted on</strong></td>
                        {% for submission in sortedSubmissions %}
                            {% if submission.submittedDate %}
                            <td class="govuk-table__cell">{{submission.submittedDate | govukDate}}</td>
                            {% else %}
                            <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Submitted by</strong></td>
                        {% for submission in sortedSubmissions %}
                            {% if submission.submitter %}
                                <td class="govuk-table__cell">{{(submission.submitter | findUser(org)).givenName}} {{(submission.submitter | findUser(org)).familyName}}</td>
                            {% else %}
                                <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}             
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Processed on</strong></td>

                        {% for submission in sortedSubmissions %}
                            {% if submission.processedDate %}
                            <td class="govuk-table__cell">{{submission.processedDate | govukDate}}</td>
                            {% else %}
                            <td class="govuk-table__cell">---</td>
                            {% endif %}
                        {%endfor %}
                    </tr>

                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><strong>Edits requested after processing</strong></td>
                    {% set count = sortedSubmissions.length %}
                    {% for submission in sortedSubmissions %}
                      {% if ((submission.evidenceOfPaymentReview.outcome == "queried" or submission.evidenceOfCompletionReview.outcome == "queried")) and submission.submittedDate != null %}
                        <td class="govuk-table__cell">
                          {% set text = submission | formatText %}
                            {{text | trunctateString}} </br> <a class="govuk-link" href="/showEditedNote?count={{count}}&submittedDate={{submission.submittedDate}}">&#8230; see more</a></br>
                        </td>

                      {% else %}
                        <td class="govuk-table__cell">---</td>
                      {% endif %}
                      {% set count = count - 1 %}
                    {%endfor %}  
                  </tr>

                {% if data.view == "100" or data.view == "60"  %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Training</strong></td>
                        {% for submission in sortedSubmissions %}
                        {% set training = submission.trainingCode | findTraining %}
                        {% if training %}

                            {% if (training.code !== sortedSubmissions[loop.index0 + 1].trainingCode and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  )%}
                            <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{training.code}}</br>{{training.title}}</strong></mark></td>
                            {% else %}
                            <td class="govuk-table__cell">{{training.code}}</br>{{training.title}}</td>
                            {% endif %}

                        {% else %}
                            <td class="govuk-table__cell">---</td>
                        {% endif %}
                        {%endfor %}  
                    </tr>
                    {% endif %}

                    {% if data.view == "100" or data.view == "60"  %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong>Start date</strong></td>
                            {% for submission in sortedSubmissions %}
                                {% if submission.startDate %}
                                    {% if (submission.startDate !== sortedSubmissions[loop.index0 + 1].startDate and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  )%}
                                        <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.startDate | govukDate}}</strong></mark></td>
                                    {% else %}
                                        <td class="govuk-table__cell">{{submission.startDate | govukDate}}</td>
                                    {% endif %}
                                {% else %}
                                <td class="govuk-table__cell">---</td>
                                {% endif %}
                            {%endfor %}
                        </tr>
                    {% endif  %}

                    {% if (data.view == "100" and not (submission.trainingCode | isInternalOMMT)) or data.view == "60" or (data.view == "40" and claim.isPaymentPlan == true) %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong>Payment date</strong></td>
                            {% for submission in sortedSubmissions %}
                                {% if submission.costDate %}
                                    {% if (submission.costDate !== sortedSubmissions[loop.index0 + 1].costDate and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                        <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.costDate | govukDate}}</strong></mark></td>
                                    {% else %}
                                        <td class="govuk-table__cell">{{submission.costDate | govukDate}}</td>
                                    {% endif %}
                                {% else %}
                                <td class="govuk-table__cell">---</td>
                                {% endif %}
                            {%endfor %}
                        </tr>
                    {% endif %}

                    {% if (data.view == "100" and not (submission.trainingCode | isInternalOMMT)) or data.view == "60" or (data.view == "40" and claim.isPaymentPlan == true) %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong>Evidence of payment</strong></td>
                            {% for submission in sortedSubmissions %}
                                {% if submission.evidenceOfPayment %}
                                    <td class="govuk-table__cell">
                                        {% set evidenceLoop = loop.index0 + 1 %}
                                        {% if sortedSubmissions[evidenceLoop].evidenceOfPayment %}
                                            {% set previousEvidence = sortedSubmissions[evidenceLoop].evidenceOfPayment %}
                                        {% else %}
                                            {% set previousEvidence = [] %}
                                        {% endif %}
                                        {% for evidence in submission.evidenceOfPayment %}
                                            {% if ((evidence not in previousEvidence) and (evidenceLoop) <= ((sortedSubmissions | length) - 1)  ) %}
                                                <mark class="hods-highlight"><strong>{{evidence}}</strong></mark> (<a class="govuk-link" href="/public/images/{{evidence}}" target="_blank">open <span class="govuk-visually-hidden">{{evidence}} </span>in new tab</a>)</br>
                                            {% else %}
                                                {{evidence}} (<a class="govuk-link" href="/public/images/{{evidence}}" target="_blank">open <span class="govuk-visually-hidden">{{evidence}} </span>in new tab</a>)</br>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% else %}
                                    <td class="govuk-table__cell">---</td>
                                {% endif %}
                            {%endfor %}
                        </tr>
                    {% endif %}

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><strong>Learner</strong></td>
                        {% for submission in sortedSubmissions %}
                        {% if submission.learnerID %}
                            {% if (submission.learnerID !== sortedSubmissions[loop.index0 + 1].learnerID and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                            <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{(submission.learnerID | findLearner).givenName}} {{(submission.learnerID | findLearner).familyName}}</strong></mark></td>
                            {% else %}
                            <td class="govuk-table__cell">{{(submission.learnerID | findLearner).givenName}} {{(submission.learnerID | findLearner).familyName}}</td>
                            {% endif %}
                        {% else %}
                            <td class="govuk-table__cell">---</td>
                        {% endif %}
                        {%endfor %}   
                    </tr>

                    {% if data.view == "100" or data.view == "40"  %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong>Completion date</strong></td>
                            {% for submission in sortedSubmissions %}
                                {% if submission.completionDate %}
                                    {% if (submission.completionDate !== sortedSubmissions[loop.index0 + 1].completionDate and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                        <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.completionDate | govukDate}}</strong></mark></td>
                                    {% else %}
                                        <td class="govuk-table__cell">{{submission.completionDate | govukDate}}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="govuk-table__cell">---</td>
                                {% endif %}
                            {%endfor %}
                        </tr>
                    {% endif %}

                    {% if data.view == "100" or data.view == "40"  %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><strong>Evidence of completion</strong></td>
                            {% for submission in sortedSubmissions %}
                                {% if submission.evidenceOfCompletion %}
                                    {% if (submission.evidenceOfCompletion !== sortedSubmissions[loop.index0 + 1].evidenceOfCompletion and (loop.index0 + 1) <= ((sortedSubmissions | length) - 1)  ) %}
                                        <td class="govuk-table__cell"><mark class="hods-highlight"><strong>{{submission.evidenceOfCompletion}}</strong></mark> (<a class="govuk-link" href="/public/images/{{submission.evidenceOfCompletion}}" target="_blank">open <span class="govuk-visually-hidden">{{submission.evidenceOfCompletion}} </span>in new tab</a>)</td>
                                    {% else %}
                                        <td class="govuk-table__cell">{{submission.evidenceOfCompletion}} (<a class="govuk-link" href="/public/images/{{submission.evidenceOfCompletion}}" target="_blank">open <span class="govuk-visually-hidden">{{submission.evidenceOfCompletion}} </span>in new tab</a>)</td>
                                    {% endif %}
                                {% else %}
                                    <td class="govuk-table__cell">---</td>
                                {% endif %}
                            {%endfor %}
                        </tr>
                    {% endif %}
                    
                </tbody>


            </table>
          
        </div>
         {% if  claim.claimType =="60" %}
                        {% if pairClaim != null %}
                        <p class="govuk-body govuk-!-margin-top-4" >View the <a href="./org-view-main?id={{pairClaim.claimID}}&processClaimStep=inProgress" class="govuk-link">40 part of the claim</a>, which covers evidence of {% if claim.isPaymentPlan == true%}both payment and {% endif%} completion.</p>
                        {% else %}
                        <p class="govuk-body govuk-!-margin-top-4">The 40 part of the claim, which covers evidence of {% if claim.isPaymentPlan == true%}both payment and {% endif%} completion, has not been submitted yet.</p>
                        {% endif %}
                    {% endif %}

                    {% if claim.claimType =="40"%}
                    <p class="govuk-body govuk-!-margin-top-4">View the <a href="./org-view-main?id={{pairClaim.claimID}}&processClaimStep=inProgress" class="govuk-link">60 part of the claim</a>, which covers evidence of payment.</p>
                    {% endif %}

    </div>

    {% if data.showNote %}
        {% include "../claim-view/view-note.html" %}
    {% endif %}
</div>  