{% extends "../layouts/processing-main.html" %}

{% block pageTitle %}
Check organsiation details - Register an organisation
{% endblock %}

{% block beforeContent %}
<a href="organisation-details" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data.state == "valid" %}
        <span class="govuk-caption-l">Register an organisation</span>
        <h1 class="govuk-heading-l">Check organisation details are correct</h1>
        <p class="govuk-body">Below is the information returned from the ASC-WDS based on the workplace ID you provided.
        </p>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Workplace ID
                </dt>
                <dd class="govuk-summary-list__value">
                    123456
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                    Fake care home
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation address
                </dt>
                <dd class="govuk-summary-list__value">
                    72 Guild Street<br>London<br>SE23 6FH
                </dd>
            </div>
        </dl>
        <form action="../confirm-org-handler" method="post" novalidate>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do these details match the details for the organisation your want to register?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirmation" name="confirmation" type="radio"
                                value="yes">
                            <label class="govuk-label govuk-radios__label" for="confirmation">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="confirmation-2" name="confirmation" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="confirmation-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
        {% else %}

        {% endif %}
    </div>
</div>

{% endblock %}