<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">John Doe <span class="govuk-caption-m">Care worker<br> #000001 </span> </h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="claim-items/learner.html">
                View learner<span class="govuk-visually-hidden"> of John Doe</span>
            </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link govuk-link--no-visited-state" href="#">
                Add L&D activity<span class="govuk-visually-hidden"> for John Doe</span>
            </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">L&D Activity</th>
                <th scope="col" class="govuk-table__header govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
                {% include "../_includes/learner-card-row.html" %}
                {% include "../_includes/learner-card-row.html" %}
                {% include "../_includes/learner-card-row.html" %}
            </tbody>
        </table>
    </div>
</div>