<{% if claim.claimType == '60' %}h3{% else %}h2{% endif %} class="govuk-heading-m" id="completion">Training completion by learner</{% if claim.claimType == '60' %}h3{% else %}h2{% endif %}>
{% if not claim.learner and claim.claimType == "100" %}
<p class="govuk-body"><span class="govuk-caption-m">Add a learner to this claim before filling in this section.</span></p>
{% endif %}
<dl class="govuk-summary-list">
  {% if (not claim.completionDate and claim.claimType == "100") or (pairClaim != null and not pairClaim.completionDate) or (claim.claimType == "60" and claim.status != "approved") %}
    
    {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.completionDate == "missing" and claim.learner %}
      <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
        <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="completion-date-error">
          <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add a completion date </p>
        </div>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row govuk-summary-list__row--no-actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.completionDate =='missing' and claim.learner%} govuk-summary-list-row--error {% endif %}">
        <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.completionDate =='missing'and claim.learner%} govuk-summary-key--error {% endif %}">
          Completion date
        </dt>
        <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.completionDate =='missing' %} govuk-summary-value--error {% endif %}">
          {% if (claim.learner and claim.claimType != "60") or pairClaim != null %}
          <a class="govuk-link govuk-link--no-visited-state" href="add-completion-date">Add completion date</a>
          {% else %}
          <span class="govuk-caption-m">Cannot start yet</span>
          {% endif %}
        </dd>
      </div>

  {% else %}

  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.completionDate == "invalid" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="completion-date-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>  Completion date must be on or after the start date </p>
    </div>
  </div>
  {% endif %}
  {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.completionDate == "inFuture" %}
  <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
    <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="completion-date-error">
      <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span>  Completion date must be in the past </p>
    </div>
  </div>
  {% endif %}
  <div class="govuk-summary-list__row {% if data.submitError.claimValid != null and not data.submitError.claimValid and (data.submitError.completionDate =='invalid' or data.submitError.completionDate =='inFuture') %} govuk-summary-list-row--error {% endif %}">
    <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and (data.submitError.completionDate =='invalid' or data.submitError.completionDate =='inFuture')%} govuk-summary-key--error {% endif %}">
      Completion date
    </dt>
    <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and (data.submitError.completionDate =='invalid' or data.submitError.completionDate =='inFuture') %} govuk-summary-value--error {% endif %}">
      {% if claim.claimType == "100" %}
      {{ claim.completionDate | govukDate }}
      {% elif claim.claimType == "60" %}
      {{ pairClaim.completionDate | govukDate }}
      {% endif %}
    </dd>
    {% if ((claim.status == "new" or claim.status == "not-yet-submitted") and claim.claimType == "100") or (pairClaim.status != null and (pairClaim.status == "new" or pairClaim.status == "not-yet-submitted"))  %}
    <dd class="govuk-summary-list__actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and (data.submitError.completionDate =='invalid' or data.submitError.completionDate =='inFuture') %} govuk-summary-value--error {% endif %}">
      <a class="govuk-link govuk-link--no-visited-state" href="add-completion-date">Change<span class="govuk-visually-hidden">
        completion date</span></a>
    </dd>
    {% endif %}
  </div>
  {% endif %}
  {% if ((claim.evidenceOfCompletion | getCount == 0) and claim.claimType == "100") or (pairClaim != null and (pairClaim.evidenceOfCompletion | getCount == 0))  or (claim.claimType == "60" and claim.status != "approved")  %}
    {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfCompletion =="missing"and claim.learner%}
    <div class="govuk-summary-list__row govuk-summary-list-row--error--message">
      <div class="govuk-summary-key--error govuk-summary-key--error--inline" id="completion-evidence-error">
        <p class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Add evidence of completion</p>
      </div>
    </div>
    {% endif %}
    <div class="govuk-summary-list__row govuk-summary-list__row--no-actions {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfCompletion =='missing' and claim.learner%} govuk-summary-list-row--error {% endif %}">
      <dt class="govuk-summary-list__key {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfCompletion =='missing' and claim.learner%} govuk-summary-key--error {% endif %}">
        Evidence of completion
      </dt>
      <dd class="govuk-summary-list__value {% if data.submitError.claimValid != null and not data.submitError.claimValid and data.submitError.evidenceOfCompletion =='missing' %} govuk-summary-value--error {% endif %}">
        {% if (claim.learner and claim.claimType != "60") or pairClaim != null %}
          <a class="govuk-link govuk-link--no-visited-state" href="add-evidence?type=completion">Add evidence</a>
        {% else %}
          <span class="govuk-caption-m">Cannot start yet</span>
        {% endif %}
      </dd>
    </div>
  {% else %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Evidence of completion
      </dt>
      <dd class="govuk-summary-list__value">
        {% if claim.claimType == "100" %}
          {% for evidence in claim.evidenceOfCompletion %}
            <p><a class="govuk-link" href="/public/images/{{ evidence }}" target="_blank">{{ evidence }}  (opens in new tab)</a></p>
          {% endfor %}
        {% elif claim.claimType == "60" %}
         {% for evidence in pairClaim.evidenceOfCompletion %}
          <p><a class="govuk-link" href="/public/images/{{ evidence }}" target="_blank">{{ evidence }}  (opens in new tab)</a></p>
         {% endfor %}
        {% endif %}
      </dd>
      {% if ((claim.status == "new" or claim.status == "not-yet-submitted") and claim.claimType == "100") or (pairClaim.status != null and (pairClaim.status == "new" or pairClaim.status == "not-yet-submitted"))  %}
        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-link--no-visited-state"
                href="add-evidence?type=completion">Change<span class="govuk-visually-hidden"> evidence of completion</span></a>
            </li>
          </ul>
        </dd>
      {% endif %}
    </div>
  {% endif %}
</dl>